@import "~styles/base/util";

.SortingBar {
  background-color:#ffffff;
  .SortingBarInner {
    width:100%; padding:8px 16px 0 16px;
    @include flexBox;
    @include pcMaxWidth;
    @include boxSizing;

    .SortingBarHeader {
      overflow:hidden;
      @include flexBox;
      @include flexWidth(1 1);
      @include flexDirection(column);
      @include alignSelf(center);

      .SortingBarHeaderSelected {
        label {
          &:after
          , &:before { left:-18px; top:0px; }
        }
      }
    }
    .SortingBarCompleted {
      padding:0 0 0 16px;
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
      label {
        &:after
        , &:before { left:-18px; top:0; }
      }
    }
    .SortingBarOption {
      padding:0 0 0 16px;
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);

      ul {
        li {
          position:relative; padding:0 8px 0 9px; vertical-align:top; display:inline-block;
          &:before { position:absolute; content:''; left:0; top:11px; width:1px; height:12px; background-color:$BGExtraL; display:block; }
          &:first-of-type {
            padding-left:0;
            &:before { display:none; }
          }
          &:last-of-type { padding-right:0; }
        }
      }

      .sortlink { padding:8px 0; line-height:16px; }
    }
  }
}

@include for-768-only {
  .SortingBar {
    .SortingBarInner {
      padding-left:40px; padding-right:40px;
    }
  }
}

@include for-1080-only {
  .SortingBar {
    .SortingBarInner {
      padding-left:16px; padding-right:16px;
      .SortingBarHeader {
        .tB14 { @include FSST16; }
      }
      .SortingBarCompleted {
        label {
          &:after
          , &:before { top:1px; }
        }
      }
      .SortingBarOption {
        padding-top:4px; padding-bottom:4px;
        .sortlink {
          padding:6px 0;
          .tB12 { @include FSB14; }
        }
      }
    }
  }
}