@import "~styles/base/util";

.List {
  background-color:#ffffff;
  .ListInner {
    padding:0;
    @include pcMaxWidth;

    .ListBox {
      margin:0;
      @include boxSizing;
      @include flexBox;
      @include flexWrap(wrap);

      .ListItem {
        width:100%; padding:4px 8px 4px 8px;
        @include flexBox;
        @include flexWidth(0 0 auto);
        // @include alignItems(center);
        @include alignContents(stretch);
        @include boxSizing;
      }
    }
  }

  &.typelist
  , &.typelistEdit {

  }
  &.typegrid
  , &.typegridEdit {
    .ListInner {
      .ListBox {
        padding:8px 6px 0 6px;
        .ListItem {
          width:33.3%; padding:0 2px 4px 2px;
          @include alignItems(flex-end);
        }
      }
    }
  }
}

.SubHeader + .List {
  &.search1Row {
    .ListInner {
      padding:0 0 8px 0;
      &:after { content:''; margin:8px 16px 0 16px; height:1px; border-top:1px solid $BCExtraL; border-bottom:1px solid $BCExtraL; display:block;}
    }
    &:last-of-type {
      .ListInner {
        padding:0;
        &:after { display:none; }
      }
    }
  }
}

@include for-768-only {
  .List {
    .ListInner {
      .ListBox {
        padding-left:24px; padding-right:24px;
        .ListItem {
          width:50%;
        }
      }
    }

    &.typegrid
    , &.typegridEdit {
      .ListInner {
        .ListBox {
          padding:8px 36px 0 36px;
          .ListItem {
            width:16.6%;
          }
        }
      }
    }

    &.episode {
      .ListInner {
        .ListBox {
          .ListItem { width:100%; }
        }
      }
    }
  }

  .SubHeader + .List {
    &.search1Row {
      .ListInner {
        &:after { margin-left:40px; margin-right:40px; }
      }
    }
  }
}

@include for-1080-only {
  .List {
    .ListInner {
      .ListBox {
        padding:8px 4px 0 4px;
        .ListItem {
          width:50%;
        }
      }
    }

    &.typegrid
    , &.typegridEdit {
      .ListInner {
        .ListBox {
          .ListItem {
            width:12.5%;
          }
        }
      }
    }

    &.episode {
      .ListInner {
        .ListBox {
          .ListItem { width:100%; }
        }
      }
    }
  }
}