/* Header Start */
.gnb { position:relative; width:100%; border-bottom:1px solid #e6e6e6; background:#ffffff; z-index:1; }
.gnb .gnb-co { position:relative; padding:0 75px 0 75px; height:48px; overflow:hidden; }
.gnb .gnb-co h1 { height:48px; text-align:center; display:block; }
.gnb .gnb-co h1 .gnb-logo { width:95px; height:46px; font-size:0; line-height:0; text-indent:-999999px; vertical-align:top; background:url(/resources/nbook10/images/nbooks/common/bg_logo_h1_new.png) no-repeat left center; -webkit-background-size:95px 46px; background-size:95px 46px; display:inline-block; }
.gnb .gnb-co .btn-gnb { position:absolute; top:0; width:32px; height:48px; display:block; }
.gnb .gnb-co .btn-gnb-side { left:6px; }
.gnb .gnb-co .btn-gnb-side.alarm:before { position:absolute; content:''; right:5px; top:13px; width:6px; height:6px; -webkit-border-radius:3px; border-radius:3px; -webkit-box-shadow:0 0 0 2px #ffffff; box-shadow:0 0 0 2px #ffffff; background:#f85333; display:block; z-index:2; }
body.main .gnb .gnb-co .btn-gnb-side.alarm:before {  -webkit-box-shadow:0 0 0 2px #f4eedf; box-shadow:0 0 0 2px #f4eedf; }
.gnb .gnb-co .btn-gnb-search { right:40px; }
.gnb .gnb-co .btn-gnb-reload { right:9px; }
.gnb .gnb-co .btn-gnb-library { right:8px; }
.gnb .gnb-co .btn-gnb-prev { left:3px; }
.gnb .gnb-co .btn-gnb-detailoption { right:8px; }
.gnb .gnb-co .btn-gnb-sharing { right:8px; }
.gnb .gnb-co .btn-gnb-edit { right:11px; text-align:center; }
.gnb .gnb-co .btn-gnb-edit span { padding:11px 0 11px 0; font-size:13px; line-height:21px; color:#99938b; display:block; }