@import "~styles/base/util";

.SearchBottomBtn {
  position:relative;
  @include pcMaxWidth;
  @include boxSizing;
  .SearchBottomBtnInner { padding:24px 16px 0 16px; }
  .SearchBottomMoreBtn {}
}

@include for-768-only {
  .SearchBottomBtn {
    padding:0 24px 0 24px;
    .SearchBottomBtnInner {}
  }
}

@include for-1080-only {
  .SearchBottomBtn {
    .SearchBottomBtnInner { padding-top:32px;}
    .SearchBottomMoreBtn {
      .linkSt { padding-top:15px; padding-bottom:15px; }
      .tST16 { @include FSST18; }
    }
  }
}