@import "~styles/base/util";

.linkSt {
  padding:9px 8px; vertical-align:top; display:inline-block;
  > span {
    position:relative; vertical-align:top; display:inline-block;
  }

  &.linkH32 { @include FSH32; }
  &.linkH24 { @include FSH24; }
  &.linkST20 { @include FSST20; }
  &.linkST20B { @include FSST20B; }
  &.linkST18 { @include FSST18; }
  &.linkST18B { @include FSST18B; }
  &.linkST16 { @include FSST16; }
  &.linkST16B { @include FSST16B; }
  &.linkB14 { @include FSB14; }
  &.linkB14B { @include FSB14B; }
  &.linkB12 {
    @include FSB12;
    &.linkIcon12 {
      i.icon12 { top:2px; margin-right:2px;}
    }
  }
  &.linkB12B { @include FSB12B; }

  &.linkIcon24
  , &.linkIcon16 { padding:8px; }

  &.linkIcon20{ padding:6px; }

  &.linkIconText {
    i.icon16 { margin-right:2px;}
  }
  
  &.linkFullIcon {
    padding:0;
  }

  &.btnPrimary {
    padding:10px 16px;
    background-color:$BGDark;
    @include vendorPrefix(border-radius, 12px);
  }
  &.btnLink {
    padding:10px 16px;
    @include vendorPrefix(border-radius, 12px);
  }

  &.btnSmall {
    padding:8px 8px 8px 8px; text-align:center; line-height:16px; background-color:$BGDark;
    @include vendorPrefix(border-radius, 8px);
    @include boxSizing;
  }
  &.btnMedium {
    padding:10px 12px 10px 12px; text-align:center; line-height:20px; background-color:$BGDark;
    @include vendorPrefix(border-radius, 8px);
    @include boxSizing;
  }
  &.btnLarge {
    padding:13px 16px 13px 16px; text-align:center; line-height:22px; background-color:$BGDark;
    @include vendorPrefix(border-radius, 12px);
    @include boxSizing;
  }

  &.btnDark10 { background-color:$BGDark10; }
  &.btnDark30 { background-color:$BGDark30; }
  &.btnExtraL50 { background-color:$BGExtraL50; }
  &.btnPoint10 { background-color:$BGPoint10; }
  &.btnPoint { background-color:$BGPoint; }
  &.btnWhite {
    background-color:$BGWhite; border:1px solid $BCMedium;
    &.btnSmall { padding:7px 8px 7px 8px; }
    &.btnMedium { padding:9x 12px 9px 12px; }
    &.btnLarge { padding:12px 16px 12px 16px; }
  }
  &.btnLightTrans {
    background-color:transparent; border:1px solid $BCLight;
    &.btnSmall { padding:7px 8px 7px 8px; }
    &.btnMedium { padding:9x 12px 9px 12px; }
    &.btnLarge { padding:12px 16px 12px 16px; }
  }
  &.btnBlock { text-align:center; display:block; }

  &.Ellipsis {
    max-width:100%;
    &.linkTextIcon {
      &.linkIcon20 {
        > span {
          padding:0 20px 0 0; max-width:100%; @include boxSizing;
          i.icon20 { position:absolute; right:0; top:50%; margin-top:-10px; }
        }
      }
      &.linkIcon24 {
        > span {
          padding:0 24px 0 0; max-width:100%; @include boxSizing;
          i.icon24 { position:absolute; right:0; top:50%; margin-top:-12px; }
        }
      }
    }
  }
}

div.linkSt { padding-top:0; padding-bottom:0; }

@include for-1080-only {
  .linkSt {
  }
}