@import "~styles/base/util";

.PayPopupWrap {
  position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; background-color:transparent; z-index:6000;
  @include boxSizing;
  @include flexBox;
  @include flexWidth(1 1);
  @include alignItems(flex-end);
  .PayPopupWrapInner {
    width:100%; line-height:1; background-color:$BGWhite; @include Shadow1R;
    @include vendorPrefix(border-radius, 12px 12px 0 0);
    @include boxSizing;
    @include flexBox;
    @include flexWidth(0 0 auto);
    @include alignSelf(flex-end);
  }
  .PayPopupContent { width:100%; padding:0 24px 0 24px; @include boxSizing; }
  .PayPopupCoWrap { }
  .PayPopupCoScroll { }
  // .PayPopupCoScroll { max-height:250px; overflow-y:auto; }

  .PayPopupContentHeader {
    position:relative; padding:21px 40px 13px 0; min-height:56px; @include boxSizing;
    .PayPopupCloseBtn { position:absolute; right:0; top:20px; padding:0; }
  }

  .PayPopupProduct {
    width:100%; padding:8px 0;
    @include boxSizing;
    @include flexBox;
    @include flexWrap(nowrap);

    &.rectangle {
      .PayPopupProductCheck { padding-top:18px; }
    }
  }
  .PayPopupProductThumbnail {
    width:80px; padding-right:16px;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignSelf(center);
    @include alignItems(center);
  }
  .PayPopupProductInfo {
    overflow:hidden;
    @include boxSizing;
    @include flexWidth(1 1);
    @include flexDirection(column);
    @include alignSelf(center);
    @include alignItems(center);

    .PayPopupProductTitle { }
    .PayPopupProductPurchase {
      width:100%; padding:2px 0 0 0;
      @include boxSizing;
      @include flexBox;
      @include flexWrap(nowrap);
      .PayPopupProductPurchaseLeft {
        overflow: hidden;
        @include flexWidth(1 1);
        @include flexDirection(column);
        @include alignSelf(center);
        @include alignItems(center);
      }
      .PayPopupProductPurchaseRight {
        @include flexWidth(0 0 auto);
        @include flexDirection(column);
        @include alignSelf(center);
        @include alignItems(center);
      }
    }
    .PayPopupProductCheck {
      padding:4px 0 0 0;
      .formCheckbox {
        display:inline-block;
        label {
          &:after
          , &:before { left:-18px; top:0; }
        }
      }
    }
  }
  .PayPopupProductList {
    padding:0 0 8px 0;
    .PayPopupProductListInner {
      padding:16px 12px 16px 12px; background-color:$BGGrey; @include vendorPrefix(border-radius, 12px); 
      ul {
        li {
          padding:0 4px 8px 4px; width:100%; line-height:1; table-layout:fixed; display:table; @include boxSizing;
          .itemCell { vertical-align:top; display:table-cell; }
          em.itemCell { width:104px; text-align:right; }
        }
        &.total {
          padding-top:10px;
          background:url('/static/images/bg/bg_pay_popup_line_01.png') repeat-x left top;
          @include vendorPrefix(background-size,4px 2px);
          li { padding-bottom:0; }
        }
      }
    }
  }
  .PayPopupBooksCoupon {
    padding:8px 0 0 0;
    .PayPopupBooksCouponInner { padding:0 0 8px 0; line-height:1; }
    .PayPopupBooksCouponLink {
      width:100%; padding:9px 7px 9px 15px; border:1px solid $BCDark; @include vendorPrefix(border-radius, 12px);
      @include boxSizing;
      @include flexBox;
      @include flexWrap(nowrap);
      .PayPopupBooksCouponLinkText {
        position:relative; overflow: hidden; padding-right:45px;
        @include flexWidth(1 1);
        @include flexDirection(column);
        @include alignSelf(center);
        @include alignItems(center);
        .textSt { max-width:100%; display:inline-block; }
        em {
          position:absolute; top:2px; margin:0 0 0 14px; padding:0 4px; @include FSB12B; color:$FCWhite; background-color:$BGPoint; @include vendorPrefix(border-radius, 2px); display:inline-block;
          &:before {
            position:absolute; content:''; left:-12px; top:0; width:14px; height:16px; background:url('/static/images/bg/bg_copuon_duplicate_01.png') no-repeat 0 0; display:block;
            @include fontSizeZero;
            @include vendorPrefix(background-size,14px 16px);
          }
        }
      }
      .PayPopupBooksCouponLinkPrice {
        padding:0 0 0 8px;
        @include flexWidth(0 0 auto);
        @include flexDirection(column);
        @include alignSelf(center);
        @include alignItems(center);
      }
      .PayPopupBooksCouponLinkIcon {
        padding:0 0 0 8px;
        @include flexWidth(0 0 auto);
        @include flexDirection(column);
        @include alignSelf(center);
        @include alignItems(center);
      }

      &.open {
        i.selectDown24 { @include vendorPrefix(transform, rotate(180deg)) }
      }
    }
    div.PayPopupBooksCouponLink {
      border:1px solid $BCLight; background-color:$BGGrey;
    }
    .PayPopupBooksCouponList {
      width:100%; padding:3px 0 3px 0; border:1px solid $BCDark; @include vendorPrefix(border-radius, 12px); display:none;
      @include boxSizing;
      li { margin:0; padding:0; }
      .PayPopupBooksCouponLink { padding:10px 15px 10px 15px; border-width:0;}
      &.open { display:block;}
    }
  }
  .PayPopupBooksPoint {
    width:100%; padding:2px 0 0 0;
    @include boxSizing;
    @include flexBox;
    @include flexWrap(nowrap);
    .PayPopupBooksPointLeft {
      overflow: hidden;
      @include flexWidth(1 1);
      @include flexDirection(column);
      @include alignSelf(center);
      @include alignItems(center);
      .formCheckbox { padding:0; min-width:1px; }
      .formCheckboxInner { padding-top:6px; padding-bottom:6px; }
    }
    .PayPopupBooksPointRight {
      @include flexWidth(0 0 auto);
      @include flexDirection(column);
      @include alignSelf(center);
      @include alignItems(center);
    }
  }
  .ReceiptPopupFooterBtn {
    .ReceiptPopupFooterBtnInner {
      padding:8px 0 16px 0;
      @include animation-rotate(loadingPopupAni, 360deg, 0deg);
      i.loading22 { @include vendorPrefix(animation, loadingPopupAni 1.5s linear infinite); }
    }
  }
}

@include for-768-only {
  .PayPopupWrap {
    .PayPopupWrapInner {
      width:360px; margin:0 auto;
      @include vendorPrefix(border-radius, 12px);
      @include alignSelf(center);
      @include Shadow1;
    }
    .PayPopupContent {}
    .PayPopupCoWrap {}
    .PayPopupCoScroll {}
  }
}

@include for-1080-only {
  .PayPopupWrap {
    .PayPopupWrapInner {
      width:360px; margin:0 auto;
      @include vendorPrefix(border-radius, 12px);
      @include alignSelf(center);
      @include Shadow1;
    }
    .PayPopupContent {}
    .PayPopupCoWrap {}
    .PayPopupCoScroll {}

    .PayPopupProductInfo {
      .PayPopupProductCheck {
        .formCheckbox {
          padding:8px 0 8px 18px;
          label {
            @include FSB12;
            &:after
            , &:before { left:-18px; top:0; }
            &:before { width:16px; height:16px; background-position:-191px -500px;}
            &:after { width:16px; height:16px; background-position:-208px -500px;}
          }
        }
      }
    }
  }
}