@charset "utf-8";
/*
body {margin:0; padding:0; font-size:0.75em; line-height:1.5em; background:#f1f1f1}
body *{font:100% "맑은 고딕","Malgun Gothic","돋움",dotum,Gulim,Arial,AppleGothic,sans-serif; margin:0; padding:0}
*/
p {font-family:'맑은 고딕',line-height:1.33em; padding:5px 0}
p *{line-height:1.33em}
b, strong,
b *, strong *{font-weight:bold}
img {border:0 !important}
.ic-inner-wrapper{
	position:relative;
}