@import "~styles/base/util";

.PurchaseSearch {
  width:100%; padding:5px 7px 5px 11px; border:1px solid $FCLight50;
  @include vendorPrefix(border-radius, 12px);
  @include boxSizing;

  .PurchaseSearchInner {
    padding:0;
    @include flexBox;
    @include boxSizing;
    .PurchaseSearchInput {
      @include flexBox;
      @include flexWidth(1 1);
      @include flexDirection(column);
      @include alignSelf(center);

      label { display:none; }
      .formInput { padding:0; min-width:1px; }
      input {
        padding:0; border-width:0;
        @include vendorPrefix(border-radius, 0px);
      }
    }
    .PurchaseSearchDel {
      padding:0 0 0 8px; display:none;
      // @include flexBox;
      // @include flexWidth(0 0 auto);
      // @include alignItems(center);
    }
    .PurchaseSearchSubmit {
      padding:0 0 0 8px;
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
    }

    .linkSt { padding:0; }
  }

  &.focus {
    border-color:$BCMedium;
  }
  &.on {
    border-color:$BCMedium;
    .PurchaseSearchDel {
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
    }
  }
}

@include for-768-only {
  .PurchaseSearch {
    .PurchaseSearchInner {
    }
  }
}

@include for-1080-only {
  .PurchaseSearch {
    .PurchaseSearchInner {
      .PurchaseSearchInput {
        input { @include FSB14; }
      }
    }
  }
}