@import "~styles/base/util";

.SnbMenuWrap {
  padding:0 0 0 0;
  @include pcMaxWidth;
  @include boxSizing;
  .SnbMenuInner { padding:0 16px 16px 16px; }
  .SnbMenuContent { margin:0; }
  .SnbMenuHeader { padding:12px 16px 4px 16px; line-height:16px; }
  .SnbMenuNav { }
  .SnbMenuNavItem { width:50%; display:inline-block; }
  .SnbMenuNavLink {
    position:relative; padding:13px 16px 13px 16px; display:block;
    .icon22 { margin-right:8px; }
    .myapp24 { top:5px; }
  }
}

@include for-768-only {
  .SnbMenuWrap {
    padding:0 24px 0 24px;
    .SnbMenuNavItem { width:33.3%; }
  }
}

@include for-1080-only {
  .SnbMenuWrap {
    .SnbMenuInner { padding:0 8px 0 8px; }
    .SnbMenuHeader { padding-left:8px; padding-right:8px; }
    .SnbMenuNav { padding-bottom:8px; }
    .SnbMenuNavItem { width:100%; }
    .SnbMenuNavLink { padding-left:8px; padding-right:8px; }

    &.my {
      .SnbMenuContent {
        &:last-of-type {
          .SnbMenuNav { border-bottom:1px solid $BCExtraL; }
        }
      }
    }
  }
}