@import "~styles/base/util";

.PopupCustomPara { padding:12px 0 24px 0; @include FSB14; color:$FCDark; }
.PopupCustomRoundBox {
  margin:0 -8px 0 -8px; padding-bottom:24px;
  .PopupCustomRoundBoxInner {
    padding:16px; @include vendorPrefix(border-radius, 16px); background-color:$BGGrey
  }
}
.PopupCustomList {
  li {
    position:relative; padding:0 0 0 16px; @include FSB14; color:$FCMedium;
    &:after {
      position:absolute; content:''; left:3px; top:9px; width:2px; height:2px; background-color:$BGMedium;
      @include vendorPrefix(border-radius, 1px);
    }
  }
}
.PopupCustomTerms {
  li { padding:16px 0 16px 0; }
  .PopupCustomTermsTitle { padding-bottom:4px; @include FSB12; color:$FCMedium; }
  .PopupCustomTermsDetail { @include FSB14; color:$FCDark; }
}
