@import "~styles/base/util";

.SecondaryBar {
  width:100%; padding:0;
  .SecondaryBarWrap {
    width:100%; padding:0;
    @include pcMaxWidth;
    @include boxSizing;
  }
  .SecondaryBarInner {
    width:100%; padding:0;
    @include boxSizing;

    ul {
      li {
        vertical-align:top; display:inline-block;
      }
    }
  }

  &.keyword {
    .SecondaryBarWrap {}
    .SecondaryBarInner {
      padding:0 16px 8px 8px;
      ul {
        li { padding:0 0 8px 8px; }
      }
    }
    .keywordlink {
      padding:6px 8px 6px 8px; background-color:$BGExtraL;
      @include vendorPrefix(border-radius,16px);
      &.keywordlinkSel {
      }
    }
  }

  &.detailKeyword {
    .SecondaryBarWrap {
    }
    .SecondaryBarInner {
      padding:0 16px 0 16px;
      ul {
        padding:16px 0 8px 0; border-top:1px solid $BGExtraL;
        li { padding:0 8px 8px 0; }
      }
    }
    .detailKeywordlink {
      padding:6px 8px 6px 8px; background-color:$BGExtraL;
      @include vendorPrefix(border-radius,16px);
      &.detailKeywordlinkSel {
      }
    }
  }

  &.category {
    padding-top:24px;
    .SecondaryBarWrap {
      padding:24px 14px 0 14px; border-top:1px solid $BGExtraL;
    }
    .SecondaryBarInner {
      ul {
        li {
          position:relative; width:33.3%;
          &:before { position:absolute; content:''; left:0; top:50%; margin-top:-6px; width:1px; height:12px; background-color:$BCExtraL; display:block; }
        }
      }
    }
    .categorylink {
      padding-top:9px; padding-bottom:9px; display:block; text-align:center;
      span { display:block; }
      .textSt { @include FSST16B; color:$FCMedium; @include textEll(block, 22px); }
      &.categorylinkSel {
      }
    }
  }

  &.detailTab {
    .SecondaryBarWrap { padding:24px 0 0 0; }
    .SecondaryBarInner {
      padding:0 16px 0 16px; border-bottom:1px solid $BGExtraL;
      ul {
        li {
          margin-left:24px;
          &:first-of-type { margin-left:0; }
        }
      }
    }
    .detailTablink {
      position:relative; padding:10px 0 9px 0;
      &.detailTablinkSel {
        &:before { position: absolute; content:''; left:0; bottom:-1px; width:100%; height:2px; background-color:$BGDark; display:block; @include vendorPrefix(border-radius,1px); }
        .textSt { @include FSB14B; }
      }
    }
  }
}

@include for-min-only {
  .SecondaryBar {
    &.keyword {
      .SecondaryBarWrap {}
      .SecondaryBarInner {
        ul {
          li {}
        }
      }
    }

    &.category {
      .SecondaryBarInner {
        ul {
          li {
            &:nth-of-type(3n+1) {
              &:before { display:none; }
            }
          }
        }
      }
    }
  }
}

@include for-360-only {
  .SecondaryBar {
    &.keyword {
      .SecondaryBarWrap {}
      .SecondaryBarInner {
        ul {
          li {}
        }
      }
    }

    &.detailKeyword {
      .SecondaryBarWrap {}
      .SecondaryBarInner {
        ul {
          li {}
        }
      }
    }

    &.category {
      .SecondaryBarInner {
        ul {
          li {
            &:nth-of-type(3n+1) {
              &:before { display:none; }
            }
          }
        }
      }
    }
  }
}

@include for-768-only {
  .SecondaryBar {
    &.keyword {
      .SecondaryBarWrap { padding:0 24px; }
      .SecondaryBarInner {
        ul {
          li {}
        }
      }
    }

    &.detailKeyword {
      .SecondaryBarWrap { padding:0 24px; }
      .SecondaryBarInner {
        ul {
          li {}
        }
      }
    }

    &.category {
      .SecondaryBarWrap {
        padding-left:31px; padding-right:31px;
      }
      .SecondaryBarInner {
        ul {
          li {
            width:14.28%;
            &:nth-of-type(7n+1) {
              &:before { display:none; }
            }
          }
        }
      }
    }

    &.detailTab {
      .SecondaryBarWrap { padding:24px 24px 0 24px; }
    }
  }
}

@include for-1080-only {
  .SecondaryBar {
    &.keyword {
      .SecondaryBarWrap {}
      .SecondaryBarInner {
        padding:8px 16px 12px 4px;
        ul {
          li { padding:0 0 12px 12px; }
        }
      }
      .keywordlink {
        padding:9px 12px 9px 12px;
        @include vendorPrefix(border-radius,20px);
        .textSt { @include FSST16; }
      }
    }

    &.detailKeyword {
      .SecondaryBarWrap {}
      .SecondaryBarInner {
        ul {
          padding-top:24px; padding-bottom:12px;
          li { padding:0 12px 12px 0; }
        }
      }
      .detailKeywordlink {
        padding:9px 12px 9px 12px;
        @include vendorPrefix(border-radius,20px);
        .textSt { @include FSST16; }
      }
    }

    &.category {
      .SecondaryBarWrap {
        padding-left:33px; padding-right:33px;
      }
      .SecondaryBarInner {
        ul {
          li {
            width:14.28%;
            &:before { margin-top:-10px; height:20px; }
            &:nth-of-type(7n+1) {
              &:before { display:none; }
            }
          }
        }
      }
      .categorylink {
        padding-top:16px; padding-bottom:16px;
        .textSt { @include FSST18B; @include textEll(block, 24px); }
        &.categorylinkSel {
        }
      }
    }

    &.detailTab {
      .detailTablink {
        position:relative; padding:13px 0 12px 0;
        .textSt { @include FSST16; }
        &.detailTablinkSel {
          .textSt { @include FSST16B; }
        }
      }
    }
  }
}