@import "~styles/base/util";

.LoadingPopup {
  position:fixed; left:0; right:0; top:0; bottom:0; width:100%; height:100%; background-color:transparent; z-index:6000;
  @include boxSizing;
  @include flexBox;
  @include flexWidth(1 1);
  @include alignItems(flex-end);
  .LoadingPopupInner {
    @include vendorPrefix(border-radius, 12px 12px 0 0);
    @include boxSizing;
    @include flexBox;
    @include flexWidth(1 1);
    @include alignSelf(center);

  }
  .LoadingPopupBox {
    width:100%; text-align:center; display:block;

    @include animation-rotate(loadingPopupAni, 360deg, 0deg);
    img { width:44px; @include vendorPrefix(animation, loadingPopupAni 1.5s linear infinite) }
    .textSt { padding-top:15px; display:block; }
  }
}