@import "~styles/base/util";

.Text {
	padding:8px; font-size:18px; color:$primaryColor; line-height:24px; text-decoration:none; vertical-align:top; display:inline-block;
	@include vendorPrefix(box-sizing,border-box);

	span { font-size:18px; color:$primaryColor; line-height:24px; vertical-align:top; display:inline-block; }

	&.SortingTitle {
		padding:6px 0; line-height:20px; display:block;
		span {
			font-size:14px; line-height:20px; display:block;
			@include textEllipsis;
		}
	}

	&.SortingDateText {
		padding:6px 0; line-height:20px; display:block;
		span {
			font-size:14px; color:$primaryDimColor; line-height:20px; display:block;
			@include textEllipsis;
		}
	}
}