@import "~styles/base/util";

#SnbMain {
  width:100%; @include pcMaxWidth; @include boxSizing;
  @include flexBox;

  #Snb { display:none; }
  #container { width:100%; padding:0; }
}

@include for-768-only {
  #SnbMain {
    #Snb { }
    #container { }
  }
}

@include for-1080-only {
  #SnbMain {
    #Snb {
      width:256px;
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
      .MySnbWrap
      , .AccountBoxWrap
      , .MySubCashPointWrap
      , .MySubCouponPassWrap
      , .SnbMenuWrap
      , .LogOutWrap { min-width:256px; }
    }
    #container {
      padding:0 0 0 24px; overflow:hidden;
      @include flexBox;
      @include flexWidth(1 1);
      @include flexDirection(column);
      @include alignSelf(flex-start);
    }
  }
}