@import "~styles/base/util";

.formTextareaGroup {
  width:100%; padding:0 16px 8px 16px;
  @include pcMaxWidth;
  @include boxSizing;
  .formTextareaGroupInner { 
    padding:11px 15px 7px 15px; border:1px solid $BCLight50;
    @include boxSizing;
    @include vendorPrefix(border-radius, 12px);
  }
  .formTextareaGroupBox {
    padding-bottom:4px;
    .formTextarea { padding-left:0; padding-right:0; padding-bottom:0; min-width:1px; }
    label { display:none; }
    textarea { height:44px; border-width:0; padding:0; @include vendorPrefix(border-radius, 0px); }
  }

  .formTextareaGroupBottom {
    line-height:16px;
    .formTextareaGroupLength { text-align:right; }
  }

  .formTextareaGroupInfo {
    padding:8px 16px 0 16px; @include FSB12; color:$FCMedium;
    &.error { color:$FCError; }
    &.success { color:$FCDark; }
  }

  &.focus {
    .formTextareaGroupInner { border-color:$BCMedium; }
  }

  &.on {
    .formTextareaGroupInner { border-color:$BCMedium; }
  }

  &.comment
  , &.replycomment {
    .formTextareaGroupBox { padding:0; }
    padding:16px 8px 8px 8px;
    .formTextareaGroupInner {
      padding:6px 12px 6px 12px;
      border-width:0; background-color:$BGExtraL50;
      .formTextareaGroupComment {
        @include boxSizing;
        @include flexBox;
        @include flexWrap(nowrap);
        .formTextareaGroupCommentCell {
          width:100%;
          @include boxSizing;
          @include flexWidth(1 1);
          @include alignItems(center);
          &.sub {
            width: auto;
            @include flexBox;
            @include flexWidth(0 0 auto);
            @include flexDirection(column);
            @include alignSelf(center);
          }
        }
        .formTextareaGroupCommentSub {
          padding:0;
          @include boxSizing;
          @include flexBox;
          @include flexWrap(nowrap);
          .formTextareaGroupCommentCellS {
            @include boxSizing;
            @include flexWidth(1 1);
            @include alignItems(center);
            @include alignSelf(center);
            &.warning { display:none; }
            &.length { display:none; }
            &.btn {
              padding:0 0 0 12px; text-align:right; @include flexWidth(0 0 auto);
            }
            .commentWarningBtn {
              padding:0;
              i.warningGrey16 { margin-right:4px;}
            }
            .commentRegiBtn { padding:8px 13px 8px 13px; border-width:0; }
          }
        }
      }
      .formTextareaGroupBox {
        padding:2px 0 2px 0;
        textarea {
          padding:4px 0 4px 0; height:28px; overflow:hidden;
          background-color:transparent;
          @include inputPlaceholder {
            color:$FCLight;
          }
        }
      }
    }
    &.focus
    , &.on {
      .formTextareaGroupInner {
        .formTextareaGroupComment {
          @include flexWrap(wrap);
          .formTextareaGroupCommentCell {
            @include flexWidth(0 0 auto);
            &.sub {
              width:100%;
              @include flexWidth(0 0 auto);
            }
          }
          .formTextareaGroupCommentSub {
            width:100%; padding:10px 0 2px 0;
            .formTextareaGroupCommentCellS {
              &.warning { @include flexBox; }
              &.length { width:80px; @include flexJustifyContent(flex-end); @include flexWidth(0 0 auto); @include flexBox; }
              &.btn { padding:0 0 0 12px; @include flexJustifyContent(flex-end); @include flexWidth(0 0 auto); @include flexBox; }
              .commentWarningBtn {}
              .commentRegiBtn { padding-top:6px; padding-bottom:6px; }
            }
          }
        }
        .formTextareaGroupBox {
          textarea { overflow:auto; height:78px; }
        }
      }
    }
  }

  &.replycomment {
    padding:0;
    .formTextareaGroupBody {
      padding:16px;
      background-color:$BGExtraL70;
    }
    .formTextareaGroupInner {
      background-color:$BGWhite;
      .formTextareaGroupComment {
        .formTextareaGroupCommentCell {
          &.sub {}
        }
        .formTextareaGroupCommentSub {
          .formTextareaGroupCommentCellS {
            .commentRegiBtn {
              padding-top:6px; padding-bottom:6px;
            }
          }
        }
      }
    }
  }
}

@include for-768-only {
  .formTextareaGroup {
    padding-left:40px; padding-right:40px;

    &.comment
    , &.replycomment {
      padding-left:32px; padding-right:32px;
    }

    &.replycomment {
      padding:0 24px;
      .formTextareaGroupBody { }
    }
  }
}

@include for-1080-only {
  .formTextareaGroup {
    padding-bottom:16px;
    .formTextareaGroupInner {
      padding:15px 15px 7px 15px;
    }
    .formTextareaGroupBox {
      padding-bottom:8px;
      textarea { height:52px; }
    }
    .formTextareaGroupBottom {
      .formTextareaGroupLength {
        .tB12 { @include FSB14; }
      }
    }
    .formTextareaGroupInfo {
      @include FSB14;
    }

    &.comment
    , &.replycomment {
      padding-left:16px; padding-right:16px; padding-top:24px; padding-bottom:12px;
      .formTextareaGroupInner {
        padding:12px 16px;
        .formTextareaGroupComment {
          .formTextareaGroupCommentCell {
            &.sub {
            }
          }
          .formTextareaGroupCommentSub {
            .formTextareaGroupCommentCellS {
              &.warning { display:none; }
              &.length { display:none; }
              &.btn { }
              .formTextareaGroupLength {
                .textSt { @include FSB14; }
              }
              .commentWarningBtn {
                i.warningGrey16 { top:1px; width:20px; height:20px; background-position:-404px -584px; }
                .textSt { @include FSST16; }
              }
              .commentRegiBtn {
                padding-top:10px !important; padding-bottom:10px !important;
                .textSt { @include FSB14; }
              }
            }
          }
        }
        .formTextareaGroupBox {
          padding-top:6px; padding-bottom:6px;
          textarea {
            padding:3px 0;
            @include FSST16;
          }
        }
      }
      &.focus
      , &.on {
        .formTextareaGroupInner {
          .formTextareaGroupComment {
            .formTextareaGroupCommentCell {
              &.sub {
              }
            }
            .formTextareaGroupCommentSub {
              .formTextareaGroupCommentCellS {
                &.warning { }
                &.length { }
                &.btn { padding-left:16px; }
                .commentWarningBtn {}
                .commentRegiBtn { }
              }
            }
          }
          .formTextareaGroupBox {
            textarea { }
          }
        }
      }
    }

    &.replycomment {
      padding:0;
      .formTextareaGroupInner {
      }
    }
  }
}