.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.faqList{    box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px;}
.faqList li{    border-bottom: 1px solid #d9d9d9;}
.faqList .tit{    position: relative;
  padding: 12px 0;
  color: rgba(0,0,0,0.85);
  line-height: 22px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.faqList .cont{    overflow: hidden;
  padding: 12px 0;
  color: rgba(0,0,0,0.65);
  background-color: #fff;
  border-top: 1px solid #d9d9d9;}