@import "~styles/base/util";

.BannerBox {
  background-color:#ffffff;
  width:100%; padding:0;
  @include pcMaxWidth;
  @include boxSizing;
  .BannerBoxWrap {}
  .BannerBoxInner {}
  .BannerBoxLink { display:block; }
  .BannerBoxLinkPic { position:relative; width:100%; margin:0 auto; display:block; }
  .BannerBoxPic { width:100%; vertical-align:top; }

  &.bType {
    .BannerBoxWrap {
      padding:16px;
      .BannerBoxLink { position:relative; padding:0; }
      .BannerBoxLinkPic { max-width:328px; z-index:2; }
      .BannerBoxLinkInner {
        position:absolute; left:0; width:100%; height:100%; padding:0 0; @include boxSizing; z-index:1;
        .BannerBoxLinkInnerBG { width:100%; height:100%; @include vendorPrefix(border-radius, 12px); }
      }
    }
  }

  &.bTypeLanding {
    .BannerBoxWrap {
      padding:0 16px 16px 16px;
      .BannerBoxLink { position:relative; padding:0; }
      .BannerBoxLinkPic { max-width:328px; z-index:2; }
      .BannerBoxLinkInner {
        position:absolute; left:0; width:100%; height:100%; padding:0 0; @include boxSizing; z-index:1;
        .BannerBoxLinkInnerBG { width:100%; height:100%; @include vendorPrefix(border-radius, 12px); }
      }
    }
  }

  &.cType {
    .BannerBoxWrap {
      padding:12px 16px;
      .BannerBoxLink { position:relative; padding:0; }
      .BannerBoxLinkPic { max-width:328px; z-index:2; }
      .BannerBoxLinkInner {
        position:absolute; left:0; width:100%; height:100%; padding:2px 0; @include boxSizing; z-index:1;
        .BannerBoxLinkInnerBG { width:100%; height:100%; @include vendorPrefix(border-radius, 16px); }
      }
    }
  }
}

@include for-768-only {
  .BannerBox {
    .BannerBoxWrap {}

    &.bType {
      .BannerBoxWrap {
        padding:16px 40px;
        .BannerBoxLinkPic { max-width:328px; }
        .BannerBoxLinkInner {
          .BannerBoxLinkInnerBG { @include vendorPrefix(border-radius, 16px); }
        }
      }
    }

    &.bTypeLanding {
      .BannerBoxWrap {
        padding:0 40px 16px 40px;
        .BannerBoxLinkPic { max-width:328px; }
        .BannerBoxLinkInner {
          .BannerBoxLinkInnerBG { @include vendorPrefix(border-radius, 16px); }
        }
      }
    }

    &.cType {
      .BannerBoxWrap {
        padding:12px 40px;
        .BannerBoxLinkPic { max-width:328px; }
      }
    }
  }
}

@include for-1080-only {
  .BannerBox {
    .BannerBoxWrap {}

    &.bType {
      .BannerBoxWrap {
        padding:24px 16px;
        .BannerBoxLinkPic { max-width:456px; }
        .BannerBoxLinkInner {
          .BannerBoxLinkInnerBG { @include vendorPrefix(border-radius, 16px); }
        }
      }
    }

    &.bTypeLanding {
      .BannerBoxWrap {
        padding:0 16px 24px 16px;
        .BannerBoxLinkPic { max-width:456px; }
        .BannerBoxLinkInner {
          .BannerBoxLinkInnerBG { @include vendorPrefix(border-radius, 16px); }
        }
      }
    }

    &.cType {
      .BannerBoxWrap {
        padding:12px 16px;
        .BannerBoxLinkPic { max-width:536px; }
        .BannerBoxLinkInner { padding:4px 0; }
      }
    }
  }
}