@import "~styles/base/util";

.MemberAuthButton .MemberAuthButtonItemLink:before {
  @include iconPicUrl;
}

.MemberAuthButton {
  position:relative;
  @include pcMaxWidth;
  @include boxSizing;
  .MemberAuthButtonInner {}
  .MemberAuthButtonBody { width:100%; padding:0 16px; display:block; @include boxSizing;}
  .MemberAuthButtonBodyInner { padding:16px 0 0 0; }

  .MemberAuthButtonBtn { }
  .MemberAuthButtonItem { padding:0 0 16px 0; }
  .MemberAuthButtonItemLink {
    position:relative; padding:12px 56px 12px 16px;background-color: $BGMedium10; display:block;
    @include vendorPrefix(border-radius,12px);
    .textSt {
      margin-bottom:2px; display:block;
      &:last-of-type { margin-bottom:0; }
    }

    &:before { position:absolute; content:''; right:16px; top:50%; margin-top:-12px; width:24px; height:24px; background-position:-525px -650px; }
  }
}

@include for-768-only {
  .MemberAuthButton {
    .MemberAuthButtonInner { padding:0 24px; }
    .MemberAuthButtonBody {}
    .MemberAuthButtonBodyInner {}
  }
}

@include for-1080-only {
  .MemberAuthButton {
    .MemberAuthButtonInner { padding:0; }
    .MemberAuthButtonBody { }
    .MemberAuthButtonBodyInner { padding-top:24px; }
    .MemberAuthButtonItem { padding-bottom:24px; }
    .MemberAuthButtonItemLink {
      padding:16px 64px 16px 16px;
      @include vendorPrefix(border-radius,12px);
      .textSt {
        margin-bottom:4px;
        &:last-of-type { margin-bottom:0; }
      }
      .tB14 { @include FSST16; }
      .tC10 { @include FSB12; }

      &:before { margin-top:-16px; width:32px; height:32px; background-position:-649px -566px; }
    }
  }
}