@charset "utf-8"; 

@font-face{
font-family:'YMR';
src: url('/images/front/mtravel/common/YouandiModernHRA.eot');
src: url('/images/front/mtravel/common/YouandiModernHRA.eot?#iefix') format('embedded-opentype'),
	 local(※), url('/images/front/mtravel/common/YouandiModernHRA.woff') format('woff'),
	 url('/images/front/mtravel/common/YouandiModernHRA.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:'YMB';
src: url('/images/front/mtravel/common/YouandiModernHBA.eot');
src: url('/images/front/mtravel/common/YouandiModernHBA.eot?#iefix') format('embedded-opentype'),
	 local(※), url('/images/front/mtravel/common/YouandiModernHBA.woff') format('woff'),
	 url('/images/front/mtravel/common/YouandiModernHBA.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
html{word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
body{font-size:13px;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,blockquote,button{margin:0;padding:0;font-size:13px;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
body,input,select,textarea{color:#424242;font-weight:normal;font-size:13px}
img,input,fieldset{border:0 none}
img,input,select,textarea{vertical-align:top}
ul,ol,li,dl,dt,dd{list-style:none;margin:0;padding:0;}
address,caption,cite,code,dfn,em,i,var{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,th{margin:0;font-weight:normal}
hr{display:none}
a{color:#424242;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis}
a:link,a:hover,a:active{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="tel"],input[type="number"],textarea,select{-webkit-appearance:none;border-radius:0}
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:none;-webkit-border-radius:0;overflow:visible;margin:0;padding:0;border:0 none;background:0 none;cursor:pointer}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
input::-webkit-input-placeholder{color:#424242}
input:-moz-placeholder{color:#424242}
textarea::-webkit-input-placeholder{color:#424242}
textarea:-moz-placeholder{color:#424242}
input[type=number]::-webkit-outer-spin-button{margin:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{max-width:100%;width:100%;height:auto}
p{margin:0}

/* layout */
html,body{overflow-x:hidden;height:100% !important;background:#fff !important}
#skipnav{position:absolute;left:-100%}
body{min-width:320px}

/* new 메인 개편용 */
.headWrap * {transition: all 0.3s}
.headWrap{position:relative;width:100%;height:47px}
.headWrap > header{border-bottom:0 none;position:fixed;top:0;left:0;width:100%;height:47px;border-bottom:1px solid #555;z-index:10;
-moz-box-shadow:0 4px 5px rgba(0,0,0,.1);
-webkit-box-shadow:0 4px 5px rgba(0,0,0,.1);
box-shadow:0 4px 5px rgba(0,0,0,.1);
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.headWrap .header{position:relative;width:100%;height:47px;padding-top:15px;border-bottom:1px solid #555;background-color:#424242;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.headWrap .header > h1,
.headWrap .header > h2{margin:0;padding:0;text-align:center;font-family:'YMB';font-weight:normal;font-size:18px;line-height:18px;color:#fff}
.headWrap .header .bg-logo{overflow:hidden;text-indent:-9999px; background:url(/images/front/mtravel/main/deco_privia_logo.png) no-repeat 50%;background-size:133px auto}
.headWrap .header .rightArea,
.headWrap .header .leftArea{width:auto;height:auto;position:absolute;top:10px}
.headWrap .header .rightArea{right:10px}
.headWrap .header .leftArea{left:10px}
.headWrap .header a{display:inline-block !important;width:18px;height:18px;padding:4px !important}
.headWrap .header .logo a {display:inline !important;color:#fff;text-decoration:none;}
.headWrap .header .logo a:after {display: none;}
.headWrap .header a > img{display:none}
.headWrap .header a:after{content:'';display:inline-block;width:18px;height:18px;background-repeat:no-repeat;background-size:17px auto;background-position:50%}
.headWrap .header .leftArea a:after{background-image:url(/images/front/mtravel/common/head_close.png)}
.headWrap .header .leftArea .btnBack:after{background-image:url(/images/front/mtravel/common/head_back.png)}
.headWrap .header .rightArea .btnMypage:after{background-image:url(/images/front/mtravel/common/head_mypage.png)}
.headWrap .header .rightArea .btnMenu:after{background-image:url(/images/front/mtravel/common/head_menu.png)}
.headWrap .header .rightArea .btnMypage{margin-right:-2px}
.headWrap .header .rightArea .btnExport{margin-top:-2px}
.headWrap .header .rightArea .btnExport:after{height:20px;background-image:url(/images/front/mtravel/common/head_export.png);background-size:18px auto}
.gnbArea{width:200px;position:fixed;top:0;right:-200px;height:100%;background-color:#fff;z-index:100;
-webkit-transform:translate(0,0);
transform:translate(0,0);
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;
}
.headWrap .header .rightArea.fIcon a{overflow:hidden;width:32px;height: 100%;line-height: 20px;margin:0;padding:0;text-indent:-9999px;background:url(/images/front/mtravel/search/icon_filter.png) no-repeat;background-size:80px 160px} 
.headWrap .header .rightArea.fIcon .btnMap{background-position:0 -85px}

/* 헤더 스타일(하단 그림자 없음) */
.headWrap.no-border > header {border: 0 none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}
.headWrap.no-border .header {border: 0 none;}
.headWrap.no-border .s-state-pkg {display: none;}

/* 헤더 스타일2(배경투명 #30336) */
.headWrap.hdw-st2 {margin-bottom: -47px;z-index: 4;}
.headWrap.hdw-st2 > header {border: 0 none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
position: absolute;
}
.headWrap.hdw-st2 .header {background-color: transparent;border: 0 none;}
.headWrap.hdw-st2 .logo {opacity: 0;}
.headWrap.hdw-st2 .rightArea {top: 25px;}

/* 헤더 스타일3(제목 + 서브 - /html_mobile/pkg/B000_PU01.html) */
.headWrap.hdw-st3 {height: 78px;}
.headWrap.hdw-st3 > header {height: 78px;}
.headWrap.hdw-st3 .header {height: 78px;}
.headWrap.hdw-st3 .s-state-pkg {border-bottom: 0;padding-top: 0;}

/* 헤더 스타일4(스크롤 타이틀 변경 - /html_mobile/pkg/B000_PU03.html, /html_mobile/pkg/PTM_B201.html) */
.headWrap.hdw-st4.on {height: 54px;}
.headWrap.hdw-st4.on > header {height: 54px;}
.headWrap.hdw-st4.on .header {padding-top: 8px;height: 54px;}
.headWrap.hdw-st4.on .header .leftArea {top: 14px;}
.headWrap.hdw-st4.on .header .rightArea {top: 12px;}
.headWrap.hdw-st4.on .header .logo {display: none;}
.headWrap.hdw-st4.on .s-state-pkg {border-bottom: 0;padding-top: 0;display: block;}
.headWrap.hdw-st4.on .s-state-pkg .txt {font-size:13px;}
.headWrap.hdw-st4.on .s-state-pkg .txt-city {font-size:17px;padding-bottom: 0;}
.headWrap.hdw-st4 .rightArea {position: absolute;text-align: right;right: 10px;top: 7px;}
.headWrap.hdw-st4 .rightArea > a {padding: 0 !important;display: inline-block;font-size:0;line-height: 0;text-indent:-9999px;overflow:hidden;width:26px;height: 32px;background:url(/images/front/mtravel/main/sprite_icon_collection.png) no-repeat;background-size:60px;vertical-align: middle;}
.headWrap.hdw-st4 .rightArea .align {background-position: 4px -975px;}
.headWrap.hdw-st4 .rightArea .btnMap {background-position: 6px -1024px;}

.gnbArea.open{
box-shadow:0 0 10px #212123;
-webkit-transform:translate(-200px,0);
transform:translate(-200px,0);
}
.gnbHolder{position:relative;min-height:100%;background-color:#fff}
.gnbArea .btnClose{position:absolute;top:9px;right:9px}
.gnbArea .btnClose *{overflow:hidden;width:25px;height:25px;text-indent:-9999px;background:url(/images/front/mtravel/common/btn_close.gif) no-repeat center center;background-size:18px 18px}
.gnbArea .mystatus{padding:15px 25px 12px;border-bottom:1px solid #585858;font-size:14px;color:#1e1e1e;font-family:'YMR'}
.gnbArea .mystatus button{font-family:'YMR'}
.gnbArea .mystatus .logout{display:inline-block;padding:0 5px}
.gnbArea .mystatus .login{display:inline-block;height:100%;margin-top:-15px;margin-bottom:-15px;margin-left:-25px;padding:15px 90px 15px 25px}
.gnbArea .gnb li{border-bottom:1px solid #d5d5d5}
.gnbArea .gnb li a{display:block;padding:13px 25px 10px;font-size:14px;color:#1e1e1e;font-family:'YMR'}
.gnbArea .gnb >li.subon{background:url(/images/front/mtravel/common/bg_gnb_arrow.gif) no-repeat 100% 18px;background-size:27px 63px}
.gnbArea .gnb >li.suboff{background:url(/images/front/mtravel/common/bg_gnb_arrow.gif) no-repeat 100% -39px;background-size:27px 63px}
.gnbArea .gnb li ul{display:none;border-top:1px solid #d5d5d5}
.gnbArea .gnb li ul li a{padding:11px 20px 9px 37px;background-color:#f0f0f0}
.gnbArea .gnb li ul li:last-child{border-bottom:0 none}
.gnbArea .footer{padding:30px 7px 20px 16px}
.gnbArea .footer .golink{margin-bottom:8px}
.gnbArea .footer .golink a{display:inline-block;margin-bottom:5px;color:#1e1e1e;font-size:11px;font-family:'YMR'}
.gnbArea .footer .copyright{font-size:11px;font-family:'YMR';color:#767676}

.footWrap{margin:0 10px;padding:23px 0 25px;border-top:1px solid #d5d5d5}
.footWrap *{font-size:10px !important;line-height:1.5 !important}
.footWrap .call-center{float:left;margin-top:-2px;line-height:1.1;vertical-align:top}
.footWrap .call-center .call{display:inline-block;width:9px;height:10px;padding-bottom:1px;vertical-align:top;background:url(/images/front/mtravel/common/icon_call.png) no-repeat 0 1px;background-size:9px auto}
.footWrap .call-center p{margin-top:-2px}
.footWrap .go-link{float:right}
.footWrap .go-link a{display:inline-block;min-width:60px;height:23px;margin-left:3px;line-height:24px !important;vertical-align:middle;padding:0 7px;text-align:center;background-color:#dddee0;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.footWrap .foot-menu{clear:both;margin:0 0 10px -6px;padding-top:12px;overflow:hidden}
.footWrap .foot-menu a{display:inline-block;padding:0 6px;font-weight:bold;color:#333}
.footWrap .foot-menu span{color:#d5d5d5}
.footWrap .copyright{margin-top:10px}

.ui-mobile [data-role=page] .contentWrap{position:relative;padding-bottom:25px;background-color:#fff !important}
.ui-mobile .ui-page-active{/*background-color:#fff*/}
.ui-mobile [data-role=dialog]{background:transparent !important}
.ui-mobile [data-role=page] .header .s-state-pkg + .leftArea > a {display: none !important;}
.ui-mobile [data-role=page] .header .s-state-pkg + .leftArea > a.btnBack {display: inline-block !important;}
.ui-mobile [data-role=dialog] .header .s-state-pkg + .leftArea .btnBack {display: none !important;}
.ui-dialog-contain{min-height:100%;opacity:1 !important;background:#fff !important}
.ui-mobile [data-role=dialog] .contentWrap{position:relative;min-height:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-bottom:50px;opacity:1 !important;background:#fff !important}