@charset "utf-8";
@font-face{
    font-family:ymb;
    src:url('//static.priviatravel.com/images/ts/tm/promotion/YouandiModernHBA.woff') format('woff')
}
@font-face{
    font-family:ymeb;
    src:url('//static.priviatravel.com/images/ts/tm/promotion/YouandiModernHEBA.woff') format('woff')
}
@font-face{
	font-family: 'sdTB';
	src:url('//static.priviatravel.com/images/ts/tm/promotion/SDGothicNeoa-cLt.eot');
	src:local(※), url('//static.priviatravel.com/images/ts/tm/promotion/SDGothicNeoa-cLt.woff') format('woff');
}
@font-face{
	font-family: 'sdTB_bold';
	src:url('//static.priviatravel.com/images/ts/tm/promotion/SDGothicNeoa-gBd.eot');
	src:local(※), url('//static.priviatravel.com/images/ts/tm/promotion/SDGothicNeoa-gBd.woff') format('woff');
}

.promotionView > div.pb-container{padding-left:0;padding-right:0}

.pb-container {
    margin:30px 15px 0 15px;
    padding-bottom:30px;
    border-bottom:1px solid #dcdcdc;
    position: relative;
}
.pb-element{
    margin-bottom:15px;
}
.pb-container .pb-element:last-child{
    margin-bottom:0
}

.pb-container.pb-top{
    margin-left: 0;
    margin-right: 0;
}

.pb-container.pb-top.pb-topic-type1{
    padding-top:0 !important
}

.pb-top{padding:0;border:none;margin:0}
.pb-element *{font-family:sdTB;color:inherit}
.pb-element b,.pb-element strong{font-family: sdTB !important;}

/* 제목 */
.pb-section-title{padding-left:28px;min-height:22px;padding-top: 1px;margin-top:20px;background-size:25px;background-repeat:no-repeat;background-position: 0 0}
.pb-section-title p{font-size:21px;color:#333;font-family:'ymb',sans-serif;letter-spacing:-1px;}
.pb-section-title1{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title1.png")}
.pb-section-title2{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title2.png")}
.pb-section-title3{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title3.png")}
.pb-section-title4{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title4.png")}
.pb-section-title5{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title5.png")}
.pb-section-title6{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title6.png")}
.pb-section-title7{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title7.png")}
.pb-section-title8{background-image:url("//static.priviatravel.com/event/prm-gen-img/deco/deco_icon_pu_title8.png")}
#section-benefit{border-top:1px solid #757575;border-bottom:1px solid #757575;position:relative;padding:18px 15px 20px;background:#f5f5f5;text-align: center}
.sb-title{line-height:1.3}
.sb-title *{font-family:sdTB;font-size:16px;}
.sb-title{margin-bottom:12px;}

/* 주의사항 유의사항 */
.pb-caution1{border:1px solid #dcdcdc;padding:15px !important;background-color: #f9f9f9;}
.pb-caution2{border:1px solid #dcdcdc;padding:15px 10px;background-size: 17px 17px;background-color: #f9f9f9;}
.pb-caution1 h5{font-weight: normal;font-size:15px;font-family:'sdTB_bold';color:#333;margin-bottom:10px}
.pb-caution1 ul, .pb-caution2 ul{position:relative}
.pb-caution1 ul li, .pb-caution2 ul li {font-family:'sdTB';font-size:12px;font-weight:normal;background:url(//static.priviatravel.com/images/front/travel/deco_bul_square_3x3_666.gif) no-repeat 2px 6px;padding-left:11px;margin-bottom:5px;line-height:1.4}
.pb-caution2 ul li{font-weight: normal;font-size:12px;background-position: 2px 5px;}
.pb-caution1 ul li em, .pb-caution2 ul li em{font-weight:bold;}
.pb-caution1 h5,.pb-caution2 h5{display:none}
.pb-caution1 ul li br, .pb-caution2 ul li br{display:none}
.pb-caution1 ul li:last-child, .pb-caution2 ul li:last-child{
    margin-bottom:0
}
.pb-container .pb-element:last-child{margin-bottom:0}
.pb-caution1 ul:before {
    content: '';
    background:url("//static.priviatravel.com/event/prm-gen-img/deco/ico-alert.png") no-repeat right top;
    background-size: 40px 40px;
    display: block;
    width: 40px;
    height: 40px;
    float: right;
}

/* 혜택정보 */
.pb-info{margin-bottom:20px;}
.pb-info:after{content:" "; display:block; clear:both}
.pb-info li{margin-bottom:7px}
.pb-info li:after{content:" "; display:block; clear:both}
.pb-info .benefit-tit{font-family:'sdTB_bold';background:#999;font-size:11px;color:white;width:80px;height:20px;line-height:20px;float:left;margin-right:13px;box-sizing: border-box;text-align: justify;text-align-last: justify;word-spacing:-3px;padding-left:8px;padding-right:4px;position:relative}
.pb-info .benefit-tit.bt-emp{background: #333}
.pb-info .benefit-tit:before{content: '';display:block;width:100%;}
.pb-info .benefit-tit:after{content: '';display:block;position:absolute;width:14px;height:20px;box-sizing: border-box;top:0;right:-14px;border-top:10px solid transparent;border-bottom:10px solid transparent;border-right:7px solid transparent;border-left:7px solid #999;}
.pb-info .benefit-tit.bt-emp:after{border-left-color: #333}
.pb-info .benefit-cont{float: right;font-family:'sdTB_bold';width:calc(100% - 93px);font-size: 13px;padding-top: 2px;line-height: 1.4}
.pb-info em{font-family:'sdTB'}

.sb-more i{position:absolute;left:-999999px;}
.sb-more label{display:block;padding:10px 15px;color:#333;background:#fff;font-family:sdTB_bold;font-size:14px;border:1px solid gray;text-align:center;cursor:pointer}
#sb-toggle{position:absolute;left:-999999px;}
#sb-bundle{transition:max-height .2s ease-out;max-height:0;overflow: hidden}
#sb-toggle:checked + #sb-bundle{display:flex;max-height:500px;}
.sb-list ul{display: flex;flex-wrap: wrap;padding-top:20px;padding-bottom:10px;width:100%;}
.sb-list li{padding-bottom:20px;flex-basis: 33.333%;}
.sb-list li *{display:block;text-align: center;font-family:sdTB_bold;font-size:13px;margin:0 auto}
.sb-list li img{margin-bottom:7px;width:auto}
.sb-list li span{line-height:1.3}
.sb-list img{width:56px;height:56px;}
.sb-more-close{cursor: pointer;visibility: hidden;flex: none;position: absolute;width: 100%;text-align: center;left: 0;bottom: 0;text-indent: -99999px;height: 53px;background: url(//static.priviatravel.com/images/ts/tm/promotion/ico-sb-close.gif) no-repeat center 50%;background-size: 35px 18px;}
#sb-toggle:checked + #sb-bundle > .sb-more-close{visibility: visible}
/* box */
.pb-box {box-sizing: border-box;}

/* 토픽 : 타이틀 */
#topic-tit{margin:0px 15px 28px 15px;}
.pb-topic-type2 #topic-tit{margin:28px 15px 28px 15px;}
#topic-tit .topic-copy{color:#333;font-family: ymb !important;font-size:29px;letter-spacing: -2px;text-align: center;line-height:1.3}
#topic-tit .topic-subcopy{text-align: center;color: #333;font-family: sdTB !important;font-size: 16px;margin-top:12px;letter-spacing:-1px;margin-left: 2px;line-height: 1.2;}

.pb-content-title1 p {
    font-family: 'sdTB_bold';
    color: #333;
    font-size:18px;
    line-height:1.4;
}
.pb-topic-type1 #topic-tit{
    padding-top:22px
}
.pb-topic-type2 .topic-img{width:100%;position:absolute;padding-top: 62.52631578% !important;left:0;top:0;overflow-y:hidden}
.pb-topic-type2 .topic-img img{position:absolute;left:0 !important;top:0 !important;right:0 !important;bottom:0 !important;object-fit: cover;margin:0 !important;}
.pb-topic-type2{padding-top:62.52631578% !important;overflow:hidden}
.pb-topic-type1 .topic-img img{left:0 !important;top:0 !important;right:0 !important;bottom:0 !important;object-fit: cover;margin:0 !important;}

/* 탭컨텐츠(v2.0) */
.pb-tab-wrapper{margin-bottom: 30px;}
.pb-container .pb-tab-wrapper:last-child{margin-bottom:0;}
.pb-tab-wrapper *{font-family: sdTB_bold;}
.pb-tab-wrapper:first-child{margin-top:0}
.pb-tab-selector{position:relative;width: 100%;overflow: auto;box-sizing: border-box;display: flex;flex-wrap: wrap;margin-bottom:20px;}

.pb-tab-selector li{box-sizing: border-box;display: flex;flex-basis: calc(50% - 3px);background:#f9f9f9;border:1px solid #dcdcdc;margin-bottom:3px;}
.pb-tab-selector li.on{background:#fff;border-color:#333;border-top-width:3px;}
.pb-tab-selector li:nth-child(2n+1){margin-right:3px}
.pb-tab-selector li:nth-child(2n){flex-basis: 50%;}

.pb-tab-selector li a{text-align: center;font-size:15px;color:#999;transition: all .2s ease;display: flex;align-items: center;flex-basis: 100%;text-decoration: none;}
.pb-tab-selector li a.on{color:#333}

.pb-tab-selector li.on a.on span{font-family: sdTB_bold}
.pb-tab-selector li a span{display: inline-block;width: 100%;padding: 10px 10px;vertical-align: middle;box-sizing: border-box;line-height:1.2;font-family: sdTB}

.pb-tab-selector li a:hover{color:#666;background:#f9f9f9;}

.pb-tab-content{clear:both;box-sizing: border-box;}
.pb-tab-selector li a br{display:none}
.pb-topic-type1 .topic-img{position:relative}



.pb-container ~ .pb-caution1{margin-top: 20px;}

/* 그룹타이틀(v2.0) */
.group-title{padding:27px 15px 26px;margin: 30px 0;background-color:#CA1E63}
.group-title .gt-tit{font-size: 32px;color:#fff;font-family:ymb}
.group-title .gt-text{color:#fff;font-family:sdTB;font-size:13px;line-height: 1.6;margin-top:15px;}
.gt-text:empty{margin-top:0}

/* 네임타이틀(v2.0) */
.pb-nt-type1{margin: 20px 0;border-top:1px solid #333;border-bottom:5px solid #333;padding:17px 0;position:relative;zoom:1;}
.pb-nt-type1 .nt-logo{display: none;}
.pb-nt-type1 .nt-link{text-align: center;margin-top:13px;position:relative;top:7px}
.pb-nt-type1 .nt-link:empty{margin-top:0}
.pb-nt-type1 .nt-group{text-align: center;}
.pb-nt-type1 .nt-tit{font-size:28px;font-family:ymb;color:#333;letter-spacing: -1px}
.pb-nt-type1 .nt-text{margin-top:6px;font-size:14px;font-family:ymb;color:#666}
.pb-nt-type1 .nt-text:empty{margin-top:0}
.pb-nt-type1 .nt-desc{display:none}

.pb-nt-type2{margin: 20px 0;border-bottom:5px solid #333;padding-bottom:20px;position:relative;}
.pb-nt-type2 .nt-logo{display:none}
.pb-nt-type2 .nt-group{padding-top:20px;}
.pb-nt-type2 .nt-tit{font-size:28px;font-family:ymb;color:#333;letter-spacing: -1px;}
.pb-nt-type2 .nt-text{position:absolute;width:100%px;left:0px;top:0px;font-family:ymb;color:#8b8b8b;}
.pb-nt-type2 .nt-desc{margin-top:13px;font-size:16px;font-family: sdTB_bold;line-height:1.4;color:#5a5a5a}
.pb-nt-type2 .nt-desc:empty{margin-top:0}
.pb-nt-type2.nt-tit-adj .nt-group{padding-top:0}
.pb-nt-type2 .nt-link{margin-top:10px}


/* 버튼 */
.pb-btn-wrapper{text-align:center;position:relative;margin:20px 0 30px;}
.pb-btn-wrapper .pb-btn{margin-bottom:5px}
.pb-btn{
    color:#fff;
    border-width:1px;
    border-style:solid;
    vertical-align: middle;
    display:block;
    text-align: center!important;
}
.pb-btn:hover{color:#fff}

.pb-btn-lg,
.pb-btn-md{font-family:sdTB_bold;font-size:13px;padding:10px 35px;}
.pb-btn-sm{font-family:sdTB;     font-size:inherit !important;display:inline-block}

.pb-btn-m{background-color:#e21969;border-color:#e21969}
.pb-btn-b{background-color:#333333;border-color:#333333}
.pb-btn-g{background-color:#999999;border-color:#999999}
.pb-btn-w{background-color:#ffffff;border-color:#333333;color:#333;}

.pb-btn.pb-btn-w:hover{color:#333}

.pb-caution1 .pb-btn-sm,
.pb-caution2 .pb-btn-sm{font-size:11px !important;border-radius:1px;padding:2px 4px;margin-top: -1px;}

.benefit-cont a.pb-btn-sm{font-size: 12px !important;color: #FFF !important;margin-top: -3px;margin-left:3px;padding: 3px 5px;border-radius:1px}
.benefit-cont a.pb-btn-sm:hover{text-decoration:none}

/* 그리드컨텐츠 */
.pb-grid-content{counter-reset:item}
.pb-grid-row{margin-bottom:10px;position:relative;clear:both;}
.pb-grid-content .pb-grid-row.more-space{margin-bottom:30px;}
.pb-grid-col{margin:10px 0;}
.pb-grid-col:empty{background:#eee;min-height:40px;}
.gc-text{padding-right:10px;margin-top: 10px;margin-bottom: 30px;}
.gc-image{margin:10px 0;position:relative}
.gc-image img,.gc-banner img{width:100% !important;margin-left:0 !important;margin-top:0 !important;display:block;max-height: 50vh;vertical-align: top;object-fit: cover;left:0 !important;top:0 !important}
.gc-tit{font-family: sdTB_bold;font-size:17px;line-height:1.5;letter-spacing:-1px}
.gc-tit + .gc-tit,
.gc-tit + .gc-tit2,
.gc-tit2 + .gc-tit,
.gc-tit2 + .gc-tit2{margin-top:10px}
.gc-tit2{font-family: sdTB_bold;font-size:15px;line-height:1.5;letter-spacing:-1px}
.gc-desc{margin-top:10px;margin-bottom:10px;font-family: sdTB;font-size:13px;line-height:1.45;margin-top:10px;}
.gc-list{margin-top:10px;font-family: sdTB;font-size:13px;}
.gc-list + .gc-tit{margin-top:20px !important;}
.gc-image-alt{position:absolute;left:0;bottom:0;width:100%;background: rgba(0, 0, 0, 0.2);color:#fff;font-size:12px;text-align: right; z-index:1;}
.gc-image-alt span{display:inline-block;padding:8px 12px;font-family: sdTB;}
.ie8 .gc-image-alt{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#20000000,endColorstr=#20000000);zoom: 1;}
.gc-image-alt span:empty{padding:0}
.gen-img{width:100%}

.imgCrop-wrap{display:block;width:100%;}
.gc-text .gc-list {margin-top: 10px;font-family: sdTB;font-size: 14px;list-style-type: disc;}
.gc-text .gc-list li {font-family: 'sdTB';font-size: 12px;background: url(//static.priviatravel.com/images/front/travel/deco_bul_square_3x3_666.gif) no-repeat 2px 6px;padding-left: 11px;margin-bottom: 2px;line-height: 1.5;}

.gc-banner img{display:block;height:150px;object-fit: cover;}

.pb-grid-row .pb-grid-col:last-child{margin-bottom: 0}

.gc-banner>a{display:block}
.pb-grid-span3 .gc-banner .gc-banner-img,.pb-grid-span3 .gc-banner img{height:200px !important}
.pb-grid-span2 .gc-banner .gc-banner-img,.pb-grid-span2 .gc-banner img{height:200px !important}
.pb-grid-span1 .gc-banner .gc-banner-img,.pb-grid-span1 .gc-banner img{height:130px !important}

/*
.pb-grid-span1 .gc-image,
.pb-grid-span2 .gc-image,
.pb-grid-span3 .gc-image{height:30vh}
.pb-grid-span1 .gc-image img,
.pb-grid-span2 .gc-image img,
.pb-grid-span3 .gc-image img{height:100%;height:30vh !important}
*/

.gc-banner .gc-banner-text{box-sizing: border-box;display:block;height:auto;border:1px solid #c2c2c2;padding:20px 45px 20px 15px ;font-family: sdTB_bold;line-height:1.3;color:#333;background-image:url(//static.priviatravel.com/event/prm-gen-img/deco/ico-banner-arrow-m.gif);background-repeat:no-repeat;background-position:right 50%;background-size:28px 21px;}
.gc-banner .gc-banner-text-only{background-position:right calc(50% + 13px) !important;}
.pb-grid-span3 .gc-banner .gc-banner-text,
.pb-grid-span2 .gc-banner .gc-banner-text,
.pb-grid-span1 .gc-banner .gc-banner-text{font-size:19px;height:auto;min-height:89px;}
pbnum{display:inline-block;padding:5px 7px;min-width:5px;text-align: center;font-size:14px;color:#fff !important;font-family:sdTB_bold;margin-right:5px;background:#333;vertical-align: middle;margin-top:-2px}
pbthrough{text-decoration:line-through}
gray{color:#999 !important;font-family:inherit!important}
blue{color:#1f68ee !important;font-family:inherit !important}
magenta{color:#e93a84 !important;font-family:inherit !important}
red{color:#e30303 !important;font-family:inherit !important}
defblack{color:#222 !important;font-family:inherit !important}
.gcbt-tit{display:block !important;font-size:17px;letter-spacing:-1px}
.gcbt-desc{display:block !important;}
.gc-banner-text-only{padding-top:50px !important;position:relative}
.gc-banner-text-only .pb-btn{display:none}
.gcbt-desc {font-size:13px;margin-top:10px}
.gcbt-price{display:block;font-size:17px}
.gc-banner-text-only:before{
    content: '추천상품'counter(item, decimal);
    counter-increment: item;
    font-family:sdTB_bold;
    font-size:12px;
    line-height:30px;
    height:30px;
    position:absolute;
    left:0;
    top:0;
    border-bottom:1px solid #e0e0e0;
    background-color:#f5f5f5;
    box-sizing: border-box;
    padding-left:15px;
    width:100%;
    
}

/* Pb 테이블 그리드
------------------------------------------------------- */
.pb-grid-table{overflow-y:hidden;-webkit-overflow-scrolling: touch;}

.pb-table{border-collapse: collapse;border-top:1px solid silver;border-left:1px solid silver;width:100%;table-layout: fixed}
.pb-table td,.pb-table th{border-right:1px solid silver;border-bottom:1px solid silver;padding:10px 7px;text-align: center;box-sizing: border-box;line-height:1.4}
/*.pb-table td,.pb-table th,.pb-table tr{transition: all .2s ease}*/
.pb-table td:empty:before,.pb-table th:empty:before{content:'a';display: inline-block;width:1px;color:transparent}
.pb-table th{background-color:rgba(0,0,0,.05);clear:both}
.pb-table td.tableSelected,.pb-table th.tableSelected{background-color:rgba(0, 255, 255, 0.2) !important;}
.pb-table th.vm,.pb-table td.vm{vertical-align: middle}
.pb-table th.vt,.pb-table td.vt{vertical-align: top}
.pb-table th.vb,.pb-table td.vb{vertical-align: bottom}
.pb-table th.tal,.pb-table td.tal{text-align: left}
.pb-table th.tar,.pb-table td.tar{text-align: right}
.pb-table th.tac,.pb-table td.tac{text-align: center}
.pb-table.selectMode td,.pb-table.selectMode th{cursor:default;-webkit-user-select: none;}
.pb-table th,.pb-table td{font-size:13px;font-family: sdTB;}
.pb-grid-row:after{content:'';display:table;clear:both}
.pb-grid-span1.gcib{width:48.5% !important;float:left;margin:0px;margin-bottom:10px}
.pb-grid-row .pb-grid-span1.gcib:nth-child(odd){margin-right:3%;margin-bottom:0}
.JCLRgrips{display:none}

/* Pb img layer
------------------------------------------------------- */
.ly-element{position:relative !important;top:0 !important;left:0 !important;margin-bottom:15px !important}
.ly-element img{max-width:100%}
.imgLy{position:static !important;top:0 !important;left:0 !important;margin-bottom:15px !important}
.pb-illust{max-width:100%}
.s-hidden{display:none !important}
.ic-inner-wrapper{position:relative}

/* pb 디자인 버튼
------------------------------------------------------- */
.btn-wf{
	box-sizing:content-box;
	line-height:1;
	font-weight:normal;	
	color:#333 !important;
	border-width:1px;
	border-style:solid;
	border-color:#d7d7d7;
	display:inline-block;
	vertical-align:middle;
	min-width:60px;
	cursor:pointer;
	text-align:center;	
	background: #ffffff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#f2f2f2));
	background: -webkit-linear-gradient(#ffffff, #f2f2f2);
	background: -moz-linear-gradient(#ffffff, #f2f2f2);
	background: -ms-linear-gradient(#ffffff, #f2f2f2);
	background: -o-linear-gradient(#ffffff, #f2f2f2);
	background: linear-gradient(#ffffff, #f2f2f2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0); /* IE6-9 */
	letter-spacing:-1px;
}
.btn-wf-md{
	font-size:12px;
	padding:5px 15px 7px;	
}
.btn-lg-black{
	color:#fff !important;
	border:1px solid #333 !important;
	background: #333;
 	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#494949), to(#333));
	background: -webkit-linear-gradient(#494949, #333);
	background: -moz-linear-gradient(#494949, #333);
	background: -ms-linear-gradient(#494949, #333);
	background: -o-linear-gradient(#494949, #333);
	background: linear-gradient(#494949, #333);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#333',GradientType=0); /* IE6-9 */
} 

/* 프로모션 SNS 공유 추가로인한 컨텐츠 간격 조정
------------------------------------------------------- */
.promotionView > div.pb-container:first-child {margin-top: 0;}
/* .promotionView > div.pb-container:first-child.pb-content-img {margin-left: 0;margin-right: 0;padding-top: 0;} */

/* #17665 프로모션 SNS 공유 버튼 추가
------------------------------------------------------- */
.tit-promotionView {height: 44px;line-height: 44px;padding: 0 10px;border-bottom: 1px solid #e5e5e5;}
.tit-promotionView .tit {display:inline-block;margin:0;padding:0;text-align:center;font-family:'YMB';font-weight:normal;font-size:18px;color:#333;}
.set-promotion-sns {display: inline-block;position: absolute;top:10px;right:10px;overflow: hidden;}
.set-promotion-sns li {float:left;margin-left: 5px;}
.set-promotion-sns li a {display: block;width: 25px;height: 25px;overflow: hidden;background:transparent;opacity:1;filter:alpha(opacity=100);font-size:0;text-indent: -9999px;background: url(/images/front/mtravel/common/btn-promotion-sns.png) 0 0 no-repeat;background-size: 25px;}
.set-promotion-sns .btn-pro-kakao {background-position: 0 0;}
.set-promotion-sns .btn-pro-face {background-position: 0 -30px;}
.set-promotion-sns .btn-pro-twitter {background-position: 0 -60px;}
.set-promotion-sns:after {content:"";display:block;clear:both;}

/* #19133 프로모션 SNS 공유 버튼 하단 추가
------------------------------------------------------- */
.set-promotion-sns-f {display: inline-block;position: relative;overflow: hidden;width: 100%;padding: 0 15px;box-sizing: border-box;margin-top: 20px;}
.set-promotion-sns-f li {float:left;width: 33.33333333%;}
.set-promotion-sns-f li a {display: block;padding: 15px;height: 70px;font-size:13px;color: #fff;background: url(/images/front/mtravel/common/btn_sns_plus_40x40.png) 84.4559585492228% 84.4559585492228% no-repeat;background-size: 20px;background-position: right 15px bottom 15px;}
.set-promotion-sns-f .btn-pro-face {background-color: #3b56ad;}
.set-promotion-sns-f .btn-pro-twitter {background-color: #2391e6;}
.set-promotion-sns-f .btn-pro-kakao {background-color: #ffc000;}
.set-promotion-sns-f:after {content:"";display:block;clear:both;}

