@import "~styles/base/util";

.formInputGroup {
  width:100%; padding: 0 16px 8px 16px;
  @include pcMaxWidth;
  @include boxSizing;
  .formInputGroupInner { 
    border:1px solid $BCLight50;
    @include vendorPrefix(border-radius, 12px);
    @include boxSizing;
    @include flexBox;
    @include flexWrap(nowrap);

  }
  .formInputGroupBox {
    padding-left:16px; padding-right:8px; 
    @include boxSizing;
    @include flexWidth(1 1);
    @include alignItems(center);

    .formInput { padding-left:0; padding-right:0; padding-bottom:0; min-width:1px; }
    label { display:none; }
    input[type="text"]
    , input[type="search"] { padding-left:0; padding-right:0px; border-width:0; }
  }
  .formInputGroupBtn {
    padding-right:8px;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignSelf(center);

    .btnSmall { padding:7px 15px; }
  }

  .formInputGroupAuthTime {
    padding-right:16px;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignSelf(center);
  }

  .formInputGroupInfo {
    padding:8px 16px 0 16px; @include FSB12; color:$FCMedium50;
    &.error { color:$FCError; }
    &.success { color:$FCDark; }
  }

  &.focus {
    .formInputGroupInner { border-color:$BCMedium; }
  }

  &.on {
    .formInputGroupInner { border-color:$BCMedium; }
  }

  &.disabled {
    .formInputGroupInner { background-color:$BGGrey;}
    .formInputGroupBox {
      input[type="text"]
      , input[type="search"] { background-color:transparent;}
    }
    .formInputGroupBtn {
      .btnSmall { border-color:transparent; background-color:$BGDark30;}
    }
  }

  &.telGroup {
    .formInputGroupInner { border-width:0; display:block; }
    .SubHeaderInner { padding:0; min-width:1px; }
    .formInputGroupTel {
      .formInputGroupTelItem {
        padding-left:8px; width:33.3%; max-width:112px; display:inline-block; @include boxSizing;
        &:first-of-type { padding-left:0; max-width:104px; }
      }
      .formInput { min-width:1px; padding-left:0; padding-right:0; padding-bottom:0; }
      label { display:none; }
    }
  }
}

@include for-768-only {
  .formInputGroup {
    padding-left:40px; padding-right:40px;
  }
}

@include for-1080-only {
  .formInputGroup {
    padding-bottom:16px;
    .formInputGroupInner { }
    .formInputGroupBox { }
    .formInputGroupBtn {
      .btnSmall {
        padding:9px 15px;
        .tB12 { @include FSB14; }
      }
    }
    .formInputGroupAuthTime {
      .tB12 { @include FSB14; }
    }
    .formInputGroupInfo {
      @include FSB14;
    }

    &.telGroup {
      .formInputGroupTel {
        .formInputGroupTelItem {
          max-width:168px;
          &:first-of-type { padding-left:0; max-width:160px; }
        }
      }
    }
  }
}