@import "~styles/base/util";

.RoundInfoBox {
  position:relative; padding:0;
  @include pcMaxWidth;
  @include boxSizing;
  .RoundInfoBoxInner {
    padding:8px 16px 8px 16px; 
    @include boxSizing;
  }
  .RoundInfoBoxBody {
    padding:24px 24px 24px 24px; background-color:$BGGrey;
    @include vendorPrefix(border-radius,16px);
    @include boxSizing;

    .RoundInfoTextTitle { text-align:center; }
    .RoundInfoTextDesc { text-align:center; }
  }
  .RoundInfoBoxBtn {
    padding:8px 0 0 0; text-align:center;
    .btnSmall { padding:7px 15px !important; }
  }

  &.subscribe {
    .RoundInfoBoxBody { padding:31px 23px; border:1px solid $BCLight50; background-color:transparent; }
    .RoundInfoTextDesc { padding-top:8px; }
    .RoundInfoBoxBtn { 
      padding-top:16px;
      .btnLarge { margin:0 auto; max-width:280px; width:100%; display:block; }
    }
  }
}

@include for-768-only {
  .RoundInfoBox {
    padding:0 24px;
    .RoundInfoBoxInner { padding-bottom:16px; }
  }
}

@include for-1080-only {
  .RoundInfoBox {
    .RoundInfoBoxInner {}
    .RoundInfoBoxBody {
      padding:32px 52px 32px 52px;
      
      .RoundInfoTextDesc { @include FSST18; }
    }
    .RoundInfoBoxBtn {
      padding:16px 0 0 0;
      .btnSmall { padding:12px 34px !important; }
      .textSt { @include FSST16; }
    }

    &.subscribe {
      .RoundInfoBoxInner { padding-top:12px; padding-bottom:12px; }
      .RoundInfoBoxBody { padding:39px 127px; }
      .RoundInfoBoxBtn { 
        padding-top:24px;
        .btnLarge {
          max-width:100%; padding-top:16px; padding-bottom:16px;
          .tST16 { @include FSST18; }
        }
      }
    }
  }
}