@import "~styles/base/util";

.MySubCashPointWrap {
  padding:0 16px 16px 16px;
  @include pcMaxWidth;
  @include boxSizing;
  .MySubCashPointInner {
    border:1px solid $BCBlack10; padding:12px 0px 13px 0px;
    @include vendorPrefix(border-radius,16px);
    @include Shadow4;
  }
  .MySubCashPointItem {
    padding:13px 16px 14px 16px; display:block; border-bottom:1px solid $BCExtraL;
    &:first-of-type { padding-top:0; }
    &:last-of-type { padding-bottom:0; border-bottom-width:0; }
  }
  .MySubCashPointItemInner {
    width:100%;
    @include boxSizing;
    @include flexBox;
    @include flexWrap(wrap);
  }
  .MySubCashPointItemLink {
    overflow:hidden; padding-top:6px; padding-bottom:6px;
    @include boxSizing;
    @include flexWidth(1 1);
    @include flexDirection(column);
    @include alignItems(center);
    .MySubCashPointItemLinkInfo { position:relative; line-height:16px; }
    i.icon24 { top:2px; }
  }
  .MySubCashPointItemChargeLink {
    padding-left:16px; padding-bottom:6px;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include alignSelf(flex-end);

    .btnBlock { width:70px; }
  }
}

@include for-768-only {
  .MySubCashPointWrap {
    padding:0 40px 16px 40px;
  }
}

@include for-1080-only {
  .MySubCashPointWrap {
    padding:12px 16px 12px 16px;
    .MySubCashPointInner { padding:0; }
    .MySubCashPointItem { padding:0 23px; }
    .MySubCashPointItemLink {
      padding-top:22px; padding-bottom:22px;
      .MySubCashPointItemLinkInfo {
        width:136px; top:6px; display:inline-block;
        .tB12B { @include FSST16B; }
        i.icon16 { top:3px; }
      }
      .CashPointText {
        display:inline-block;
        .tENG26B { @include FSENG32B; }
        i.icon24 {
          top:1px;
          &.cash24 { width:32px; height:32px; background-position:-600px 0px; }
          &.point24 { width:32px; height:32px; background-position:-633px 0px; }
        }
      }
    }
    .MySubCashPointItemChargeLink {
      padding-left:16px; padding-bottom:22px;
  
      .btnBlock {
        width:104px; padding-top:9px; padding-bottom:9px;
        .tB12 { @include FSST16; }
      }
    }
  }
}