@import "~styles/base/util";

.MemberIllInfo {
  position:relative;
  @include pcMaxWidth;
  @include boxSizing;
  .MemberIllInfoInner {}
  .MemberIllInfoBody { width:100%; padding:0 16px; display:block; @include boxSizing;}
  .MemberIllInfoBodyInner { padding:56px 0 32px 0; }

  .MemberIllInfoThumb {
    width:88px; margin:0 auto; padding:0 0 16px 0;
    img { width:100%; vertical-align:top; }
  }
  .MemberIllInfoTitle {
    padding:0 0 0 0; text-align:center;
    @include FSST16B; color:$FCDark;
  }
  .MemberIllInfoSummary {
    padding:4px 0 0 0; text-align:center;
    @include FSB14; color:$FCMedium;
  }

  .MemberIllInfoMoreBtn { padding:0 0;}

  &.adult {
    .MemberIllInfoBodyInner { padding-top:64px; padding-bottom:32px; }
    .MemberIllInfoTitle { @include FSST16; }
    .MemberIllInfoSummary { padding-top:8px; }
  }
}

@include for-768-only {
  .MemberIllInfo {
    .MemberIllInfoInner { padding:0 24px; }
    .MemberIllInfoBody {}
    .MemberIllInfoBodyInner {}
  }
}

@include for-1080-only {
  .MemberIllInfo {
    .MemberIllInfoInner { padding:0; }
    .MemberIllInfoBody { }
    .MemberIllInfoBodyInner { padding-top:72px; padding-bottom:40px; }

    .MemberIllInfoThumb { width:100px; padding-bottom:24px; }
    .MemberIllInfoTitle { @include FSST18B; }
    .MemberIllInfoSummary { padding-top:8px; @include FSST16; }

    &.adult {
      .MemberIllInfoBodyInner { padding-top:48px; padding-bottom:40px; }
      .MemberIllInfoThumb { padding-bottom:16px; }
      .MemberIllInfoTitle { @include FSST18; }
      .MemberIllInfoSummary { padding-top:12px; @include FSST16; }
    }
  }
}