@import "~styles/base/util";

.KeywordBox {
  background-color:#ffffff;
  .KeywordBoxInner {
    width:100%; padding:8px 0 0 0;
  }
}

@include for-768-only {
  .KeywordBox {
    .KeywordBoxInner {
    }
  }
}

@include for-1080-only {
  .KeywordBox {
    .KeywordBoxInner {
      padding:16px 0 0 0;
    }
  }
}