@import "~styles/base/util";

.CoreButtonPrev
, .CoreButtonNext {
  @include iconPicUrl;
}

.CardBox {
  width:100%; padding:0;
  @include pcMaxWidth;
  @include boxSizing;
  .CardBoxWrap {
    width:100%; padding:0;
    @include boxSizing;    
    background-color:#ffffff;
    .CardBoxInner {
      position:relative; width:100%; padding:0; overflow:hidden;
      @include boxSizing;

      .swiper-container {
        overflow: visible;
        .swiper-wrapper {
          .swiper-slide {
            width:auto; height:auto;
            @include flexBox;
            @include flexWidth(0 0 auto);
            @include alignContents(stretch);
            @include alignItems(flex-end);
          }
        }

        .CoreDimLeft {
          position:absolute; left:0; top:0; width:32px; height:100%; margin:0; padding:0; opacity:1; z-index:2;
          background:url('/static/images/bg/corebar_dim_left.png') repeat-y; display:block;
          @include fontSizeZero;
          @include vendorPrefix(background-size,32px 48px);
          &.disabled {
            opacity:0;
          }
        }
        .CoreDimRight {
          position:absolute; right:-12px; top:0; width:32px; height:100%; margin:0; padding:0; opacity:1; z-index:2;
          background:url('/static/images/bg/corebar_dim_right.png') repeat-y; display:block;
          @include fontSizeZero;
          @include vendorPrefix(background-size,32px 48px);
          &.disabled {
            opacity:0;
          }
        }
        .CoreButtonPrev {
          position:absolute; left:-8px; top:50%; margin-top:-46px; width:40px; height:40px; opacity:1; background-position:-90px -450px; z-index:3;
          &.disabled { display:none; }
        }
        .CoreButtonNext {
          position:absolute; right:-8px; top:50%; margin-top:-46px; width:40px; height:40px; opacity:1; background-position:-135px -450px; z-index:3;
          &.disabled { display:none; }
        }
      }
    }
  }

  &.type2n {
    padding-top:16px;
    .CardBoxWrap {
      .CardBoxInner {
        padding:0 8px 0 120px;
        .SubHeader {
          position:absolute; left:8px; top:0; width:112px; height:100%; padding:0 16px 36px 8px;
          @include boxSizing;
          .SubHeaderInner {
            width:100%; height:100%; min-width:1px; padding:0;
            .SubHeaderTitle {
              width:100%; height:100%;
              .linkSt {
                width:100%; height:100%; table-layout:fixed; display:table;
                > span { padding:0; width:100%; height:100%; vertical-align:middle; display:table-cell; }
                i.icon { display:none; }
                .textSt { height:auto; @include textLineEll(3, 66px); }
              }
            }
          }
        }
        .swiper-container{
          .CoreDimLeft { left:-120px; }
          .CoreDimRight { right:-8px; }
          .CoreButtonPrev { left:-120px; }
          .CoreButtonNext { right:-8px; }
        }
      }
    }
  }

  &.type3n {
    padding-top:8px;
    .CardBoxWrap {
      .CardBoxInner {
        padding:0 8px 0 8px;
        .SubHeaderInner { padding:0 8px 0 8px; }
        .swiper-container{
          .CoreDimLeft { left:-8px; }
          .CoreDimRight { right:-8px; }
          .CoreButtonPrev { left:-8px; }
          .CoreButtonNext { right:-8px; }
        }
      }
    }
  }

  &.typedetail3n {
    padding-top:8px;
    .CardBoxWrap {
      .CardBoxInner {
        padding:0 8px 0 8px;
        .SubHeaderInner { padding:0 8px 0 8px; }
        .swiper-container{
          .CoreDimLeft { left:-8px; }
          .CoreDimRight { right:-8px; }
          .CoreButtonPrev { left:-8px; }
          .CoreButtonNext { right:-8px; }
        }
      }
    }
  }

  .CardBoxLastMore {
    width:112px; height:100%; padding:0 0 36px 0;
    @include boxSizing;
    .CardBoxLastMoreInner {
      width:100%; height:100%; display:block;
    }
    .CardMoreBtn {
      width:100%; height:100%; table-layout:fixed; display:table; @include boxSizing;
      > span { width:100%; height:100%; text-align:center; vertical-align:middle; display:table-cell; }
      i.icon32 { margin-bottom:8px;}
      .textSt { display:block; }
    }
  }
}

@include for-min-only {
  .CardBox {
    .CardBoxWrap {
      .CardBoxInner {
        .swiper-container {
          .CoreButtonPrev { display:none !important; }
          .CoreButtonNext { display:none !important; }
        }
      }
    }
  }
}

@include for-360-only {
  .CardBox {
    .CardBoxWrap {
      .CardBoxInner {
        .swiper-container {
          .CoreButtonPrev { display:none !important; }
          .CoreButtonNext { display:none !important; }
        }
      }
    }
  }
}

@include for-768-only {
  .CardBox {
    .CardBoxWrap {
      .CardBoxInner {
        .swiper-container {
          .CoreButtonPrev { display:none !important; }
          .CoreButtonNext { display:none !important; }
        }
      }
    }

    &.type2n {
      .CardBoxWrap {
        padding:0 24px 0 24px;
        .CardBoxInner { padding:0 8px 0 120px; overflow:hidden; }
      }
    }

    &.type3n {
      .CardBoxWrap {
        padding:0 24px 0 24px;
        .CardBoxInner { padding:0 8px 0 8px; overflow:hidden; }
      }
    }

    &.typedetail3n {
      .CardBoxWrap {
        padding:0 24px 0 24px;
        .CardBoxInner { padding:0 8px 0 8px; overflow:hidden; }
      }
    }
  }
}

@include for-1080-only {
  .CardBox {
    .CardBoxWrap {
      .CardBoxInner {
        .swiper-container {
          .swiper-wrapper {
            .swiper-slide { }
          }
        }
      }
    }

    &.type2n {
      padding-top:24px;
      .CardBoxWrap {
        .CardBoxInner {
          padding:0 8px 0 140px;
          .SubHeader {
            position:absolute; left:8px; top:0; width:128px; height:100%; padding:0 8px 51px 8px;
            @include boxSizing;
            .SubHeaderInner {
              .SubHeaderTitle {
                .linkSt {
                  .textSt { @include textLineEll(3, 72px); }
                }
              }
            }
          }
          .swiper-container{
            .CoreDimLeft { left:-140px; }
            .CoreDimRight { right:-8px; }
            .CoreButtonPrev { left:-140px; }
            .CoreButtonNext { right:-8px; }
          }
        }
      }
    }
  
    &.type3n {
      padding-top:16px;
      .CardBoxWrap {
        .CardBoxInner {
          padding:0 4px 0 4px;
          .SubHeaderInner { padding:0 12px 0 12px; }
          .swiper-container{
            .CoreDimLeft { left:-4px; }
            .CoreDimRight { right:-4px; }
            .CoreButtonPrev { left:-4px; }
            .CoreButtonNext { right:-4px; }
          }
        }
      }
    }

    &.typedetail3n {
      padding-top:16px;
      .CardBoxWrap {
        .CardBoxInner {
          padding:0 4px 0 4px; overflow:visible;
          .SubHeaderInner { padding:0 12px 0 12px; }
          .swiper-container{
            .swiper-wrapper {
              padding:0 8px;
              @include vendorPrefix(transform, translate3d(0,0,0) !important);
              @include flexWrap(wrap);
              @include boxSizing;
            }
            .swiper-slide {
              margin:0 2px;
            }
            .CoreDimLeft { display:none !important; }
            .CoreDimRight { display:none !important; }
            .CoreButtonPrev { display:none !important; }
            .CoreButtonNext { display:none !important; }
          }
        }
      }
    }

    .CardBoxLastMore {
      width:132px; height:100%; padding:0 0 51px 4px;
      .CardBoxLastMoreInner {}
      .CardMoreBtn {
        i.icon32 { width:48px; height:48px; background-position:-715px -500px; }
      }
    }
  }
}