@import "~styles/base/util";

.FaqList {
  padding:0; background-color:#ffffff;
  @include pcMaxWidth;
  @include boxSizing;
  .FaqListItemHeaderLink {
    padding:16px; display:block;
    @include boxSizing;
    > span { position:relative; padding:0 40px 0 0; display:block; }
    .textSt {
      width:100%; table-layout:fixed; display:table;
      em, b { vertical-align:top; display:table-cell; }
      em { @include FSENG18; color:$FCLight; width:40px; }
    }
    .downBlack24 {
      position:absolute; right:0; top:-2px;
      @include vendorPrefix(transition, transform 0.2s);
    }
  }
  .FaqListItemCo {
    padding:0 24px 16px 56px; display:none;
    @include FSB14; color:$FCMedium;
  }
  .FaqListItem {
    &.open {
      .FaqListItemCo { display:block; }
      .downBlack24 { @include vendorPrefix(transform, rotate(180deg)); }
    }
  }
}

@include for-768-only {
  .FaqList {
    padding:0 24px;
    .FaqListInner {}
    .FaqListItem {}
  }
}

@include for-1080-only {
  .FaqList {
    .FaqListInner {}
    .FaqListItem {}
    .FaqListItemHeaderLink {
      padding-top:20px; padding-bottom:20px;
      > span { padding-right:48px; }
      .textSt {
        @include FSST18B;
        em { @include FSENG22;  width:48px; }
      }
      .downBlack24 {
        top:-4px; width:32px; height:32px; background-position:-682px -566px;
      }
    }
    .FaqListItemCo {
      padding:0 24px 16px 64px; display:none;
      @include FSST18;
    }
  }
}