

.comment-module-box {
    position: relative;
    padding: 8px 0 8px 0;
}

.comment-module-box .comment-module-name {
    margin: 0 35px 3px 0;
    font-size: 11px;
    color: #99938b;
    line-height: 20px;
    display: block;
}

.comment-module-box .comment-module-desc {
    margin: 0 0 6px 0;
    font-size: 13px;
    color: #251904;
    line-height: 20px;
    display: block;
}
.comment-module-box .comment-module-desc .comment-module-text {
    word-break: break-all;
    white-space: normal;
    display: inline;
}

.comment-module-box .comment-module-info {
    position: relative;
    height: 20px;
    line-height: 20px;
    display: block;
}
.comment-module-box .comment-module-info .comment-module-info-date {
    font-size: 11px;
    color: #99938b;
    line-height: 20px;
    display: block;
}
.comment-module-box .comment-module-info .comment-module-info-btn {
    position: absolute;
    right: 0;
    top: -4px;
}
.comment-module-box .comment-module-info .comment-module-info-btn .button-ty3 {
    padding: 0;
    font-size: 11px;
    color: #99938b;
    line-height: 30px;
    border-width: 0;
    display: inline-block;
}

.comment-module-box .comment-module-info .comment-module-info-btn .button-ty3.btn-comment-model-like {
    margin-left: 17px;
}

i.icon-inline-comment-ico {
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-position: -435px 0;
    display: inline-block;
}
.comment-module-box .comment-module-info .comment-module-info-btn .button-ty3 i.icon-inline-comment-like {
    top: -1px;
    margin-right: -2px;
}
.comment-module-box .comment-module-info .comment-module-info-btn .button-ty3 i.icon-inline-comment-ico {
    top: -1px;
    margin-right: -2px;
}

.comment-module-box .comment-module-nav {
    position: absolute;
    right: 0;
    top: 3px;
    width: 20px;
    height: 30px;
    display: block;
}
.comment-module-box .comment-module-nav .btn-comment-model-more {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

i.icon-inline-comment-more {
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-position: -435px -25px;
    display: inline-block;
}



.comment-module-box .comment-module-name .icon-inline-comment-logo {top: -1px;}

i.icon-inline-comment-logo {
    position: relative;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    background-position: -420px -35px;
    display: inline-block;
}

.comment-module-box .comment-module-desc .comment-module-badge {
        position: relative;
    top: 2px;
    margin: 0;
    padding: 0 4px 0 3px;
    font-size: 10px;
    color: #fff;
    line-height: 15px;
    vertical-align: top;
    background-color: #b1a99e;
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.comment-module-box .comment-module-desc .comment-module-badge.notice {
    background-color: #c39a31;
}




