[class*="help-"]{padding:80px 0 140px;}
[class*="help-"] h3{font-size:40px;font-weight:bold;text-align:center;margin-bottom:80px}
[class*="help-"] .tabmenu .ui-tab{margin-bottom:61px;}
[class*="help-"] > .tabmenu > .ui-panel{border:1px solid #e7e7e7;background:#fff;overflow:hidden;}

/* notice-list */
.help-notice-wrap .tabmenu .ui-panel{padding:60px;}
.help-notice-wrap table{border-left:none;border-right:none;}
.help-notice-wrap table > thead > tr,
.help-notice-wrap table > thead > tr > th,
.help-notice-wrap table > tbody > tr > td{border:none;}
.help-notice-wrap table > tbody > tr > td:nth-child(2){text-align:left;}
.help-notice-wrap table > tbody > tr > td span.notice{display:inline-block;width:52px;height:30px;line-height:30px;border-radius:16px;color:#fff;background:#3f64c3;}
.help-notice-wrap table > tbody > tr > td .ico-file{margin-left:7px;}

/* inquiry */
.help-inquiry-wrap .tabmenu > .ui-panel{text-align:center;margin-bottom:120px;}
.help-inquiry-wrap .tabmenu .ui-panel:after{content:'';display:block;position:absolute;width:100%;height:2px;background:#e7e7e7;bottom:-60px;}
.help-inquiry-wrap .tit h4{font-size:32px;font-weight:bold;letter-spacing:-1.28px;color:#222;margin-top:120px;}
.help-inquiry-wrap .tit p{font-size:17px;letter-spacing:-0.68px;color:#222;margin-top:19px;}
.help-inquiry-wrap .ico-wrap{width:200px;height:200px;line-height:200px;border-radius:100%;background:#f6f7f8;margin:60px 0;}
.help-inquiry-wrap .center-wrap p{font-size:17px;letter-spacing:-0.68px;color:#222;}
.help-inquiry-wrap .center-wrap p span{display:block;font-size:36px;font-weight:500;letter-spacing:-1.44px;color:#3f64c3;margin:12px 0 23px 0;}
.help-inquiry-wrap .center-wrap ul{width:260px;height:17px;margin:0 auto;margin-bottom:120px;}
.help-inquiry-wrap .center-wrap li{float:left;font-size:17px;letter-spacing:-0.68px;color:#5e5e5e;border-right:1px solid #e7e7e7;padding-right:10px;margin-right:10px;}
.help-inquiry-wrap .center-wrap li:last-child{margin:0;padding:0;border:0;}
/* inquiry-write */
.help-inquiry-wrap .table-tp2{border:0;margin:0;}
.help-inquiry-wrap .table-tp2 > tbody > tr:nth-child(3) > th{vertical-align:top;padding-top:25px;}
.help-inquiry-wrap .radio-group .radio-basic{margin-right:40px;}
.help-inquiry-wrap .tx-exp-tp6{margin-top:10px;}
.popup-inquiry p.bb{border-bottom:1px solid #e7e7e7;padding-bottom:40px;margin-bottom:40px;letter-spacing:-1px;}


/* faq */
.help-faq-wrap > .tabmenu .ui-tab{margin-bottom:97px;}
.help-faq-wrap > .tabmenu > .ui-panel{margin-bottom:120px;padding:60px;}
.help-faq-wrap > .tabmenu > .ui-panel > .tabmenu > .ui-tab li{width:16.66%}
.help-faq-wrap > .tabmenu > .ui-panel{position:relative;overflow:inherit;}
.help-faq-wrap > .tabmenu > .ui-panel > p.ex{position:absolute;top:-55px;left:50%;transform:translateX(-50%);font-size:15px;letter-spacing:-0.6px;color:#5e5e5e;}










