/* top-banner */
.service-top-banner .top-banner-bg{right:0;width:470px;background-image:url(/images/contents/home-service-picto.png);}
.service-top-banner .service-ico{position:absolute;top:64px;right:0;}
.service-top-banner .service-ico li{float:left;width:200px;text-align:center;}
.service-top-banner .service-ico li .tit{font-size:20px;color:#fff;margin-top:27px;}
.service-top-banner .service-ico li .exp{font-size:14px;margin-top:12px;}

/* home-service */
.home-service-wrap{padding:60px 0 140px;}
.home-service-wrap .search-sec .search-filter > li:last-child{border-bottom:1px solid #444;}
.home-service-wrap .list-sec{float:left;width:894px;padding-bottom:140px;}
.home-service-wrap .list-sec .float-wrap{margin-bottom:24px;}
.home-service-wrap .list-sec .float-wrap .num-tx{height:36px;line-height:36px;}
.home-service-wrap .list-sec .cate-list-btn2{height:60px;padding:0;}

/* service-info */
.service-guide{text-align:center;padding:120px 0;}
.service-tit{font-size:40px;font-weight:300;color:#222;}
.service-tit em{font-weight:500;}
.service-exp{font-size:18px;line-height:1.56;color:#222;margin-top:25px;}
.service-point{padding:60px 78px 0 78px;}
.service-point li{float:left;width:228px;margin-right:180px;}
.service-point li:last-child{margin-right:0;}
.service-point li i{width:228px;height:228px;border-radius:100%;background-color:#f6f7f8;margin-bottom:28px;background-size:110px 110px;}
.service-point li p{font-size:30px;}
.service-point li span{display:block;font-size:22px;font-weight:300;letter-spacing:-0.88px;color:#777;margin-top:19px;}

.service-use{text-align:center;padding:120px 0;}
.use-step{padding:60px 48px;}
.use-step li{width:100%;height:380px;}
.use-step li > img{float:left;}
.use-step li > span{position:relative;float:left;width:4px;height:380px;margin:0 70px;background-color:#3f64c3;}
.use-step li > span .ico-point{position:absolute;top:50%;left:50%;width:24px;height:24px;border-radius:100%;border:6px solid #3f64c3;background-color:#f6f7f8;transform:translate(-50%, -50%);}
.use-step li > span .line{position:absolute;top:50%;width:60px;height:1px;background-color:#3f64c3;transform:translateY(-50%);}
.use-step li > p{float:left;width:480px;height:380px;padding-top:146px;}
.use-step li > p .step{display:block;font-size:17px;font-weight:500;color:#3f64c3;}
.use-step li > p .tit{display:block;font-size:26px;font-weight:500;color:#222;margin:14px 0 20px 0;}
.use-step li > p .exp{display:block;font-size:19px;font-weight:300;line-height:1.42;color:#5e5e5e;}
.use-step li:nth-child(odd) > p{text-align:right;padding-right:20px;}
.use-step li:nth-child(even) > p{text-align:left;padding-left:20px;}
.use-step li:nth-child(odd) > span .line{right:18px;}
.use-step li:nth-child(even) > span .line{left:18px;}
.use-step li:first-child, .use-step li:last-child{width:22px;height:1px;background-color:#3f64c3;margin:0 auto;}

/* service-step */
.service-step{width:100%;height:190px;border-bottom:1px solid #e7e7e7;padding-top:60px;}
.service-step > .steps-tp1{width:1400px;margin:0 auto;}
.service-wrap{padding:80px 0 140px 0;}
.service-wrap .service-tit{width:100%;text-align:center;margin-bottom:60px;}
.service-wrap .service-tit h4{font-size:34px;font-weight:500;}
.service-wrap .service-tit h4 em{font-weight:500;color:#3f64c3;}
.service-wrap .service-tit p{font-size:21px;font-weight:300;color:#222;margin-top:17px;}
.service-notify{margin-top:17px;}
.service-notify p{color:#5e5e5e;}
/* car-detail */
.service-detail{border-bottom:1px solid #e7e7e7;padding-bottom:60px;}
.service-detail > div:after{content:'';display:block;clear:both;}
.service-detail .chk-info-wrap{margin-top:40px;}
.service-detail .tit-wrap{margin-bottom:32px;}
.service-detail .tit-wrap li h5{font-size:26px;font-weight:500;}
.service-detail .tit-wrap li p{font-size:34px;}
.service-car-info .img-wrap{float:left;width:393px;height:295px;line-height:295px;text-align:center;background-color:#e7eaf0;margin-right:24px;}
.service-car-info .img-wrap img{vertical-align:middle;}
.service-car-info .table-tp1{float:left;width:783px;height:295px;}
/* payment */
.service-payment{margin-bottom:25px;}
.service-payment .tooltip-wrap{top:-2px;}
.transfer-cost p{font-size:18px;}
.transfer-cost .service-notify{margin-top:18px;}
.transfer-cost .service-notify p{font-size:16px;line-height:1.5;color:#777;word-break:keep-all;margin-top:6px;}
.transfer-cost .service-notify p .ico-dot{background-color:#777;}
/* serviceStep04 */
.account-install{margin-top:20px;}
.account-install-dim{position:absolute;top:-4px;left:-4px;width:384px;height:224px;text-align:center;background-color:rgba(0, 0, 0, 0.8);padding:38px 0;}
.account-install-dim label{display:block;font-size:22px;font-weight:500;color:#fff;margin-bottom:20px;}
.account-install-dim input{display:inline-block;text-align:center;margin-left:25px;}
.account-install-dim em{display:inline-block;font-size:17px;color:#fff;margin-left:8px;}
.account-install > span{display:block;font-size:17px;color:#222;margin-top:14px;}
.radio-chk-wrap.icon .radio-basic .account-install > p{height:auto;line-height:initial;font-size:32px;margin-top:0;}
/* serviceStep05 */
.service-banner{width:100%;height:170px;background-color:#2d5fde;margin-top:80px;}

/* popup-no-warranty */
.popup-no-warranty p{font-size:19px;line-height:1.53;text-align:center;letter-spacing:-0.76px;color:#222;}
/* popup-history */
.popup-history .car-info-wrap{width:100%;height:236px;text-align:center;padding:60px 0;border:1px solid #e7e7e7;background:#f6f7f8;margin-bottom:60px;}
.popup-history .car-info-wrap p.name{font-size:28px;font-weight:500;letter-spacing:-1.12px;color:#222;margin-bottom:22px;}
.popup-history .car-info-wrap p.name span{color:#3f64c3;margin-left:40px;}
.popup-history .car-info-wrap p.name span:before{position:relative;top:4px;left:-20px;content:'';display:inline-block;width:2px;height:26px;background:#d7d7d7;}
.popup-history .car-info-wrap p.date{font-size:17px;letter-spacing:-0.68px;color:#5e5e5e;margin-bottom:19px;}

.menu-list.history{border:0;}
.menu-list.history > li{border:0;margin-bottom:40px;}
.menu-list.history li dt a{background:#3f64c3;padding:19px 26px;}
.menu-list.history li dt a h5{color:#fff;}
.menu-list.history li dt a h5:after{content:'';position:absolute;top:30px;transform:translateY(-50%);right:15px;width:12px;height:6px;;background:url(/images/ico/ico-sel-arrow.png);background-size:100%;}
.menu-list.history li dt a.down h5:after{transform-origin:top center;transform:translateY(-50%);transition:transform 0.3s;}
.menu-list.history li dt a.up h5:after{transform-origin:top center;transform: rotate(180deg);-webkit-transform: rotate(180deg);transition:transform 0.3s;}
.menu-list.history li dd{padding:40px;border:1px solid #e7e7e7;border-top:0;overflow:hidden;}

.menu-list.history ul.accident{width:100%;overflow:hidden;}
.menu-list.history ul.accident li{float:left;width:25%;text-align:center;font-size:26px;font-weight:500;letter-spacing:-1.04px;color:#3f64c3;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;padding-bottom:39px;}
.menu-list.history ul.accident li:nth-last-child(-n + 4){border-bottom:0;padding:40px 0 0 0;}
.menu-list.history ul.accident li:nth-child(4n){border-right:0;}
.menu-list.history ul.accident li span{display:block;width:120px;height:32px;line-height:32px;text-align:center;font-size:16px;letter-spacing:-0.64px;border-radius:16px;border:1px solid #e7e7e7;color:#222;background:#f6f7f8;margin:0 auto;margin-bottom:11px;}
.menu-list.history ul.accident.special li{width:33.33%;padding:0;}
.menu-list.history ul.accident.special li:last-child{border:0;}
.menu-list.history ul.accident.special li span{display:block;width:200px;}

.popup-history [class^="tx-"]{width:100%;font-size:16px;letter-spacing:-1px;text-align:left;color:#222;}
.popup-history [class^="tx-"].lh{line-height:1.69;}
.popup-history b{color:#3f64c3;font-weight:500;}
.popup-history .tx-c{text-align:center;}
.popup-history .tx-l{text-align:left;margin-bottom:40px;}
.popup-history .tx-l.fs15{font-size:15px;color:#5e5e5e;margin-top:27px;}
.popup-history .tx-c.bg{font-size:16px;padding:16px 0;background:#f6f7f8;letter-spacing:-0.68px;margin-top:39px;}
.popup-history .tx-l.bg{padding:40px;background:#f6f7f8;margin:39px 0 0 0;letter-spacing:-0.64px;}
.popup-history .tx-l.bg ul.contents{width:100%;}
.popup-history .tx-l.bg ul.contents li{width:100%;font-size:17px;font-weight:500;color:#222;margin-top:26px;}
.popup-history .tx-l.bg ul.contents li span{display:block;width:100%;line-height:1.63;font-size:16px;font-weight:normal;color:#5e5e5e;margin-top:10px;padding-left:7px;}

.popup-history table.service-info tbody td{padding:23px;vertical-align:top;}
.popup-history table.service-info tbody li{position:relative;width:95%;line-height:1.59;color:#777;margin:0 0 10px 11px;}
.popup-history table.service-info tbody li:last-child{margin-bottom:0;}
.popup-history table.service-info tbody li:before{position:absolute;top:0;left:-15px;content:'·';display:block;width:15px;height:12px;text-align:center;}
.popup-history table.service-info tbody li.chk{position:relative;width:85%;color:#777;margin-left:45px;}
.popup-history table.service-info tbody li.chk:before{position:absolute;top:4px;left:-30px;content:'';display:block;width:15px;height:12px;background-image:url(/images/ico/ico-essential-chk.png);}

.popup-history .history-info-ex h4{width:100%;font-size:28px;text-align:center;margin:60px 0 38px 0;}
.popup-history .history-info-ex h4 span{font-size:inherit;}
.popup-history .history-info-ex ul{width:312px;margin:0 auto;margin-bottom:40px;}
.popup-history .history-info-ex ul:after{content:'';display:block;clear:both;}
.popup-history .history-info-ex ul li{float:left;width:136px;height:136px;text-align:center;font-size:19px;font-weight:500;line-height:1.42;letter-spacing:-0.76px;color:#222;border-radius:100%;background:#e7e7e7;margin-right:40px;padding:44px 0;}
.popup-history .history-info-ex ul li:last-child{margin:0;}
.popup-history .history-info-ex .from{font-size:21px;font-weight:500;letter-spacing:-0.84px;color:#222;margin-top:60px;}
.popup-history .history-info-ex .from span{display:block;font-size:16px;font-weight:normal;color:#5e5e5e;margin-bottom:12px;}
/* popup-performance */
.popup-performance .tx-wrap{width:100%;border:1px solid #e7e7e7;background-color:#f6f7f8;padding:40px;}
.popup-performance .tx-wrap li{color:#5e5e5e;margin-top:15px;}
.popup-performance .tx-wrap li:first-child{margin-top:0;}
.popup-performance .tx-wrap li:before{content:'';display:inline-block;width:3px;height:3px;border-radius:100%;background-color:#5e5e5e;margin:0 12px 4px 0;}

.popup-performance .table-tp1{margin-top:60px;}
.popup-performance .table-tp1 thead th{text-align:center;}
.popup-performance .table-tp1 tbody span{display:inline-block;width:30%;}
.popup-performance .table-tp1 tbody em{color:#3f64c3;margin-right:3px;}

.popup-performance .tx-wrap.tit{border:none;padding:60px 40px;}
.popup-performance .tx-wrap.tit li{line-height:1.8;margin-top:33px;text-indent:-14px;padding-left:14px;}
.popup-performance .tx-wrap.tit li:first-child{font-size:16px;font-weight:500;color:#222;margin-top:0;}
.popup-performance .tx-wrap.tit li:before{display:none;}
.popup-performance .tx-wrap.tit li span{display:block;margin-left:12px;}

/* table-tp2 */
.table-tp2{border-collapse:separate;background-color:#fff;padding:19px 39px;margin-top:24px;}
.table-tp2 > tbody > tr > th{font-size:16px;line-height:24px;border-right:0;border-bottom:1px solid #f2f2f2;background-color:#fff;padding:0;}
.table-tp2 > tbody > tr > td{border-right:0;border-bottom:1px solid #f2f2f2;padding:20px 0;}
.table-tp2 > tbody > tr > td .bridge{display:inline-block;vertical-align:middle;margin-right:10px;}
.table-tp2 > tbody > tr > td .bridge2{display:block;margin-top:10px;}
.table-tp2 > tbody > tr > td em{margin-left:10px;}
.table-tp2 > tbody > tr:last-child > th{border-bottom:0;}
.table-tp2 > tbody > tr:last-child > td{border-bottom:0;}
.service-form{border-bottom:1px solid #e7e7e7;padding-bottom:60px;}
.service-form .table-tp2 span.chk-mt{display:block;margin-top:20px;}
.service-form .table-tp2 span.chk-mb{display:block;margin-bottom:20px;}
.service-form .table-tp2 span.btn-base{padding:0;}
.service-form .table-tp2 .tx-tit{font-size:16px;line-height:1;color:#222;margin-bottom:12px;}
.service-form .table-tp2 .tx-sub{font-size:14px;line-height:1;color:#ff0000;margin:12px 0 0 423px;}
.service-form .table-tp2.row1{margin-top:0;}
.service-form .table-tp2.row1 > tbody > tr > td{padding:0;}
.service-form .radio-basic{width:143px;}
.service-form .radio-tax .radio-group{padding:14px 0;}
.service-form .radio-sign .radio-group{padding:14px 0;}