/* wrap */
#wrap{min-width:1200px;}

/* header */
#header-sec{height:110px;border-bottom:1px solid #d7d7d7;}
#header-sec .inner{margin:0 auto;width:1200px;position:relative;}
#header-sec h1{padding-top:29px;}
#header-sec h1 a{display:block;width:180px;height:57px;background:url(/images/common/h1-logo-glovis.svg) 0 0 no-repeat;font-size:0;text-indent:-20000px;}
#header-sec .utilmenu{position:absolute;right:0;top:35px;}
#header-sec .utilmenu li{float:left;margin-left:6px;}
#header-sec .utilmenu li:first-child{margin-left:0;}
#header-sec .utilmenu li a{display:block;}
#header-sec .utilmenu li.ico a{width:40px;height:40px;font-size:0;text-indent:-20000px;}
#header-sec .utilmenu li.logout a{background:url(/images/common/ico-logout.svg) 0 0 no-repeat;background-size:40px;}
#header-sec .utilmenu li.mypage a{background:url(/images/common/ico-mypage.svg) 0 0 no-repeat;background-size:40px;}
#header-sec .utilmenu li.menu a{background:url(/images/common/ico-category.svg) 0 0 no-repeat;background-size:40px;}
#header-sec .utilmenu li.login a{background:url(/images/common/ico-login.svg) 0 0 no-repeat;background-size:40px;}
#header-sec .utilmenu li.signup a{background:url(/images/common/ico-signup.svg) 0 0 no-repeat;background-size:40px;}
#header-sec .utilmenu li.txt{margin-right:20px;margin-left:0;margin-top:6px;}
#header-sec .utilmenu li.txt a{font-size:14px;color:#222;border:1px solid #777;padding:7px 10px 5px;border-radius:4px;}
#header-sec .utilmenu li.txt.on a{color:#c22d40;border:1px solid #c22d40;}

/* gnb */
.gnb-wrap{position:absolute;left:307px;top:47px;}
.gnb-wrap #gnb{width:100%;}
.gnb-wrap #gnb:after{content:'';display:block;clear:both;}
.gnb-wrap #gnb > li{float:left;margin-left:75px;position:relative;}
.gnb-wrap #gnb > li:first-child{margin-left:0;}
.gnb-wrap #gnb > li > a{font-size:17px;color:#222;}
.gnb-wrap #gnb > li.active > a, .gnb-wrap #gnb > li > a:hover{color:#3f64c3;}
.gnb-wrap #gnb > li .submenu{position:absolute;left:0px;top:20px;padding:10px;border:1px solid #000;border-radius:3px;z-index:1;background:#fff;width:150px;transform:scaleY(0);transform-origin: 0% 0%; opacity:0}
.gnb-wrap #gnb > li .submenu li{margin-top:10px;}
.gnb-wrap #gnb > li .submenu li:first-child{margin-top:0;}
.slide-up{
  animation-name: slideUp;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(.2, 1, .3, 1);
}
.slide-down{
  display:block !important;
  animation-name: slideDown;
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-timing-function:cubic-bezier(.2, 1, .3, 1);
}
@keyframes slideUp {
  0%{
    opacity:1;transform:scaleY(1);
  }
  99%{
    opacity:0;transform:scaleY(0.8);
  }
  100%{
    transform:scaleY(0);
  }
}
@keyframes slideDown {
  from {
    opacity:0;transform:scaleY(0.8);
  }
  to{
    opacity:1;transform:scaleY(1) rotate(.001deg);;
  }
}
.gnb-wrap #gnb > li .submenu:before{position:absolute;top:-7px;right:0;left:0;opacity:.0001;content:'';height:7px;}
.gnb-wrap #gnb > li.active .submenu li a:hover{color:#e93a84;}

/* content */
.content-wrap{margin:0 auto;width:1200px;}
.content-wrap:after{content:'';display:block;clear:both;}
.content-wrap.pd-tp1{padding:80px 0 140px;}

/* footer */
#footer-sec{background:#333;}
#footer-sec .sec-top{border-bottom:1px solid rgba(255,255,255,.1);padding:30px 0 21px;}
#footer-sec .sec-bottom{padding:48px 0 68px;}
#footer-sec .inner{margin:0 auto;width:1200px;position:relative;padding-left:304px;}
#footer-sec .ft-menu{width:100%;}
#footer-sec .ft-menu:after{content:'';display:block;clear:both;}
#footer-sec .ft-menu li{float:left;margin-left:53px;}
#footer-sec .ft-menu li:first-child{margin-left:0;}
#footer-sec .ft-menu li a{color:#fff;}
#footer-sec .ft-logo{position:absolute;left:0;top:0;}
#footer-sec .ft-logo a{display:block;width:143px;height:33px;background:url(/images/common/h2-logo-glovis.png) 0 0 no-repeat;font-size:0;text-indent:-20000px;}
#footer-sec .copyright{font-weight:300;color:#aaa;}
#footer-sec .copyright p{margin-top:10px;}
#footer-sec .copyright p:first-child{margin-top:0;}
#footer-sec .copyright p i.line{display:inline-block;width:1px;height:11px;background:#5f5f5f;margin:0 17px;}