[class^="content-wrap main-"]{padding:120px 0;}
[class^="content-wrap main-"] h3{font-size:48px;font-weight:300;letter-spacing:-1.92px;text-align:center;}
[class^="content-wrap main-"] h3 em{font-weight:bold;color:#2d5fde;}

/* best-pick */
.best-pick-wrap{width:1200px;height:573px;margin:0 auto;border:1px solid #e7e7e7;box-sizing:content-box;margin-top:63px;}
.best-pick-wrap [class^="best-pick-0"]{float:left;width:600px;height:573px;}
.best-pick-wrap [class^="best-pick-0"]:after{content:'';display:block;clear:both;}
.best-pick-wrap [class^="best-pick-0"] li{float:left;width:300px;height:191px;background:#f7f7f7;}
.best-pick-wrap .best-pick-01 li:first-child{position:relative;width:600px;height:382px;}
.best-pick-wrap .info{width:300px;height:191px;padding:51px 40px 51px 52px;word-break:keep-all;}
.best-pick-wrap div.info{position:absolute;right:0;bottom:0;background:rgba(255,255,255,0.9);}
.best-pick-wrap li.info{position:relative;background:#fff;}
.best-pick-wrap li.info:after{position:absolute;content:'';display:block;border-top:8px solid transparent;border-bottom:8px solid transparent;border-left:8px solid #fff;right:-8px;top:50%;transform:translateY(-50%);}
.best-pick-wrap .best-pick-02 li.info:nth-child(4):after{right:inherit;left:-8px;border-left:none;border-right:8px solid #fff;}
.best-pick-wrap .info .name{font-size:22px;line-height:1.27;letter-spacing:-1.1px;color:#222;margin-bottom:6px;}
/* main-sell-sec */
.main-sell-sec > p{font-size:26px;letter-spacing:-1.04px;text-align:center;margin:23px 0 54px 0;}
.main-sell-sec > .sell-service-exp{padding:0 112px;}
.main-sell-sec > .sell-service-exp li{width:240px;margin-right:128px;}
.main-sell-sec > .sell-service-exp li > .exp{font-size:22px;font-weight:300;line-height:28px;letter-spacing:-1.2px;color:#777;margin-top:20px;}
.main-sell-sec > .sell-service-exp li > .tit{font-size:30px;font-weight:500;color:#222;margin-top:18px;}
/* main-price-sec */
.today-price{height:538px;margin:60px 0 140px 0;}
.today-price li{float:left;width:600px;height:100%;}
.today-price .price-car{background-color:#fff;padding:60px 0;text-align:center;}
.price-car .price-car-name{font-size:30px;font-weight:500;letter-spacing:-1.5px;color:#222;}
.price-car .price-car-img{height:271px;line-height:271px;}
.price-car .price-car-img img{vertical-align:middle;}
.price-car .price-car-state{width:100%;padding:0 70px;}
.price-car .price-car-state > li{float:left;width:100px;height:auto;font-size:20px;font-weight:500;letter-spacing:-0.8px;text-align:center;color:#777;margin-right:20px;}
.price-car .price-car-state > li:nth-child(2){font-size:18px;}
.price-car .price-car-state > li:last-child{margin-right:0;}
.price-car .price-car-state > li > p{display:block;width:80px;height:80px;font-size:18px;font-weight:bold;line-height:80px;letter-spacing:-0.72px;color:#2d5fde;border-radius:100%;background-color:#f6f7f8;margin:0 auto;margin-bottom:17px;}
.price-car .price-car-state > li:nth-child(2) > p{margin-bottom:19px;}
.price-car .price-car-state > li > .ko{font-size:18px;font-weight:normal;}
.price-car .price-car-state > li > .en{font-weight:normal;}
.today-price .price-graph{background-color:#e7eaf0;}
/* main-video-sec */
.main-video-sec{position:relative;height:696px;}
.main-video-sec .video{position:absolute;bottom:140px;left:0;width:1200px;height:676px;background-color:#e7eaf0;}
/* main-banner-wrap */
.main-banner-wrap{height:200px;background-color:#5e2ee6;}
/* main-popular-sec */
.main-popular-sec .list-slick{margin-top:60px;}
.main-popular-sec .btn-arrow-prev-mid, .main-popular-sec .btn-arrow-next-mid{position:absolute;top:180px;}
.main-popular-sec .btn-arrow-prev-mid{left:-80px;}
.main-popular-sec .btn-arrow-next-mid{right:-80px;}
.main-advertise{width:282px;height:360.3px;border:none;background-color:#2d5fde;padding:39px 31px;}
.main-advertise .ad-tit{font-size:28px;font-weight:bold;letter-spacing:-1.12px;color:#fff;}
.main-advertise .ad-exp{font-size:19px;line-height:28px;letter-spacing:-0.95px;text-align:justify;color:#fff;opacity:0.8;margin-top:24px;}