/* market-top-banner */
.market-top-banner .top-banner-bg{left:750px;width:514px;background-image:url(/images/contents/market-price-picto.png);}

/* market-wrap */
.market-wrap{padding:60px 0 89px 0;}

/* market-car-info */
.market-car-info{margin-top:30px;}
.market-car-info:after{content:'';display:block;clear:both;}
.market-car-info .img-wrap{float:left;width:304px;height:169px;margin:0 72px 0 30px;}
.market-car-info .img-wrap img{height:100%;vertical-align:bottom;}
.market-car-info .table-tp1{float:left;width:794px;}

.market-car-info + .option-cate{padding-top:0;}
.market-car-info + .option-cate .car-option-tp2{border:none;}
.market-car-info + .option-cate .car-option-tp2 .cate-ico{padding:71px 0 60px 0;}

/* market-add-info */
.market-add-info{position:relative;border:1px solid #dadada;padding: 40px 0 30px 0;}
.market-add-info:after{content:'';display:block;clear:both;}
.market-add-info ul{float:left;}
.market-add-info ul li{float:left;}
.market-add-info ul li{margin-right:32px;}
.market-add-info ul li:first-child{margin-top:3px;margin-right:24px;}
.market-add-info ul li:last-child{margin-right:0;}
.market-add-info .distance{width:45%;padding-left:44px;}
.market-add-info .distance li:last-child{width:242px;padding-top:3px;}
.market-add-info .color{width:55%;}
.market-add-info .btn-base{position:absolute;right:25px;bottom:21px;font-size:12px;}
.market-add-info .btn-base i{margin:0 0 2px 4px;}

/* market-banner */
.market-banner{padding:64px 0 87px 0;}
.market-banner:after{content:'';display:block;clear:both;}
.market-banner .pic{float:left;width:224px;height:249px;margin:0 96px 0 103px;background:url(/images/contents/market-banner-bg.png) 50% 50% no-repeat;}
.market-banner .con{float:left;}
.market-banner .con p{font-size:20px;line-height:1.5;color:#3f3f3f;}
.market-banner .con p span{display:block;font-size:28px;line-height:1.29;margin-bottom:10px;}

/* popup-grade-wrap */
.popup-grade{padding:32px 40px}
.popup-grade .grade{height:344px;border:1px solid #e7e7e7;padding:25px 7px 32px 24px;}
.popup-grade .grade .radio-group li{height:32px;line-height:32px;margin-bottom:4px;}
.popup-grade .grade .radio-group li .btn-base{position:absolute;left:198px;}
.popup-grade .grade .con{line-height:1.5;color:#262626;}
.popup-grade .float-wrap{font-size:16px;color:#262626;padding-right:20px;margin-bottom:8px;}
.popup-grade .float-wrap .price{color:#486fca;}

/* popup-report */
.popup-report{padding:45px 0 40px;}
.popup-report .w-line{padding-top:0;border-top:1px solid #d7d7d7;}
.popup-report .report-wrap{width:auto;padding:0 55px;}
.popup-report .report-tit{height:64px;}
.popup-report .report-tit .img-wrap{width:50px;height:64px;margin-right:16px;}
.popup-report .report-tit .tit-wrap{width:calc(100% - 66px);height:64px;padding-bottom:10px;}
.popup-report .report-tit .tit-wrap span{font-size:12px;font-weight:500;}
.popup-report .report-tit .tit-wrap span.num{margin-right:32px;}
.popup-report .report-tit .tit-wrap h5{font-size:21px;margin-top:17px;}
.popup-report .report-tit .qr-wrap{bottom:-2px;right:-16px;}
.popup-report .report-tit .qr-wrap span{float:left;padding-top:38px;}
.popup-report .report-tit .qr-wrap img{width:55px;height:55px;}

.popup-report .report-info{padding-top:44px;}
.popup-report .report-info .img-wrap{width:279px;height:138px;margin-right:47px;}
.popup-report .report-info .car-info{width:396px;height:138px;margin-right:47px;}
.popup-report .report-info .car-info .car-name{font-size:19px;padding-left:10px;margin-bottom:10px;}
.popup-report .report-info .table-report tr{height:26px;}
.popup-report .report-info .table-report tr th{font-size:11px;padding-left:11px}
.popup-report .report-info .table-report tr td{font-size:11px;padding-left:11px} 
.popup-report .report-info .car-option{width:319px;height:138px;}
.popup-report .report-info .car-option li{width:33.33%;font-size:11px;margin-top:20px;}
.popup-report .report-info .car-option li i{width:28px;height:28px;}
.popup-report .report-info .car-option li span{display:block;margin-top:6px;}

.popup-report .report-price{margin-top:55px;}
.popup-report .report-price li .tit{font-size:16px;}
.popup-report .report-price li .tit span{display:inline-block;font-size:10px;margin-left:15px;}
.popup-report .report-price li .con{height:299px;}

.popup-report .report-msg p{float:right;font-size:16px;color:#222;}
