.member-contents{padding:80px 0 140px}
.member-tit-area h3{font-size:40px;font-weight:500;text-align:center}
.member-tit-area h4{font-size:34px;font-weight:500;line-height:1.28;text-align:center;}
.member-tit-area h3 + p{font-size:26px;font-weight:300;line-height:1.38;letter-spacing:-1.04px;text-align:center;color:#222;margin-top:35px;}
.member-tit-area h4 + p{font-size:21px;font-weight:300;line-height:1.33;letter-spacing:-0.84px;text-align:center;color:#222;margin-top:20px;}
.member-tit-area h4 span{color:#3f64c3;}
.member-etc-area{font-size:17px;line-height:1.59;letter-spacing:-0.68px;color:#5e5e5e;text-align:center;border-top:1px solid #e7e7e7;padding-top:40px;margin-top:60px}
.member-etc-area .btn{display:inline-block;font-weight:500;color:#3f64c3;border-bottom:1px solid #3f64c3;line-height:17px;padding:0 1px}
.choose-wrap{width:894px;margin:80px auto 0;overflow:hidden}
.choose-box{background-color:white;width:435px;height:560px;text-align:center;position:relative;}
.choose-box.normal{padding-top:200px;float:left;}
.choose-box.dealer{padding-top:200px;float:right;}
.choose-box:after{content:'';display:block;width:140px;height:140px;position:absolute;top:40px;left:50%;margin-left:-70px;}
.choose-box.normal:after{background:url(/images/contents/member-female-bg.png) 0 0 no-repeat;}
.choose-box.dealer:after{background:url(/images/contents/member-male-bg.png) 0 0 no-repeat;}
.choose-box h4{font-size:30px;line-height:30px;color:#222}
.choose-box h5{font-size:17px;color:#222}
.choose-box p{font-size:17px;color:#5e5e5e;margin:10px 0 20px}
.other-join{width:330px;margin:60px auto 0}
.other-join h5{position: relative;}
.other-join h5:before, .other-join h5:after{content:'';display:block;width:68px;height:1px;background:#e7e7e7;position:absolute;top:7px;}
.other-join h5:before{left:0;}
.other-join h5:after{right:0;}

.member-sec-w{background:#fff;}
.content-wrap.member-steps{padding:80px 0 100px;}
.member-contents .terms-agree-all{margin-top:30px;}
.member-contents .terms-agree-all .chk-box{margin-left:59px;}
.member-contents .terms-agree-all .chk-box:first-child{margin-left:0;}
.member-contents .terms-agree-wrap{width:894px;margin:0 auto;}
.member-contents .w-line{width:894px;margin:0 auto;}

/* memberCertify */
.certify-wrap.member{width:588px;border:1px solid #e7e7e7;background-color:#fff;padding:60px 0 80px;margin-top:60px;}
.certify-wrap.member P{font-size:17px;}

/* memberStep01 */
.join-form{width:894px;margin:60px auto 0;}
.join-form .table-tp2{margin-top:0;}
.join-form .table-tp2 .radio-group .radio-basic{margin-right:40px;}
.join-form .table-tp2 .input-file-wrap{display:inline-block;width:calc(100% - 65px);}
.join-form .table-tp2 .tx-tit{display:inline-block;width:65px;}
.join-form .table-tp2 .tx-sub{line-height:1;letter-spacing:-0.56px;color:#ff0000;margin-top:12px;}
.join-form .table-tp2 .tx-exp-tp6{line-height:1.71;text-indent:initial;padding-left:0;margin-top:18px;}
.join-form .table-tp2 .tx-exp-tp6.line1{line-height:1;}
.join-form .table-tp2 .tx-exp-tp6 span{color:#ff0000;}
.join-form .table-tp2 .table-tp1 tr td{padding:8px 12px;}
.join-form .table-tp2 + .terms-agree-wrap{margin-top:40px;}

/* memberStep02 */
.member-co-wrap{width:894px;margin:0 auto;}
.member-co-wrap .ment{width:814px;font-size:21px;font-weight:300;line-height:1.33;letter-spacing: -0.84px;text-align:center;color:#222;border-top:1px solid #e7e7e7;padding:60px 0 40px;margin:60px auto 0;}
.member-co-wrap .ment span{font-weight:normal;color:#3f64c3;}
.member-co-wrap ul:after{content:'';display:block;clear:both;}
.member-co-wrap ul li{float:left;width:282px;height:340px;border:1px solid #e7e7e7;background-color:#fff;background-repeat:no-repeat;background-position:bottom;padding:57px 48px;margin-right:24px;}
.member-co-wrap ul li span{font-size:19px;line-height:1.42;letter-spacing:-1.52px;color:#3f4a65;}
.member-co-wrap ul li p{font-size:26px;font-weight:500;letter-spacing:-2.08px;color:#222;margin-top:10px;}
.member-co-wrap ul li a{display:block;font-size:16px;font-weight:bold;line-height:1.38;letter-spacing:-1.28px;color:#3f64c3;text-decoration:underline;margin-top:40px;}
.member-co-wrap ul li:nth-child(1){background-image:url(/images/contents/member-banner-01.png);}
.member-co-wrap ul li:nth-child(2){background-image:url(/images/contents/member-banner-02.png);}
.member-co-wrap ul li:nth-child(3){background-image:url(/images/contents/member-banner-03.png);margin-right:0;}

/* login-contents */
.login-contents{padding:120px 0 140px;}
.login-tit-area h3{font-size:40px;font-weight:700;line-height:1.25;letter-spacing:-1.6px;text-align:center;margin-bottom:80px;}
.login-tit-area h4{font-size:40px;font-weight:700;line-height:1.25;letter-spacing:-1.6px;text-align:center;}
.login-tit-area h4 span{color:#3f64c3;}
.login-tit-area p{font-size:26px;font-weight:300;line-height:1.38;letter-spacing:-1.04;text-align:center;color:#222;margin-top:40px;}

.login-contents .ico-tx-wrap{display:block;font-size:18px;line-height:1.56;letter-spacing:-0.72px;text-align:center;color:#222222;padding:60px 0;}
.login-contents .ico-tx-wrap .ico-wrap{display:block;width:200px;height:200px;line-height:200px;border-radius:100%;background-color:#fff;margin:0 auto 59px;}
.login-contents .ico-tx-wrap p span{color:#3f64c3;}

.login-contents .tx-wrap{width:588px;font-size:15px;line-height:1.6;letter-spacing:-0.6px;text-align:left;color:#5e5e5e;margin:60px auto 0;}
.login-contents .tx-wrap .tit{font-size:19px;font-weight:500;line-height:1;color:#3f64c3;margin-bottom:18px;}

.login-contents .tx-bg{display:table;width:100%;height:100px;font-size:17px;letter-spacing:-0.68px;color:#222;text-align:center;background-color:#f6f7f8;margin-bottom:40px;}
.login-contents .tx-bg p{display:table-cell;line-height:1.35;vertical-align:middle;}
.login-contents .tx-bg dl{display:table-cell;vertical-align:middle;text-align:center;padding-left:0;}
.login-contents .tx-bg + dl dd:last-child{padding-left:35%;margin-top:10px;}

.login-contents .find-info{width:588px;border:1px solid #e7e7e7;border-top:0;background-color:#fff;padding:40px 0;margin:0 auto;}
.login-contents .find-info:after{content:'';display:block;clear:both;}
.login-contents .find-info li{float:left;width:50%;font-size:17px;letter-spacing:-0.68px;color:#222;}
.login-contents .find-info li:nth-child(1){text-align:right;padding-right:40px;}
.login-contents .find-info li:nth-child(2){text-align:left;border-left:1px solid #d7d7d7;padding-left:40px;}


/* login-wrap */
.login-wrap{width:588px;border:1px solid #e7e7e7;background-color:#fff;padding:60px 109px;margin:0 auto;}
.login-wrap .tabmenu .ui-tab{margin-bottom:40px;}
.login-wrap .tabmenu .ui-tab li{width:50%;}
.login-wrap .login-form ul li{margin-top:10px;}
.login-wrap .login-form ul li:first-child{margin-top:0;}
.login-wrap .other-login{border-top:1px solid #e7e7e7;margin-top:40px;}
.login-wrap dl{font-size:17px;letter-spacing:-0.68px;text-align:left;color:#5e5e5e;padding-left:13px;}
.login-wrap dl:after{content:'';display:block;clear:both;}
.login-wrap dl dt{float:left;width:35%;font-weight:500;color:#222;margin-top:20px;}
.login-wrap dl dd{margin-top:20px;}
.login-wrap dl dd em{color:#3f64c3;}
.login-wrap dl dt:first-child{margin-top:0;}
.login-wrap dl dt:first-child + dd{margin-top:0;}
.login-wrap .tx-tit{font-size:17px;color:#222;margin-bottom:20px;}
.login-wrap .tx-sub{font-size:15px;line-height:1.6;letter-spacing:-0.8px;color:#5e5e5e;margin-top:18px;}
.login-wrap .tx-sub span{color:#3f64c3;}

/* captcha-wrap */

.captcha-wrap .captcha-box{background-color:#f6f7f8;padding:10px 10px 12px 10px;margin-top:20px;}
.captcha-wrap .captcha-box .img-wrap{float:left;width:200px;height:90px;margin-right:10px;}
.captcha-wrap .captcha-box .img-wrap img{width:100%;}
.captcha-wrap .captcha-box .btn-wrap{float:left;width:138px;height:90px;margin-bottom:10px;}
.captcha-wrap .captcha-box .btn-wrap .btn-base{font-size:15px;color:#5e5e5e;border:1px solid #d7d7d7;}


/* loginInfo */
.certify-wrap{text-align:center;margin:0 auto;}
.certify-wrap .ico-wrap{width:200px;height:200px;line-height:200px;border-radius:100%;background-color:#f6f7f8;}
.certify-wrap .tit{font-size:22px;font-weight:500;line-height:1.36;
letter-spacing:-0.88px;color:#222;margin-bottom:23px;}
.certify-wrap .tx-sub{font-size:15px;line-height:1.6;letter-spacing:-0.6;color:#5e5e5e;margin-top:40px;}
.certify-wrap p span{color:#3f64c3;}

.login-wrap .login-form .vert-step > li{margin-top:40px;}
.vert-step{position:relative;}
/* .vert-step:before{content:'';position:absolute;top:0;left:15px;display:block;width:1px;height:-webkit-fill-available;background-color:#e7e7e7;} */
.vert-step li:after{content:'';display:block;clear:both;}
.vert-step li .step{float:left;display:block;width:32px;height:32px;font-size:17px;font-weight:500;line-height:32px;text-align:center;color:#fff;border-radius:100%;background-color:#ccced2;margin-right:28px;}
.vert-step li .con{float:left;width:308px;}
.vert-step li .con .tit{font-size:22px;font-weight:500;line-height:1.09;letter-spacing:-0.88px;color:#222;margin:5px 0 11px;}
.vert-step li .con .tit + span{display:block;font-size:17px;line-height:1.35;letter-spacing:-0.68px;color:#5e5e5e;margin-bottom:20px;}
.vert-step li .con .tx-sub{margin-top:40px;}


.login-contents .member-etc-area{border-top:none;margin-top:0;}
.login-contents .tx-not{line-height:1.57;letter-spacing:-0.66px;color:#ff0000;margin-top:12px;}
.login-contents .w-line{width:588px;margin:0 auto;}
.login-contents .w-line + p{font-size:17px;letter-spacing:-0.68px;text-align:center;color:#5e5e5e;margin-top:60px;}

/* popup-agenncy */
.popup-agency{min-height:725px;}
.popup-agency .agency-form{background-color:#f6f7f8;padding:60px 39px 32px;}
.popup-agency .agency-form label{display:block;font-size:20px;font-weight:500;letter-spacing:-0.88px;color:#222;margin-bottom:20px;}
.popup-agency .agency-form .bridge{margin-right:10px;}
.popup-agency .agency-con{text-align:center;padding:40px 39px 60px;}
.popup-agency .agency-con p{font-size:16px;line-height:1.42;letter-spacing:-0.76px;color:#5e5e5e;padding:120px 0 140px;}
.popup-agency .agency-con .w-line{padding-top:40px;}