/* generalMain */
/* general-admin-tab */
.general-admin-tab{width:100%;background-color:#3f64c3;padding:47px 120px;}
.general-admin-tab:after{content:'';display:block;clear:both;}
.general-admin-tab li{float:left;width:84px;margin-right:106px;text-align:center;color:#fff;}
.general-admin-tab li:last-child{margin-right:0;}
.general-admin-tab li > a{display:block;width:84px;height:84px;font-size:36px;line-height:84px;text-align:center;color:#3f64c3;background:#fff;border-radius:100%;margin-bottom:16px;}
/* sell-ico-wrap */
.sell-ico-wrap{margin-top:80px;}
/* recently-list */
[class*="general-"] .admin-list.tp7 tr.list-none td{font-size:17px;padding:252px 0;}
[class*="general-"] .admin-list.tp7 .table-tp1 tr.more{border:none;}
[class*="general-"] .admin-list.tp7 .table-tp1 tr.more td{padding:0;}
[class*="general-"] .list-wrap .list-tit{margin-bottom:16px;}
[class*="general-"] .list-wrap .list-tit span.fr{height:48px;}

.general-sec .list-wrap.border{border-top:1px solid #e7e7e7;padding:23px 24px 0 24px;margin-top:40px;}
.general-sec .list-wrap.border .list-tit{width:100%;margin-bottom:11px;}
.general-sec .list-wrap.border .list-tit:after{content:'';display:block;clear:both;}
.general-sec .list-wrap.border .list-tit h3{float:left;height:21px;font-size:21px;color:#222;}
.general-sec .list-wrap.border .list-tit h3 span{display:inline-block;font-size:14px;font-weight:normal;color:#5e5e5e;margin-left:16px;}
.general-sec .list-wrap.border .list-tit .btn-base{float:right;}
.general-sec .list-wrap.border .admin-list.tp7 .img-cover{width:130px;height:84px;}
.general-sec .list-wrap.border .admin-list.tp7 .summary{padding-top:12px;}
.general-sec .list-wrap.border .admin-list.tp7.note .summary{padding-top:17px;}
.general-sec .list-wrap.border .admin-list.tp7.note .img-cover{float:none;width:130px;height:84px;margin:0 auto;}

.general-sec .list-wrap.recently{padding-top:62px;border-top:1px solid #aaa;margin-top:60px;}

/* bidding-inquiry */
.bidding-inquiry{margin-top:80px;}
.bidding-inquiry h5{font-size:26px;font-weight:500;color:#222;margin-bottom:33px;}
.bidding-inquiry ul{width:100%;margin-bottom:33px;overflow:hidden;}
.bidding-inquiry ul li{float:left;height:96px;line-height:96px;font-size:18px;font-weight:500;colro:#222;border:1px solid #e7e7e7;background:#f6f7f8;padding:0 32px;}
.bidding-inquiry ul li:first-child{width:34.229%;margin-right:2.5%}
.bidding-inquiry ul li:last-child{width:63.271%}
.bidding-inquiry ul li p.time{float:right;font-size:34px;}
.bidding-inquiry ul li p.time.none{float:initial;width:fit-content;font-size:24px;margin:0 auto;}
.bidding-inquiry ul li p.price-tp7 .won{position:relative;bottom:3px;font-size:22px;}
.bidding-inquiry ul li p.price-tp7{float:right;}

/* generalBuy01 */
.general-buy-sec .admin-list .content-top .chk-box{float:none;height:20px;width:20px;margin:0 auto;}
.general-buy-sec .admin-list .content-top .chk-box input + label{padding-left:20px;}
.general-buy-sec .admin-list.tp7 tr.list-none{border-bottom:0;}
/* popup-comparison */
.popup-comparison .tit-wrap{margin-bottom:24px;}
.popup-comparison .tit-wrap h5{float:left;width:50%;font-size:32px;font-weight:500;color:#222;}
.popup-comparison .tit-wrap h5 span{font-size:14px;font-weight:normal;margin-left:14px;}
.popup-comparison .tit-wrap .step-btn{float:right;width:50%;}
.popup-comparison table tr:first-child{text-align:center;}
.popup-comparison table td .img-cover{width:100%;height:120px;}
.popup-comparison table th{position:relative;}
.popup-comparison table th .btn-base{position:absolute;right:6%;top:50%;transform:translateY(-50%);}
.popup-comparison .slide-animate{overflow:inherit;}
.popup-comparison table th .items-sbox{position:absolute;right:6%;top:50%;transform:translateY(-50%);}
.popup-comparison .items-sbox__control.items-sbox__control--is-focused{position:relative;z-index:2;}
.popup-comparison table td ul.option-list li{color:#aaa;}
.popup-comparison table td ul.option-list li.on{color:#5e5e5e;}
.popup-comparison ul.btn-wrap{margin-top:49px;}
.popup-comparison ul.btn-wrap:after{content:'';display:block;clear:both;}
.popup-comparison ul.btn-wrap li{float:right;width:20%;text-align:center;}
.popup-comparison .slide-animate [class^="table-tp"]{border-top:0;border-bottom:0;}
.popup-comparison .slide-animate table tr:first-child{text-align:left;}
.popup-comparison table.table-last-child{border-top:0;z-index:1;position: relative;background:#fff;}
.popup-comparison table.table-last-child tr:first-child{text-align:left;}
/* popup-pay-detail */
.popup-pay-detail > ul{width:fit-content;height:230px;color:#222;margin:0 auto;padding-top:53px;}
.popup-pay-detail > ul li{position:relative;float:left;margin-right:36px;}
.popup-pay-detail > ul li:last-child{margin:0;}
.popup-pay-detail > ul li:after{position:absolute;top:11px;right:-21px;content:'';display:inline-block;width:6px;height:13px;background:url(/images/ico/ico-next.png);}
.popup-pay-detail > ul li:last-child:after{display:none;}
.popup-pay-detail > ul li .title{display:inline-block;font-size:16px;text-align:center;padding:10px 22px;border-radius:20px;background:#f6f7f8;margin-bottom:24px;}
.popup-pay-detail > ul li .sub{position:absolute;display:block;width:max-content;font-size:14px;text-align:left;line-height:1.6;}
.popup-pay-detail .table-area{border-top:1px solid #e7e7e7;padding:47px 25px 100px;}
.popup-pay-detail .table-area:after{content:'';display:block;clear:both;}
.popup-pay-detail .table-area .table-wrap-left{float:left;width:40%;margin-right:2.5%;}
.popup-pay-detail .table-area .table-wrap-left td{text-align:right;}
.popup-pay-detail .table-area .table-wrap-right{float:right;width:57.5%;}

/* generalBuy03 */
/* popup-chat */
.popup-chat .chat-tit{width:100%;font-size:16px;font-weight:500;padding:15px 18px;color:#fff;background:#3f64c3;}
.popup-chat .chat-list-wrap{padding:16px 17px;}
.popup-chat .chat-list-wrap > div{width:100%;margin-bottom:14px;line-height:1.4;}
.popup-chat .chat-list-wrap span{display:block;width:100%;font-size:14px;color:#222;letter-spacing:-0.3px;margin-bottom:12px;}
.popup-chat .chat-list-wrap p{width:fit-content;font-size:14px;color:#222;letter-spacing:-0.64px;padding:9px 16px;border:1px solid #d7d7d7;border-radius:6px;}
.popup-chat .chat-list-wrap .right:after{content:'';display:block;clear:both;}
.popup-chat .chat-list-wrap .right span{text-align:right;}
.popup-chat .chat-list-wrap .right p{float:right;border:0;background:#f2f2f2;}
.popup-chat .chat-input{position:relative;border-top:4px solid #f6f7f8;}
.popup-chat .chat-input textarea{border:0;padding-right:102px;}
.popup-chat .chat-input .btn-base{position:absolute;top:14px;right:14px;}

/* general-sell-sec */
/* general-visit */
.general-sell-sec .admin-list.tp7 .img-cover{width:130px;height:84px;}
.general-sell-sec .admin-list.tp7 .summary{padding-top:12px;}
.general-sell-sec .admin-list.tp7 td.tx-disabled{padding:67px 8px;}

.general-sell-sec [class^="table-tp"].search th{font-weight:normal;}

.general-sell-sec .steps-tp1:after{content:'';display:block;width:100%;height:1px;background:#e7e7e7;position:relative;top:113px;}

.general-sell-sec .table-area::after{content:'';display:block;clear:both;}
.general-sell-sec .table-wrap-left{float:left;width:48.75%;margin-right:2.5%;margin-top:81px;}
.general-sell-sec .table-wrap-right{float:right;width:48.75%;margin-top:81px;}
.general-sell-sec .table-wrap-right table{height:302px;}
.general-sell-sec .car-img-info .car-info{height:244px;}
.general-sell-sec .car-img-info .img-wrap{height:100%;text-align:center;background:#f6f7f8;}
.general-sell-sec .car-img-info .img-wrap .ico-car{width:191px;height:191px;border-radius:100%;background:#fff;background-image:url(/images/ico/ico-car.svg);background-repeat:no-repeat;background-position:center center;margin:26.5px 0;}
.general-sell-sec table caption.sml{font-weight:normal;}
.general-sell-sec table caption.xs{margin-top:15px;}
.general-sell-sec table.fill caption.xs{margin-top:72px;}
.general-sell-sec table.fill + .tx-exp-tp3{padding-left:22.5%;margin-top:10px;}
/* general-self */
.general-sell-sec .car-img-upload.slide{margin-bottom:80px;}
.general-sell-sec .car-img-upload.slide .img-wrap{height:135px;}
.general-sell-sec .car-basic-info{overflow:hidden;}
.general-sell-sec .option-cate{margin-top:80px;padding:0;}
.general-sell-sec .option-add-wrap{overflow:hidden;}
.general-sell-sec .option-add{margin-top:80px;}
.general-sell-sec .sell-info{overflow:hidden;}
.general-sell-sec .car-estimate td{padding:20px 12px;}
.general-sell-sec .car-estimate td p{display:inline-block;}
.general-sell-sec .car-estimate td .price-tp4.tx-blue80{display:block;font-size:14px;}
.general-sell-sec .car-estimate td .price-tp4.tx-blue80 .price{font-size:20px;font-weight:500;}
/* popup-bidding-inquiry */
.popup-bidding-inquiry{position:relative;}
.popup-bidding-inquiry .view-count{position:absolute;top:-65px;right:100px;font-size:22px;font-weight:500;color:#777;}
.popup-bidding-inquiry .view-count span{color:#222;}
.popup-bidding-inquiry .car-img-info .car-info{height:276px;}
.popup-bidding-inquiry .car-img-info .car-info .img-wrap{width:30.662%;}
.popup-bidding-inquiry .car-img-info table{width:66.838%;height:100%;}
.popup-bidding-inquiry .bidding-inquiry ul li{width:23.047%;margin-right:2.5%}
.popup-bidding-inquiry .bidding-inquiry ul li:first-child{width:30.662%;}
.popup-bidding-inquiry .bidding-inquiry ul li:last-child{width:41.284%;margin:0;}
.popup-bidding-inquiry .list-wrap{padding-top:70px;border-top:1px solid #e7e7e7;margin-top:60px;}
.popup-bidding-inquiry .list-wrap .list-tit{height:36px;margin-bottom:23px;}
.popup-bidding-inquiry .list-wrap .list-tit h4{height:36px;line-height:36px;}
.popup-bidding-inquiry .list-wrap .admin-list .tx-exp-tp5{line-height:1.6;margin-top:13px;}
.popup-bidding-inquiry .list-wrap .admin-list table td a:hover{text-decoration:underline;}
.popup-bidding-inquiry .list-wrap .admin-list table td.price{font-size:20px;font-weight:500;color:#373737;}
.popup-bidding-inquiry .list-wrap .admin-list table td.price span{font-size:14px;font-weight:normal;margin-left:5px;}
.popup-bidding-inquiry .list-wrap .admin-list table td{position:relative;}
.popup-bidding-inquiry .list-wrap .admin-list table td span.ad{display:block;width:80px;height:24px;line-height:24px;font-size:12px;color:#222;text-align:center;border-radius:4px;border:1px solid #ffc100;margin:0 auto;}
/* popup-bidder-info */
.popup-bidder-info .person-img-info{height:277px;}
.popup-bidder-info .person-img-info .person-info{height:277px;}
.popup-bidder-info .person-img-info .person-info .img-wrap{width:28.257%;height:277px;margin-right:2.5%;}
.popup-bidder-info .person-img-info table{width:69.243%;}
.popup-bidder-info .person-img-info table tr td em{color:#aaa;}
.popup-bidder-info .person-img-info table tr:last-child{height:129px;vertical-align:top;}
.popup-bidder-info .person-img-info table tr:last-child th,
.popup-bidder-info .person-img-info table tr:last-child td{padding-top:12px;}
.popup-bidder-info .introduce{width:100%;font-size:14px;line-height:1.7;color:#222;border:1px solid #e7e7e7;padding:22px 24px;margin-top:33px;}
.popup-bidder-info .review-wrap{position:relative;width:100%;margin-top:64px;}
.popup-bidder-info .review-wrap button{position:absolute;bottom:154.5px;}
.popup-bidder-info .review-wrap button.btn-arrow-prev-mid{left:-41px;}
.popup-bidder-info .review-wrap button.btn-arrow-next-mid{right:-41px;}
.popup-bidder-info .review-wrap h5{font-size:26px;font-weight:500;line-height:26px;letter-spacing:-0.96px;text-align:left;color:#222222;margin-bottom:33px;}
.popup-bidder-info .review-wrap ul{width:100%;height:341px;color:#222;}
.popup-bidder-info .review-wrap ul li{position:relative;float:left;width:31.667%;height:100%;border:1px solid #e7e7e7;background:#f8f9fa;margin-right:2.5%;padding:48px 29px 0;}
.popup-bidder-info .review-wrap ul li:last-child{margin:0;}
.popup-bidder-info .review-wrap ul li .content > p{line-height:1.4;font-size:20px;font-weight:500;text-align:center;}
.popup-bidder-info .review-wrap ul li .content > span{display:block;line-height:1.7;font-size:17px;color:#262626;}
.popup-bidder-info .review-wrap ul li .content > .gpa{text-align:center;margin:24px 0;}
.popup-bidder-info .review-wrap ul li .content > .gpa + span{width:100%;overflow:hidden;text-overflow:ellipsis;word-wrap:break-word;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:1.7;}
.popup-bidder-info .review-wrap ul li .user{position:absolute;bottom:0;width:calc(100% - 56px);font-size:14px;letter-spacing:-0.56;color:#777;border-top:1px solid #e7e7e7;padding:20px 10px;}
.popup-bidder-info .review-wrap ul li .user p{float:left;}
.popup-bidder-info .review-wrap ul li .user span{float:right;}
.popup-bidder-info .review-wrap.dealer{position:relative;}
.popup-bidder-info .review-wrap.dealer button{position:absolute;bottom:177px;}
.popup-bidder-info .review-wrap.dealer button.btn-arrow-prev-mid{left:-41px;}
.popup-bidder-info .review-wrap.dealer button.btn-arrow-next-mid{right:-41px;}
.popup-bidder-info .review-wrap.dealer ul{height:386px;}
.popup-bidder-info .review-wrap.dealer ul li{background:#fff;padding:0;}
.popup-bidder-info .review-wrap.dealer .img-wrap{width:100%;height:236px;}
.popup-bidder-info .review-wrap.dealer .img-wrap img{height:100%;}
.popup-bidder-info .review-wrap.dealer .summary{padding:30px 25px;}
.popup-bidder-info .review-wrap.dealer .summary h5{font-size:20px;font-weight:500;line-height:1.5;letter-spacing:-0.8px;color:#222;margin-bottom:14px;}
/* popup-cancel */
.popup-cancel > p{font-size:16px;color:#262626;margin-bottom:16px;}
.popup-cancel ul{width:100%;height:110px;margin-bottom:16px;}
.popup-cancel ul li{position:relative;float:left;width:23.125%;height:110px;font-size:16px;text-align:center;color:#262626;margin-right:2.5%;border:1px solid #e7e7e7;background:#f6f7f8;}
.popup-cancel ul li.on{border:1px solid #3f64c3;}
.popup-cancel ul li:last-child{margin:0}
.popup-cancel ul li span{display:inline-block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:100%;line-height:1.6;}

/* popup-deposit */
.popup-deposit p{width:fit-content;line-height:1.6;font-size:18px;color:#262626;margin:0 auto;}

/* general-review */
.general-sell-sec .review-input-wrap h4{font-size:26px;font-weight:500;color:#222;margin-bottom:32px;}
.general-sell-sec .review-input-wrap ul{width:100%;padding:40px 46px;border:1px solid #d7d7d7;background:#f6f7f8;}
.general-sell-sec .review-input-wrap ul li{font-size:16px;color:#222;margin-bottom:30px;}
.general-sell-sec .review-input-wrap ul li:nth-last-child(-n+2){margin-bottom:20px;}
.general-sell-sec .review-input-wrap ul li:last-child{margin:0;}
.general-sell-sec .review-input-wrap ul li span{float:right;}
.general-sell-sec .review-input-wrap ul li span em{display:inline-block;font-size:17px;margin-left:16px;}
.general-sell-sec.review .car-img-info{margin-top:80px;}
.general-sell-sec.review .car-img-info .car-info{height:276px;}
.general-sell-sec.review .car-img-info .car-info table{height:100%;}

/* general-autoauction */
.general-sell-sec .list-wrap table.search tr td span.title{font-weight:normal;color:#222;padding:0 16px 0 0;}
.general-sell-sec .list-wrap table.search tr td span.title:nth-child(n+2){padding-left:24px;}
.general-sell-sec .list-wrap .admin-list{margin-top:64px;}
.general-sell-sec .list-wrap .admin-list.auto tbody tr{position:relative;}
.general-sell-sec .list-wrap .admin-list.auto tbody tr:nth-child(2n):after{position:absolute;right:0;content:'';display:block;width:calc(100% - 10%);height:1px;border-top:1px dashed #d7d7d7;background:#fff;}
.general-sell-sec .list-wrap .admin-list.auto tbody tr td{padding:8px;}

/* general-inquire */
.general-inquire-sec .admin-list.tp7 tr.list-none{border:0;}
.general-inquire-sec .admin-list.tp7 tr.list-none td{padding:109px 0 89px 0;}
.general-inquire-sec .view-wrap{padding:0;}
.general-inquire-sec .view-wrap .header{border:0;}
.general-inquire-sec .view-wrap .header h5{font-size:17px;font-weight:normal;}
.general-inquire-sec .view-wrap .header h5 b{margin-right:10px;}
.general-inquire-sec .view-wrap .header span{text-decoration:none;}
.general-inquire-sec .view-wrap .content{padding-top:24px;min-height:160px;}
.general-inquire-sec .view-wrap .btn-base{margin-top:48px;}