@charset "utf-8";



/* guide - codingmap */
.coding-wrap{min-width:1400px;height:100%;background:#f5f5f5;}
.coding-wrap .map-header{width:100%;height:120px;background:#1773e9;}

.map-header h3 {width:1400px;height:70px;line-height:70px;margin:0 auto;font-size:25px;color:#fff;text-align:center;}
.map-tit{width:1400px;height:50px;margin:0 auto;}
.map-tit > li{display:inline-block;width:9%;line-height:50px;color:#fff;text-align:center;}
.map-tit > .file{width:14%;}
.map-tit > .progress{width:13%;}

.coding-map{max-width:1400px;margin:0 auto;border-radius:5px;margin-top:10px;padding-bottom:100px;}
.coding-map .row{width:100%;height:40px;display:table;table-layout:fixed;border-radius:5px;border:1px solid #fff;background:#fff;margin-bottom:7px;-webkit-transition:background .2s;transition:background .2s;padding:7px 0;}
.coding-map .row:hover{background:#fff17a;box-shadow:0px 4px 6px rgb(240, 234, 217);}
.coding-map .row > li{width:9%;display:table-cell;font-size:12px;color:#505d72;word-break:break-all;padding-left:10px;-webkit-transition:border .2s;transition:border .2s;}
.coding-map .row > li:first-child{font-weight:bold;padding-left:20px;}
.coding-map .row .file{width:13%;}
.coding-map .row .file span{color:#6d96ca;}
.coding-map .row .progress{width:13.5%;vertical-align:middle;}
.coding-map .row .progress span{float:left;display:block;width:78%;height:5px;border-radius:10px;background:#e7e7e7;margin:4px 0 0 8px;overflow:hidden;}
.coding-map .row .progress span em{display:block;height:5px;border-radius:10px;box-shadow:0px 1px 2px 2px rgba(0,0,0,0.05)}
.coding-map .row .progress p{float:left;font-size:11px;font-weight:bold;margin-top:2px;}
.coding-map .row .progress .grade10 span em{background-color:#ccc;}
.coding-map .row .progress .grade50 span em{background-color:#ff6841;}
.coding-map .row .progress .grade60 span em{background-color:#ffb400;}
.coding-map .row .progress .grade70 span em{background-color:#b9e31f;}
.coding-map .row .progress .grade80 span em{background-color:#40adff;}
.coding-map .row .progress .grade90 span em{background-color:#1c83d0;}
.coding-map .row .progress .grade100 span em{background-color:#1c83d0;}
.coding-map .row .progress .grade10 p{color:#ccc;}
.coding-map .row .progress .grade50 p{color:#ff6841;}
.coding-map .row .progress .grade60 p{color:#ffb400;}
.coding-map .row .progress .grade70 p{color:#b9e31f;}
.coding-map .row .progress .grade80 p{color:#40adff;}
.coding-map .row .progress .grade90 p{color:#1c83d0;}
.coding-map .row .progress .grade100 p{color:#1c83d0;}

.coding-map .row .link{text-align:center;padding-left:0;}
.coding-map .row .link-btn{display:inline-block;width:80px;height:25px;line-height:24px;border-radius:40px;border:1px solid #1773e9;color:#1773e9;background:rgba(255,255,255,0.6);font-weight:500;text-align:center;-webkit-transition:background .3s, color .3s;transition:background .3s, color .3s;}
.coding-map .row .link-btn:hover{background:#1773e9;color:#fff;}
.coding-map .row .link-btn.on::before{content:'';display:inline-block;width:6px;height:6px;border-radius:100%;background:#ffc822;margin:0 8px 2px 0;}
.coding-map .row .link-btn.before{border:1px solid #ccc;color:#ccc;}
.coding-map .row .link-btn.before:hover{background:rgba(255,255,255,0.6);cursor:default;}

.coding-map .row > li:last-child{text-align:center;padding-left:0;}
.coding-map .row .tooltip-wrap{top:0;}
.coding-map .row .btn-tooltip{width:80px;height:25px;color:#1773e9;border:0;line-height:25px;text-align:center;}
.coding-map .row .btn-tooltip:hover{box-shadow:none;background:#fff;}
.work-exp p{font-size:12px;line-height:20px;color:#505d72;}
.work-exp p span{color:#ff6841;}

.guide-aside .custom-scroll{padding-right:4px !important;}

/* slideAnimate */
.slide-animate{overflow:hidden;transition:height .3s  cubic-bezier(.2, 1, .3, 1);letter-spacing:-0.30px;}

/* ImgUploadItem */
.img-upload-area{position:relative}
.img-upload-area .multi-item:after{content:'';display:block;clear:both}
.img-upload-area .multi-item .img-upload-item{float:left;margin-bottom:20px;margin-left:24px}
.img-upload-area .multi-item .img-upload-item:nth-child(5n+1){margin-left:0px}
.img-upload-item{width:180px;height:100px;text-align:center;border:1px solid #d7d7d7}
.img-upload-item .init-msg{padding-top:40px;font-size:16px;color:#777}
.img-upload-item:hover,
.img-upload-item.is-drag{box-shadow: 2px 2px 6px 0 #d1d1d1;border:1px solid #9fb1e1;outline:1px solid #9fb1e1;transition:all .3s cubic-bezier(.2, 1, .3, 1);}
.img-upload-item:hover .init-msg,
.img-upload-item.is-drag .init-msg{color:#3f64c3}
.img-upload-item .file-input{width:0px;height:0px;position: absolute;top:-9999px;left:-9999px;opacity:0}
.img-upload-item .img-item{width:180px;height:100px;text-align:center;position:relative;}
.img-upload-item .img-item img{width:100%;height:100%}
.img-upload-item .img-item .init-btn{position:absolute;top:15px;right:15px;display:block;text-align:center}
.img-upload-item.dropComp{border:0 none}
.img-upload-item.dropComp .img-item .hover-dimm{display:block;content:'';width:100%;height:100%;position:absolute;top:0;left:0px;background-color:black;opacity:0;z-index:1;transition:opacity .3s cubic-bezier(.2, 1, .3, 1)}
.img-upload-item.dropComp .img-item .hover-msg{color:white;text-align:center;position: absolute;top:45px;left:0px;width:100%;z-index:2;opacity:0}
.img-upload-item.dropComp:hover .img-item .hover-dimm,
.img-upload-item.dropComp.is-drag .img-item .hover-dimm{opacity:0.7}
.img-upload-item.dropComp:hover .img-item .hover-msg,
.img-upload-item.dropComp.is-drag .img-item .hover-msg{opacity:1}
.img-upload-item.dropComp.isDrop:hover .img-item .hover-dimm,
.img-upload-item.dropComp.isDrop:hover .img-item .hover-msg{opacity:0}
.img-upload-item.multi{width:1000px;height:230px;border:0 none;
  background:linear-gradient(90deg, #3f64c3 50%, transparent 50%), linear-gradient(90deg, #3f64c3 50%, transparent 50%), linear-gradient(0deg, #3f64c3 50%, transparent 50%), linear-gradient(0deg, #3f64c3 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px;
  background-position: 0px 0px, 997px 228px, 0px 230px, 998px -3px}
.img-upload-item.multi.is-drag{animation:10s infinite linear border-dashed}
@keyframes border-dashed {
  from {
    background-position: 0px 0px, 998px 228px, 0px 228px, 998px 0px;
  }
  to{
    background-position: 200px 0px, 798px 228px, 0px 0px, 998px 228px;
  }
}
.img-upload-item.multi:after{content:'';display:block;clear:both}
.img-upload-item.multi .init-msg{color:#3f64c3;font-size:20px;line-height:32px;margin-bottom:25px}
.img-upload-item.multi .img-item{float:left;margin-bottom:20px;margin-left:24px}
.img-upload-item.multi .img-item:nth-child(5n+1){margin-left:0px}
.img-upload-item.dropComp:hover,
.img-upload-item.dropComp.is-drag,
.img-upload-item.multi:hover,
.img-upload-item.multi.is-drag{border:0 none;box-shadow:none;outline:none}

/* guide */
.guide-wrap{width:100%;min-width:1600px;}
.guide-header{position:fixed;width:100%;height:65px;font-size:18px;font-weight:bold;color:#000;z-index:100;background-color:#fff;box-shadow:0 3px 4px rgba(0,0,0,.05);padding:24px 0 24px 40px;}
.guide-header span{font-size:14px;}
.guide-aside{position:fixed;width:250px;height:100%;background-color:#fff;border-right: 1px solid #e8e8e8;padding:125px 0 0 0px;z-index:1;/*overflow-x:hidden;*/}
.guide-aside ul{width:100%;}
.guide-aside ul li{width:100%;height:50px;line-height:50px;font-size:16px;color:#000;padding-left:40px;}
.guide-aside ul li:hover{color:#1773e9;}
.guide-aside ul li.on{background:#f0f4ff;color:#1773e9;transition:0.2s;}
.guide-cont{padding:80px 30px 80px 280px;}
.delay-hide-cont{animation: .5s 3s forwards delay-hide}
@keyframes delay-hide{
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/*.guide-inner*/
.guide-tit{position:relative;padding:50px 0 15px 0;font-size:30px;font-weight:500;color:#222;margin-bottom:20px;}
.guide-inner-wrap{clear:both;width:100%;}
.guide-inner-wrap:after{content:'';display:block;clear:both;}
.guide-inner-left{float:left;width:50%;height:auto;padding-right:10px;}
.guide-inner-right{float:left;width:50%;height:auto;}
.code-box{clear:both;border:1px solid #ddd;padding:40px;margin-bottom:10px;}
.code-box:after{content:'';display:block;clear:both;}
.code-box > * {margin: 5px 8px 5px 0;}
.code-box#button-demo-basic > *{margin:0;}
.code-box#tree-menu-demo > *{margin:0;}
.code-box .content-exp{font-size:14px;color:#888;margin-left:10px;}
.explanation{padding-top:20px;font-size:13px;color:#888;}

/* guide-api */
.api-wrap table{background:#fff;border-radius:3px;border:1px solid #e4e4f2;}
.api-wrap table tr{border-bottom:1px solid #e4e4f2;}
.api-wrap table tr th{padding:12px;color:#7e7e87;background:#f6f7fb;border-right:0;letter-spacing:-0.30px;}
.api-wrap table tr td{padding:12px;font-size:12px;color:#9090a9;border-right:0;}
.api-wrap table tr td:nth-child(1){color:#222;font-weight:500;}
.api-wrap table tr td:nth-child(3){color:#2d77ea;}
.api-wrap table tr.library td{border:0;background:#f6f7fb;}
.api-wrap table tr.library td span{display:inline-block;padding:5px 9px;background:#fff;border:1px solid #dbdee7;color:#949bb3;border-radius:11px;margin-right:5px;}
.api-wrap table tr.library td.more span{background:#307ceb;color:#fff;border:0;}
.api-wrap table tr.library td.command{color:#626880;}
.api-wrap table tr.library td a{text-decoration:underline;}
.api-wrap .tit{margin-bottom:10px;font-size:16px;vertical-align:middle;margin-top:20px}
.api-wrap .api{display:inline-block;position: relative;z-index:1;font-weight:500;background:#fff;}
.api-wrap .info{margin-left:20px;color:#000;font-size:14px;transform:translateX(-20%);opacity:0;transition:transform .3s, opacity .3s;display:inline-block;}
.api-wrap .info.active{transform:translateX(0);opacity:1;}
.api-wrap .cname{color:#3f64c3;font-weight:900;}
.api-wrap .btn-toggle{display:inline-block;background:#1773e9;border:1px solid #1773e9;color:#fff;font-size:14px;width:20px;height:20px;line-height:18px;border-radius:10px;margin-left:5px;position:relative;top:-1px;transition:transform .3s;transform:rotate(0deg);text-align:center;}
.api-wrap .btn-toggle.active{transform:rotate(180deg);background:#f3f3fc;color:#000;border:1px solid #e4e4f2;}
.api-wrap .info .props{font-size:0}
.api-wrap .info .props span{display:inline-block;padding:7px;background:#f6f7fb;margin-left:5px;font-size:12px;border-radius:3px;}
.api-wrap .detail{display:none;}
.api-wrap .detail.active{display:block;}

/* guide-popup-example */
.track-vertical{position:absolute;right:0;bottom:0;top:0;}

/* button */
#button-demo-basic .btn{padding:10px 16px;}
#button-demo-basic [class^="btn-circle"]{padding:0;}
#button-demo-margin > p{float:left;background:#d4d8e4;}
#button-demo-style{position:relative;padding-bottom:80px;}

/* title */
#exp-demo-basic > *{margin-bottom:30px;}
#exp-demo-basic > *:last-child{margin:0;}

/* menu */
#menu-demo .menu-list{width:250px;}
#menu-demo .menu-tree{width:250px;}
#menu-demo .tree-menu-demo{width:250px;}
#menu-demo .search-filter-btn{width:250px;}
.mypage-wrap{width:242px;}

/* icon */
.ico-small-wrap li:hover, .ico-medium-wrap li:hover, .ico-large-wrap li:hover{border:1px solid #1773e9;box-shadow:2px 5px 8px rgba(44,115,233,0.2);transition:all 0.2s;-webkit-transition:all 0.2s;}
.ico-large-wrap.white li{background:#4d5f8b;}
.ico-large-wrap li{width:130px;height:130px;line-height:128px;border:1px solid #eee;}
.ico-large-wrap li > *{vertical-align:middle;background-size:100%}
.ico-medium-wrap.white li{background:#4d5f8b;}
.ico-medium-wrap li{width:80px;height:80px;line-height:78px;border:1px solid #eee;}
.ico-medium-wrap li > *{vertical-align:middle;background-size:100%;}
.ico-small-wrap.white li{background:#4d5f8b;}
.ico-small-wrap li{width:60px;height:60px;line-height:58px;border:1px solid #eee;}
.ico-small-wrap li > *{vertical-align:middle;background-size:100%;}

.ico-large-wrap .ico-inquiry{width:120px;height:120px;}
.ico-large-wrap .ico-certify{width:120px;height:120px;}
.ico-large-wrap .ico-resting{width:120px;height:120px;}
.ico-large-wrap .ico-lock{width:120px;height:120px;}
.ico-large-wrap .ico-date{width:120px;height:120px;}
.ico-small-wrap .ico-heart{background-size:initial;}
.ico-small-wrap .ico-compare{background-size:initial;}

/* checkbox */
#chk-demo-basic .color-list li:nth-child(2){padding-top:3px;}
#chk-demo-disabled .color-list li:nth-child(2){padding-top:3px;}

/* radio */
#radio-demo-basic .radio-basic{float:left;width:146px;}
#radio-demo-disabled .radio-basic{float:left;width:146px;}
#radio-demo-group .radio-basic{margin-right:20px;}
#radio-large-demo-group .radio-basic{margin-right:20px;}
#radio-small-demo-group .radio-basic{margin-right:20px;}
#radio-small-demo-group .radio-group ul.vertical li{margin-bottom:10px;}

/* input */
#search-demo-basic > div{margin-bottom:10px;}
#search-demo-basic > div:last-child{margin:0px;}

/* tabmenu */
.code-box .ui-panel{padding:30px 30px 50px 30px;}
#scroll-tab-demo .ui-panel{padding:0;}

/* tooltip */
#tooltip-demo-basic, #tooltip-demo-style{position:relative;}
#tooltip-demo-basic .btn-tooltip{width:90px;height:32px;line-height:32px;color:#1773e9;border-radius:0;border:1px solid #1773e9;margin-right:20px;}
#tooltip-demo-basic .tooltip-wrap{top:-1px;}
#tooltip-demo-basic .span{display:inline-block;width:90px;height:32px;color:#1773e9;}

.tooltip-content{display:inline-block;width:75px;height:32px;line-height:32px;text-align:center;}
.tooltip-content .tx-exp-tp1{font-size:14px;margin-right:8px;}
#tooltip-demo-style .tooltip-top{margin-left:85px;}
#tooltip-demo-style .tooltip-top > div{margin-right:10px;}
#tooltip-demo-style .tooltip-left{float:left;width:70px;}
#tooltip-demo-style .tooltip-left > div{margin-bottom:10px;}
#tooltip-demo-style .tooltip-right{width:70px;margin-left:335px;}
#tooltip-demo-style .tooltip-right > div{margin-bottom:10px;}
#tooltip-demo-style .tooltip-bottom{margin-left:85px;}
#tooltip-demo-style .tooltip-bottom > div{clear:both;margin-right:10px;}

/* design module */
#performance-chk > .performance-chk{width:894px;}
#register-form-wrap{width:894px;}

/* popup - fullsize */
.guide-wrap .popup-fullsize{background:#000;}
.guide-wrap .popup-fullsize .slick-list{width:100%;height:auto;margin-bottom:0;}
.guide-wrap .popup-fullsize .slick-list .slick-slide img{width:100%;}
.guide-wrap .popup-fullsize .slick-sthumb{width:100%;height:52px;padding:10px 0 0 10px;}
.guide-wrap .popup-fullsize .slick-sthumb .slick-slide{height:32px;position:relative;cursor:pointer;opacity:.5;margin:0 10px 10px 0;}
.guide-wrap .popup-fullsize .slick-sthumb .slick-slide img{height:32px;}
.guide-wrap .popup-fullsize .slick-sthumb .slick-slide.slick-current:before{content:'';display:block;width:100%;height:100%;border:2px solid #fff;position: absolute;left:0;top:0;}
.guide-wrap .popup-fullsize .slick-sthumb .slick-slide.slick-current{opacity:1;}
.guide-wrap .popup-fullsize .btn-prev,
.guide-wrap .popup-fullsize .btn-next{display:none;top:50%;margin-top:-16px;position:absolute;width:16px;height:32px;background-repeat:no-repeat;opacity:0.4;transition:0.5s;z-index:1;}
.guide-wrap .popup-fullsize .btn-prev{left:20px;background-image:url(/images/ico/ico-arrow-prev-white.png);}
.guide-wrap .popup-fullsize .btn-next{right:20px;background-image:url(/images/ico/ico-arrow-next-white.png);}
.guide-wrap .popup-fullsize:hover .btn-prev, .guide-wrap .popup-fullsize:hover .btn-next{display:block;}
.guide-wrap .popup-fullsize .btn-prev:hover, .guide-wrap .popup-fullsize .btn-next:hover{opacity:1;}
.guide-wrap .rodal-dialog .popup-fullsize + .rodal-close{width:32px;height:32px;background:url(/images/ico/ico-close-white.png) 0 0 no-repeat;top:0;right:0;}

/* top-banner */
[class$=top-banner]{height:300px;background-color:#3f64c3;}
[class$=top-banner] .content-wrap{position:relative;}
[class$=top-banner] h3{font-size:40px;font-weight:500;color:#fff;padding-top:72px;}
[class$=top-banner] p{line-height:1.3;font-size:20px;font-weight:200;color:#fff;margin-top:20px;letter-spacing:-0.8px;}
[class$=top-banner] .top-banner-bg{position:absolute;top:0;display:block;height:300px;background-repeat:no-repeat;}

/* common - component */

/* input */
/* .input-base{display:inline-block;position:relative;}
.input-base input{padding:10px;border:1px solid #ddd;border-radius:3px;transition:border .3s;-webkit-transition:border .3s;outline:none;}
.input-base.active input{border:1px solid blue;}
.input-base.w-close input{padding-right:40px;}
.input-base .btn-close{display:inline-block;width:20px;height:20px;line-height:20px;background:#000;color:#fff;text-align:center;font-size:10px;border-radius:10px;position:absolute;right:10px;top:10px;cursor:pointer;}
input::-webkit-input-placeholder{font-weight:normal;color:#c5c5c5;}
input::-moz-placeholder{font-weight:normal;color:#c5c5c5;}
input:-ms-input-placeholder{font-weight:normal;color:#c5c5c5;}
input:-moz-placeholder{font-weight:normal;color:#c5c5c5;}
.input-base .tit{margin-right:10px;min-width:50px;display:inline-block;}

.input-base.type-2{border-bottom:1px solid #ddd;}
.input-base.type-2 input{border:0;padding:10px 0;}
.input-base.type-2 .label{transition:top .3s;position:absolute;left:0;top:10px;}
.input-base.type-2 .label .exp{transition:opacity .3s;margin-left:5px;}
.input-base.type-2.active{border-bottom:1px solid blue;}
.input-base.type-2.active .label{top:-5px;}
.input-base.type-2.active .exp{opacity:0;} */

/* form */
.form-list{border:1px solid #000;border-radius:3px;padding:10px;}
.form-list li{margin-top:10px;position:relative;}
.form-list li:first-child{margin-top:0;}
.form-list li.center{text-align:center;}
.form-list li span.valid{color:red;}

/* tree */
/* .tree-wrap{width:400px;height:409px;padding:10px;overflow-y:auto;}
.tree-wrap .tree > li{margin-left:10px;}
.tree-wrap > .tree > li{margin-left:0;}
.tree-wrap .tree > li > .desc{width:100%;}
.tree-wrap .tree > li > .desc:after{content:'';display:block;clear:both;}
.tree-wrap .tree > li > .desc .check-base{float:left;}
.tree-wrap .tree > li > .desc .count{float:right;font-size:12px;color:#777;} */

/* prism */
.prism-btn{width:16px;height:16px;background:url(https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg) 0 0 no-repeat;background-size:16px;opacity:.55;transition:opacity .3s, background .3s;}
.prism-btn.active{background:url(https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg) 0 0 no-repeat;background-size:16px;}
.prism-btn:hover{opacity:1;}
.prism-code{display:none;}
.prism-code.active{display:block;}

/* input range */
/* .guide-inner .input-range{width:500px;} */

/* popup codebox exception */
.code-box > .rodal{margin:0;}

/* menu exception */
.guide-wrap .code-box .mypage-nav-sec{padding-top:0;}