@import "~styles/base/util";

.DetailPriceWrap {
  background-color:#ffffff;
  .DetailPriceInner {
    padding:0 0 0 0;
    @include pcMaxWidth;
    @include boxSizing;
  }
  .DetailPriceBox { padding:0 16px 0 16px; }
  .DetailPriceBoxInner {
    padding:8px 0 16px 0; border-bottom:1px solid $BCExtraL;
    dl {
      position:relative; padding:0 0 0 36px;
      dt { position:absolute; left:0; top:8px; }
      dd {
        .DetailPriceItem { padding-top:8px; margin-right:12px; display:inline-block; }
        .tDetailPriceDel { margin:0 4px; text-decoration:line-through; }
      }
    }
  }
}

@include for-768-only {
  .DetailPriceWrap {
    .DetailPriceInner { padding-left:24px; padding-right:24px; }
  }
}

@include for-1080-only {
  .DetailPriceWrap {
    .DetailPriceBoxInner {
      padding-top:16px; padding-bottom:24px;
      dl {
        padding:0 0 0 40px;
        dt { position:absolute; left:0; top:12px; }
        dd {
          .DetailPriceItem { padding-top:12px; margin-right:24px; }
          .tDetailPriceDel { margin:0 4px; }
        }

        .tB14 { @include FSST16; }
        .tB14B { @include FSST16B; }
      }
    }
  }
}