@import "~styles/base/util";

.SubHeader {
  padding:8px 0 0 0;
  .SubHeaderInner {
    width:100%; padding:0 16px 0 16px;
    @include pcMaxWidth;
    @include boxSizing;

    .SubHeaderTitle {
      .SubHeaderTitleText {
        padding:6px 0;
        .BasicTitle {
          > .textSt { display: inline; }
        }
      }
      .linkSt {
        padding-left:0; padding-right:0;
      }
    }
  }

  &.offering {
    padding:0;
    .SubHeaderInner {
      .SubHeaderTitle {
        .SubHeaderTitleText { padding-top:9px; padding-bottom:9px; }
        .linkSt { padding-top:9px; padding-bottom:9px; }
      }
    }
  }

  &.content {
    .SubHeaderInner {
      .SubHeaderTitle {
        .linkSt {
          padding-top:6px; padding-bottom:6px; display:block;
          > span { position:relative; padding:0 30px 0 0; display:block; }
        }
      }
    }
  }
}

@include for-768-only {
  .SubHeader {
    .SubHeaderInner {
      padding:0 40px 0 40px;
      .SubHeaderTitle { }
    }
  }
}

@include for-1080-only {
  .SubHeader {
    .SubHeaderInner {
      padding:0 16px 0 16px;
      .SubHeaderTitle {
        .SubHeaderTitleText {
          padding:9px 0;
          .BasicTitle {
            @include FSST16; @include textEll(block,22px);
            > .textSt { @include FSST16; }
          }
        }
        .linkB14 {
          padding:9px 0;
          @include FSST16;
          > span { line-height:22px; }
          .textSt { @include FSST16; @include textEll(block,22px); }
        }
      }
    }

    &.offering {
      padding:0;
      .SubHeaderInner {
        .SubHeaderTitle {
          .SubHeaderTitleText {
            padding-top:12px; padding-bottom:12px;
            .tST16B { @include FSST20B; @include textEll(block,24px); }
          }
          .linkSt {
            padding-top:12px; padding-bottom:12px; 
            .tST16B { @include FSST20B; @include textEll(block,24px); }
          }
        }
      }
    }

    &.content {
      .SubHeaderInner {
        .SubHeaderTitle {
          .SubHeaderTitleText {
            padding-top:9px; padding-bottom:9px;
            .BasicTitle { @include FSST16B; @include textEll(block,22px); }
          }
          .linkSt {
            padding-top:9px; padding-bottom:9px; display:block;
            > span { position:relative; padding:0 30px 0 0; display:block; }
            .tB14B { @include FSST16B; @include textEll(block,22px); }
          }
        }
      }
    }
  }
}