@import "~styles/base/util";

#Footer {
  width:100%; padding:120px 0 0 0; line-height:1;
  .FooterInner { background-color:$BGExtraL70; }
  .FooterWrap { padding:0; @include pcMaxWidth; }
  .FooterWrapInner { padding:40px 16px 80px 16px; }
  .FooterWrapTop { border-bottom:1px solid $BCDark10; }
  .FooterWrapTopTa {
    width:100%;
    @include boxSizing;
    @include flexBox;
    @include flexWrap(wrap);
  }
  .FooterWrapTopCell {
    width:100%; padding:0 0 0 0;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignItems(center);
  }
  .FooterWrapTopService {
    .linkSt {
      padding:0; margin-left:33px;
      &:first-of-type { margin-left:0; }
    }
    .footTopBtnBooks { position:relative; line-height:20px;}
    .footTopBtnStudio { position:relative; padding-top:2px; padding-bottom:2px; line-height:16px; display:none; }
    .footTopBtnDeveloper { position:relative; padding-top:2px; padding-bottom:2px; line-height:16px; display:none; }
  }
  .FooterWrapTopUtil { padding-top:12px; }
  .FooterWrapTopCSCenter {
    .linkSt { padding:0; }
  }
  .FooterWrapTopUtilNav {
    padding:4px 0 24px 0;
    ul {}
    li {
      position:relative; padding:0 8px 0 9px; display:inline-block;
      &:before { position: absolute; content: ''; left:0; top:50%; margin-top:-5px; width:1px; height:12px; background-color:$BCDark10; display: block; }
      &:first-of-type {
        padding-left:0;
        &:before { display:none; }
      }
    }
    .linkSt { padding:0; }
  }
  .FooterWrapTopAppDownload {
    border-top:1px solid $BCDark10;
    .linkIconText {
      position: relative; padding:14px 0 14px 0; display: block; @include boxSizing;
      > span { display:block; }
      i.footerLogo24 { margin-right:8px; }
      .tB14B { padding-top:2px; padding-bottom:2px; }
      i.linkright24 { position: absolute; right:0; top:50%; margin-top:-12px; }
    }
  }
  .FooterWrapBottom { padding:24px 0 0 0; }
  .FooterWrapBottomUtil { padding:0 0 0 0; }
  .FooterWrapBottomUtilNav {
    ul {}
    li {
      position:relative; padding:0 8px 0 9px; display:inline-block;
      &:before { position: absolute; content: ''; left:0; top:50%; margin-top:-5px; width:1px; height:12px; background-color:$BCDark10; display: block; }
      &:first-of-type {
        padding-left:0;
        &:before { display:none; }
      }
    }
    .linkSt { padding:0; }
  }
  .FooterWrapBottomCopy { padding-top:4px; }
  .FooterWrapOperator { padding:24px 0 0 0; }
  .FooterWrapOperatorBody {
    .FooterWrapOperatorHeader {
      .linkSt { padding:0; }
      i.bottomGrey16 { @include vendorPrefix(transition, transform 0.2s); }
    }
    .FooterWrapOperatorCo {
      padding:16px 0 0 0; display:none;
      ul {}
      li {
        padding:0 0 16px 0; @include boxSizing; vertical-align:top;
        &.FooterWrapOperatorItemEtc { display:none; }
      }
      dl {
        dt {
          @include FSB12; color:$FCMedium;
          span { margin-right:10px; @include FSB12B; }
        }
        dd {
          padding-top:4px; @include FSB12; color:$FCMedium;
          span { margin-right:10px; }
          em { text-decoration:underline; }
        }
      }
      p { @include FSB12; color:$FCMedium; }
    }

    &.open {
      .FooterWrapOperatorHeader {
        i.bottomGrey16 { @include vendorPrefix(transform, rotate(180deg)); }
      }
      .FooterWrapOperatorCo { display:block; }
    }
  }
}

@include for-768-only {
  #Footer {
    padding-top:288px;
    .FooterInner {}
    .FooterWrap { padding-left:24px; padding-right:24px; }
    .FooterWrapInner { padding-top:57px; padding-bottom:216px; }
    .FooterWrapTop { }
    .FooterWrapTopTa { @include flexWrap(nowrap); }
    .FooterWrapTopCell {
      width:auto; 
      @include flexWidth(1 1);
      &.btn {
        @include flexWidth(0 0 auto);
      }
    }
    .FooterWrapTopCSCenter { padding-right:8px; display: inline-block; }
    .FooterWrapTopUtilNav {
      padding-top:0; display:inline-block;
      ul {}
      li {
        &:first-of-type {
          padding-left:9px;
          &:before { display:block; }
        }
      }
    }
    .FooterWrapTopAppDownload {
      border-top-width:0; width:160px;
      .linkIconText {
        padding:14px 16px 14px 16px; background-color:$BGWhite; @include vendorPrefix(border-radius, 20px);
        > span { position:relative; }
      }
    }
    .FooterWrapOperatorBody {
      .FooterWrapOperatorCo {
        ul {}
        li { width:33.3%; padding-right:5px; display:inline-block; }
        dl {
          dd {
            span { display:block; }
          }
        }
      }
    }
  }
}

@include for-1080-only {
  #Footer {
    padding-top:288px;
    .FooterInner {}
    .FooterWrapInner { padding-top:57px; padding-bottom:216px; }
    .FooterWrapTop { }
    .FooterWrapTopTa { @include flexWrap(nowrap); }
    .FooterWrapTopCell {
      width:auto; 
      @include flexWidth(1 1);
      &.btn {
        @include flexWidth(0 0 auto);
      }
    }
    .FooterWrapTopService {
      .footTopBtnStudio { display:inline-block; }
      .footTopBtnDeveloper { display:inline-block; }
    }
    .FooterWrapTopCSCenter { padding-right:8px; display: inline-block; }
    .FooterWrapTopUtilNav {
      padding-top:0; display:inline-block;
      ul {}
      li {
        &:first-of-type {
          padding-left:9px;
          &:before { display:block; }
        }
      }
    }
    .FooterWrapTopAppDownload {
      border-top-width:0; width:160px;
      .linkIconText {
        padding:14px 16px 14px 16px; background-color:$BGWhite; @include vendorPrefix(border-radius, 20px);
        > span { position:relative; }
      }
    }
    .FooterWrapOperatorBody {
      .FooterWrapOperatorCo {
        ul {}
        li {
          width:25%; padding-right:5px; display:inline-block;
          &.FooterWrapOperatorItemEtc { display:inline-block; }
        }
        dl {
          dd {
            span { display:block; }
          }
        }
        .FooterWrapOperatorItemEtc {
          padding-top:20px; @include FSB12; color:$FCMedium;
          span { display:inline-block; }
        }
      }
    }
  }
}