@import "~styles/base/util";

.DetailFileInfoWrap {
  background-color:#ffffff;
  .DetailFileInfoInner {
    padding:0 0 0 0;
    @include pcMaxWidth;
    @include boxSizing;
  }
  .DetailFileInfoBox { padding:0 16px 0 16px; }
  .DetailFileInfoBoxInner {
    padding:16px 0 15px 0; border-bottom:1px solid $BCExtraL;
    table {
      width:auto; max-width:100%; border-width:0; table-layout:auto;
      th {
        padding:8px 0 0 16px; border-width:0; text-align:left;
        &:first-of-type { padding-left:0px; }
      }
      td { padding:8px 0 0 8px; border-width:0; text-align:left; }
      tr {
        &:first-of-type {
          th, td { padding-top:2px; }
        }
      }

      i.icon16 { top:2px; margin-right:4px; }
    }
  }
}

@include for-768-only {
  .DetailFileInfoWrap {
    .DetailFileInfoInner { padding-left:24px; padding-right:24px; }
  }
}

@include for-1080-only {
  .DetailFileInfoWrap {
    .DetailFileInfoBoxInner {
      padding-top:24px; padding-bottom:24px;
      table {
        width:auto; max-width:100%; border-width:0; table-layout:auto;
        th {
          padding:12px 0 0 32px; border-width:0; text-align:left;
          &:first-of-type { padding-left:0px; }
        }
        td { padding:12px 0 0 8px; border-width:0; text-align:left; }

        tr {
          &:first-of-type {
            th, td { padding-top:4px; }
          }
        }

        .tB14 { @include FSST16; }

        i.icon16 {
          top:1px; margin-right:8px;
          &.deviceAOS16 { width:20px; height:20px; background-position:-320px -563px; }
          &.deviceiOS16 { width:20px; height:20px; background-position:-341px -563px; }
          &.deviceWeb16 { width:20px; height:20px; background-position:-362px -563px; }
        }
        
      }
    }
  }
}