@import "~styles/base/util";

.DetailFloatingWrap {
  position:fixed; left:0; top:0; right:0; width:100%; background-color:#ffffff; border-bottom:1px solid $BGExtraL; display:none; z-index:1000;
  @include Shadow2;
  .DetailFloatingInner {
    padding:32px 40px 0 40px;
    @include pcMaxWidth;
    @include boxSizing;
  }
  .DetailFloatingBox { margin-bottom:24px; width:100%; height:83px; table-layout:fixed; display:table; }
  .DetailFloatingBoxCell { vertical-align:top; display:table-cell; }
  .DetailFloatingPurchase {
    padding-left:16px; width:360px;
    .PurchaseBox {
      position:static; display:block;
      .PurchaseBoxWrap { padding:0; }
      .PurchaseBoxInner { padding:0; border-top:0; }
    }
  }
  .DetailFloatingNav {
    .SecondaryBar.detailTab {
      .SecondaryBarWrap { padding:0; }
      .SecondaryBarInner { padding:0; border-color:transparent; }
      .detailTablink.detailTablinkSel {
        &:before { bottom:-2px; }
      }
    }
  }
}

@include for-768-only {
  .DetailFloatingWrap {
    display:block;
  }
}

@include for-1080-only {
  .DetailFloatingWrap {
    display:block;
    .DetailFloatingInner {
      padding:40px 16px 0 16px;
    }
    .DetailFloatingHeader {
      .tST18B { @include FSH32; @include textLineEll(2,82px); }
    }
    .DetailFloatingPurchase { width:400px; }
  }
}