@import "~styles/base/util";

.IconTextButton, a.IconTextButton, button.IconTextButton {
	padding:8px; text-decoration:none; vertical-align:top; display:inline-block;
	
	i.icon { vertical-align:top; }

	span { font-size:18px; color:$primaryColor; line-height:24px; vertical-align:top; display:inline-block; }
	&.s14 {
		.check16 { margin-right:4px; top:4px; }
		span { font-size:14px; }
	}

	&.SortingCheckBtn {
		padding:6px 0; line-height:20px;
		span {
			font-size:$primarySize; color:$primaryDimColor; line-height:20px;
		}
		&.IconSize16 {
			i.icon { margin-right:4px; vertical-align:top; top:2px; }
		}

		&.SortingCheckBtn.selected {
			span { color:$primaryColor; }
		}
	}

	&.SortingDropDownBtn {
		padding:6px 0; line-height:20px;
		span {
			font-size:$primarySize; color:$primaryColor; line-height:20px;
		}
		&.IconSize16 {
			i.icon { margin-left:2px; vertical-align:top; top:2px; }
		}
	}

	&.SortingTitleBtn {
		padding:6px 0; line-height:20px;
		span {
			font-size:$primarySize; color:$primaryColor; line-height:20px;
		}
		&.IconSize16 {
			i.icon { vertical-align:top; top:2px; }
		}
	}

	&.primary {
		span { color:$primaryColor; }
	}
}