@import "~styles/base/util";

.LogOutWrap {
  padding:0 0 0 0;
  @include pcMaxWidth;
  @include boxSizing;
  .LogOutInner { padding:0 16px; }
  .btnMyLogOutLink {
    padding:12px 15px; text-align:center; display:block;
    border:1px solid $BCMedium50;
    @include boxSizing;
    @include vendorPrefix(border-radius, 8px);
    @include Shadow2;
    > span { display:block; }
    .mylogout22 { margin-right:4px; }
  }
}

@include for-768-only {
  .LogOutWrap {
    .LogOutInner { padding:0 40px; }
  }
}

@include for-1080-only {
  .LogOutWrap {
    .LogOutInner { padding:8px 0 0 0; }
    .btnMyLogOutLink {
      padding:13px 16px; text-align:left; display:block;
      border-width:0;
      @include vendorPrefix(border-radius, 0);
      @include vendorPrefix(box-shadow, 0 0 0 0 rgba(0, 0, 0, 0));
      .mylogout22 { margin-right:8px; }
    }
  }
}