@import "~styles/base/util";

.MemberSubButton {
  position:relative;
  @include pcMaxWidth;
  @include boxSizing;
  .MemberSubButtonInner {}
  .MemberSubButtonBody { width:100%; padding:0 16px; display:block; @include boxSizing;}
  .MemberSubButtonBodyInner { padding:16px 0 16px 0; text-align:center; }
  .MemberSubButtonBtn { }
  .MemberSubButtonItem {
    position:relative; display:inline-block;
    .linkSt {
      padding-top:0; padding-bottom:0;
      .tB14 { text-decoration:underline; }
    }
  }

  &.idpass {
    .MemberSubButtonBodyInner { padding-top:31px; padding-bottom:23px; }
    .MemberSubButtonSummary { @include FSB14; color:$FCDark; }
    .MemberSubButtonBtn { padding-top:4px; line-height:16px; }
    .MemberSubButtonItem {
      &:before { position: absolute; content:''; left:0; top:50%; margin-top:-6px; width:1px; height:12px; background-color:$BCDark10; }
      &:first-of-type {
        &:before { display:none; }
      }
    }
  }
}

@include for-768-only {
  .MemberSubButton {
    .MemberSubButtonInner { padding:0 24px; }
    .MemberSubButtonBody {}
    .MemberSubButtonBodyInner {}
  }
}

@include for-1080-only {
  .MemberSubButton {
    .MemberSubButtonInner { padding:0; }
    .MemberSubButtonBody { }
    .MemberSubButtonBodyInner { padding-top:24px; padding-bottom:24px; }
    .MemberSubButtonBtn { }
    .MemberSubButtonItem {
      .linkSt {
        .tB14 { @include FSST16; }
      }
    }

    &.idpass {
      .MemberSubButtonBodyInner { padding-top:40px; padding-bottom:32px; }
      .MemberSubButtonSummary { @include FSST16; }
      .MemberSubButtonBtn { padding-top:8px; line-height:20px; }
      .MemberSubButtonItem {
        &:before { margin-top:-7px; height:14px; }
        .tB12 { @include FSB14; }
      }
    }
  }
}