@import "~styles/base/util";

.GnbSearch {
  width:280px;
  @include boxSizing;

  .GnbSearchInner {
    width:100%; padding:0 15px 0 15px; border:1px solid $BGMedium;
    @include flexBox;
    @include boxSizing;
    @include vendorPrefix(border-radius, 16px);
    .GnbSearchBox {
      width:100%; 
      @include flexBox;
      @include boxSizing;
    }
    .GnbSearchInput {
      @include flexBox;
      @include flexWidth(1 1);
      @include flexDirection(column);
      @include alignSelf(center);
      label { display:none; }
      .formInput { padding:0; min-width:1px; }
      input {
        padding:0; border-width:0; background-color:transparent;
        @include vendorPrefix(border-radius, 0px);
      }
    }
    .GnbSearchDel {
      padding:0 0 0 8px; display:none;
      // @include flexBox;
      // @include flexWidth(0 0 auto);
      // @include alignItems(center);
    }
    .GnbSearchSubmit {
      padding:0 0 0 8px;
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
    }

    .linkSt { padding:0; }
    .linkIcon24 { padding:7px 0px; }
  }

  &.focus {
    .GnbSearchInner {
      border-color:$BGPoint; background-color:$BGWhite;
      .GnbSearchBox { }
    }
  }
  &.on {
    .GnbSearchInner {
      border-color:$BGPoint; background-color:$BGWhite;
      .GnbSearchBox { }
    }
    .GnbSearchDel {
      @include flexBox;
      @include flexWidth(0 0 auto);
      @include alignItems(center);
    }
  }
}

@include for-768-only {
  .GnbSearch {
    .GnbSearchInner {
    }
  }
}

@include for-1080-only {
  .GnbSearch {
    .GnbSearchInner {
      .GnbSearchInput {
        input { @include FSB14; }
      }
    }
  }
}