.commentsep {
  position: relative;
  min-width: 320px;
  z-index: 2;


  .header {
    position: relative;
    width: 100%;
    background: #f7f5f2;
    z-index: 100;

    .header-co {
      position: relative;
      padding: 0 75px 0 44px;
      height: 48px;

      a.btn-header {
        position: absolute;
        top: 0;
        width: 32px;
        height: 48px;
        display: block;
      }
      a.btn-header-mycomment {
        right: 5px;
        width: auto;
        span {
          padding: 11px 10px 11px 10px;
          font-size: 15px;
          line-height: 21px;
          color: #271801;
          display: block;
        }
      }
    }
    h2 {
      height: 48px;
      display: block;

      .header-title {
        position: relative;
        padding: 3px 0 5px 32px;
        display: block;
      }
    }
  }

  .header.detail {
    background: #fff;

    .header-co {
      padding-left: 2px;
      padding-right: 45px;

      h2 .header-title {
        padding-left: 13px;

        span {
          font-size: 19px;
          line-height: 38px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


.layout-list-sort-wrap {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;

  .layout-list-sort-inner {
    position: relative;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
  }

  .layout-list-sort-left {
    float: left;
    ul {
      padding: 8px 0 7px 15px;

      li {
        display: inline-block;
      }
    }
    ul.layout-list-sort-text {
     padding: 7px 0 6px 15px;

     li {
      font-size: 12px;
      line-height: 24px;
      }
    }
  }

  .layout-list-sort-right {
    float: right;

    ul {
      padding: 7px 10px 9px 0;

      li {
        display: inline-block;

        a {
          position: relative;
          padding: 0 6px 0 8px;
          font-size: 13px;
          color: #89816b;
          line-height: 24px;
          display: block;
        }
        a.selected {
          color: #c39a31;
          font-weight: 700;
        }
        a:before {
          position: absolute;
          content: '';
          left: 0;
          top: 7px;
          width: 1px;
          height: 9px;
          background: #e5e5e4;
          display: block;
        }
      }
    }
  }
}













