@import "~styles/base/util";

.formRadioMutiple {
  position:relative; width:100%; padding:0 16px 8px 16px;
  @include pcMaxWidth;
  @include boxSizing;
  @include flexBox;
  @include flexWrap(wrap);
  .formRadioMutipleLabel {
    width:100%; padding:14px 0px 6px 0px;
    overflow:hidden;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include alignItems(center);

    .textSt {
      max-width:100%; padding-right:8px;
      @include boxSizing;
      @include textEll(inline-block,20px);
    }

    &.required {
      .textSt {
        position:relative;
        &:before {
          position:absolute; content:''; right:0px; top:0; width:5px; height:5px; background-color:$BGPoint; display:block;
          @include vendorPrefix(border-radius, 2px);
        }
      }
    }
  }
  .formRadioMutipleGroup {
    position:relative; width:100%;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignSelf(center);
  }

  .formRadioMutipleGroupInner {
    display:block;
  }
  .formRadioMutipleItem {
    padding-right:40px; display:inline-block; @include boxSizing;
    &:last-of-type { padding-right:0; }
    .formRadio { min-width:1px; padding-left:0; padding-right:0; padding-bottom:0; }
    .formRadioInner { padding-top:8px; padding-bottom:8px; }
  }
  .formRadioMutipleInfo {
    padding:8px 16px 0 16px; @include FSB12; color:$FCMedium;
    &.error { color:$FCError; }
  }

  &.member {
    padding-bottom:0;
    .formRadioMutipleGroupInner { border-bottom:1px solid $BCExtraL; }
    .formRadioMutipleItem {
      .formRadioInner { padding-top:12px; padding-bottom:12px; }
    }
  }
}

@include for-768-only {
  .formRadioMutiple {
    padding-left:40px; padding-right:40px;
  }
}

@include for-1080-only {
  .formRadioMutiple {
    padding-bottom:16px;
    @include flexWrap(nowrap);
    .formRadioMutipleLabel {
      width:160px; padding:20px 16px 16px 16px;
      @include flexWidth(0 0 auto);
      .tB14B { @include FSST18B; height:24px; }
    }
    .formRadioMutipleGroup {
      @include flexWidth(1 1);
      @include alignSelf(flex-start);
    }

    .formRadioMutipleItem {
      padding-right:64px;
      &:last-of-type { padding-right:0; }
      .formRadioInner { padding-top:16px; padding-bottom:16px; }
    }

    .formRadioMutipleInfo {
      @include FSB14;
    }

    &.member {
      padding-bottom:0;
      .formRadioMutipleGroupInner { border-bottom:1px solid $BCExtraL; }
      .formRadioMutipleItem {
        .formRadioInner { padding-top:16px; padding-bottom:16px; }
      }
    }
  }
}