{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@lib": "./lib"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ],
  "env": {
    "staging": {
      "plugins": [["transform-remove-console", {"exclude": ["error", "warn", "info"] }]]
    },
    "production": {
      "plugins": [["transform-remove-console", {"exclude": ["info"] }]]
    }
  }
}
