@import "~styles/base/util";

.CashPointTable {
  position:relative; padding:0;
  @include pcMaxWidth;
  @include boxSizing;
  .CashPointTableInner { position:relative; padding:8px 16px 0 16px; }
  .CashPointTableCo {
    position:relative; padding:4px 0 0 0;
    &:before { position:absolute; content:''; left:0; top:0; right:0; width:100%; height:1px; border-top:1px solid $BCExtraL; border-bottom:1px solid $BCExtraL; display:block;}
  }
  table {
    table-layout:fixed;
    thead {
      th {
        position:relative; padding:0 5px;
        &:before { position:absolute; content:''; left:0; bottom:0; right:0; width:100%; height:1px; border-top:1px solid $BCExtraL; border-bottom:1px solid $BCExtraL; display:block;}
      }
      .tCashPointTableTextTh { padding:8px 0 12px 0; }
    }
    tbody {
      tr {
        &:first-of-type {
          td { padding-top:20px;}
        }
      }
      td { padding:12px 5px; }
      .textSt { text-align:center; display:block; }
      .tCashPointTableTextDesc { @include textEll(block, 16px); }
    }

    .ListNoResultsInner {
      padding:0;
      .ListNoResultsBox { height:296px; }
    }
  }
}

@include for-768-only {
  .CashPointTable {
    padding:0 24px;
    .CashPointTableInner {}
    .CashPointTableCo {}
  }
}

@include for-1080-only {
  .CashPointTable {
    .CashPointTableInner {}
    .CashPointTableCo {}
    table {
      thead {
        .tCashPointTableTextTh { padding:14px 0 18px 0; @include FSB14B; }
      }
      tbody {
        tr {
          &:first-of-type {
            td { padding-top:22px;}
          }
        }
        td { padding:14px 5px; }
        .tB12 { @include FSB14; text-align:center; display:block; }
        .tCashPointTableTextDesc { @include textEll(block, 20px); }
      }

      .ListNoResultsInner {
        padding:0;
        .ListNoResultsBox { height:360px; }
      }
    }
  }
}