@import "~styles/base/util";

.TextField {
	position:relative; padding:0; color:$FCDark; text-decoration:none; display:block;
	@include FSB14;

	span { display:block; }

	&.itemRendererTitle {
		margin-bottom:4px;
		span {
			@include textLineEll(2,40px);
		}
	}
	&.itemRendererTitleLike {
		@include FSB12;
		span {
			@include textEll(block,16px);
		}
	}
	&.itemRendererArtistNm {
		span {
			@include textEll(block,16px);
		}
	}
	&.itemRendererArtistNmLike {
		@include FSB12; color:$FCMedium;
		span {
			@include textEll(block,16px);
		}
	}
	&.itemRendererArtistNm
	, &.itemRendererPublisherNm
	, &.itemRendererRegDt
	, &.itemRendererSeries
	, &.itemRendererAvgScore
	, &.itemRendererComment {
		margin-bottom:4px; color:$FCMedium;
		@include FSB12;
	}

	&.itemRendererRankingNum {
		width:30px; margin-right:16px; text-align:center; display:block;
		@include FSST20B; color:$FCDark;
		@include numFamily;
	}

	&.thumbnailBadge {
		padding:0 3px; color:$FCWhite; @include FSC10B;
	}

	&.IconTextField {
		span { vertical-align:top; display:inline-block; }
		i.avgscore12 { top:2px; vertical-align:top; }
		i.comment12 { top:2px; vertical-align:top; }
	}
}

// .itemRendererTextInfo1 {
// 	@include FSB12;
// 	@include textEll(block,16px);
// 	.itemRendererPublisherNm
// 	, .itemRendererRegDt
// 	, .itemRendererSeries {
// 		margin-bottom:0;
// 		display:inline-block; vertical-align:top;
// 	}

// 	.TextField {
// 		padding:0 8px 0 9px;
// 		&:before {
// 			position:absolute; content:''; left:0; top:2px; width:1px; height:12px; background-color:$BCExtraL; display:block;
// 		}
// 		&:first-of-type {
// 			padding-left:0;
// 			&:before { display:none; }
// 		}
// 	}
// }

// .itemRendererTextEvaluation1 {
// 	@include FSB12;
// 	@include textEll(block,16px);
// 	.itemRendererAvgScore
// 	, .itemRendererComment {
// 		margin-bottom:0;
// 		display:inline-block; vertical-align:top;
// 	}
// 	.TextField {
// 		padding:0 8px 0 9px;
// 		&:before {
// 			position:absolute; content:''; left:0; top:2px; width:1px; height:12px; background-color:$BCExtraL; display:block;
// 		}
// 		&:first-of-type {
// 			padding-left:0;
// 			&:before { display:none; }
// 		}
// 	}
// }


@include for-1080-only {
	.TextField {
		&.itemRendererTitle {
			@include for-1080-only {
				margin-bottom:8px;
				@include FSST18;
				span {
					@include textLineEll(2,48px);
				}
			}
		}
		&.itemRendererTitleLike {
			@include FSB14;
			span {
				@include textEll(block,20px);
			}
		}
		&.itemRendererArtistNm {
			span {
				@include textEll(block,20px);
			}
		}
		&.itemRendererArtistNmLike {
			@include FSB14; color:$FCMedium;
			span {
				@include textEll(block,20px);
			}
		}
		&.itemRendererArtistNm
		, &.itemRendererPublisherNm
		, &.itemRendererRegDt
		, &.itemRendererSeries
		, &.itemRendererAvgScore
		, &.itemRendererComment {
			margin-bottom:8px;
			@include FSB14;
		}
	}

	// .itemRendererTextInfo1 {
	// 	@include textEll(block,20px);
	// 	.itemRendererPublisherNm
	// 	, .itemRendererRegDt
	// 	, .itemRendererSeries {
	// 		margin-bottom:0;
	// 	}

	// 	.TextField {
	// 		&:before {
	// 			height:16px;
	// 		}
	// 	}
	// }

	// .itemRendererTextEvaluation1 {
	// 	@include textEll(block,20px);
	// 	.itemRendererAvgScore
	// 	, .itemRendererComment {
	// 		margin-bottom:0;
	// 	}
	// 	.TextField {
	// 		&:before {
	// 			height:16px;
	// 		}
	// 	}
	// }
}