<li><input type="radio" name="whosPC" id="whosPC_1" value="http://tstatic.priviatravel.com" checked> <label for="whosPC_1">개발서버(tstatic)</label></li>
<li><input type="radio" name="whosPC" id="whosPC_2" value="http://pstatic.priviatravel.com"> <label for="whosPC_2">퍼블리싱서버(pstatic)</label></li>
<li><input type="radio" name="whosPC" id="whosPC_3" value="http://192.168.0.134:4769"><label for="whosPC_3">권순환서버</label></li>
<li><input type="radio" name="whosPC" id="whosPC_4" value="http://192.168.0.230:4769"><label for="whosPC_4">서성우서버</label></li>
<li><input type="radio" name="whosPC" id="whosPC_5" value="http://192.168.0.225:4769"><label for="whosPC_5">정일영서버</label></li>
<li><input type="radio" name="whosPC" id="whosPC_6" value="http://192.168.0.74:8080"><label for="whosPC_6">김예솔서버</label></li>

