<!doctype html>
<!--[if IE 9 ]> <html lang="ko" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
<title>Realtime Publishing Codingmap</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div id="join">
	<h3 class="project-title">계정 신청 대기 현황</h3>
	
	<ul class="project-list"></ul>
	
	<div class="btn-join">
		<input type="button" class="btn-gray" value="계정신청">
		<a href="/login" class="btn-gray go-login">로그인</a>
		<a href="/codingmap/list" class="btn-gray adm-hidden">코딩맵 목록</a>
	</div>
	<div id="join-layer" class="layer-pop">
		<h4 class="layer-title">계정정보 작성</h4>
		<form id="accountApp">
			<table>
			<caption>계정신청</caption>
			<colgroup>
			<col width="30%"><col width="70%">
			</colgroup>
			<tbody>
			<tr>
				<th>이름</th>
				<td><input type="text" id="name" name="name" style="width:300px"></td>
			</tr>
			<tr>
				<th>아이콘</th>
				<td>
					<input type="radio" id="man" name="gender" checked value="M"><label for="man"><img src="/images/ico-user.png" alt="남성"></label>
					<input type="radio" id="woman" name="gender" value="F"><label for="woman"><img src="/images/ico-user-female.png" alt="여성"></label>
				</td>
			</tr>
			<tr>
				<th>이메일</th>
				<td><input type="text" id="email" name="email" style="width:300px"></td>
			</tr>
			<tr>
				<th>아이디</th>
				<td><input type="text" id="id" name="id" style="width:300px"></td>
			</tr>
			<tr>
				<th>패스워드</th>
				<td><input type="password" id="pw" name="pw" style="width:300px"></td>
			</tr>
			</tbody>
			</table>
			<p class="guide-message">※ 작성 완료 후 관리자에게 코멘트 해주세요.</p>
			<div class="btnWrap"><input type="submit" class="btn-gray" value="작성완료"></div>
		</form>
		
	</div>
</div>

<script charset="utf-8" src="/javascripts/jquery-1.8.3.min.js"></script>
<script charset="utf-8" src="/javascripts/join.js"></script>
<script charset="utf-8" src="/javascripts/dimm.js"></script>
</body>
</html>