@import "~styles/base/util";

.formInput {
  position:relative; width:100%; padding:0 16px 8px 16px;
  @include pcMaxWidth;
  @include boxSizing;
  @include flexBox;
  @include flexWrap(wrap);
  label {
    width:100%; padding:14px 0px 6px 0px;
    overflow:hidden;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include alignItems(center);

    .textSt {
      max-width:100%; padding-right:8px;
      @include boxSizing;
      @include textEll(inline-block,20px);
    }

    &.required {
      .textSt {
        position:relative;
        &:before {
          position:absolute; content:''; right:0px; top:0; width:5px; height:5px; background-color:$BGPoint; display:block;
          @include vendorPrefix(border-radius, 2px);
        }
      }
    }
  }
  .formInputBox {
    width:100%;
    @include boxSizing;
    @include flexWidth(0 0 auto);
    @include flexDirection(column);
    @include alignSelf(center);

    &.on {
      input[type="text"]
      , input[type="password"]
      , input[type="search"]
      , input[type="tel"] { border-color:$BCMedium; }
    }
  }
  input[type="text"]
  , input[type="password"]
  , input[type="search"]
  , input[type="tel"] {
    width:100%; padding:11px 15px 11px 15px; color:$FCDark; outline-width:0; letter-spacing:-1px; display:block;
    border:1px solid $BCLight50;

    @include FSB14;
    @include boxSizing;
    @include vendorPrefix(border-radius, 12px);

    &:focus { border-color:$BCMedium; }
    &:disabled { color:$FCMedium; border-color:$BCLight !important; background-color:$BGGrey !important; }

    @include inputPlaceholder {
      color:$FCMedium;
    }
    @include inputCustomClear;
  }

  .formInputInfo {
    padding:8px 16px 0 16px; @include FSB12; color:$FCMedium50;
    &.error { color:$FCError; }
    &.success { color:$FCDark; }

    .formInputInfoCheck {
      position:relative; padding:0 0 4px 8px; @include FSB12; color:$FCMedium50;
      &:last-of-type { padding-bottom:0; }
      i.requiredCheck12 { position:absolute; left:-8px; top:2px; }
      &.check { color:$FCDark; }
    }
  }

  &.formLabelHidden {
    label { display:none; }
  }

  // label { display:none; }
  // &.inlineBlock { display:inline-block; }
}

@include for-768-only {
  .formInput {
    padding-left:40px; padding-right:40px;
  }
}

@include for-1080-only {
  .formInput {
    padding-bottom:16px;
    @include flexWrap(nowrap);

    label { 
      width:160px; padding:16px;
      @include flexWidth(0 0 auto);
      .tB14B { @include FSST18B; height:24px; }
    }
    .formInputBox {
      padding:0;
      @include flexWidth(1 1);
      @include alignSelf(flex-start);
    }
    input[type="text"]
    , input[type="password"]
    , input[type="search"]
    , input[type="tel"] { @include FSST18; padding:15px; }

    .formInputInfo {
      @include FSB14;
      .formInputInfoCheck {
        padding-left:12px; @include FSB14;
        &:last-of-type { padding-bottom:0; }
        i.requiredCheck12 { width:16px; height:16px; background-position:-174px -551px; }
      }
    }
  }
}