@charset "utf-8";
/*--------------------------------------------------------------------------------------------------------------
 *  fonts
 *--------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'YouandiModernTR'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_TextRegular.eot); 
    src: url(/fonts/Youandi_Modern_TextRegular.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_TextRegular.woff) format('woff')
}
@font-face {
    font-family: 'YouandiModernTB'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_TextBold.eot); 
    src: url(/fonts/Youandi_Modern_TextBold.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_TextBold.woff) format('woff')
}
@font-face {
    font-family:'YouandiModernHEB'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_HeadExtraBold.eot); 
    src: url(/fonts/Youandi_Modern_HeadExtraBold.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_HeadExtraBold.woff) format('woff')
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:100;
    src: url('/fonts/NotoSansKR-Thin.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Thin.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Thin.woff') format('woff'),
         url('/fonts/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:300;
	src: url('/fonts/NotoSansKR-Light.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Light.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Light.woff') format('woff'),
         url('/fonts/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:400;
	src: url('/fonts/NotoSansKR-Regular.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Regular.woff') format('woff'),
         url('/fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:500;
	src: url('/fonts/NotoSansKR-Medium.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Medium.woff') format('woff'),
         url('/fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:700;
	src: url('/fonts/NotoSansKR-Bold.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Bold.woff') format('woff'),
         url('/fonts/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:900;
	src: url('/fonts/NotoSansKR-Black.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Black.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Black.woff') format('woff'),
         url('/fonts/NotoSansKR-Black.otf') format('opentype');
}

/*--------------------------------------------------------------------------------------------------------------
 *  common - reset, lyout
 *--------------------------------------------------------------------------------------------------------------*/
/* reset */
* {color: #000;}
#top-area-sec, #top-area-sec, #top-area-sec,
#top-area-sec *, #top-area-sec *:after, #top-area-sec *:before,
#header-sec *, #header-sec *:after, #header-sec *:before, 
#content-sec *, #content-sec *:after, #content-sec *:before,
#footer-sec *, #footer-sec *:after, #footer-sec *:before {font-family: "NotoSansKR", "Malgun Gothic", sans-serif;font-weight: 300;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}

/* lyout */ 
#top-area-sec, #header-sec, #content-sec, #footer-sec {min-width: 1200px;}
#content-sec {position: relative;}
.ly-inner {width:1200px;margin:0 auto;position:relative;}
.w-content-sec {padding: 80px 0;}

/*--------------------------------------------------------------------------------------------------------------
 *  common
 *  css naming : s- for Section, b- for Button, ly- for Layout, u- for UI, c- for Components, o- for Object
 *--------------------------------------------------------------------------------------------------------------*/
/* 접근성 */
.a11y {overflow:hidden;position:absolute;clip:rect(0 0 0 0);/*IE6,7*/clip:rect(0,0,0,0);width:1px;height:1px;margin:-1px;border:0;padding:0;}
.a11y.focusable:focus {overflow:visible;position:static;clip:auto;width:auto;height:auto;margin:0;}

/* 컬러 */
.c-point1{color:#e93a84 !important;}
.c-point1-400{color:#e93a84 !important;font-weight:400 !important}
.c-point2{color:#1f7ab1 !important}
.c-point3{color:#ffe400 !important}

/* gnb 배경색상 */
.c-bg-air {background-color: #288ecc !important;}
.c-bg-hotel {background-color: #00b290 !important;}
.c-bg-free {background-color: #00a3b2 !important;}
.c-bg-freetour {background-color: #00b290 !important;}

/* 텍스트 */
.c-txt-point1 {margin-left: -9px;padding-left: 9px;position: relative;}
.c-txt-point1:before {content: '';display: block;width: 4px;height: 4px;background-color: #e93a84;position: absolute;top: 4px;left: 0;border-radius: 4px;}

/*--------------------------------------------------------------------------------------------------------------
 *  common - UI
 *--------------------------------------------------------------------------------------------------------------*
/* 1.6.0 slick.min */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/* slick dots 스타일(기본 white) */
.c-slick-dots .cs-dots-crt {display: inline-block;vertical-align: middle;margin-right: 2px;}
.c-slick-dots .cs-dots-crt .b-slick-crt {width: 15px;height: 15px;background: url(/images/front/travel/contents/icon-common-sec.png) -62px -160px no-repeat;vertical-align: top;}
.c-slick-dots .cs-dots-crt .on {background-position: -81px -160px;}
.c-slick-dots.csd-gray .cs-dots-crt .b-slick-crt {background-position: -62px -139px;}
.c-slick-dots.csd-gray .cs-dots-crt .on {background-position: -81px -139px;}
.c-slick-dots .slick-dots {display: inline-block;text-align: left;vertical-align: middle;}
.c-slick-dots .slick-dots li {display: inline-block;margin: 0 5px;}
.c-slick-dots .slick-dots li button {display: inline-block;width: 12px;height: 12px;background-color: #fff;opacity: 0.4;font-size:0;text-indent: -9999em;border-radius: 50%;vertical-align: middle;transition: opacity 0.3s;}
.c-slick-dots.csd-gray .slick-dots li button {background-color: #e2e2e2;}
.c-slick-dots .slick-dots .slick-active button {opacity: 1;}

/* 버튼 */
.btn-base {display: inline-block;vertical-align: middle;}
.btn-base * {transition: all 0.3s;vertical-align: middle;}
.btn-base a, .btn-base button, .btn-base input {display: block;text-align: center;}
.btn-base button, .btn-base input {background-color: transparent;border:0;padding:0;cursor:pointer}
/* radius 버튼1 */
.bbr-st1 a, .bbr-st1 button, .bbr-st1 input {font-size:12px;color: #000;min-width: 50px;padding: 2px 14px 4px 14px;background-color: #fff;border-radius: 12px;}
.bbr-st1 a:hover, .bbr-st1 button:hover, .bbr-st1 input:hover {color: #e93a84;}
/* radius 버튼2 */
.bbr-st2 {position: relative;overflow: hidden;border-radius: 14px;}
.bbr-st2 a, .bbr-st2 button, .bbr-st2 input {font-size:13px;color: #fff;min-width: 50px;padding: 2px 14px 4px 14px;position: relative;z-index: 1;}
.bbr-st2 a:hover, .bbr-st2 button:hover, .bbr-st2 input:hover {color: #000;}
.bbr-st2:before {content: '';display: block;width: 100%;height: 100%;background-color: #fff;position: absolute;top: 0;left: 0;opacity: 0.4;z-index: 0;transition: opacity 0.3s;}
.bbr-st2:hover:before {opacity: 1;}
/* 일반버튼1 */
.bb-st1 a, .bb-st1 button, .bb-st1 input {font-size:14px;color: #000;min-width: 50px;padding: 8px 22px 10px 22px;background-color: #fff;border-radius: 2px;}
.bb-st1 a:hover, .bb-st1 button:hover, .bb-st1 input:hover {color: #e93a84;}

/* 인풋 */
.input-base::-webkit-input-placeholder {color:#999;font-weight: 300;}
.input-base::-moz-placeholder {color:#999;font-weight: 300;} 
.input-base:-ms-input-placeholder {color:#999;font-weight: 300;} 
.input-base:-moz-placeholder {color:#999;font-weight: 300;}
.input-base::placeholder {color:#999;font-weight: 300;}
.input-base.placeholder {color:#999;font-weight: 300;}
.input-base {vertical-align:middle;outline:none;-webkit-appearance:none;-webkit-border-radius:0px;}

/* label */
.label-base {display: inline-block;vertical-align: middle;position: relative;}

/*--------------------------------------------------------------------------------------------------------------
 *  common - header
 *--------------------------------------------------------------------------------------------------------------*/
/* 상단 리본 영역 */
#top-area-sec {background-color: #000;display: none;}
.w-tas-promotion {padding: 30px 0;border-bottom: 1px solid #1a1a1a;}
.w-tas-promotion .tasp-list {display: table;table-layout: fixed;width: 100%;}
.w-tas-promotion .tasp-list li {display: table-cell;position: relative;padding-left: 30px;width: 16.66666666666667%;word-wrap: break-word;}
.w-tas-promotion .tasp-list li:first-child {padding-left:0;}
.w-tas-promotion .tasp-list .tasp-tit {position: relative;}
.w-tas-promotion .tasp-list .tasp-tit:after {content: '';display: block;width: 11px;height: 21px;position: absolute;right: 0;top: 23px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -1px no-repeat;opacity: 0.4;}
.w-tas-promotion .tasp-list .tasp-tit .label {font-size: 12px;display: inline-block;min-width: 25px;padding: 1px 10px;border:1px solid #ddd;border-radius: 10px;text-align: center;margin-bottom: 5px;color: #ddd;}
.w-tas-promotion .tasp-list .tasp-tit .tit a {display: block;color: #ddd;font-size: 14px;line-height: 24px;transition: color 0.3s;}
.w-tas-promotion .tasp-list .tasp-tit .tit a:hover {color: #e93a84;}
.w-tas-promotion .tasp-detail {padding: 10px 0 35px 0;display: none;}
.w-tas-promotion .tasp-detail dt, .tasp-detail dd {font-size: 12px;line-height: 20px;color: #ddd;}
.w-tas-promotion .tasp-detail dd em {color: #e93a84;}
.w-tas-promotion .tasp-detail .b-tasp-more {position: absolute;bottom: 0;opacity: 0;}
.w-tas-promotion .tasp-list.on .tasp-detail {display: block;}
.w-tas-promotion .tasp-list.on .b-tasp-more {opacity: 1;transition: opacity 1s;}

/* 헤더 영역 */
#header-sec {background-color: #fff;}
/* 유틸 영역 */
.w-header-util {height: 40px;padding-top: 10px;overflow: hidden;text-align: right;background-color: #000;}
.w-header-util:after {content: '';display: block;clear:both;}
.w-header-util .hu-control {float: left;margin-right: 30px;text-align: left;}
.w-header-util .hu-control > span {display: inline-block;vertical-align: middle;}
.w-header-util .hu-control .c-chk .closeToday {height: 20px;color: #ddd;font-size:12px;padding-left: 24px;}
.w-header-util .hu-control .c-chk .closeToday:after {content: '';display: block;width: 15px;height: 15px;position: absolute;left: 0;top: 2px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -45px no-repeat;}
.w-header-util .hu-control .c-chk .closeToday.on:after {background-position: -20px -45px;}
.w-header-util .hu-control .b-crt {display: inline-block;vertical-align: middle;}
.w-header-util .hu-control .b-crt a {display: inline-block;width: 18px;height: 18px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -49px no-repeat;opacity: 0.4;}
.w-header-util .hu-control .b-crt.bc-close {margin-left: 20px;}
.w-header-util .hu-control .b-crt.bc-close a {background-position: 2px -24px;}
.w-header-util .hu-control .b-crt.bc-open {margin-left: 5px;}
.w-header-util .hu-control .b-crt.bc-open a {background-position: -38px -24px;}
.w-header-util .hu-control .b-crt.bc-open.on a {background-position: -19px -24px;}
.w-header-util .hu-notice {float: left;height: 20px;overflow: hidden;text-align: left;padding-left: 30px;position: relative;}
.w-header-util .hu-notice:after {content: '';display: block;width: 18px;height: 16px;position: absolute;top: 2px;left: 0;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -141px no-repeat;}
.w-header-util .hu-notice ul {height: 20px;width: 400px;}
.w-header-util .hu-notice li {width: 400px;height: 20px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.w-header-util .hu-notice .point a {color: #e93a84;}
.w-header-util .hu-notice li a {font-size:12px;color: #ddd;display: inline-block;vertical-align: middle;transition: color 0.3s;}
.w-header-util .hu-notice li a:hover {color: #e93a84;}
.w-header-util .hu-notice .point strong {display: inline-block;font-size:12px;font-weight: 300;color: #fff;background-color: #e93a84;border-radius: 10px;padding: 0 10px 1px 10px;margin-right: 8px;vertical-align: middle;}
.w-header-util .hu-user {display: inline-block;text-align: right;vertical-align: top;}
.w-header-util .hu-user span {display: inline-block;font-size:12px;color: #ddd;padding-left: 22px;position: relative;}
.w-header-util .hu-user span:after {content: '';display: block;width: 14px;height: 14px;position: absolute;left:0;top:4px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 0 no-repeat;}
.w-header-util .hu-user.privia span:after {background-position: 0px -65px;}
.w-header-util .hu-user.naver span:after {background-position: 0 -84px;}
.w-header-util .hu-user.facebook span:after {background-position: 0 -103px;}
.w-header-util .hu-user.twitter span:after {background-position: 0 -122px;}
.w-header-util .nav-util {display: inline-block;margin-right: -20px;text-align: left;}
.w-header-util .nav-util:after {content: '';display: block;clear:both;}
.w-header-util .nav-util li {float: left;position: relative;}
.w-header-util .nav-util li:after {content: '';display: block;width: 1px;height: 12px;background-color: #333;position: absolute;top: 5px;left: 0;}
.w-header-util .nav-util li:first-child:after {display: none;}
.w-header-util .nav-util li a {display: inline-block;color: #ddd;font-size:12px;padding: 1px 20px;transition: color 0.3s;}
.w-header-util .nav-util li a:hover {color: #e93a84;}
.w-header-util .nav-util .on a {color: #e93a84;}

/* GNB */
.w-header-gnb {padding: 60px 0 30px 0;position: relative;}
.w-header-gnb:after {content: '';display: block;clear:both;}
.w-header-gnb:before {content: '';display: block;width: 100%;height: 1px;background-color: #fff;opacity: 0.1;position: absolute;bottom: 0;left: 0;}
.w-header-gnb .h-logo {float: left;}
#nav-gnb {float: right;}
#nav-gnb:after {content: '';display: block;clear:both;}
#nav-gnb > li {float: left;}
#nav-gnb > li > a {display: inline-block;padding: 0 20px;}
#nav-gnb > li .txt {font-size:18px;color: #fff;}
#nav-gnb .b-total-nav a {width: 28px;height: 23px;overflow: hidden;padding-right: 0;padding-left: 48px;background: url(/images/front/travel/contents/icon-common-sec.png) 22px -160px no-repeat;}

/* 검색 영역 */
.w-header-search {padding: 84px 0 50px 0;/*padding-bottom: 160px;padding-bottom: 364px;padding-bottom: 466px;padding-bottom: 568px;*/} /* 204px, 102px */
.w-header-search .ly-inner:after {content: '';display: block;clear:both;}
.hs-quick-menu:after {content: '';display: block;clear:both;}
.hs-quick-menu .sq-menu {float: left;margin-right: 35px;}
.hs-quick-menu .sqm-main {display: inline-block;vertical-align: middle;}
.hs-quick-menu .sqm-main a {font-size:24px;color: #fff;opacity: 0.4;}
.hs-quick-menu .sqm-sub {display: none;vertical-align: middle;margin-top: 4px;}
.hs-quick-menu .sqm-sub a {min-width: 75px;}
.hs-quick-menu .sqm-sub:after {content: '';display: block;clear:both;}
.hs-quick-menu .sqm-sub li {float: left;margin-left: 10px;}
.hs-quick-cont {margin-top: 28px;position: relative;}
.hs-quick-cont .sq-inner-cont {display: none;position: relative;z-index: 0;}
.hs-quick-cont .sq-inner-cont.on {display: block;}
/* 검색 메뉴 - 항공섹션 */
.hs-quick-menu .sqm-air .sqm-sub a {position: relative;padding-right: 30px;}
.hs-quick-menu .sqm-air .sqm-sub a:before {content: '';display: block;width: 12px;height: 9px;top: 7px;right: 14px;position: absolute;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -198px no-repeat;}
.hs-quick-menu .sqm-air .b-shuttle a:before {background-position: 0 -198px;}
.hs-quick-menu .sqm-air .b-shuttle a:hover:before {background-position: -20px -198px;}
.hs-quick-menu .sqm-air .b-oneway a:before {height: 4px;top: 9px;background-position: 0 -212px;}
.hs-quick-menu .sqm-air .b-oneway a:hover:before {height: 4px;top: 10px;background-position: -20px -212px;}
.hs-quick-menu .sqm-air .b-multiway a {padding-left: 14px;padding-right: 25px;}
.hs-quick-menu .sqm-air .b-multiway a:before {width: 9px;right: 11px;background-position: 0 -221px;}
.hs-quick-menu .sqm-air .b-multiway a:hover:before {width: 9px;background-position: -20px -221px;}
/* 검색 메뉴 - 활성화 */
.hs-quick-menu .sq-menu.on .sqm-main a {font-weight: 500 !important;opacity: 1;}
.hs-quick-menu .sq-menu.on .sqm-sub {display: inline-block;}
.hs-quick-menu .sq-menu.on .sqm-sub .on a {color: #000;}
.hs-quick-menu .sq-menu.on .sqm-sub .on .bbr-st2:before {opacity: 1;}
.hs-quick-menu .sq-menu.on .sqm-sub .on .b-shuttle a:before {background-position: -20px -198px;}
.hs-quick-menu .sq-menu.on .sqm-sub .on .b-oneway a:before {background-position: -20px -198px;}
.hs-quick-menu .sq-menu.on .sqm-sub .on .b-multiway a:before {background-position: -20px -198px;}
/* 검색 박스 - 공통 */
.sq-search-box {display: none;}
.sq-search-box.on {display: block;}
.sq-search-box .w-qsb-cont {overflow: hidden;margin-bottom: 12px;border-radius: 6px;position: relative;}
.sq-search-box .w-qsb-cont:after {content: '';display: block;clear:both;}
.sq-search-box .w-qsb-cont .qsb-cont {float: left;border-left: 1px solid #ddd;}
.sq-search-box .w-qsb-cont .qsb-cont:first-child {border-left: 0;}
.sq-search-box .w-qsb-cont-indep {border-radius: 0;}
.sq-search-box .w-qsb-cont-indep:after {content: '';display: block;clear:both;}
.sq-search-box .w-qsb-cont-indep .qsb-cont {overflow: hidden;border-radius: 6px;}
.sq-search-box .qsb-cont {background-color: #fff;padding: 22px 30px;height: 90px;}
.sq-search-box .qsb-cont .qsb-area {display: block;z-index: 0;}
.sq-search-box .qsb-cont .qsb-label {display: block;font-size: 18px;color: #999;font-weight: 500 !important;margin-top: 7px;}
.sq-search-box .qsb-cont .qsb-input {display: none;}
.sq-air .sq-search-box .qsb-cont .qsb-c {color: #288ecc;}
.sq-hotel .sq-search-box .qsb-cont .qsb-c {color: #00a57e;}
.sq-search-box .qsb-cont.on .qsb-label, 
.sq-search-box .qsb-capacity .qsb-label {font-size: 12px;color: #666;font-weight: 300 !important;margin-top: 0;}
.sq-search-box .qsb-cont.on .qsb-input, 
.sq-search-box .qsb-capacity .qsb-input {display: block;font-size:18px;color: #000;font-weight: 500 !important;margin-top: 5px;}
.sq-search-box .qsb-cont.on .qsb-input em, .sq-search-box .qsb-capacity .qsb-input em {font-size:18px;font-weight: 500 !important;}
/*  검색 박스 - places */ 
.sq-search-box .qsb-places:after {content: '';display: block;clear:both;}
.sq-search-box .qsb-places .places-exit {float: left;width: 50%;}
.sq-search-box .qsb-places .places-entry {float: left;width: 50%;}
/* 검색 박스 - dates */
.sq-search-box .qsb-dates.on .qsb-chkin, .sq-search-box .qsb-dates.on .qsb-chkout, .sq-search-box .qsb-dates.on .qsb-result-days {display: inline-block;font-size:18px;color: #000;font-weight: 500 !important;} 
.sq-search-box .qsb-dates.on .qsb-chkin {margin-right: 24px;} 
.sq-search-box .qsb-dates.on .qsb-chkout {padding-left: 24px;position: relative;} 
.sq-search-box .qsb-dates.on .qsb-chkout:before {content: '';display: block;width: 10px;height: 1px;background-color: #909090;position: absolute;left: 0;top: 14px;}
.sq-search-box .qsb-dates:after {content: '';display: block;clear:both;}
.sq-search-box .qsb-dates.on .qsb-result-days {margin-left: 10px;}
/* 검색 박스 - capacity, capacity-name */
/* 검색 박스 - 검색버튼 */
.sq-search-box .qsb-btn-search {background-color: #000;padding: 0;position: relative;}
.sq-search-box .qsb-btn-search:before {content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 0;transition: opacity 0.3s;}
.sq-search-box .qsb-btn-search .b-search {background-color: transparent;display: block;width: 100%;text-align: center;color: #fff;font-size:18px;font-weight: 500 !important;line-height: 90px;position: relative;z-index: 1;}
.sq-search-box .qsb-btn-search.on:before {opacity: 0;}
.sq-air .sq-search-box .qsb-btn-search:before {background-color: #c8e2f1;}
.sq-hotel .sq-search-box .qsb-btn-search:before {background-color: #aae2d7;}
/* 검색 박스 - 다구간 추가, 삭제 버튼 */
.sq-search-box .qsb-btn-add {position: absolute;top: 22px;right: 24px;border-radius: 2px;overflow: hidden;}
.sq-search-box .b-add-multiway {display: block;width: 46px;height: 46px;background-color: #fff;padding: 0;border:2px solid #288ecc;}
.sq-search-box .b-add-multiway:before, .sq-search-box .b-add-multiway:after {content: '';display: block;position: absolute;background-color: #288ecc;}
.sq-search-box .b-add-multiway:before {width: 2px;height: 24px;top:50%;left: 50%;margin-top: -12px;margin-left: -1px;}
.sq-search-box .b-add-multiway:after {width: 24px;height: 2px;top:50%;left: 50%;;margin-top: -1px;margin-left: -12px;}
.sq-search-box .b-remove-multiway {display: none;width: 46px;height: 46px;background-color: #fff;premoveing: 0;border:2px solid #288ecc;width: 46px;height: 46px;}
.sq-search-box .b-remove-multiway:after {content: '';display: block;position: absolute;background-color: #288ecc;}
.sq-search-box .b-remove-multiway:after {width: 24px;height: 2px;top:50%;left: 50%;;margin-top: -1px;margin-left: -12px;}
.sq-search-box .qsb-btn-add.on .b-add-multiway {display: none;}
.sq-search-box .qsb-btn-add.on .b-remove-multiway {display: block;}
/* 검색 박스 - 다구간 여정 number */
.sq-search-box .qsb-number {text-align: center;padding: 20px 0;}
.sq-search-box .qsb-number .qsb-number-inner {border-right: 1px solid #ddd;padding: 4px 30px;}
.sq-search-box .qsb-number .qsb-number-inner > span {display: inline-block;vertical-align: middle;}
.sq-search-box .qsb-number .txt1 {font-size: 12px;}
.sq-search-box .qsb-number .txt2 {font-size: 26px;font-family: 'YouandiModernTB' !important;}
/* 검색 박스 - lyout 왕복, 편도*/
.sq-air .sq-inner-cont .qsb-places .places-exit {padding-right: 20px;position: relative;}
.sq-air .sq-inner-cont .qsb-places .places-exit:before {content: '';display: block;width: 16px;height: 14px;position: absolute;top: 50%;margin-top: -7px;right: 0;background: url(/images/front/travel/contents/icon-common-sec.png) -41px -198px no-repeat;}
.sq-air .sq-inner-cont .qsb-places .places-entry {padding-left: 20px;}
.sq-inner-cont .o-shuttle .qsb-places {width: 39.08333333333333%;}
.sq-inner-cont .o-oneway .qsb-places .places-exit:before {background-position: -41px -214px;}
.sq-inner-cont .o-shuttle .qsb-places .places-entry {padding-left: 20px;}
.sq-inner-cont .o-shuttle .qsb-dates {width: 28.16666666666667%;}
.sq-inner-cont .o-shuttle .qsb-capacity {width: 24.41666666666667%;}
.sq-inner-cont .o-shuttle .qsb-btn-search {width: 8.333333333333333%;}
/* 검색 박스 - lyout 다구간 */
.sq-inner-cont .o-multiway .qsb-number {width: 8.416666666666667%;}
.sq-inner-cont .o-multiway .qsb-places {width: 55.08333333333333%;border-left: 0;}
.sq-inner-cont .o-multiway .qsb-places .places-exit:before {background-position: -41px -214px;}
.sq-inner-cont .o-multiway .qsb-dates {width: 36.5%;}
.sq-inner-cont .o-multiway .qsb-dates .qsb-area {padding-right: 0px;margin-right: 60px;}
.sq-inner-cont .o-multiway .w-qsb-cont-indep .qsb-capacity {width: 24.33333333333333%;float: left;}
.sq-inner-cont .o-multiway .w-qsb-cont-indep .qsb-btn-search {width: 9.166666666666667%;float: right;}
/* 검색 박스 - lyout 해외호텔 */
.sq-inner-cont .o-inth .qsb-places {width: 20%;border-left: 0;}
.sq-inner-cont .o-inth .qsb-places .places-exit {width: 100%;}
.sq-inner-cont .o-inth .qsb-dates {width: 32.08333333333333%;}
.sq-inner-cont .o-inth .qsb-capacity {width: 19.33333333333333%;}
.sq-inner-cont .o-inth .qsb-capacity-name {width: 20%;}
.sq-inner-cont .o-inth .qsb-btn-search {width: 8.333333333333333%;}
/* 검색 박스 - lyout 국내호텔 */
.sq-inner-cont .o-domh .qsb-places {width: 20%;border-left: 0;}
.sq-inner-cont .o-domh .qsb-places .places-exit {width: 100%;}
.sq-inner-cont .o-domh .qsb-dates {width: 32.08333333333333%;}
.sq-inner-cont .o-domh .qsb-capacity {width: 19.33333333333333%;}
.sq-inner-cont .o-domh .qsb-capacity-name {width: 20%;}
.sq-inner-cont .o-domh .qsb-btn-search {width: 8.333333333333333%;}
/* 검색 ui - 공통 */
.hs-quick-cont .sq-ui-search-box {display: block;background-color: #fff;overflow: hidden;border-radius: 6px; position: relative;z-index: 1;
-webkit-box-shadow: 7px 7px 13px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 7px 7px 13px 0px rgba(0,0,0,0.3);
box-shadow: 7px 7px 13px 0px rgba(0,0,0,0.3);
}
.hs-quick-cont .sq-ui-search-box {display: block;}
.hs-quick-cont .ui-maincity-air {width: 963px;}
.hs-quick-cont .ui-citysearch-auto {width: 470px;}
.hs-quick-cont .ui-date-calendar {width: 770px;}
/* 검색 ui - 상단 input */
.uis-input {padding: 45px 28px;border-bottom: 1px solid #ededed;} 
.uis-input .input-base {border:0;width: 100%;font-size:18px;font-weight: 500 !important;} 
.uis-input .uis-date-chkin, .uis-input .uis-date-chkout {display: inline-block;width: 200px;} 
.uis-input .uis-date-chkout {position: relative;padding-left: 28px;} 
.uis-input .uis-date-chkout:before {content: '';display: block;width: 10px;height: 1px;background-color: #909090;position: absolute;left: 0;top: 14px;}
.uis-input .uis-chk {position: absolute;top: 45px;right: 30px;}
.uis-input .uis-chk .unDay {height: 20px;padding-left: 30px;font-size:14px;color: #000;}
.uis-input .uis-chk .unDay:before {content: '';display: block;width: 20px;height: 20px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -235px no-repeat;position: absolute;top: 0;left: 0;}
/* 검색 ui - 주요도시 */
.uic-table {width: 100%;table-layout: fixed;}
.uic-table td {vertical-align: top;border-top:1px solid #ececec;position: relative;overflow: hidden;}
.uic-table tr:first-child td {border-top: 0;}
.uic-table td:after {content: '';display: block;width: 1px;height: 100%;position: absolute;bottom: -50px;right: 0;background-color: #ececec;}
.uic-table td .tit {background-color: #f9f9f9;font-size:14px;font-weight: 500 !important;padding: 15px 20px;}
.uic-table td .list {border-top:1px solid #ececec;font-size:14px;font-weight: 500 !important;padding: 15px 0 15px 20px;}
.uic-table td .list a {display: block;font-size:14px;color: #000;padding: 3px 0;transition: color 0.3s;}
.uic-table td .list a:hover {color: #e93a84;}
/* 검색 ui - 도시검색 */
.uis-list {overflow: hidden;}
.uis-list .list {overflow-y: auto;max-height:168px;} /* +3 */
.uis-list .list li {border-top: 1px solid #ededed;}
.uis-list .list li:first-child {border-top: 0;}
.uis-list .list li a {display: block;padding: 15px 29px;background-color: #fff;}
.uis-list .list li .name-city {display: inline-block;font-size:16px;color: #000;font-weight: 500 !important;}
.uis-list .list li .name-air {display: inline-block;font-size:16px;color: #000;margin-left: 15px;}
.uis-list .list-sub li {border-top: 1px solid #ededed !important;position: relative;}
.uis-list .list-sub li:before {content: '';display: block;width: 11px;height: 15px;border-left: 1px solid #adb0b7;border-bottom: 1px solid #adb0b7;position: absolute;left: 29px;top: 19px;}
.uis-list .list-sub li a {padding-left: 50px;}
.uis-list .tip-exp {font-size:16px;color: #000;padding: 15px 29px;background-color: #f9f9f9;border-top: 1px solid #ededed;}
/* 검색 ui - 달력 */
.uis-datepicker .ui-datepicker {margin:0;padding:25px 20px 30px 20px;border:0;}
.uis-datepicker .ui-datepicker * {margin:0;padding:0;border:0;background:none;text-align:center;color:#000;font-weight: 500 !important;}
.uis-datepicker .ui-datepicker-multi {width: 100% !important;}
.uis-datepicker .ui-datepicker-multi:after {content: '';display: block;clear:both;}
.uis-datepicker .ui-datepicker-multi-2 .ui-datepicker-group {width: 50% !important;}
.uis-datepicker .ui-datepicker-header {padding-bottom:25px;background-color: #fff;position: relative;z-index: 10;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-title span {font-size:18px;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-prev span {display:inline-block;width:10px;height:18px;text-indent:-9999px;background: url(/images/front/travel/contents/icon-common-sec.png) 0 -302px no-repeat;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-next span {display:inline-block;width:10px;height:18px;text-indent:-9999px;background: url(/images/front/travel/contents/icon-common-sec.png) -15px -302px no-repeat;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-prev {position:absolute;top: 125px;left:0;}
.uis-datepicker .ui-datepicker-header .ui-datepicker-next {position:absolute;top: 125px;right:0;}
.uis-datepicker .ui-datepicker-calendar {width: 92%;margin: 0 auto;table-layout: fixed;position: relative;z-index: 10;}
.uis-datepicker .ui-datepicker-calendar thead tr th {text-align: center;}
.uis-datepicker .ui-datepicker-calendar thead tr th span {display:inline-block;font-size:12px;width: 36px;height:auto;padding-bottom: 10px;text-indent:0;}
.uis-datepicker .ui-datepicker-calendar tbody tr td {vertical-align: middle;}
.uis-datepicker .ui-datepicker-calendar thead tr th .Sunday, 
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-sunday *, 
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-holiday * {color: #ff3333;}
.uis-datepicker .ui-datepicker-calendar thead tr th .Saturday,
.uis-datepicker .ui-datepicker-calendar tbody tr td.date-saturday * {color: #2c5ade;}
.uis-datepicker .ui-datepicker-calendar tbody tr td a, 
.uis-datepicker .ui-datepicker-calendar tbody tr td span {width:34px;height:40px;line-height:40px;margin: 0 auto;color:#000;font-size:14px;font-weight: 500 !important;position: relative;}
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-state-disabled {opacity: 0.4;}
.uis-datepicker .ui-datepicker-calendar tbody tr td .ui-state-default, 
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today .ui-state-default {background: none;color: #000;}
.uis-datepicker .ui-datepicker-calendar tbody tr td.ui-datepicker-today:before {content: 'Today';width: 100%;font-size:12px;color: #f2006b;text-align: center;position: absolute;left: 0;bottom: -4px;}
.uis-datepicker .ui-datepicker-calendar tbody tr td .ui-state-hover {background-color: #eee;}
.uis-datepicker .dp-highlight {position: relative;}
.uis-datepicker .dp-highlight.ui-datepicker-today:before {font-size:0 !important;}
.uis-datepicker .dp-highlight .ui-state-default {background-color: #f30774 !important;color: #fff !important;border-radius: 3px;}
.uis-datepicker .dp-highlight .ui-state-hover {background: none;}
.uis-datepicker .dp-highlight.pd-between .ui-state-default {background: none !important;color: #000 !important;border-radius: 0;}
.uis-datepicker .dp-highlight.pd-between:before,
.uis-datepicker .dp-highlight.dp-first:before,
.uis-datepicker .dp-highlight.dp-end:before {content:'';display:block;width:100%;height:30px;position:absolute;left:0;top:5px;background: #fde9f1;z-index:0;}
.uis-datepicker .dp-highlight.dp-first:before {left: 10px;}
.uis-datepicker .dp-highlight.dp-end:before {left: -10px;}
.uis-datepicker .dp-highlight.dp-first.ui-datepicker-today:before {font-size:0 !important;left: 10px !important;bottom: 0 !important;}
.uis-datepicker .dp-highlight.dp-first .ui-state-default:after {content:'';display:block;height:100%;position:absolute;top:0;right:-12px;z-index:1;width:0;height:0;
border-top:20px solid transparent;
border-bottom:20px solid transparent;
border-right:0;
border-left:13px solid #f30774;
}
.uis-datepicker .dp-highlight.dp-end .ui-state-default:after {content:'';display:block;height:100%;position:absolute;top:0;left:-12px;z-index:1;width:0;height:0;
border-top:20px solid transparent;
border-bottom:20px solid transparent;
border-right:13px solid #f30774;
border-left:0;
}






/*--------------------------------------------------------------------------------------------------------------
 *  common - footer
 *--------------------------------------------------------------------------------------------------------------*/
/* 푸터 영역 */
#footer-sec {background-color: #000;}
.w-footer-sec {padding: 80px 0;}
.w-footer-sec .fts-call a {color: #fff;font-size:16px;transition: color 0.3s;}
.w-footer-sec .fts-call a:hover {color: #e93a84;}
.w-footer-sec .fts-call em {color: #e93a84;}
.w-footer-sec .nav-fnb {margin-top: 20px;}
.w-footer-sec .nav-fnb:after {content: '';display: block;clear:both;}
.w-footer-sec .nav-fnb li {float: left;position: relative;}
.w-footer-sec .nav-fnb li a {display: inline-block;color: #fff;font-size:14px;padding: 1px 10px;transition: color 0.3s;}
.w-footer-sec .nav-fnb li a:hover {color: #e93a84;}
.w-footer-sec .nav-fnb li:first-child a {padding-left:0;}
.w-footer-sec .nav-fnb li:after {content: '';display: block;width: 1px;height: 12px;background-color: #333;position: absolute;top: 6px;left: 0;}
.w-footer-sec .nav-fnb li:first-child:after {display: none;}
.w-footer-sec .nav-fnb li a strong {color: #fff;font-weight: bold;}
.w-footer-sec .fts-info {margin-top: 20px;}
.w-footer-sec .fts-info * {color: #ddd;font-size:12px;}
.w-footer-sec .fts-info:after {content: '';display: block;clear:both;}
.w-footer-sec .fts-info li {float: left;position: relative;color: #ddd;font-size:12px;padding: 0 10px;line-height: 22px;}
.w-footer-sec .fts-info li a {text-decoration: underline;}
.w-footer-sec .fts-info li:after {content: '';display: block;width: 1px;height: 10px;background-color: #333;position: absolute;top: 7px;left: 0;}
.w-footer-sec .fts-info li:first-child {padding-left:0;}
.w-footer-sec .fts-info li:first-child:after {display: none;}
.w-footer-sec .fts-info .line-down {float: none;clear: both;padding-left: 0;}
.w-footer-sec .fts-info .line-down:after {display: none;}
.w-footer-sec .fts-partnership {margin-top: 20px;font-size:12px;color: #ddd;font-weight: bold;line-height: 22px;}

/* 하단 프로모션 */
.s-fix-promotion {position: fixed;z-index: 1;width: 292px;bottom: 40px;right: 10px;text-align: right;}
.s-fix-promotion .b-open {display: inline-block;}
.s-fix-promotion .txt {display: inline-block;width: 72px;text-align: center;padding-top: 70px;background: url(/images/front/travel/contents/event-fix-promotion.png) 50% 0 no-repeat;}
.s-fix-promotion .fpromo-box {position: absolute;bottom: 0;right: 0;width: 292px;text-align: left;border: 1px solid #e2e6eb;border-radius:10px;overflow: hidden;display: none;
-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
}
.s-fix-promotion .fpromo-box .cont {background-color: #288ecc;/*padding: 24px 26px;*/}
/*.s-fix-promotion .fpromo-box .cont .tit {font-size: 18px;line-height: 28px;color: #fff;}*/
.s-fix-promotion .b-close {position: absolute;top: 25px;right: 25px;width: 16px;height: 16px;background: url(/images/front/travel/contents/icon-common-sec.png) 1px -25px no-repeat;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents
 *--------------------------------------------------------------------------------------------------------------*/
/* 메인 간격 */
.ws-main-cont .s-rec-list-cont, .ws-main-cont .s-banner-cont, .ws-main-cont .s-benefit-cont {margin-bottom: 80px;}

/* 메인 추천 프로모션 */
.s-rec-list-cont:after {content: '';display: block;clear:both;}
.s-rec-list-cont .rlc-left {float: left;width: 580px;z-index: 0;}
.s-rec-list-cont .rlc-right {float: right;width: 580px;z-index: 0;}
.s-rec-list-cont .rlc-list-main {margin-bottom: 80px;position: relative;}
.s-rec-list-cont .rlc-list-main .slick-slide {margin-left: 20px;}
.s-rec-list-cont .rlc-list-main .slick-list {margin-left: -20px;}
.s-rec-list-cont .rlc-list-main > ul {width: 100%;overflow: hidden;}
.s-rec-list-cont .rlc-list-main .o-box {width: 100%;}
.s-rec-list-cont .rlc-list-main .o-box > a:hover .tit {color: #e93a84;}
.s-rec-list-cont .rlc-list-main .tit {display: block;color: #000;font-size:26px;line-height: 36px;margin-bottom: 10px;font-weight: 400;margin-bottom: 10px;transition: color 0.3s;}
.s-rec-list-cont .rlc-list-main .exp {display: block;color: #000;font-size:14px;line-height: 20px;margin-bottom: 30px;}
.s-rec-list-cont .rlc-list-main .vis {display: block;overflow: hidden;border-radius: 6px;}
.s-rec-list-cont .rlc-list-sub .rlc-ls-left {float: left;width: 280px;}
.s-rec-list-cont .rlc-list-sub .rlc-ls-right {float: right;width: 280px;}
.s-rec-list-cont .rlc-list-sub .slick-slide {margin-left: 15px;}
.s-rec-list-cont .rlc-list-sub .slick-list {margin-left: -15px;}
.s-rec-list-cont .rlc-list-sub ul {width: 100%;overflow: hidden;}
.s-rec-list-cont .rlc-list-sub .o-box {width: 100%;}
.s-rec-list-cont .rlc-list-sub .o-box > a:hover .tit {color: #e93a84;}
.s-rec-list-cont .rlc-list-sub .tit {display: block;color: #000;font-size:18px;line-height: 28px;margin-bottom: 10px;transition: color 0.3s;}
.s-rec-list-cont .rlc-list-sub .date {display: block;color: #000;font-size:14px;line-height: 24px;margin-bottom: 30px;}
.s-rec-list-cont .rlc-list-sub .vis {display: block;overflow: hidden;border-radius: 6px;}
.s-rec-list-cont .cb-crt {position: absolute;width: 100%;top:242px;z-index: 1;}
.s-rec-list-cont .cb-crt .b-crt {display: inline-block;position: absolute;top:0;}
.s-rec-list-cont .cb-crt .b-crt a {display: inline-block;width: 60px;height: 60px;position: relative;}
.s-rec-list-cont .cb-crt .b-crt a:before {content: '';display: block;width: 100%;height: 100%;background: url(/images/front/travel/contents/icon-common-sec.png) -62px 0 no-repeat;position: absolute;top: 0;left: 0;transition: opacity 0.3s;}
.s-rec-list-cont .cb-crt .b-crt a:after {content: '';display: block;width: 100%;height: 100%;background: url(/images/front/travel/contents/icon-common-sec.png) -132px 0 no-repeat;position: absolute;top: 0;left: 0;opacity: 0;transition: opacity 0.3s;}
.s-rec-list-cont .cb-crt .b-crt.bc-next a:before {background-position: -62px -70px;}
.s-rec-list-cont .cb-crt .b-crt.bc-next a:after {background-position: -132px -70px;}
/*.s-rec-list-cont .cb-crt .b-crt a:hover:before {opacity: 0;}*/
.s-rec-list-cont .cb-crt .b-crt a:hover:after {opacity: 1;}
.s-rec-list-cont .cb-crt .b-crt.bc-prev {left: -30px;}
.s-rec-list-cont .cb-crt .b-crt.bc-next {right: -30px;}
.s-rec-list-cont .rlc-list-main .c-slick-dots {position: absolute;top: 0;right: 0;width: 200px;text-align: right;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots {text-align: right;background-color: #fff;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots li {pointer-events: none;cursor: none;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots li:last-child {margin-right: 0;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots button {opacity: 1;/*transition: opacity, color, background-color, width, padding 0.3s;*/}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots .slick-active button {opacity: 1;text-indent: inherit;font-size:13px;color: #fff;width: auto;height: auto;padding: 1px 12px 3px 12px;border-radius: 12px;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots .slick-active .dot-air {background-color:#288ecc;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots .slick-active .dot-free {background-color:#00b290;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots .slick-active .dot-freetour {background-color:#288ecc;}
.s-rec-list-cont .rlc-list-main .c-slick-dots .slick-dots .slick-active .dot-hotel {background-color:#00b290;}

/* 메인 추천 프로모션 배너 */
.s-banner-cont {position: relative;}
.s-banner-cont .bc-list li {height: 320px;}
.s-banner-cont .bc-list .vis {height: 100%;}
.s-banner-cont .bc-list .b-link {margin-top: 190px;}
.s-banner-cont .bc-crt {position: absolute;top: 0;left: 50%;margin-left: -600px;}
.s-banner-cont .cb-crt {position: absolute;width:1200px;top:145px;}
.s-banner-cont .cb-crt .b-crt {display: inline-block;position: absolute;top:0px;}
.s-banner-cont .cb-crt .b-crt a {display: inline-block;width: 60px;height: 60px;}
.s-banner-cont .cb-crt .b-crt a:before {content: '';display: block;width: 100%;height: 100%;background: url(/images/front/travel/contents/icon-common-sec.png) -62px 0 no-repeat;position: absolute;top: 0;left: 0;transition: opacity 0.3s;}
.s-banner-cont .cb-crt .b-crt a:after {content: '';display: block;width: 100%;height: 100%;background: url(/images/front/travel/contents/icon-common-sec.png) -132px 0 no-repeat;position: absolute;top: 0;left: 0;opacity: 0;transition: opacity 0.3s;}
.s-banner-cont .cb-crt .b-crt.bc-next a:before {background-position: -62px -70px;}
.s-banner-cont .cb-crt .b-crt.bc-next a:after {background-position: -132px -70px;}
.s-banner-cont .cb-crt .b-crt a:hover:after {opacity: 1;}
.s-banner-cont .cb-crt .b-crt.bc-next {right: -30px;}
.s-banner-cont .c-slick-dots {position: absolute;left: 0;top: 260px;}

/* 메인 PRIVIA 혜택 */
.s-benefit-cont .list-benefit:after {content: '';display: block;clear:both;}
.s-benefit-cont .list-benefit li {float: left;margin-left: 20px;border:1px solid #e2e6eb;border-radius: 3px;background-color: #eef1f6;position: relative;}
.s-benefit-cont .list-benefit li:first-child {margin-left: 0;}
.s-benefit-cont .list-benefit li > a {display: block;width: 283px;padding: 45px 0;}
.s-benefit-cont .list-benefit li > a:hover .txt {color: #e93a84;}
.s-benefit-cont .list-benefit li > a:hover .inner:before {opacity: 0;}
.s-benefit-cont .list-benefit li > a:hover .inner:after {opacity: 1;}
.s-benefit-cont .list-benefit li .inner {display: table;width: 100%;text-align: center;font-size: 18px;color: #000;height: 60px;margin-top: 140px;}
.s-benefit-cont .list-benefit li:before {content: '';display: block;width: 140px;height: 140px;background-color: #fff;border-radius: 50%;position: absolute;top: 40px;left: 50%;margin-left: -25%;pointer-events: none;}
.s-benefit-cont .list-benefit li .inner:before {content: '';display: block;width: 50px;height: 50px;position: absolute;left: 50%;margin-left: -25px;top: 90px;background:url(/images/front/travel/contents/icon-benefit-contents.png) 0 0 no-repeat;transition: opacity 0.3s;}
.s-benefit-cont .list-benefit li .inner:after {content: '';display: block;width: 50px;height: 50px;position: absolute;left: 50%;margin-left: -25px;top: 90px;background:url(/images/front/travel/contents/icon-benefit-contents.png) -60px 0 no-repeat;opacity: 0;transition: opacity 0.3s;}
.s-benefit-cont .list-benefit .bfit1 .inner:before {background-position: 0 0;}
.s-benefit-cont .list-benefit .bfit2 .inner:before {background-position: 0 -61px;}
.s-benefit-cont .list-benefit .bfit3 .inner:before {background-position: 0 -122px;}
.s-benefit-cont .list-benefit .bfit4 .inner:before {background-position: 0 -170px;}
.s-benefit-cont .list-benefit .bfit1 .inner:after {background-position: -60px 0;}
.s-benefit-cont .list-benefit .bfit2 .inner:after {background-position: -60px -61px;}
.s-benefit-cont .list-benefit .bfit3 .inner:after {background-position: -60px -122px;}
.s-benefit-cont .list-benefit .bfit4 .inner:after {background-position: -60px -170px;}
.s-benefit-cont .list-benefit .txt {display: table-cell;vertical-align: middle;font-weight: 400;transition: color 0.3s;}

/* 메인 공지사항 */
.s-information-cont:after {content: '';display: block;clear:both;}
.s-information-cont .sic-board {float: left;width: 876px;}
.s-information-cont .sic-board .tit {margin-bottom: 24px;}
.s-information-cont .sic-board .tit a {font-size:24px;color: #000;font-weight: 400;display: inline-block;padding-right: 20px;position: relative;}
.s-information-cont .sic-board .tit a:after {content: '';display: block;width: 11px;height: 21px;position: absolute;right: 0;top: 9px;background: url(/images/front/travel/contents/icon-common-sec.png) -14px 0 no-repeat;}
/*.s-information-cont .sic-board .tit a:hover {color: #e93a84;transition: color 0.3s;}*/
.s-information-cont .sic-board .list li {border-bottom: 1px solid #e2e2e2;position: relative;}
.s-information-cont .sic-board .list li a {font-size: 16px;color: #000;padding: 11px 0 13px 0;display:block;text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:780px;transition: color 0.3s;}
.s-information-cont .sic-board .list li a:hover {color: #e93a84;}
.s-information-cont .sic-board .list .date {font-size: 16px;color: #818181;position: absolute;right: 0;top: 10px;}
.s-information-cont .sic-aside {float: right;width: 285px;}
.s-information-cont .sic-aside .tit {display: block;font-size:18px;color: #000;line-height: 28px;height: 56px;font-weight: 300;margin-bottom: 30px;transition: color 0.3s;}
.s-information-cont .sic-aside > a:hover .tit {color: #e93a84;}
.s-information-cont .sic-aside .tit em {font-weight: inherit;}
.s-information-cont .sic-aside .vis {display: block;border-radius: 6px;overflow: hidden;}


