@charset "utf-8";

/* cross-sys old-ver */
.old-ver input.text{color:#121212 !important;border:1px solid #cdcdcd !important;background:url(/images/front/travel/common/ico_form.png) 0 0 repeat-x !important}

.old-ver .textarea{color:#121212 !important; border:1px solid #cdcdcd !important; background:url(/images/front/travel/common/ico_form.png) 0 -66px repeat-x !important}

.old-ver input.text:focus{background:url(/images/front/travel/common/ico_form.png) 0 0 repeat-x !important}
.old-ver .textarea:focus{background:url(/images/front/travel/common/ico_form.png) 0 -66px repeat-x !important}

.old-ver input.text_cal{background:url(/images/front/travel/common/ico_form.png) right -33px repeat-x !important}
.old-ver input[type="checkbox"]{}
.old-ver .selectbox_option a{color:#898989 !important}
.old-ver .selectbox_title{border-top:1px solid #e8e8e8 !important; border-right:1px solid #ccc !important; border-bottom:1px solid #c6c6c6 !important; border-left:1px solid #dfdfdf !important; text-align:left !important;background:#fff url(/images/front/travel/common/ico_form.png) right -370px repeat-x !important}
.old-ver .selectbox_title.selectbox_title_disabled{background:#eee url(/images/front/travel/sprite_form_collection.png) right -80px repeat-x !important;}
.old-ver .selectbox_title.selectbox_title_disabled strong{color:#999 !important}
.old-ver .selectbox_option {margin-top:1px !important}

.old-ver .ui-buttonset .ui-button-text{color:#666 !important}
 