@charset "utf-8";

/* CSS Document */
@import url("reset.css");
@import url("common.css");
@import url("layout.css");
@import url("popup.css");
@import url("cross-common.css");
@import url("maintain-old.css"); 

#content{padding-top:30px !important}
/* 통합검색 수정 */
.total_search {/*display:none; overflow:visible; position:absolute; top:80px; left:0; width:310px;*/ /*border:1px solid #acacac; border-top:0 none; background:#fff;*/ z-index:90;}
/*.total_search {display:block; float:left; margin-right:10px; position:static; *position:relative; *top:0}*/
.total_search {position:absolute; left:0; top:0; display:block; margin-right:10px; /*overflow:hidden;*/}
.total_search .search_form {width:310px}
.total_search .search_form .inset_form {width:308px}
.total_search .history_area,
.total_search .search_form .inset_form a.close_search {display:none}
#content .total_search h2 {margin-bottom:0}

/* help icon */
.ico_air {display:inline-block; vertical-align:middle; text-align:left; text-indent:-9999px; background:url(/images/front/travel/search/ico_search.png) no-repeat;}
.ico_air.help {width:18px; height:18px; margin-top:-2px; background: url(/images/front/travel/search/ico_search.png) 0 -170px no-repeat !important}
.ico_air.help span.ui-button-text {visibility:hidden}

/* content wrap */
/*.cont_top {*zoom:1;}*/
.cont_top {position:relative; *zoom:1; padding:0 0 0 320px}
.cont_top:after {content:""; display:block; clear:both;}
/* 배너-공통 */
.bnr {position:relative; float:left;}
.bnr h2.tit {position:absolute; top:15px; left:13px;}
.bnr a {display:block; width:148px; height:148px; }
.bnr a .pic {position:absolute; bottom:17px; right:14px;}
/* 추천항공, 추천호텔, 추천에어텔 */
.bnr_random {float:left; margin:0 10px 10px 0;}
.bnr_random.air {width:148px;border:1px solid #d3d8e6;}
.bnr_random.hotel {width:148px;border:1px solid #d0d8b5;}
.bnr_random.airtel {width:148px;border:1px solid #ded0be;}
.bnr.pkg {width:148px;border:1px solid #d6d7c4;}
.bnr_dprs{width:150px;height:26px;position:absolute;top:-36px;left:639px;z-index:2;}

/* PRIVIA여행의 혜택, PRIVIA쇼핑 */
.bnr.gray {margin:0 0 10px 0;}
.bnr.gray a {border:1px solid #d2d2d2; background:#f7f7f7;}
/* 제휴사 해외패키지, 24/7 상담 및  예약 서비스 */
.bnr.white {margin:0 10px 10px 0;}
.bnr.white a {border:1px solid #d2d2d2; background:#fff;}
/* 롤링배너 */
.bnr_roll {position:relative; float:left; margin:0 10px 10px 0; border:1px solid #d2d2d2;}
.bnr_roll .tit {position:absolute; top:15px; left:13px;}
.bnr_roll .roll_img {overflow:hidden; width:308px;}
/*#bnr_special .roll_img {width:468px}  현카픽만 가로값 조정 */
/*#bnr_special .roll_img li img {width:468px !important}  현카픽만 가로값 조정 */
.bnr_roll .roll_img li {float:left;}
.bnr_roll .roll_btn {position:absolute; bottom:14px; left:14px;}
.bnr_roll .roll_btn_autoplay {left:28px}
/*.bnr_roll .roll_btn li {float:left;}*/
.bnr_roll .roll_btn em {display:inline-block; float:left; width:9px; height:9px; margin-right:4px; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/main/ico_main.png) no-repeat;}
.bnr_roll .roll_btn em.on {background-position:0 -9px; cursor:default}
.bnr_roll .btn_move {display:block; position:absolute; left:14px; bottom:13px; width:9px; height:11px;; z-index:1; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/main/ico_main.png) no-repeat 0 -30px}
.bnr_roll .btn_play {background:url(/images/front/travel/main/ico_main.png) no-repeat 0 -20px}

/* 공지사항 */
/* .notice {position:relative; clear:both; width:310px; margin-top:20px;} */
.notice {position:relative; clear:both; width:950px; height:18px; margin:46px auto -29px; *margin-top:52px; overflow:hidden}
.notice .tit {position:absolute; top:1px; left:0;}
.notice ul {/*margin-left:52px;*/ position:absolute; top:0; left:52px; width:255px;}
.notice ul li {position:relative; /*margin-bottom:9px;*/ height:22px}
/* .notice ul li .date {position:absolute; top:0; right:0;} */
.notice ul li .date {float:right}
.notice ul li, .notice ul li a {color:#acacac; font-size:11px;}
.notice ul li a {display:inline-block; width:185px;}
.notice ul li a:hover {text-decoration:underline;}
.notice ul li span {*margin-top:-11px}

/* 공지사항 텍스트 배너 */
.notice .txt_w_banner {position:absolute; top:0; left:320px; width:165px; padding-left:12px; background:url(/images/front/travel/common/bar_1x10_dedede.gif) no-repeat 0 2px;}
.notice .txt_w_banner_2 {position:absolute; top:0; left:480px; width:150px; padding-left:12px; background:url(/images/front/travel/common/bar_1x10_dedede.gif) no-repeat 0 2px;}
.notice .txt_w_banner a.ico_card {display:block; padding-left:25px; font-size:11px; color:#999; line-height:16px; background:url(/images/front/travel/common/ico_card.gif) no-repeat 0 0; }
.notice .txt_w_banner_2 a.ico_coupon {display:block; padding-left:25px; font-size:11px; color:#999; line-height:16px; background:url(/images/front/travel/common/ico_coupon.gif) no-repeat 0 0; }

/* 말풍선 */
.tip {position:relative;padding:10px;border:1px solid #333;background:#fff;color:#666;font-size:11px;line-height:16px;}
.tip2 {height:30px !important;line-height:0;}
.tip ul li {background:#fff !important;color:#666 !important;line-height:16px !important;}
.tip p {background:#fff !important;color:#666 !important;line-height:16px !important;}
.help_text {position:relative; *position:static; /* position:relative 버그 ie7 */ display:inline-block; *display:inline; *zoom:1}
*:first-child+html .help_text a.help {font-size:0; text-indent:0; line-height:0} /* display:inline-block + text-indent 버그 픽스(ie7) */
.help_text .help_box {*zoom:1;}
.help_text .help_box:after {content:"";display:block;clear:both;}
.help_text .help_box label {float:left;}
.help_text .help_box a.btn_help {float:right; margin-top:-4px;}
.help_text div.tip_box {position:absolute; /*right:-14px;*/ bottom:30px;display:none;}
.help_text div.tip_box .tip > span.bot {display:inline-block;position:absolute;right:19px;bottom:-12px;width:13px;height:12px;margin:0;padding:0;background:url(/images/front/travel/search/bg_tip_bot.png) no-repeat left top;}
.help_text a:hover + div.tip_box,
.help_text a:focus + div.tip_box {display:block} /* 말풍선 처리 모던 브라우저 */
*:first-child+html .help_text:hover,
*:first-child+html .help_text:focus {position:relative;} /* position:relative 버그 ie7 */
*:first-child+html .help_text:hover div.tip_box,
*:first-child+html .help_text:focus div.tip_box {display:block} /* 말풍선 처리 ie7 */

/* 공지사항 팝업*/
.pop_notice {position:absolute; padding:20px 25px; border:1px solid #333; background:#fff; z-index:101;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
	/*box-shadow:  수평포지션 수직포지션  2px Spread값 rgba(0, 0, 0, 알파값);*/
}
.pop_notice .cont {position:relative;}
.pop_notice .cont .btn_close {position:absolute; top:0; right:0; display:inline-block; width:15px; height:15px; background:url(/images/front/travel/common/btn_close_history.gif) 0 0 no-repeat;}

/* 도시검색 layer popup */
/* 0702 삭제 미란
.layer_main {}
.layer_main .heading {position:relative; height:33px; padding:17px 0 0 19px; background:#e42073;}
.layer_main .heading .btn_close {position:absolute; top:17px; right:20px; display:inline-block; width:15px; height:15px; text-indent:-9999px; background:url(/images/front/travel/popup/ico_popup.png) 0 0 no-repeat;}
.layer_main .content {padding:20px; background:#fff;}
.layer_main h3 {margin-bottom:10px;}
.layer_main h3.m_align span {padding-left:9px;}
.layer_main h3.m_align img {vertical-align:bottom;}
.layer_main h4 {margin-bottom:10px;}
.layer_main .search_box {padding:14px 0 25px 0;text-align:center;}
.layer_main .search_box input {vertical-align:middle;}
.layer_main .search_box a {display:inline-block;vertical-align:middle;}
.layer_main table.table_city {width:100%;margin-bottom:19px;;background:#fff;}
.layer_main table.table_city thead tr th {padding:9px 0; border-top:1px solid #666; border-bottom:1px solid #666; text-align:center;}
.layer_main table.table_city tbody tr td {border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.layer_main table.table_city tbody tr td.bnone {border-right:0 none;}
.layer_main table.table_city tbody tr td p {padding:5px 0; line-height:20px; text-align:center; color:#636363;}
.layer_main table.table_city_sel {width:100%;border:1px solid #e2e2e2;background:#f5f5f5;}
.layer_main table.table_city_sel tbody tr th {vertical-align:top;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.layer_main table.table_city_sel tbody tr th p {padding:10px 0 10px 10px;color:#333;text-align:left;}
.layer_main table.table_city_sel tbody tr td {border-bottom:1px solid #e2e2e2;}
.layer_main table.table_city_sel tbody tr td ul {margin:8px 0;*zoom:1;}
.layer_main table.table_city_sel tbody tr td ul:after {content:"";display:block;clear:both;}
.layer_main table.table_city_sel tbody tr td ul li {float:left;width:96px;color:#666;font-size:11px;}
*/

/* 24시간 /365일 예약 서비스 */
.tit_each {margin:12px 0 0 12px;}