@charset "utf-8";

/* popup */
/* 아이콘 */
.ico_pop {display:inline-block; vertical-align:middle; text-align:left; text-indent:-9999px; background:url(/images/front/travel/popup/ico_popup.png) no-repeat;}
*:first-child+html .ico_pop {font-size:0; text-indent:0; line-height:0} /* display:inline-block + text-indent 버그 픽스(ie7) */
.ico_pop.use {width:44px; height:20px; background-position:0 -65px;}
.ico_pop.disuse {width:44px; height:20px; background-position:-55px -65px;}
.ico_pop.before_reser{width:32px; height:11px; background-position:0 -110px;}
.ico_pop.before_pay{width:32px; height:11px; background-position:-45px -110px;}
.ico_pop.comple_pay{width:42px; height:11px; background-position:-90px -110px;}
.ico_pop.request_reser {width:42px; height:11px; background-position:-135px -110px;}
.ico_pop.comple_reser {width:42px; height:11px; background-position:-180px -110px;}
/* 공통 */
/*한줄 짜리 앞에 불릿이 붙어 있는 형태의 텍스트*/
.bullet_info666 {padding: 0 0 0 8px; background: url(/images/front/travel/common/bul_3x3_999.gif) 0 4px no-repeat;}
/* 하단 정보 타입 시스템 폰트 */
.layer_pop .caution_gray_system {position:relative; padding:20px 0 15px 10px; border:1px solid #e2e2e2; background:#f5f5f5; color:#999999;}
/* layer pop paging */
.layer_pop .paging {margin-top:10px;}

/* 검색결과 */
/* 카드 할인율 */
.list_card:after {content:""; display:block; clear:both;}
.list_card {*zoom:1;margin-bottom:12px;}
.list_card li {float:left; width:80px;}
.list_card li p{padding-top:5px;}
/* 이용권등록 */
.pop_search {margin-bottom:20px; /*text-align:center;*/}
.pop_search label {*vertical-align:top; *padding-top:10px;}
.pop_search a {display:inline-block; *display:inline-block; *vertical-align:top; *margin-top:1px; vertical-align:top;}
.search_des {*zoom:1;}
.search_des:after {content:""; display:block; clear:both;}
.search_des a {float:right;}
/* 우선탑승 서비스 */
.layer_pop p.txt_type1 {margin-bottom:15px;}
.layer_pop p.txt_type1 img {margin-bottom:5px;}
/* 계산기 */
.layer_pop .calculator .coupon_state {color:#999; font-size:11px;}
.layer_pop .calculator table.view2 tbody tr td strong.price {font-size:16px; line-height:24px; font-family:"맑은 고딕", "맑은고딕", Malgun Gothic, dotum;}
.layer_pop .calculator table.view2 tbody tr td strong.price span.won {display:inline-block; margin-left:2px; font-size:12px; font-family:"맑은 고딕", "맑은고딕", Malgun Gothic, dotum; color:#333; font-weight:bold;}
.layer_pop .calculator table.view2 tbody tr td span {font-size:11px;}
.layer_pop .calculator .pay_last {margin-bottom:18px;}
.layer_pop .calculator .pay_last span {display:inline-block; vertical-align:bottom;}
.layer_pop .calculator .pay_last .tit {width:130px; margin:14px 0 10px 10px;}
.layer_pop .calculator .pay_last .cont {position:relative; text-align:right; color:#252525; font-family:"맑은 고딕", "맑은고딕", Malgun Gothic, dotum; font-size:16px;}
.layer_pop .calculator .pay_last .cont .label {position:absolute; bottom:27px; left:0;}
.layer_pop .calculator .pay_last .cont .f_red {color:#fc3b33;}
.layer_pop .calculator .pay_last .cont .won {margin-left:2px; font-size:12px; font-weight:bold; font-family:"맑은 고딕", "맑은고딕", Malgun Gothic, dotum;}
.layer_pop .calculator .pay_last .cont .result {font-size:20px;}
.layer_pop .calculator .pay_last .ico_air {margin:0 15px;}
/* Reward 쿠본 보유내역 */
.layer_pop .table_right .total {color:#636363;}
.layer_pop .table_right .total strong {color:#fc3b33;}
.layer_pop .caution .depth2 {*zoom:1;}
.layer_pop .caution .depth2:after {content:"";display:block;clear:both;}
.layer_pop .caution .depth2 li {width:226px;float:left;padding:0;background:none;}
/* 나의 여행자 */
.layer_pop .table_right {text-align:right; margin-bottom:10px;}
.layer_pop .table_left {padding-top:10px; text-align:left;}
/* 여행자 추가 */
.layer_pop .pop_insertForm {padding:10px;border-top:1px solid #636363;border-bottom:1px solid #e2e2e2;*zoom:1;}
.layer_pop .pop_insertForm:after {content:"";display:block;clear:both;}
.layer_pop .pop_insertForm dt {float:left;width:68px;}
.layer_pop .pop_insertForm dt img {padding-top:9px;}
.layer_pop .pop_insertForm dd {height:40px;}
.layer_pop .pop_insertForm .ui-buttonset label {width:90px;}
.layer_pop .pop_insertForm input {vertical-align:top;}
/* 스케쥴 보기 */
.layer_pop .pay_total { margin-top: 10px;text-align: right; }
.layer_pop .pay_total p { color:#999999; }
.layer_pop .pay_total span { font-size: 0; }
.layer_pop .pay_total img { margin-top:-4px; }
.layer_pop .pay_total strong { font-weight:normal; font-family: Malgun Gothic; font-size: 18px; color: #252525;vertical-align: middle;}
.layer_pop .pay_total2 {margin-top:20px;margin-bottom:20px; }
.layer_pop .pay_total2 .tit {display:inline-block; width:200px; padding-left:10px; }
.layer_pop .pay_total2 .cont { display:inline-block; width:300px;}
.layer_pop .pay_total2 .price {font-size:18px;}
.layer_pop .pay_total2 .price img {margin-top:-4px;}
.layer_pop .info_section {font-weight:bold;color:#333;}
.layer_pop .info_section span{color:#999;}
.layer_pop .sche_email {padding:10px;border-top:1px solid #666666; border-bottom:1px solid #e2e2e2;color:#999;}
.layer_pop .sche_email table {table-layout:fixed; width:100%}
.layer_pop .sche_email table tr {height:40px;}
.layer_pop .sche_email table th, .layer_pop .sche_email td {text-align:left;}
.layer_pop .sche_email table th, .layer_pop .sche_email td p.email input.text {vertical-align:top;}
.layer_pop .sche_email table th.tr p {text-align:right;padding-right:10px;}
.layer_pop .sche_email label {display:inline-block;padding-top:13px;}
.layer_pop .sche_email table strong {color:black;}
.layer_pop .sche_email table span.m {display: inline-block; padding: 8px 0 0 5px; *padding: 10px 0 0 5px; vertical-align: top;}
/* 결제 */
.layer_pop .payment {*zoom:1;}
.layer_pop .payment:after {content:"";display:block;clear:both;}
.layer_pop .payment .pay_option {float:left;width:620px;}
.layer_pop .payment .pay_view {float:right;width:220px;}
.layer_pop .payment .pay_view h4 {padding:11px 0 9px 15px;margin:0;background:#666;}
/* 결제 */
.layer_pop .payment {*zoom:1;}
.layer_pop .payment:after {content:"";display:block;clear:both;}
.layer_pop .payment .pay_option {float:left;width:620px;}
.layer_pop .payment .pay_view {float:right;width:220px;}
.layer_pop .form_padment {padding:20px 0 10px 0; *zoom:1;}
.layer_pop .form_padment:after {content:""; display:block; clear:both;}
.layer_pop .form_padment dt, .layer_pop .form_padment dd {float:left;}
.layer_pop .form_padment dt {width:80px; padding-top:8px;clear:both;}
.layer_pop .form_padment dt label {padding-left:8px;font-weight:bold;background: url(/images/front/travel/common/bul_3x3_666.gif) 0 4px no-repeat;}
.layer_pop .form_padment dd {width:215px;padding-bottom:10px;}
/* .layer_pop table tr td {vertical-align:top;} */
.layer_pop table tr td .radioPaymethod {padding-top:20px;}
.layer_pop table tr td.al .radioPaymethod p {padding-left:10px;padding-bottom:18px;}
.layer_pop .form_padment .passwordTxt{display:inline-block; padding:8px 0 0 5px; color:#999999; vertical-align:top;}
table.list tbody tr td.al .section_pay_sum p {padding:0 0 0 8px;}
.layer_pop .section_pay_sum p label {font-weight:bold;}
.layer_pop .section_pay_sum{padding:20px 15px 0 15px;;}
.layer_pop .section_pay_sum .item {margin-bottom:20px; padding-left:0;}
.layer_pop .section_pay_sum .item p {padding-left:8px; margin-bottom:10px;font-weight:bold; background:url(/images/front/travel/common/bul_3x3_666.gif) 0 4px no-repeat;}
/* 결제금액보기 */
.layer_pop div.pay_list {padding:0 14px;border:1px solid #e2e2e2;border-top:0;background:#f5f5f5;}
.layer_pop div.pay_list ul.all li {padding:18px 0 17px;}
.layer_pop div.pay_list ul li {padding:14px 0;border-bottom:1px solid #e2e2e2;}
.layer_pop div.pay_list ul li div.txt_name {margin-bottom:10px;color:#333;font-size:14px;}
.layer_pop div.pay_list ul li dl {*zoom:1;}
.layer_pop div.pay_list ul li dl:after {content:"";display:block;clear:both;}
.layer_pop div.pay_list ul li dl dt {float:left;width:70px;padding:5px 0 8px 0;color:#666;}
.layer_pop div.pay_list ul li dl dd {float:left;width:120px;padding:5px 0 8px 0;color:#636363;text-align:right;}
.layer_pop div.pay_list ul li dl dt.last,
.layer_pop div.pay_list ul li dl dd.last {padding-bottom:1px;}
.layer_pop div.pay_list ul li dl dd em {color:#fc3b33;}
.layer_pop div.pay_list ul li.last {border:0 none;}
/* 결제 테이블 */
table.table_option {width:100%; background:#fff;}
table.table_option thead tr th {padding:9px 0; border-top:1px solid #666; border-bottom:1px solid #666; text-align:center;}
table.table_option tbody tr td {border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
table.table_option tbody tr td.bnone {border-right:0 none;}
table.table_option tbody tr td.vt {vertical-align:top;}
table.table_option tbody tr td p {padding:20px 0; line-height:20px; text-align:center; color:#636363;}
table.table_option tbody tr td.ar p {text-align:right;padding-right:20px;}
table.table_option tbody tr td div.cont {padding:20px 0 20px 15px; line-height:20px; color:#636363;}
table.table_option tbody tr td div.cont select {vertical-align:middle;}
table.table_option tbody tr td div.cont input {vertical-align:middle;}
table.table_option tbody tr td div.cont em {display:inline-block;width:150px;}
.layer_pop table.table_option div.cont ul.caution li {margin-top:20px; padding-left: 8px; background: url(/images/front/travel/common/bul_3x3_999.gif) 0 45% no-repeat;}
.layer_pop table.table_option div.cont ul.caution li:first-child {margin-top:0;}
/* 할인청구 적용 카드 */
.layer_pop .discoundcardW {display: table;overflow:hidden; height:auto; padding-bottom:20px; border-bottom:1px solid #d2d2d2;}
.layer_pop .discoundcardW .cardst {display: table-cell;vertical-align: middle;width:214px; text-align:center; margin-top:41px;}
.layer_pop .discoundcardW .cardlist {display: table-cell;vertical-align: middle;width: 250px;padding-left:16px;}
.layer_pop .discoundcardW .cardlist li {padding:0 0 5px 8px; background:url(/images/front/travel/common/bul_3x3_666.gif) 0 4px no-repeat;}
.layer_pop .discoundcardW .cardlist li img {padding-bottom:7px;}
.layer_pop .cuatuion_dis ul li img {margin-bottom: 5px;}

/* 상세조회 */
.listdetailW table.list_detail .flight p img.logo {margin-top:9px;}
.listdetailW .pop_btn {margin-top:20px;}
/* 프리미엄 서비스 온라인 예약 안내 */
.layer_pop .checkboard_box {overflow:hidden; width:100%; margin-bottom:21px; border-left:1px solid #d2d2d2; border-top:1px solid #d2d2d2; background:#fff;}
.layer_pop .checkboard_box li {position:relative; float:left; width:154px; height:73px; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;}
.layer_pop .checkboard_box li strong {position:absolute; top:7px; left:12px; }
.layer_pop .checkboard_box li span {position:absolute; bottom:9px; right:9px;}
.layer_pop.premiumrW .checkboard_box li {width:114px; height:93px;} /* 바둑판 모양 width값 달라서 premiumrW 클래스 준거라 삭제 안함*/
/* 공통사용 */
.layer_pop .tit_toptb {clear:both; position:relative; overflow:hidden; height:18px; margin:16px 0 10px 0;}
.layer_pop .tit_toptb strong {display:inline-block; padding-top:3px; color:#333;}
.layer_pop .tit_toptb a.btn_list {position:absolute; top:0; right:0; }
.layer_pop .tip_nobg ul li {margin-bottom:2px; padding-left:8px; background:url(/images/front/travel/common/bul_3x3_aaa.gif) 0 4px no-repeat;}
.layer_pop .tip_nobg ul li img {margin-bottom:5px;}
.layer_pop .review_title {font-size:14px;}
.layer_pop .review_title strong.first {color:#636363;}
.layer_pop .review_title strong.last {color:#718cbe;}
/* Voucher / Reward 서비스 신청 */
.layer_pop .tip_nobg {padding:15px 0 0 11px;}
.layer_pop .caution_wrap {overflow:hidden; width:100%;}
.layer_pop .tab_small {*zoom:1; width:100%; overflow:hidden;}
.layer_pop .tab_small {content:""; display:block; clear:both;}
.layer_pop .tab_small li {float:left; width:130px;}
.layer_pop .tab_small li.tabr { margin-left:-2px;}
.layer_pop .tab_small li a {display:block; width:130px; height:30px; padding:0;}
.layer_pop .caution_wrap .caution_box {overflow:hidden; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;}
.layer_pop .caution_wrap .caution_box .box_inner {border:1px solid #e2e2e2; background-color:#f9f9f9;}
.layer_pop .caution_wrap .caution_gray {width:576px; margin:20px auto 0; background-color:#f9f9f9;}
.layer_pop .caution_wrap .caution_gray li img {margin-bottom:0;}
.layer_pop .caution_gray {clear:both;}
.layer_pop .caution_gray ul li.bulred {margin-bottom:0; *margin-bottom:5px; background:url(/images/front/travel/common/bul_3x3_fc3b33.gif) 0 7px no-repeat;}
.layer_pop .caution_gray ul li.bulred img.mgb5 {margin-bottom:5px;}
.layer_pop .caution_gray ul li.imp {background:url(/images/front/travel/common/bul_3x3_666.gif) 0 4px no-repeat;}
.layer_pop .caution_gray ul.slist {overflow:hidden;}
.layer_pop .caution_gray ul.slist li {float:left; width:200px; padding-left:0; background-image:none;}
.layer_pop .caution_gray ul.slist li img {margin-bottom:0;}
.layer_pop .caution_gray ul.slist li.lipad {padding-left:6px;}
.layer_pop .caution_wrap .caution_box .chk_agree {margin:15px 0 20px 40px; font-size:11px; color:#333;}
.layer_pop .caution_wrap .caution_box .chk_agree .rab {vertical-align:middle;}
.layer_pop .caution_wrap .caution_box .chk_agree .rab1 {padding-right:62px;}
.layer_pop table.list_paym td p {text-align:right; padding-right:26px;}
.layer_pop table.list_paym td.tdtit p {text-align:left; padding-left:20px;}
.layer_pop .bt_totalpay {overflow:hidden; float:right; width:100%; margin:10px 0 22px; text-align:right;}
.layer_pop .bt_totalpay .item {color:#999;}
.layer_pop .bt_totalpay .item span {padding-right:13px; margin-left:9px; background:url(/images/front/travel/search/bul_999.gif) 100% 0 no-repeat;}
.layer_pop .bt_totalpay .item span.last-child {padding-right:0; background:none;}
.layer_pop .bt_totalpay .final {}
.layer_pop .bt_totalpay .final span {font-size:0; line-height:0; margin:0; padding:0;}
.layer_pop .bt_totalpay .final strong {display:inline-block; height:24px; padding:0 2px 0 8px; font-family:Malgun Gothic; font-weight:normal; font-size:18px; color:#252525; vertical-align:middle;}
.layer_pop .tab_pu.tab3 li {float:left; width:286px;}
.layer_pop .tab_pu.tab3 li a {margin-left:10px;}
.layer_pop .tab_pu.tab3 li:first-child a {margin-left: 0; margin-right:0px;}

/* 추천항공 호텔 에어텔 프로모션 */
.layer_pop .hotelinfo_con {margin-top:20px;}
.layer_pop .hotelinfo_con dl {*zoom:1;}
.layer_pop .hotelinfo_con dl:after {content:""; display:block; clear:both;}
.layer_pop .hotelinfo_con dl dt {float:left; width:130px; padding:10px; border-top:1px solid #cccccc;}
.layer_pop .hotelinfo_con dl dt.first {border:0;}
.layer_pop .hotelinfo_con dl dd {float:left; width:710px; padding:7px 0 8px 0; border-top:1px solid #cccccc; color:#666666;line-height:20px;}
.layer_pop .hotelinfo_con dl dd.first {border:0;}
.layer_pop .hotelinfo_con dl dd ul li {color:#666666; line-height:24px;}
.layer_pop .hotelinfo_con dl dd ul li ul {padding-left:10px;}
.layer_pop .hotelinfo_con .img_dec {padding:15px; margin-bottom:10px; background-color:#f5f5f5; border: 1px solid #e2e2e2;}
.layer_pop .hotelinfo_con .img_dec strong {display:inline-block; padding-bottom:5px;}

/* 현대카드 세이브 신청 */
.layer_pop .clause_gray {padding:17px 16px 17px 16px; background-color:#f5f5f5; border:1px solid #e2e2e2;}
.layer_pop .clause_gray p {font-family:"동움", dotum; font-size:11px; color:#999; line-height: 18px;}
.layer_pop .chk_agree {overflow:hidden; margin-top:10px; padding-bottom:5px; color:#636363;}
.layer_pop .chk_agree .txt_agree {float:left; width:310px;}
.layer_pop .chk_agree .chk_agree {float:right; width:90px; margin:0; *margin-top:-3px;}
.layer_pop .chk_agree .chk_agree .rab {font-weight:bold;}
.layer_pop .tab_step_saveapply {overflow:hidden; height:45px; background-image:url(/images/front/travel/popup/saveapply_step.gif);}
.layer_pop .tab_step_saveapply.step1{background-position:0px 0;}
.layer_pop .tab_step_saveapply.step2{background-position:0px -50px;}
.layer_pop .tab_step_saveapply.step3{background-position:0px -100px;}
.layer_pop .tab_step_saveapply li {float:left; width:153px; height:45px;}
.layer_pop .tab_step_saveapply li a,
.layer_pop .tab_step_saveapply li span {float:left; overflow:hidden; width:100%; height:100%; text-indent:-9999px;}
/* 상세보기 */
.layer_pop .bt_addinfo .bt_total {width:100%; margin-top:11px; text-align:right;}
.layer_pop .bt_addinfo .bt_total span {font-size:0; line-height:0;}
.layer_pop .bt_addinfo .bt_total strong {display:inline-block; height:24px; padding:0 2px 0 6px; font-family:Malgun Gothic; font-weight:normal; font-size:18px; color:#252525; vertical-align:middle;}
.viewdetailW table.list_detail .flight p img.logo {margin-top:0;}
.layer_pop .tit_schedule {color:#999; margin-bottom:9px;}
.layer_pop .tit_schedule strong {color:#333;}
.layer_pop .ico_air.plane_g {margin:-2px 6px 0 7px;}
.viewdetailW .comein {margin-top:20px;}
/* 규정 */
.statuteW .tit_schedule {color:#666; margin-bottom:6px;}
.layer_pop .addinfo {overflow:hidden; margin-left:32px;}
.layer_pop .addinfo li {float:left; color:#999; margin-right:7px; padding-right:9px; background:url(/images/front/travel/common/bul_999.gif) 100% 45% no-repeat;}
.layer_pop .addinfo li.last-child {margin:0; padding:0; background:0;}
.layer_pop table.view.td888 tbody td p {color:#888;}
.statuteW table.view2 {margin-top:17px;}
.statuteW .pop_btn {margin-top:10px;}
/* 팝업 - 취소 규정 */
table.list tbody tr td p.won {padding-right:77px;}
/* 프리뷰등록 */
.layer_pop .list_reivew {margin-bottom:10px;}
.layer_pop .list_reivew li {padding:20px 0 20px 0; border-bottom:1px solid #636363;*zoom:1;}
.layer_pop .list_reivew li:after {content:""; display:block; clear:both;}
.layer_pop .list_reivew .titelset {float:left;}
.layer_pop .list_reivew .gradeset {float:left; width:560px;}
.layer_pop .list_reivew .gradeset:after {content:""; display:block; clear:both;}
.layer_pop .list_reivew .gradeset .info_title {padding:0 0 9px 20px;}
.layer_pop .list_reivew .gradeset .info_cont {padding-left:20px;}
.layer_pop .list_reivew .gradeset .gradeset_txt {float:left;}
.layer_pop .list_reivew .gradeset .gradeset_grade {float:right; margin-right:10px; margin-top:10px;}
.layer_pop .list_reivew .gradeset_grade label {position:relative; margin-top:25px; width:21px;}
.layer_pop .list_reivew .gradeset_grade label span{position:absolute; top:-20px; left:0; width:17px; margin:0; text-align:center;}
.layer_pop .list_reivew .gradeinput {clear:both;padding:15px 0 0 30px;}
.layer_pop .list_reivew .gradeinput label {display:inline-block; padding:8px 20px 0 0;vertical-align:top; }
.layer_pop .list_reivew .review_good {position:absolute; top:-16px; left:0;}
.layer_pop .list_reivew .review_soso {position:absolute; top:-16px; left:-13px;}
.layer_pop .list_reivew .review_bad {position:absolute; top:-16px; left:-6px;}
/* 국내 숙박 검색 */
.layer_hotel .heading .namein {display:block; margin:0 0 3px; color:#aaaaaa;}
/* 체류지 정보 */
.layer_pop .caution li.imp_red {background:url(/images/front/travel/common/bul_3x3_fc3b33.gif) 0 4px no-repeat !important;}

/* 마이페이지 */
.layer_pop .uploadfile {padding:20px 0 0 15px;}
.layer_pop .uploadfile li {padding-bottom:5px;}
.layer_pop .uploadfile span {vertical-align:middle;}
.layer_pop .uploadfile input {vertical-align:middle;}
.layer_pop .uploadcheck li {padding: 5px 0 10px 10px;}
.layer_pop .uploadfile_buttonset a { vertical-align:top; *vertical-align:middle; }
.layer_pop .type1_h3 {*zoom:1; *margin-bottom:10px;}
.layer_pop .type1_h3:after { content:""; display:block; clear:both; }
.layer_pop .type1_h3 h3 {float:left;}
.layer_pop .type1_h3 span, .layer_pop .type1_h3 strong {display:inline-block; margin: 20px 0 0 5px; color:#636363;}
.layer_pop .icon_lan {padding-left:42px; background: url(/images/front/travel/popup/icon_lan.gif) 0 45% no-repeat;}
.layer_pop table.view tbody tr td.itinerary {padding: 10px 0 5px 0;}
.layer_pop table.view tbody tr td.itinerary ul{padding-left:15px; background: url(/images/front/travel/common/bul_3x3_999.gif) 5px 5px no-repeat;}
.layer_pop table.view tbody tr td.itinerary ul li {display:inline; padding-bottom:5px;}
.layer_pop table.view tbody tr td.itinerary ul li span {text-align:left; display:inline-block; padding:0 0 5px 11px; background: url(/images/front/travel/popup/icon_arrow.gif) 0 4px no-repeat;}
.layer_pop table.view tbody tr td.itinerary ul li:first-child span {padding-left:0; background:none;}
.layer_pop table.view tbody tr td.itinerary ul.none li {display:block;}
.layer_pop table.view tbody tr td.itinerary ul.type_li {background:none;padding-left:5px; }
.layer_pop table.view tbody tr td.itinerary ul.type_li li {display:block; padding-left:10px; background: url(/images/front/travel/common/bul_3x3_999.gif) 0 8px no-repeat; line-height:20px;}
.layer_pop table.view tbody tr td.itinerary ul.type_li li span{line-height:20px;background:none;}
.layer_pop table.view tbody tr td.at {vertical-align:top;}
/* 프린트 센터 */
.layer_pop .reserve .title {padding-bottom:10px; border-bottom:1px solid #666; *zoom:1;}
.layer_pop .reserve .title:after {content:""; display:block; clear:both;}
.layer_pop .reserve .title .num {float:left; width:90px;}
.layer_pop .reserve .title .txt {float:left; color:#636363;}

/* #10624 */
.layer_pop .reserve .title .fix-title-width {width:530px}

.layer_pop .reserve .title .text strong {}
.layer_pop .reserve .title .state{ float:right; font-size:11px; color:#999;}
.layer_pop .reserve .list {margin:10px 0 0 90px; *zoom:1;}
.layer_pop .reserve .list:after {content:""; display:block; clear:both;}
.layer_pop .reserve .list li {float:left; margin-right:14px; padding-right:18px; color:#636363; background:url(/images/front/travel/common/bul_999.gif) right 0 no-repeat;}
.layer_pop .reserve .list li.fir {margin-bottom:10px; width:830px;}
.layer_pop .reserve .list li.none {background:none;}
.layer_pop .reserve .list li.clear {clear:both;}
.layer_pop .reserve .list li.roomdate {color:#000333;}
.layer_pop .reserve .list li .roomtype {margin-right:9px;}
.layer_pop .reserve .list li .period {margin-left:8px;} 
.layer_pop .reserve .list li .f_gray {color:#999;}
.layer_pop .reserve .list li .f_org {color:#fc3b33;}
/* 스케줄 변경 */
.sche_edit {padding:20px 0 0 0;}
.sche_edit textarea {width:608px; height:134px; margin:0; font-size:12px;}
p.txt_p {margin-top:19px;}
p.txt_p img {margin-bottom:8px;}
/* 가상계좌이체 */
.layer_pop .list_type1 {margin:26px 0 26px 20px;}
.layer_pop .list_type1 li {margin-top:23px;}
.layer_pop .list_type1 li:first-child {margin-top:0;}
.layer_pop .list_type1 li input {vertical-align:middle;}
.layer_pop .list_type1 li label {vertical-align:middle;}
/* 도시 검색 */
.layer_pop .cityseach_form {margin-bottom:20px; text-align:center;}
.layer_pop .cityseach_form input {vertical-align:top; *vertical-align:middle;}
.layer_pop .cityseach_form img {padding-left: 1px; *vertical-align:middle;}
/* 테이블 공통 사용 */
table.list_detail p em.highlight {color:#ff3333;}
table.list_detail p em.highlight2 {font-size:11px; color:#8297bd;}
table.list_detail .flight p {clear:both; float:left; width:100%; padding-left:10px}
table.list_detail .flight p .logoc {float:left; width:27px; padding:0 10px 0 0;}
table.list_detail .flight p .logow {float:left; text-align:left; line-height:20px;}
/* 테이블 하단 공통 사용 */
.layer_pop .btfr {float:right;}
.layer_pop .bt_addinfo {overflow:hidden; width:460px; margin:11px auto 0;}
.layer_pop .bt_addinfo li {float:left; color:#999; margin-right:11px; padding-right:11px; background:url(/images/front/travel/common/bul_999.gif) 100% 45% no-repeat;}
.layer_pop .bt_addinfo li.last-child {margin:0; padding:0; background:0;}
/* 예약취소/결제취소 */
.layer_pop .note_cont {*zoom:1;}
.layer_pop .note_cont:after {content:"";display:block;clear:both;}
.layer_pop .note_cont .noteL {float:left;width:390px;}
.layer_pop .note_cont .noteR {float:right;width:380px;padding:0 0 0 10px;}
.layer_pop .note_cont ul.reverse {*zoom:1;}
.layer_pop .note_cont ul.reverse:after {content:"";display:block;clear:both;}
.layer_pop .note_cont ul.reverse li {float:left;width:385px;height:30px;line-height:30px; *line-height:0;}
.layer_pop .note_cont ul.reverse li span {vertical-align:middle;}
.layer_pop .note_cont ul.reverse li input {vertical-align:middle;}
.layer_pop tr.pd10 th,
.layer_pop tr.pd10 td {padding:10px 0;}
.layer_pop table.table_repayment {width:100%;background:#fff;border-top:1px solid #666;border-bottom:1px solid #e2e2e2;}
.layer_pop table.table_repayment th {padding:10px 0;border:0 none;text-align:left;}
.layer_pop table.table_repayment th.ar {padding-right:10px;text-align:right;}
.layer_pop table.table_repayment th.vt {vertical-align:top;}
.layer_pop table.table_repayment th img {display:inline-block;margin-bottom:4px;}
.layer_pop table.table_repayment td {padding:10px 0;border:0 none;color:#666;}
.layer_pop table.table_repayment td.ar p {text-align:right;}
.layer_pop table.table_repayment td textarea {width:626px; *width:642px; height:90px;border:1px solid #cdcdcd;background:#f8f8f8;font-size:12px;}
.layer_pop table.table_repayment td strong {color:#666;}
.layer_pop .repayment {position:relative;padding:19px 19px;}
.layer_pop .repayment ul li {width:640px;margin-bottom:0;*zoom:1;}
.layer_pop .repayment ul li:after {content:"";display:block;clear:both;}
.layer_pop .repayment ul li img {float:left;}
.layer_pop .repayment ul li span {float:right;color:#666;font-size:11px;}
.layer_pop .repayment p.all_ok {position:absolute;right:20px;top:29px;color:#666;font-size:11px;}
.layer_pop .tit_schedules {color:#636363;}
/* 나의 계정 - 탑승자 정보 */
.air_info_box.sty_in {position:relative;}
.air_info_box.sty_in .btn_info {position:absolute; top:17px; right:20px; font-family:"돋움",dotum; font-size:11px; color:#999;}
.air_info_box.sty_in .btn_info .btn_r, .air_info_box .btn_info span {vertical-align:middle;}
.air_info_box.sty_in .btn_info .btn_r {padding-left:10px; font-size:0; line-height:0;}
.air_info_box.sty_in .btn_info > span > strong {font-size:12px; color:#fc3b33} /* #1194 */
table.list_light {width:100%;}
table.list_light thead tr th, table.list_light tbody tr td {border-bottom:1px solid #e2e2e2; background-color:#fff;}
table.list_light thead tr th, table.list_light tbody tr td p {padding:10px 0 9px;}
table.list_light thead tr th.ac {text-align:center;}
table.list_light tbody tr td {}
table.list_light tbody tr td p {position:relative; text-indent:15px; font-family:"돋움",dotum; font-size:12px; color:#999;}
/*table.list_light tbody tr td p .btn_apply {position:absolute; display:inline-block; top:8px; right:9px;}*/
table.list_row {width:100%; border-top:1px solid #636363;} 
table.list_row tbody tr th, table.list_row tbody tr td {border-bottom:1px solid #e2e2e2; background-color:#fff;}
table.list_row tbody tr th, table.list_row tbody tr td p {padding:9px 0; *width:auto;}
table.list_row tbody tr th {text-align:left; padding-left:20px;}
table.list_row tbody tr td {text-align:right; padding-right:15px;/*padding-right:140px; 미란 삭제 130603*/}
table.list_row tbody tr td strong {color:#fc3b33;}
table.list_row tbody tr td.line {border-right:1px solid #e2e2e2;}
.caution_air.step3 .air_info_box {padding:0;}
.caution_air.step3.pdb0 {padding:20px 20px 0;}
.caution_air.step3.pdb0 strong.title {display:inline-block;padding:30px 0 15px 0;margin:0;}
.layer_pop .caution_air .cautionL {width:50%;}
.layer_pop .caution_air .cautionR {width:50%;}
/* 프리비아 이용권 */
.layer_pop table.list .line_del p {color:#718cbe; font-weight:bold;}
.layer_pop table.list .line_del p .btn_del {display:inline-block; vertical-align:middle; width:13px; height:13px; margin-left:50px; background:url(/images/front/travel/popup/ico_popup.png) -40px 0 no-repeat;}
.layer_pop table.list tbody tr td p strong.price {color:#718cbe;}
.caution_gray strong.title {display:block; margin-bottom:15px;}
.layer_pop table tbody tr td .dlclass {height:70px; padding-left:20px; padding-top:20px; background:url(/images/front/travel/common/bul_3x3_333.gif) no-repeat 20px 24px;}
.layer_pop table tbody tr td .dlclass dt {padding-left:7px;}
.layer_pop table tbody tr td .dlclass dd {margin-top:9px;}
.layer_pop table tbody tr td .dlclass dd.fnt{margin-top:17px; margin-left:12px; font-size:12px;}
.layer_pop table tbody tr td .dlist3 dd {font-size:12px;}
/* 현대카드 세이브 */
.layer_pop .agree_chk {text-align:center; margin:17px 0 6px 0; font-size:11px; color:#666;}
.layer_pop .agree_chk label {margin-right:30px;}
.layer_pop .agree_chk label.last {margin-right:0;}
/* 마이페이지 - 나의 질문답변/변경문의 */
.layer_pop .question_detail_title {padding:19px 8px; border-top:1px solid #666666; border-bottom:1px solid #666666; color:#666666; *zoom:1}
.layer_pop .question_detail_title:after {content:""; display:block; clear:both;}
.layer_pop .question_detail_title span,
.layer_pop .question_detail_title span *{float:right}
.layer_pop .question_detail_title .tit {/* #2406 display:inline-block; width:280px;*/ float:left; width:275px;}
.layer_pop .question_detail_title .date {/* #2406 display:inline-block; width:130px; */ float:left; width:105px;} /* #5916(width:"100px"수정) */
.layer_pop .question_detail_content {margin-top:20px; padding-bottom:20px; border-bottom:1px solid #e2e2e2;color:#666666;}
.layer_pop .question_detail_content .content_tit {margin-bottom:12px;}
.layer_pop .question_detail_content .content_tit strong {display:inline-block; width:70px; padding-left:7px;}
.layer_pop .question_detail_answer {margin-top:20px; *zoom:1;}
.layer_pop .question_detail_answer:after {content:""; display:block; clear:both;}
.layer_pop .question_detail_answer .content_tit {padding-left:7px; margin-bottom:10px; color:#666;}
.layer_pop .question_detail_answer .content_tit span {float:right;}
.layer_pop .question_detail_history {border-top:1px solid #666;}
.layer_pop .question_detail_history .cont {padding:10px; border-bottom:1px solid #e2e2e2;}
.layer_pop .question_detail_history .cont strong {display:inline-block; vertical-align:top; width:100px;}
.layer_pop .question_detail_history .cont span {display:inline-block; width:335px; line-height:18px; color:#666;}

/* 고객센터 */
/* 고객센터 현대카드 세이브 신청 */
.layer_pop ul.saveapply li {padding-left:8px;}
.layer_pop ul.saveapply li.imp_red {background:url(/images/front/travel/common/bul_3x3_fc3b33.gif) 0 5px no-repeat;}
.layer_pop .apply_guide {position:relative;}
.layer_pop .apply_guide .btn_apply {position:absolute; top:77px; right:67px;}

/* 가이드 */
/* day 추가 */
.layer_pop .day_search {*zoom:1;}
.layer_pop .day_search:after {content:""; display:block; clear:both;}
.layer_pop .day_search .text_cal {float:left;}
.layer_pop .day_search button {float:right; vertical-align:middle; width:30px; height:30px;}
.layer_pop .box_day {height:94px; margin-top:10px;}
.layer_pop .box_day .list {position:relative; overflow:hidden; overflow-y:scroll; overflow-x:hidden; height:90px; border:1px solid #cdcdcd;}
.layer_pop .box_day .list li {position:relative; height:30px; line-height:30px; border-bottom:1px solid #e3e3e3; color:#999;}
.layer_pop .box_day .list li > span {display:inline-block; height:30px; line-height:30px; text-indent:10px}
.layer_pop .box_day .list li .del {position:absolute; top:9px; right:11px; width:11px; height:11px; background:url(/images/front/travel/popup/btn_del.gif) no-repeat;}
/* guide불러오기 */
.layer_pop .radioset label {padding-left:20px;}
table.list tbody tr td p.radioset {padding:16px 10px;}
/* facebook */
.layer_pop .heading.facebook {background:#3b5997;}
.layer_pop .caution_gray_checkbox {padding: 16px 19px 2px 19px;*padding: 13px 19px 3px 19px; border: 1px solid #e2e2e2;background: #f5f5f5;}
.layer_pop .caution_gray_checkbox ul {*zoom:1;}
.layer_pop .caution_gray_checkbox ul:after {content:""; display:block; clear:both;}
.layer_pop .caution_gray_checkbox ul li {float:left;width:208px;padding-bottom:15px;*padding-bottom:11px;}
.layer_pop .caution_gray_checkbox ul li label {vertical-align:middle; color:#333;}
/* twitter */
.layer_pop .heading.twitter {background:#33ccff;}
/* 전송하기(sms email) */
.layer_pop .caution_gray_checkbox.type2 ul li {width:290px;}
/* 출력하기 */
.layer_pop .caution_gray_checkbox ul li.w1 {width:125px;}
.layer_pop .caution_gray_checkbox ul li.w2 {width:220px;}
.layer_pop .caution_gray_checkbox ul li.w3 {width:150px;}
.layer_pop .caution_gray_checkbox ul li.s1 {width:230px;} /* 저장하기 */
.layer_pop .caution_gray_checkbox ul li.s2 {width:194px;}
.layer_pop .caution_gray_checkbox .sub_tit {display:inline-block; padding:6px 0 0 16px; color:#999999;}
.layer_pop .caution_gray_set {*zoom:1; margin-bottom:20px;}
.layer_pop .caution_gray_set:after {content:""; display:block; clear:both;}
.layer_pop .caution_gray_set .graybox {float:left; width:198px; height:130px; padding:17px 0 0 30px; border: 1px solid #e2e2e2; background:#f5f5f5 url(/images/front/travel/popup/img_print_2.png) 25px 54px no-repeat; }
.layer_pop .caution_gray_set .graybox:first-child {border-right:0; width:199px; background:#f5f5f5 url(/images/front/travel/popup/img_print_1.png) 47px 42px no-repeat;}
.layer_pop .btn_READER {position:relative;}
.layer_pop .btn_READER a {position:absolute; top:-45px; right:0;}
.layer_pop .caution.underline {border-bottom: 1px solid #e2e2e2;}
.layer_pop .print_tit {position:relative;}
.layer_pop .print_tit .right_img {position:absolute; top:0; right:0;}
/* 가이드 이용안내 */
.layer_pop .guideinfo {border-bottom:1px solid #e3e3e3;padding-bottom:30px;}
.layer_pop .guideinfo ul {*zoom:1;}
.layer_pop .guideinfo ul:after {content:""; display:block; clear:both;}
.layer_pop .guideinfo ul li {float:left; width:230px;padding-top:30px;}
.layer_pop .guideinfo ul li strong {display:inline-block; height:20px;}
.layer_pop .guideinfo ul li p img {padding-top:5px;}
.layer_pop .guideinfo ul li p img:first-child {padding-top:0;}
.layer_pop .guideinfo_txt {position:relative; margin-top:12px;}
.layer_pop .guideinfo_txt img {padding-bottom:7px;}
.layer_pop .guideinfo_txt .guideinfo_btn {position:absolute; top:-2px; right:0;}
.layer_pop .send_form {margin-top:30px; line-height:30px;}
.layer_pop .send_form label {display:inline-block; width:80px; padding-top:10px; vertical-align:top;}
.layer_pop .send_form input {vertical-align:middle; margin-bottom:10px;}
.layer_pop .send_form p.email input.text {vertical-align:top;}
.layer_pop .send_form p.email select {vertical-align:top;}
.layer_pop .caution.send_email {padding:20px 0 0 80px;}
/* 20131024 추가 */
.layer_pop  .send_email_guide {padding:0 0 10px 0}
.layer_pop  .send_email_guide h3 {padding:30px 0 0 0}
.layer_pop  .send_email_guide .send_email {padding:5px 0 0 0}
.layer_pop .send_form.widthsms {margin:20px 0 10px 0; color:#bbbbbb;}
.layer_pop .send_form.widthsms label {width:110px;}
.layer_pop .form_textarea { margin:20px 0 20px 0; *zoom:1;}
.layer_pop .form_textarea:after { content:""; display:block; clear:both; }
.layer_pop .form_textarea label {display:inline-block; float:left; width:52px; padding-bottom:10px;}
.layer_pop .form_textarea p {float:left; color:#999999;padding-right:16px;}
.layer_pop .form_textarea textarea {float:left;}
/* pdf생성완료 레이어 팝업 */
.layer_pop .h3_pdfcomplte {font-family:"맑은 고딕", "Malgun Gothic"; font-size:16px; color:#333333;}
.layer_pop .pdfcomplete_btnlist {margin-top:20px; *zoom:1;}
.layer_pop .pdfcomplete_btnlist:after {content:""; display:block; clear:both;}
.layer_pop .pdfcomplete_btnlist li {float:left; padding-left:10px; padding-top:10px;}
/* 가이드북 불러오기 */
.layer_pop .guide_head {width:560px; /*width:460px;*/ height:30px; border-top:1px solid #666; border-bottom:1px solid #666; background:url(/images/front/travel/popup/bg_head_guidebook.gif) no-repeat;}
.layer_pop .listbring_head {position:relative; width:620px; height:30px; border-top:1px solid #666; border-bottom:1px solid #666; background:url(/images/front/travel/popup/listbring_head.gif) no-repeat;}
.layer_pop .listbring_head.air {background-position:0 0;}
.layer_pop .listbring_head.hotel {background-position:0 -50px;}
.layer_pop .listbring_head.airtel {background-position:0 -100px;}
.layer_pop .listbring_head.picks {background-position:0 -150px;}
.layer_pop .listbring_head.air .head_chk, .listbring_head.airtel .head_chk {position:absolute; top:8px; left:26px;}
.layer_pop .listbring_head.hotel .head_chk, .listbring_head.picks .head_chk {position:absolute; top:8px; left:21px;}
.layer_pop .table_scroll {*padding-right:16px;}
.layer_pop .table_scroll table.list thead tr, .table_scroll table.list thead tr * {padding:0; height:0; font-size:0; line-height:0; border:0 none; overflow:hidden;}
.layer_pop .guidebook {height:300px;}
.layer_pop .listbring {height:408px;}
.layer_pop .listbring2 {height:268px;}
.layer_pop .pop_btn.line {border-top:1px solid #e2e2e2; padding-top:17px;}
/* 캘린더뷰 미리보기 */
.popup .daylist_schedules {position:relative; margin-top:27px;}
.popup .daylist_schedules ul li {display:inline; margin-right:20px;}
.popup .daylist_schedules ul li:last-child {margin-right:0;}
.popup .daylist_schedules ul li span, .popup .daylist_schedules ul li strong {font-family:"맑은 고딕", "Malgun Gothic"; font-size:17px; }  
.popup .daylist_schedules ul li span, .popup .daylist_schedules .totalday span {}
.popup .daylist_schedules ul li strong {margin-left:8px;}
.popup .daylist_schedules ul li strong, .popup .daylist_schedules .totalday strong {font-weight:normal; color:#333;}
.popup .daylist_schedules .totalday {position:absolute; top:0; right:0;}
.popup .daylist_schedules .totalday span, .popup .daylist_schedules .totalday strong {font-family:"맑은 고딕", "Malgun Gothic"; font-size:17px;}
.popup {margin:0 auto;}
.popup .content {/*padding:20px;*/ background:#fff;}
.popup .content .header {}
table.pop_list {table-layout:fixed; width:100%; background:#fff; border-left:1px solid #acacac;}
table.pop_list thead tr th {padding:9px 0; text-align:center; color:#666; border-top:1px solid #acacac; border-right:1px solid #acacac;border-bottom:1px solid #acacac; background-color:#c1c1c1;}
table.pop_list thead tr th:first-child, table.pop_list tbody tr th:first-child {border-left:0;}
table.pop_list tbody tr th.thleft {color:#666; background-color:#ebebeb;}
table.pop_list thead tr th.thfff {background-color:#fff;}
table.pop_list thead tr th.bbnone, table.pop_list tbody tr td.bbnone {border-bottom:0 none;}
table.pop_list thead tr th strong {display:inline-block; margin-top:2px; font-size:14px;}
table.pop_list tbody tr th, table.pop_list tbody tr td {border-bottom:1px solid #acacac; border-right:1px solid #acacac;}
table.pop_list tbody tr td {vertical-align:top;} 
table.pop_list tbody tr th div, table.pop_list tbody tr td div {padding:12px 0; line-height:20px;}
table.pop_list tbody tr th div {text-align:center; color:#666;}
table.pop_list tbody tr td div {padding-left:10px; padding-right:10px; ; color:#222;}
table.pop_list tbody tr td div p {margin-top:17px;}
table.pop_list tbody tr td div p:first-child {margin-top:0;}
table.pop_list tbody tr td div em {display:block; font-weight:bold; color:#aaa;}
table.pop_list tbody tr td div span {display:block; margin-top:3px;}
table.pop_list tbody tr td div.height_fix {overflow:hidden; height:318px;}


/* 일정 추가하기, table 라인 없음 */
.layer_pop p.schedules_add {font-size:14px; color:#666;}
.layer_pop p.schedules_add strong {color:#fc3b33;}
.layer_pop table.table_sche_add {table-layout:fixed; width:100%; color:#999; background:#fff;}
.layer_pop table.table_sche_add th, .layer_pop table.table_sche_add td {border:0 none; text-align:left;}
.layer_pop table.table_sche_add th {vertical-align:top; padding-top:9px;}
.layer_pop table.table_sche_add td textarea {width:368px; height:90px; font-size:12px; color:#999;}
.layer_pop table.table_sche_add td div input, .layer_pop table.table_sche_add td div a {vertical-align:middle;}
.layer_pop table.table_sche_add td .explain_list li {padding-left:8px; background:url(/images/front/travel/common/bul_3x3_999.gif) 0 4px no-repeat;}
.layer_pop table.table_sche_add td .explain_list li.impt {background:url(/images/front/travel/common/bul_3x3_f00.gif) 0 4px no-repeat;}
.layer_pop table.table_sche_add td .explain_list li img {margin-bottom:8px;}
.layer_pop table.table_sche_add td div .exp p {display:inline; vertical-align:middle;}
.layer_pop table.table_sche_add td div a img {vertical-align:middle; margin-left:3px;}
.hyundaicard_picks_box {overflow:hidden; overflow-y:scroll; overflow-x:hidden; height:340px; margin-top:30px; border-top:1px solid #636363; border-bottom:1px solid #636363;}
.hyundaicard_picks_box ul li {color:#999; padding:6px 10px 7px 10px; line-height:20px; border-bottom:1px solid #e2e2e2;}
.hyundaicard_picks_box ul li.checkbox_on {color:#333;}
.hyundaicard_picks_box ul li input, .hyundaicard_picks_box ul li label {vertical-align:middle;}
.hyundaicard_picks_box ul li input {margin-right:10px;}

/* 개인정보 동의(팝업 공통) */
.layer_pop .agree_box {overflow-x:hidden; overflow-y:scroll; height:88px; border:1px solid #e2e2e2; background:#f5f5f5;}
.layer_pop .agree_box .cont {padding:7px 10px; line-height:18px; color:#999;}
.layer_pop .check_box {position:relative; height:69px; border:1px solid #e2e2e2; background:#f5f5f5;}
.layer_pop .check_box .list {padding:20px;}
.layer_pop .check_box .list li {position:relative; padding-left:7px; margin-left:1px; font-size:11px; color:#666; background:url(/images/front/travel/common/bul_3x3_999.gif) 0 4px no-repeat;}
.layer_pop .check_box .list li img {margin-bottom:5px;}
.layer_pop .check_box .allconfirm {position:absolute; top:26px; right:20px; font-size:11px; color:#666;}
.layer_pop .check_box input[type="checkbox"] {margin-right:5px;}
.layer_pop .btn_agree {margin-top:10px; text-align:center; color:#333;}
.layer_pop .btn_agree.line {padding:8px 0 15px; border-bottom:1px solid #e2e2e2;}
.layer_pop .btn_agree input {vertical-align:middle;}
.layer_pop .btn_agree label {vertical-align:middle;}

/* 로그인 */
.box_pu {padding:39px; *zoom:1;}
.box_pu:after {content:""; display:block; clear:both;}
.box_pu .btn_login {top:0; left:279px;}
.box_pu .btn_login2 {margin-top:0px;}

/* 회원 가입 */
.search_zipcode {margin-top:30px;text-align:center; }
.search_zipcode p {margin-bottom:10px;}
.search_zipcode input, .search_zipcode a {vertical-align:middle;}
.search_zipcode_head {height:30px; border-top:1px solid #666; border-bottom:1px solid #666; background-image:url(/images/front/travel/popup/bg_head_zipcode.gif);}
.search_zipcode_box {margin-top:30px;}
.search_zipcode_box .zipcode_list {overflow:hidden; overflow-y:scroll; overflow-x:hidden; height:247px; border-bottom:1px solid #E2E2E2;}
.search_zipcode_box .zipcode_list li {overflow:hidden; color:#666; padding:6px 20px 7px 20px; line-height:20px; border-bottom:1px solid #E2E2E2;}
.search_zipcode_box .zipcode_list li.adress_on a {color:#1a1a1a; line-height:16px; text-decoration:underline;}
.search_zipcode_box .zipcode_list li.bnone {border-bottom:0 none;}
.search_zipcode_box .zipcode_list li.nodata {padding:29px 0 30px;}
.search_zipcode_box .zipcode_list li a {float:left; display:inline-block; color:#666;}
.search_zipcode_box .zipcode_list li span {float:right; font-family:"맑은 고딕", "Malgun Gothic";}
.search_zipcode_box .nodata li {padding:29px 0 30px; text-align:center; color:#666; border-bottom:1px solid #E2E2E2;}
.input_table_top {margin-bottom:10px;}
.check_id_overlap {color:#666; border-bottom:1px solid #e2e2e2;}
.check_id_overlap.idok {padding-bottom:20px;}
.check_id_overlap.idno {padding-bottom:10px;}
.check_id_overlap strong {color:#1a1a1a;}
.scheck_id_box {margin-top:20px; padding:10px 0 0 20px; border-top:1px solid #666;}
.scheck_id_box label, .scheck_id_box input {vertical-align:middle;} 
.check_id_overlap2 {margin-top:9px;}
.layer_pop .form_padment .passwordTxt{display:inline-block; padding:8px 0 0 5px; color:#999999;}
.form_input .password_blind {display:inline-block; padding:8px 0 0 5px; font-size:14px; color:#999999; vertical-align:top;} /* 패스워드 ●● 공통 사용 */
.form_input table input, .form_input table span /*, .form_input table img*/ {vertical-align:middle/*!important*/;}
table.view2 tbody tr td div.con {overflow:hidden; padding:5px 0 16px; *padding-bottom:8px; color:#999;}
table.view2 div.con .cvc_line2 {margin-top:6px;}
table.view2 div.con .cvc_line2 span, table.view2 div.con .cvc_line2 ul {float:left;}
table.view2 div.con .cvc_line2 ul {margin-left:10px;}
table.view2 div.con .cvc_line2 ul li {padding-left:9px; line-height:22px; background:url(/images/front/travel/common/bul_3x3_999.gif) 0 7px no-repeat;}
table.view2 div.con .cvc_line2 ul li img {display:inline-block; vertical-align:top; padding-top:3px; *padding-top:1px; margin-bottom:7px;}
.change_done {height:52px; padding-left:76px; background:url(/images/front/travel/popup/img_password_ch_done.gif) 20px 0 no-repeat;}
.change_done p {padding-top:10px; margin-left:24px;}


/* PTF-5007-02-LPU01 */
/* 퍼플 동반자 무료 바우처 */
.caution_gray2 tbody tr p.fnt_bold {font-weight:bold;}

/* 프린트 하기(에어텔) */
table.list tr.total_cash td {border-bottom:1px solid #636363; }
.bottom_list {overflow:hidden; width:100%; margin-top:10px; }
.noissue {padding-bottom:9px; border-bottom:1px solid #e2e2e2;}
.bottom_list .fl {float:left; width:390px; margin-top:0;}
.bottom_list .fr {float:right; width:220px;}
.gray_box2 .txt_preagree {font-size:11px; color:#999; line-height:18px;}

/* 안전결제 안내 */
.layer_pop .isp_guide_exp {padding-bottom:20px; border-bottom:1px solid #ccc;}
.layer_pop .isp_guide_list li {padding-left:8px; background:url(/images/front/travel/common/bul_3x3_999.gif) 0 4px no-repeat;}
.layer_pop .isp_guide_list li.impt {background:url(/images/front/travel/common/bul_3x3_f00.gif) 0 4px no-repeat;}
.layer_pop .isp_guide_list li img {margin-bottom:4px;}
.layer_pop .isp_sort {overflow:hidden; margin:20px 0 10px;}
.layer_pop .isp_sort li {float:left;}
.layer_pop .ispguide_checkboard li {width:114px; height:93px; background-color:#f5f5f5;}

/* 공지용 팝업 */
.pu_notice {position:absolute; z-index:101; background-color:white; width:470px;}
.pu_notice > .inset {position:relative; padding:20px; border:5px solid #85888c; overflow:hidden}
.pu_notice .notice_tit {font-size:14px; color:#666666; font-weight:bold; text-decoration:underline; }
.pu_notice .notice_cont {color:#666666; line-height:20px;margin-top:20px;}
.pu_notice .btn_close {position:absolute; top: 17px; right: 20px; display: inline-block; width: 15px; height: 15px; text-indent: -9999px; background: url(/images/front/travel/popup/btn_close3.gif) 0 0 no-repeat;}

/* 프린트 하기 - 공통 테이블 스타일 추가 */
.layer_pop table.list tbody tr.last td {border-bottom:1px solid #636363;}
.layer_pop table.list tfoot tr td.ar p {padding-right:0; text-align:right;}
.layer_pop table.list tfoot tr td p .f_blue {color:#8297bd;}

/* 신용카드 영수증 출력 */
.popup .creditcard_receipt {padding:15px 20px;}
.popup .creditcard_receipt .header p {color:#999999; font-weight:bold; text-align:right;}
.popup .creditcard_receipt .header h2 {font-size:16px;font-weight:bold;}
.popup .creditcard_receipt table.receipt {width:100%; border-top: 1px solid #636363; }
.popup .creditcard_receipt table.receipt tbody tr {border-bottom:1px solid #e2e2e2; }
.popup .creditcard_receipt table.receipt tbody tr td.lineR {border-right:1px solid #e2e2e2;}
.popup .creditcard_receipt table.receipt tbody tr td p {padding:15px 10px;}
.popup .creditcard_receipt table.receipt tbody tr td p span {display:inline-block; padding-top:10px; color:#666666;}
.popup .pop_btn { margin-top: 20px; text-align: center; }

/* 공지사항 */
input.popup_notice_inputchk {margin-top:1px; height:13px; display:inline-block; vertical-align:top}
.popup_notice_txtlabel {display:inline-block; vertical-align:top}
.travel_pop_close {display:inline-block; vertical-align:top}
.popup_notice_btncls {margin-top:-2px; vertical-align:top}

/* 인쇄관련하여 호텔 상세팝업에서 호텔정보탭 누른 후 자식 탭세개의 해당제목을 추가했음 -인쇄시에만 활성화됨 print_hotel_popup css */
#hotel_cont_2 .tit_info_item01,
#hotel_cont_2 .tit_info_item02,
#hotel_cont_2 .tit_info_item03 {display:none;}

/* 현대카드 인증 20131114 JSKIM */
ul.pop_top_text02 li:first-child {margin-bottom:0;}
ul.pop_top_text02 li {margin-bottom:5px; padding-left: 9px; line-height: 22px; background: url(/images/front/travel/common/bul_3x3_999.gif) 0 7px no-repeat;}
ul.pop_top_text02 li img {display: inline-block; vertical-align: top; padding-top: 3px; margin-bottom: 7px;}
/* 개인정보취급방침 3자에대한 정보제공동의 20131114 JSKIM */
.geinjungbo_top {height:108px; margin-top:10px; border-bottom:1px solid #e2e2e2;}
.geinjungbo_top dl {position:relative; line-height:0; }
.geinjungbo_top dl dt {position:absolute; left:72px; top:0;  color:#666;}
.geinjungbo_top dl dt span {font-weight:bold; color:#1a1a1a;}
.geinjungbo_top dl dd {position:absolute; left:72px; top:27px;}
.geinjungbo_top dl dd.gein_img {position:absolute; left:0; top:0;}

.geinjungbo_bottom {margin-top:10px;}
.geinjungbo_bottom .gein_btn_area {margin-top:20px; text-align:center;}

/* 발권대행료 결제 */
.payment_charge_ticket  > p {margin-bottom:11px}
.payment_charge_ticket  ul.card {padding:10px; margin-bottom:10px; border-top:1px solid #666; border-bottom:1px solid #e2e2e2}
.payment_charge_ticket  ul.card li {margin-bottom:4px; *zoom:1}
.payment_charge_ticket  ul.card li:after {content:""; display:block; clear:both}
.payment_charge_ticket  ul.card li .dt,
.payment_charge_ticket  ul.card li > div {float:left}
.payment_charge_ticket  ul.card li .dt {padding:9px 0 0 8px; width:72px; background:url(/images/front/travel/common/bul_3x3_333.gif) left 14px no-repeat}
.payment_charge_ticket  ul.card li div.check {padding:9px 0 0 0}
.payment_charge_ticket  ul.card li div.check *{float:left}
.payment_charge_ticket  ul.card li div.check input {margin-right:5px}
.payment_charge_ticket  ul.card li .mp {clear:both; padding:8px 0 3px 80px}
.payment_charge_ticket  ul.card li.btns {padding-left:80px; padding-top:6px}
.payment_charge_ticket .caution_gray {margin-bottom:20px; padding:19px; padding-bottom:15px}
.payment_charge_ticket .caution_gray ul li {font-size:11px; color:#777; line-height:18px; margin-bottom:3px; background:url(/images/front/travel/common/bul_3x3_666.gif) 0px 6px no-repeat}

/* 마이트레블 상품 예약 확인 레이어 */
.contfirm_mytravel .message {text-align:center; padding-bottom:19px}
.contfirm_mytravel .message .m1 {margin-bottom:6px}
.contfirm_mytravel table.view th p {padding:0 10px}

/* #1951 : 프리비아 이용권 팝업 */
.view_privia_vc td > div {padding:20px 0}
.view_privia_vc td > div > strong {display:block; height:20px}
.view_privia_vc td > div > span.won {display:block; height:30px; line-height:30px}
.view_privia_vc td {border-right:1px solid #e2e2e2; text-align:center}
.view_privia_vc td.al,
.view_privia_vc td.ar {border-right:0 none}
.view_privia_vc td.al {text-align:left}
.view_privia_vc td.ar {text-align:right}
.layer_pop table.list_privia_vc .line_del p .btn_del {margin-left:0; float:right}
.layer_pop table.list_privia_vc .line_del p {font-weight:normal}
.list_privia_vc th.ar img {padding-right:20px}
.list_privia_vc td.ar p {padding-right:20px}
.list_privia_vc td.line_del p {position:relative}
.list_privia_vc td.line_del p .btn_del {position:absolute; right:10px; top:50%; margin-top:-6px}

/* #2288 */
.can_use_voucher {padding:19px 0 18px 0; background:#f5f5f5; border:1px solid #e2e2e2; text-align:center; margin-bottom:20px}
.can_use_voucher *{display:inline-block; vertical-align:top}
.can_use_voucher img {margin-right:9px}
.can_use_voucher strong {font-size:14px; color:#636363; line-height:normal}
table.list_privia_vc20140403 thead tr th.ar {text-align:center}
table.list_privia_vc20140403 thead tr th.ar img {padding-right:0}
table.list_privia_vc20140403 tbody tr td.line_del p,
table.list_privia_vc20140403 tbody tr td.ar p {text-align:right; padding-right:15px}
table.list_privia_vc20140403 tbody tr td.al p {padding-left:15px}
table.list_privia_vc20140403 tbody tr td.last p {padding-right:35px}
/*.layer_pop table.list_privia_vc .line_del p .btn_del {position:static; float:none; display:inline-block; margin-top:0; margin-right:-10px; margin-left:15px}*/

/* 2998 */
.pop_rule_reserve .air_info_box2 {padding:0; border:0 none}
.pop_rule_reserve .air_info_box2 .reserv_area {width:auto; height:500px; border-top:0 none}
.pop_rule_reserve .air_info_box2 .reserv_area table {width:100%}
.pop_rule_reserve .air_info_tab  {border-bottom:1px solid #d2d2d2; background:none}
.pop_rule_reserve .air_info_tab li {height:29px; overflow:hidden}

/* 3219 */
.code_discnt .code_publ {margin-bottom:20px; text-align:center; margin-top:10px;}
.code_discnt .code_publ p {color:#333; font-size:14px; font-weight:bold;}
.code_discnt .code_publ .code_box {margin-top:20px; padding:20px; background:#f5f5f5; border:1px solid #e2e2e2;}
.code_discnt .code_publ .code_box span {color:#666; font-size:14px; font-weight:bold;}
.code_discnt .code_publ .code_box strong {font-size:14px; color:#e42073; font-weight:bold;}
.code_discnt ul li .date {color:#999; font-size:11px; vertical-align:top;}
.layer_pop .code_discnt ul.isp_guide_list li img {margin-bottom:5px;}

/* 2883 */
.dsp_using {margin-bottom:20px; padding:19px 0; background:#f5f5f5; border:1px solid #e3e3e3; text-align:center;}
.dsp_using img {margin-right:10px; vertical-align:top;}
.dsp_using .dsc_using_money {color:#666; font-weight:bold;}

.view3.using_desc tbody td.tdfirst p {border-right:1px solid #e2e2e2;}
.view3.using_desc tbody td p {padding:20px;}
.view3.using_desc tbody td span.txt_using_money_desc {display:block; height:15px; padding-top:15px; color:#666; font-weight:bold;}
.view3.using_desc tbody td img {vertical-align:top; margin-bottom:9px;}

.using_desc_noraml p {font-weight:normal !important;}

/* #3758 */
.layer_pop .calculator .pay_last_tp {text-align:center; padding-top:10px}
.layer_pop .calculator .pay_last_tp .cont {display:inline-block; margin:0 20px }

/* #5280 */
.layer_pop .schedule_line{position:relative}
.layer_pop .schedule_line .logoc{display:inline-block;position:absolute;top:0;left:0}
.layer_pop .schedule_line .linedesc{padding:3px 0 4px 35px;color:#636363}

