@charset "utf-8";
@import url("reset.css");

/* 아이콘 */
.ico_guide {display:inline-block; background:url(/images/front/travel/guide/ico_guide.png) no-repeat;}
/*
.ico_guide.tag_start {background-position:0 -115px;}
.ico_guide.tag_return {background-position:-50px -115px;}
.ico_guide.tag_air {background-position:-100px -115px;}
.ico_guide.tag_hotel {background-position:-150px -115px;}
.ico_guide.save {width:17px; background-position:-10px -10px;}
.ico_guide.print {width:20px; background-position:-50px -10px;}
.ico_guide.send {width:25px; background-position:-90px -10px;}
.ico_guide.facebook {width:20px; background-position:-130px -10px;}
.ico_guide.twitter {width:20px; background-position:-170px -10px;}
.ico_guide.air {background-position:-10px -65px;}
.ico_guide.hotel {background-position:-60px -65px;}
.ico_guide.airtel {background-position:-110px -65px;}
.ico_guide.fnb {background-position:-160px -65px;}
.ico_guide.culture {background-position:-210px -65px;}
.ico_guide.shop {background-position:-255px -65px;}
.ico_guide.memo {background-position:-305px -65px;}
.ico_guide.stay {background-position:-60px -65px;}추가예정
.ico_guide.airb {background-position:0 -160px;}
.ico_guide.hotelb {background-position:-30px -160px;}
.ico_guide.stayb {background-position:-30px -160px;}
.ico_guide.airtelb {background-position:-60px -160px;}
.ico_guide.fnbb {background-position:-90px -160px;}
.ico_guide.cultureb {background-position:-120px -160px;}
.ico_guide.shopb {background-position:-150px -160px;}
.ico_guide.memob {background-position:-180px -160px;}
*/
.ico_guide.tag_leave {background-position:0 -105px;}
.ico_guide.tag_back {background-position:-50px -105px;}
.ico_guide.tag_start {background-position:-100px -105px;}
.ico_guide.tag_return {background-position:-150px -105px;}
.ico_guide.tag_air {background-position:-200px -105px;}
.ico_guide.tag_hotel {background-position:-250px -105px;}
.ico_guide.tag_sect1 {background-position:0 -133px;}
.ico_guide.tag_sect2 {background-position:-50px -133px;}
.ico_guide.tag_sect3 {background-position:-100px -133px;}
.ico_guide.tag_sect4 {background-position:-150px -133px;}
.ico_guide.tag_sect5 {background-position:-200px -133px;}
.ico_guide.tag_sect6 {background-position:-250px -133px;}
.ico_guide.tag_sect7 {background-position:-300px -133px;}
.ico_guide.tag_sect8 {background-position:-350px -133px;}
.ico_guide.tag_sect9 {background-position:-400px -133px;}
.ico_guide.save {width:17px; background-position:-10px -10px;}
.ico_guide.print {width:20px; background-position:-50px -10px;}
.ico_guide.send {width:25px; background-position:-90px -10px;}
.ico_guide.facebook {width:20px; background-position:-130px -10px;}
.ico_guide.twitter {width:20px; background-position:-170px -10px;}
.ico_guide.air {background-position:-10px -65px;}
.ico_guide.hotel {background-position:-60px -65px;}
.ico_guide.airtel {background-position:-110px -65px;}
.ico_guide.fnb {background-position:-160px -65px;}
.ico_guide.culture {background-position:-210px -65px;}
.ico_guide.shop {background-position:-255px -65px;}
.ico_guide.memo {background-position:-305px -65px;}
.ico_guide.stay {background-position:-60px -65px;}
.ico_guide.airb {height:24px; background-position:0 -160px;}
.ico_guide.hotelb {height:24px; background-position:-30px -160px;}
.ico_guide.stayb {height:24px; background-position:-30px -160px;}
.ico_guide.airtelb {height:24px; background-position:-60px -160px;}
.ico_guide.fnbb {height:24px; background-position:-90px -160px;}
.ico_guide.cultureb {height:24px; background-position:-120px -160px;}
.ico_guide.shopb {height:24px; background-position:-150px -160px;}
.ico_guide.shoppingb {height:24px; background-position:-150px -160px;}
.ico_guide.memob {height:24px; background-position:-180px -160px;}

/* 일반 팝업 공통*/
.popup {margin:0 auto;} 
.popup .content {/*padding:20px;*/ background:#fff;padding-bottom:50px;}
.popup .content .header {}
table.pop_list {table-layout:fixed; width:100%; background:#fff; font-size:15px;}
/* table.pop_list thead tr th {padding:9px 0; border-top:1px solid #ccc; border-left:1px solid #ccc;border-bottom:1px solid #ccc; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum; text-align:center; color:#333; background:#e1e1e1;} */
table.pop_list thead tr th {padding:9px 0; border-top:1px solid #ccc; border-left:1px solid #ccc;border-bottom:1px solid #ccc; font-size:16px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; text-align:center; color:#333; background:#e1e1e1;}
table.pop_list thead tr th:first-child, table.pop_list tbody tr th:first-child {border-left:0;}
table.pop_list thead tr th.bbnone, table.pop_list tbody tr td.bbnone {border-bottom:0 none;}
table.pop_list thead tr th strong {display:inline-block; margin-top:2px; font-size:16px;}
table.pop_list tbody tr th {vertical-align:top; border-bottom:1px solid #ccc;}
table.pop_list tbody tr th p {padding-top:12px;}
table.pop_list tbody tr td {border-bottom:1px solid #ccc; border-left:1px solid #ccc;}
/* table.pop_list tbody tr th strong {color:#333; font-family:"YouandiModern HeadExtraBold", "돋움", dotum;} */
table.pop_list tbody tr th strong {color:#333; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
table.pop_list tbody tr td {vertical-align:top; height:220px;} 
table.pop_list tbody tr th div, table.pop_list tbody tr td div {padding:12px 0; line-height:20px;}
table.pop_list tbody tr th div {text-align:center; color:#666;}
table.pop_list tbody tr td div {padding-left:10px; padding-right:10px; ; color:#000;}
table.pop_list tbody tr td div p {margin-top:17px;}
table.pop_list tbody tr td div p:first-child {margin-top:0;}
/* table.pop_list tbody tr td div em {display:block; color:#000; font-family:"YouandiModern Textbold", "돋움", dotum;} */
table.pop_list tbody tr td div em {display:block; color:#000; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
/* table.pop_list tbody tr td div span {display:block; margin-top:3px; color:#000; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
table.pop_list tbody tr td div span {display:block; margin-top:3px; color:#000; font-size:14px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/*0822 yanghyunmin height값 수정*/
table.pop_list tbody tr td div.height_fix {overflow:hidden; height:240px; font-size:14px;}
/* table.pop_list tbody tr td div.height_fix_hotel {overflow:hidden; height:80px; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
table.pop_list tbody tr td div.height_fix_hotel {overflow:hidden; height:80px; font-size:14px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.popup .content .no_data {padding:10px 5px 10px 5px; text-align:left;}
h3 {padding-top:20px;}

/* 가이드북 */
/* 표지 */
.popup .cover {padding:30px 20px;}
.popup .cover .logo {display:block;}
.popup .cover .title {color:#000;}
/* .popup .cover .title strong {display:block; margin:295px 0 10px; font-size:45px; font-family:"YouandiModern HeadBold", "돋움", dotum;} */
.popup .cover .title strong {display:block; margin:295px 0 10px; font-size:45px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
/* .popup .cover .title .date {font-size:16px; font-family:"YouandiModern HeadBold", "돋움", dotum;} */
.popup .cover .title .date {font-size:16px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
/* 공통(요약정보, 일정표) */
.popup .daylist_schedules {position:relative; margin-top:27px;}
.popup .daylist_schedules ul li {display:inline; margin-right:20px;}
.popup .daylist_schedules ul li:last-child {margin-right:0;}
/* .popup .daylist_schedules ul li span, .popup .daylist_schedules ul li strong {font-family:"YouandiModern HeadRegular", "돋움", dotum; font-size:17px; } */  
.popup .daylist_schedules ul li span, .popup .daylist_schedules ul li strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:17px; }  
/* .popup .daylist_schedules ul li span, .popup .daylist_schedules .totalday span {font-family:"YouandiModern HeadExtraBold", "돋움", dotum;} */
.popup .daylist_schedules ul li span, .popup .daylist_schedules .totalday span {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
.popup .daylist_schedules ul li strong {margin-left:8px;}
/* .popup .daylist_schedules ul li strong, .popup .daylist_schedules .totalday strong {font-family:"YouandiModern HeadRegular", "돋움", dotum; font-weight:normal; color:#333;} */
.popup .daylist_schedules ul li strong, .popup .daylist_schedules .totalday strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:normal; color:#333;}
.popup .daylist_schedules .totalday {position:absolute; top:0; right:0; text-align:right;}
/* .popup .daylist_schedules .totalday span {font-family:"YouandiModern HeadExtraBold", "돋움", dotum; font-size:17px;} */
.popup .daylist_schedules .totalday span {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:17px; font-weight:bold}
/* .popup .daylist_schedules .totalday strong {font-family:"YouandiModern HeadRegular", "돋움", dotum; font-size:17px;} */
.popup .daylist_schedules .totalday strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:17px;}
/* 요약정보 */
.summary_head {margin-top:30px;}
/* .summary_head strong {font-family:"YouandiModern TextBold", "돋움", dotum; font-size:18px; color:#000;} */
.summary_head strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:18px; color:#000; font-weight:bold}
.summary_list {margin-top:10px; border-top:1px solid #333;}
.summary_list li {position:relative; padding:15px 20px 15px 60px; border-top:1px solid #ccc;}
.summary_list li:first-child {border-top:0 none;}
.summary_list li .ico_guide {position:absolute; top:15px; *top:12px; left:20px; width:24px; height:24px;}
/* .summary_list li  strong {font-family:"YouandiModern TextBold", "돋움", dotum; font-size:17px; line-height:24px;} */
.summary_list li  strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:17px; line-height:24px; font-weight:bold}
/* .summary_list li .cont {position:relative; margin-top:5px; padding-left:50px; font-family:"YouandiModern TextRegular", "돋움", dotum; font-size:16px; line-height:26px;} */
.summary_list li .cont {position:relative; margin-top:5px; padding-left:50px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:16px; line-height:26px;}
.summary_list li .cont img {position:absolute; top:4px; *top:0; left:0;}
/* 일정표, 가이드맵 */
.popup .schedules_head {margin-top:22px;} 
/* .popup .schedules_head strong {font-family:"YouandiModern HeadExtraBold", "돋움", dotum; font-size:30px; color:#222;} */
.popup .schedules_head strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:30px; color:#222; font-weight:bold}
.popup .schedules_list {margin-top:7px; border-top:1px solid #333;}
/*position:relative 수정*/
.popup .schedules_list li {position:relative; overflow:hidden; padding:13px 0 14px; border-bottom:1px solid #ccc;}
.popup .schedules_list li:last-child {border-bottom:0 none;}
.popup .schedules_list li .sche_time {float:left; width:110px;}
/* .popup .schedules_list li .sche_time em {font-family:"맑은 고딕", "Malgun Gothic"; font-weight:bold; font-size:17px; color:#333;} */
.popup .schedules_list li .sche_time em {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold; font-size:17px; color:#333;}
.popup .schedules_list li .sche_con {float:left; width:468px;}
/* .popup .schedules_list li .sche_con p {position:relative; padding-lefT:34px; font-family:"돋움", dotum; font-size:15px; color:#333; line-height:21px;} */)
.popup .schedules_list li .sche_con p {position:relative; padding-lefT:34px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:15px; color:#333; line-height:21px;}
.popup .schedules_list li .sche_con p.imp {padding-left:0;}
/*0822 yanghyunmin top값과 left값 수정*/
.popup .schedules_list li .sche_con p span.ico_guide {position:absolute; top:14px; left:73px; width:24px; height:24px; margin-right:6px;}
/* .popup .schedules_list li .sche_con p strong {vertical-align:top;color:#333; font-weight:lighter; font-family:"YouandiModern TextBold", "돋움", dotum; font-size:17px;} */
.popup .schedules_list li .sche_con p strong {vertical-align:top;color:#333; font-weight:lighter; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:17px; font-weight:bold}
/* .popup .schedules_list li .sche_con p span.cont {display:block; margin-top:8px; line-height:22px; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.popup .schedules_list li .sche_con p span.cont {display:block; margin-top:8px; line-height:22px; font-size:16px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.popup .schedules_list li.bnone {border-bottom:0 none;}
.popup .map_wrap {margin-top:10px;}
.popup .mapspot_list {margin-top:30px;}
/* .popup .mapspot_list li {margin-bottom:10px; line-height:25px; color:#333; font-size:15px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.popup .mapspot_list li {margin-bottom:10px; line-height:25px; color:#333; font-size:15px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/* .popup .mapspot_list li em {font-family:"YouandiModern TextBold", "돋움", dotum; font-size:16px; color:#000;} */
.popup .mapspot_list li em {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:16px; color:#000; font-weight:bold}
/* 스팟 상세정보, 호텔정보, 내가 쓴 일정(spot_wrap4) */
.spot_wrap {overflow:hidden; margin-top:20px;}
/*position:relative로 수정*/
.spot_wrap > li {position:relative; margin-bottom:10px; padding:10px 0 10px; border-top:1px solid #666; height:410px; *zoom:1}
.spot_wrap4 > li {margin-bottom:19px;}
.spot_wrap > li:after {content:""; display:block; clear:both}
.spot_wrap > li:first-child {padding-top:0; border-top:0 none;}
/* .spot_wrap > li.nodata {text-align:center; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.spot_wrap > li.nodata {text-align:center; font-size:16px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.spot_wrap4 > li:first-child {height:191px} /* 로컬과 (html포함) 실제 pdf출력상에서 다르게 보이므로 주의 */
.spot_wrap4 > li {height:180px}/* 로컬과 (html포함) 실제 pdf출력상에서 다르게 보이므로 주의 */
.spot_wrap4 > li.last_items {margin-bottom:0}
.spot_wrap .spot_detail {margin-top:10px;}
.spot_wrap .noimg {height:auto;}
.spot_wrap .spot_detail:after {content:""; display:block; clear:both;}
.spot_wrap .spot_detail .spot_pic {float:left;}
.spot_wrap .spot_detail .spot_pic img {width:210px; height:210px;}
.spot_wrap .spot_detail .con {float:right; width:430px;}
.spot_wrap .spot_detail .con ul {margin-top:21px;}
/* .spot_wrap .spot_detail .con ul li {font-size:16px; line-height:24px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.spot_wrap .spot_detail .con ul li {font-size:16px; line-height:24px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/* .spot_wrap .spot_detail .con ul li strong {font-weight:lighter; font-family:"YouandiModern TextBold", "돋움", dotum;} */
.spot_wrap .spot_detail .con ul li strong {font-weight:lighter; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
.spot_wrap .spot_detail .title {position:relative;}
/* .spot_wrap .spot_detail .title strong {display:inline-block; vertical-align:middle; line-height:22px; color:#333; font-size:14px; font-family:"YouandiModern HeadBold", "돋움", dotum;} */
/*padding-left:30px로 수정*/
.spot_wrap .spot_detail .title strong {display:inline-block; vertical-align:middle; padding-left:30px; line-height:22px; color:#333; font-size:14px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
.spot_wrap .spot_detail .con .title strong {font-size:17px; margin-top:2px;}
/*0823 left:0으로 수정*/
.spot_wrap .spot_detail .title .ico_guide {position:absolute; top:0; left:0px; width:24px; height:24px;}
.spot_wrap .spot_detail .title .ico_guide.hotel {width:18px; background-position:-65px -68px;}
.spot_wrap .spot_detail .title .ico_guide.fnb {width:22px; background-position:-165px -68px;}
.spot_wrap .spot_detail .title .ico_guide.culture {width:17px; background-position:-215px -68px;}
.spot_wrap .spot_detail .title .ico_guide.shop {width:16px; background-position:-261px -68px;}
.spot_wrap .spot_detail .title .ico_guide.memo {width:22px; background-position:-307px -68px;}
/* .spot_wrap p {color:#000; font-size:16px; line-height:22px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.spot_wrap p {color:#000; font-size:16px; line-height:22px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/* .spot_wrap .sopt_explain {clear:both; margin-top:20px; padding-bottom:10px; font-size:16px; line-height:22px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.spot_wrap .sopt_explain {clear:both; margin-top:20px; padding-bottom:10px; font-size:16px; line-height:22px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.spot_wrap .my_memo {margin-top:20px;}
/* 나의 담은 내역 */
.popup .mycart_head {margin-top:18px; font-size:17px;}
.popup .mycart_head strong {color:#222;}
.popup .mycart_head li {float:left; margin-right:30px;}
/* .popup .mycart_head li span {font-family:"YouandiModern HeadExtraBold", "돋움", dotum;} */
.popup .mycart_head li span {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:bold}
/* .popup .mycart_head li strong {font-family:"YouandiModern HeadBold", "돋움", dotum; font-weight:lighter;} */
.popup .mycart_head li strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:lighter;}
.popup .mycart_head .totalday {margin-right:15px; text-align:right;}
/* .popup .mycart_head .totalday span {font-family:"YouandiModern HeadExtraBold", "돋움", dotum;} */
.popup .mycart_head .totalday span {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/* .popup .mycart_head .totalday strong {font-family:"YouandiModern HeadBold", "돋움", dotum; font-weight:lighter;} */
.popup .mycart_head .totalday strong {font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-weight:lighter;}
/* .popup .mycart_tit {margin-top:30px; font-size:17px; font-family:"YouandiModern HeadRegular", "돋움", dotum;} */
.popup .mycart_tit {margin-top:30px; font-size:17px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.popup .mycart_list {margin-top:7px; border-top:1px solid #333; font-size:15px; line-heigt:21px;}
.popup .mycart_list li {position:relative; padding:10px 0 0 60px; border-top:1px solid #ccc;}
.popup .mycart_list li:first-child {border-top:0 none;}
.popup .mycart_list li .ico_guide {position:absolute; top:10px; left:15px; width:50px; height:25px;}
/* .popup .mycart_list li em {margin-right:5px; padding:2px 6px; border:1px solid #ccc; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.popup .mycart_list li em {margin-right:5px; padding:2px 6px; border:1px solid #ccc; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
.popup .mycart_list li em.va {vertical-align:top;}
/* .popup .mycart_list li p {margin-bottom:10px; line-height:21px; font-size:16px; font-family:"YouandiModern TextRegular", "돋움", dotum;} */
.popup .mycart_list li p {margin-bottom:10px; line-height:21px; font-size:16px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;}
/* .popup .mycart_list li p.imp {margin-bottom:15px; font-family:"YouandiModern TextBold", "돋움", dotum; font-size:16px;} */
.popup .mycart_list li p.imp {margin-bottom:15px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif; font-size:16px; font-weight:bold}
/* .popup .mycart_list li p .airterl {display:inline-block; width:590px; font-family:"YouandiModern TextRegular", "돋움", dotum;	} */
.popup .mycart_list li p .airterl {display:inline-block; width:590px; font-family:"맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;	}
/*Memo*/
.popup .memo_head {padding:0px 22px 34px;}
.popup .print_memo {padding:0 20px 0 20px;}
.popup .print_memo > ul {border-top:1px solid #333333;}
.popup .print_memo > ul > li { height:31px; background: url(/images/front/travel/popup/bg_memo_line.gif) repeat-x 0 30px; }
.popup .print_memo > p { padding-top:12px; text-align:right; }

/* 해외패키지 상품상세 프린트 */
.popup .content_pack .pack_view .info {border:1px solid #666;}
.popup .content_pack {padding:20px 11px 0 10px; background:#fff;}
.popup .content_pack .pack_cont {padding:18px 40px 16px; border:1px solid #666;}
.popup .content_pack .day_box {margin-top:19px; border:1px solid #666;}
.popup .content_pack h3 {margin:49px 0 10px;}

.adp-directions {width:100% !important; margin-top:-10px !important; margin-bottom:-10px !important;}
.adp-substep img {top:0 !important;}
.adp-substep {padding-top:15px !important; padding-bottom:15px !important; padding-right:0px !important;border-top:1px solid #e2e2e2 !important; color:#666666 !important; font-size:12px !important; text-align:left !important;}
.adp-directions tr:first-child .adp-substep {border-top:0 !important; font-family: "맑은 고딕","Malgun Gothic","돋움",Dotum,"굴림",Gulim, Verdana, Geneva, sans-serif !important; font-size: 13px !important; color: #666666 !important;}
.adp-directions tr .adp-substep { font-family: "맑은 고딕" !important; font-size: 13px !important; color: #666666 !important;}
.adp-directions .adp-substep.number {padding-left:10px !important; text-align:left !important;}
.adp-directions .adp-substep.content {text-align:left !important;}
.adp-directions .adp-substep.distance {padding-right:29px !important; text-align:left !important;}
.adp-summary {position: absolute !important; top:-9999px !important;}
.adp-placemark { border:0 !important; border-top:1px solid #666666 !important; border-bottom:1px solid #666666 !important; background:#fff !important; }
.adp-placemark > tbody > tr > td { padding: 10px 0 10px 10px !important; font-family:"맑은 고딕" !important; font-size:13px !important; color:#666666 !important; }
img.adp-marker {width: 34px !important; height: 18px !important;}
.adp-legal {text-indent:-9999px !important;}
.adp-substep span {line-height:20px !important; font-family:"맑은 고딕" !important; font-size:13px !important; color:#666666 !important;}
.adp-details {padding-left:24px !important;}
.adp_legal_data {padding-bottom:30px !important; padding-top:6px !important;}
/* .directions-panel-head { padding:27px 20px 19px 20px !important; font-family:"맑은 고딕" !important; font-size:15px !important; color:#999999 !important; } */
.directions-panel-head {position:relative; padding:27px 0 9px 50px !important; font-family:"맑은 고딕" !important; font-size:15px !important; color:#999999 !important; *zoom:1 }
.directions-panel-head:after {content:""; display:block; clear:both;}
.directions-panel-head .ico {position:absolute; left:0; top:27px;}
.directions-panel-head p { padding-bottom:10px !important; }
.directions-panel-head .points {font-size:16px}
.directions-panel-head .points .point { color:#333333 !important; }
.directions-panel-head .distance {font-size:12px; color:#666}
.zero_result { padding:27px 20px 19px 20px; font-family:"맑은 고딕"; font-size:15px; color:#333333; font-weight:bold;}

/* to-be print */
.print-preview cufon.cufon{
    width:auto !important;
    height:auto !important;
    font-family:'맑은 고딕', 'Malgun Gothic' !important;
}
.print-preview cufon.cufon canvas{
    position:static !important;
    width:0 !important;
    height:0 !important;
    font-family:'맑은 고딕', 'Malgun Gothic' !important;
}
.print-preview .layer_pop .heading{height:auto;padding:11px 0 15px 19px !important}
.print-preview .layer_pop .heading cufon.cufon,
.print-preview .layer_pop .heading cufon.cufon canvas{font-weight:bold !important}
.print-preview .layer_pop .heading .btn_close{display:none !important}
.print-preview .layer_pop .btn-group{display:none}
.print-preview .layer_pop #section_email + .section-title{margin-top:0 !important}