@charset "utf-8";


.tab-new:after{content:'';display:table;width:100%;clear:both}
.tab-new{zoom:1;margin-bottom:20px;}
.tab-new li{float:left;display:table}
.tab-new li a{font-size: 14px;font-weight: bold;display: table-cell;height:78px;vertical-align:middle;padding:0 0 0 20px;border-top: 1px solid #CCC;border-left: 1px solid #CCC;border-right: 1px solid #E3E3E3;border-bottom: 1px solid #E3E3E3;text-align:left;background-color: #E3E3E3;background-repeat:no-repeat;}
.tab-new li a.on {border: 1px solid #999;background-color: #FFF;background-repeat:no-repeat;
-webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
-o-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.tab-new li a#pf-ALL    {background-image:url(/images/front/travel/prm-ico-all-b.png);background-position:90% center}
.tab-new li a#pf-AIR    {background-image:url(/images/front/travel/prm-ico-air-b.png);background-position:90% center}
.tab-new li a#pf-HOTEL  {background-image:url(/images/front/travel/prm-ico-hotel-b.png);background-position:90% center}
.tab-new li a#pf-FREE   {background-image:url(/images/front/travel/prm-ico-free-b.png);background-position:90% center}
.tab-new li a#pf-DPRS   {background-image:url(/images/front/travel/prm-ico-dprs-b.png);background-position:90% center}
.tab-new li a#pf-PACKAGE{background-image:url(/images/front/travel/prm-ico-pkg-b.png);background-position:90% center}
.tab-new li a#pf-DOMESTIC{background-image:url(/images/front/travel/prm-ico-domestic-b.png);background-position:90% center}

.tab-new.item-2{margin-left:-1%;margin-right:-1%}
.tab-new.item-2 li{width:48%;margin:0 1%}
	.ie7 .tab-new.item-2 li{width:47.9%}
.tab-new.item-3,
.tab-new.item-4,
.tab-new.item-5,
.tab-new.item-6,
.tab-new.item-7,
.tab-new.item-8{margin-left:-0.5%;margin-right:-0.5%}
.tab-new.item-3 li{width:32.3333%;margin:0 0.5%}
.tab-new.item-4 li{width:24%;margin:0 0.5%}
.tab-new.item-5 li{width:19%;margin:0 0.5%}
.tab-new.item-6 li{width:15.6666%;margin:0 0.5%}
.tab-new.item-7 li{width:13.285%;margin:0 0.5%}
.tab-new.item-8 li{width:11.5%;margin:0 0.5%}
.tab-new.item-8 li a{font-size:13px;letter-spacing:-1px}

.banner-list-wrap{position:relative}
.banner-list{margin-left:-1%;margin-right:-1%}
.banner-list > li{float:left;width:31%;margin:0 1% 35px;display:none}
.banner-list li.row{clear:left}
.banner-list li.show{display:block}

.banner-list li img{display:block;width:310px;height:310px;}
.banner-list li .pm-tit{font-weight:bold;font-size:14px;display:block;margin-top:15px;padding-left:30px;line-height:1.5}
.banner-list li.banner-ALL{width:64%}
.banner-list li.banner-MOBILE .pm-tit{margin-top:35px}
.banner-list li .pm-period{display:block;margin-top:12px;padding-left:30px;}
.banner-list li a:hover .pm-tit{text-decoration:underline}

.banner-AIR     .pm-tit{background:url(/images/front/travel/prm-ico-air-s.gif) no-repeat 0 3px}
.banner-HOTEL   .pm-tit{background:url(/images/front/travel/prm-ico-hotel-s.gif) no-repeat 0 3px}
.banner-FREE    .pm-tit{background:url(/images/front/travel/prm-ico-free-s.gif) no-repeat 0 3px}
.banner-DPRS    .pm-tit{background:url(/images/front/travel/prm-ico-dprs-s.gif) no-repeat 0 3px}
.banner-PACKAGE .pm-tit{background:url(/images/front/travel/prm-ico-pkg-s.gif) no-repeat 0 3px}
.banner-DOMESTIC .pm-tit{background:url(/images/front/travel/prm-ico-domestic-s.gif) no-repeat 0 3px}
.banner-MOBILE  .pm-tit{background:url(/images/front/travel/prm-ico-mobile-s.gif) no-repeat 0 3px}
.banner-COMMON 	.pm-tit{background:url(/images/front/travel/prm-ico-common-s.gif) no-repeat 0 3px}
.banner-MOBILE{position:relative}
.banner-MOBILE .bm-pm{background-color:#666;width:310px;height:288px;padding-top:22px}
.banner-MOBILE .ymhb{font-size:18px;color:white;margin-left:20px}
#mobile-promotion{width:294px;margin:21px auto 0}
#mobile-promotion .roll_img {overflow:hidden; width:294px;}
#mobile-promotion .roll_img li {float:left;width:294px}
#mobile-promotion .roll_btn {position:absolute; top:26px;right:12px}
#mobile-promotion .roll_btn em {display:inline-block; float:left; width:9px; height:9px; margin-left:5px; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/sprite_controller1.png) no-repeat;}
#mobile-promotion .roll_btn em.on {background-position:0 -9px; cursor:default}
#mobile-promotion .btn_move {display:block; position:absolute; top:25px; width:9px; height:11px; z-index:1; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/sprite_controller1.png) no-repeat 0 -30px}
#mobile-promotion .btn_play {background:url(/images/front/travel/sprite_controller1.png) no-repeat 0 -20px}
#mobile-promotion img{width:294px;height:230px;}

#total-promotion{width:630px;position:relative}
#total-promotion .roll_img {overflow:hidden; width:630px;}
#total-promotion .roll_img li {float:left;width:630px}
#total-promotion .roll_btn {position:absolute; top:285px;right:12px}
#total-promotion .roll_btn em {display:inline-block; float:left; width:9px; height:9px; margin-left:5px; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/sprite_controller1.png) no-repeat;}
#total-promotion .roll_btn em.on {background-position:0 -9px; cursor:default}
#total-promotion .btn_move {display:block; position:absolute; top:284px; width:9px; height:11px; z-index:1; text-indent:-9999px; cursor:pointer; background:url(/images/front/travel/sprite_controller1.png) no-repeat 0 -30px}
#total-promotion .btn_play {background:url(/images/front/travel/sprite_controller1.png) no-repeat 0 -20px}
#total-promotion img{width:630px;height:310px;}

.banner-list-empty{text-align:center;padding:260px 0 160px;border-bottom:1px solid #e2e2e2;background:url(/images/front/travel/etc/ico_nothing.gif) no-repeat center 150px}
.banner-list-empty .ymhr{font-size:24px;margin-bottom:25px}