.Menu {
  padding: 0 ;
  text-align: center;
  background: beige;

  > div {
    display: inline-block;
  }
  .Menu-left {
    width: 45px;
    min-height: 10px;

    i {
      position: absolute;
      top: 10px;  
    }
  }
  .Menu-right {
    width: calc(100% - 45px)
  }

  .Menu-Bottom {
    display: block;
    padding: 10px 0;
  }

  a {
    font-size: 1rem;
    /*font-family: monospace;*/
    color: black;
  }

  a + a {
    margin-left: 1rem;
  }

  a.active {
    font-weight: 600;
  }
}


