@import "~styles/base/util";

#wrap.member {
  width:100%; min-height:100%; padding:0; margin:0 auto; min-width:$MinWidth; max-width:360px;
  @include boxSizing;
  @include flexBox;

  #container {
    width:100%; overflow:hidden;
    @include flexBox;
    @include flexWidth(1 1);
    @include flexDirection(column);
    @include alignSelf(flex-start);
  }
}

@include for-768-only {
  #wrap.member {
    max-width:410px; padding:50px 0 50px 0;
    #container {
      padding:24px 0 24px 0; border:1px solid $BCLight30;
      @include vendorPrefix(border-radius,16px);
      @include alignSelf(center);
    }
  }
}

@include for-1080-only {
  #wrap.member {
    max-width:482px; padding:50px 0 50px 0;
    #container {
      padding:24px 16px 24px 16px; padding-bottom:24px; border:1px solid $BCLight30;
      @include vendorPrefix(border-radius,16px);
      @include alignSelf(center);
    }
  }
}