@import "~styles/base/util";

.RankingBox {
  background-color:#ffffff;
  .RankingBoxInner {
    width:100%; padding:8px 0 8px 0;

    .List {
      .ListInner {
        .ListItem {
          &:nth-of-type(6)
          , &:nth-of-type(7)
          , &:nth-of-type(8)
          , &:nth-of-type(9)
          , &:nth-of-type(10){ display:none; }
        }
      }
    }
  }
}

@include for-768-only {
  .RankingBox {
    .RankingBoxInner {
      .List {
        .ListInner {
          // .ListBox { padding-left:24px; padding-right:24px; }
          .ListItem {
            &:nth-of-type(6)
            , &:nth-of-type(7)
            , &:nth-of-type(8) { @include flexBox; }
          }
        }
      }
    }
  }
}

@include for-1080-only {
  .RankingBox {
    .RankingBoxInner {
      .List {
        .ListInner {
          .ListItem {
            width:33.3%;
            
            &:nth-of-type(6)
            , &:nth-of-type(7)
            , &:nth-of-type(8)
            , &:nth-of-type(9)
            , &:nth-of-type(10) { @include flexBox; }
          }
        }
      }
    }
  }
}