$primaryFamily:'HelveticaNeue-Light','AppleSDGothicNeo-Light','Malgun Gothic','맑은 고딕',sans-serif;
@mixin numFamily { font-family:'Montserrat', sans-serif; font-weight:800; }

// DefaultDark Color
$FCDark:#30333a;
$FCDark90:rgba(48,51,58,0.9);
$FCDark70:rgba(48,51,58,0.7);
$FCDark50:rgba(48,51,58,0.5);
$FCDark30:rgba(48,51,58,0.3);
$FCDark10:rgba(48,51,58,0.1);
$BCDark:#30333a;
$BCDark50:rgba(48,51,58,0.5);
$BCDark30:rgba(48,51,58,0.3);
$BCDark10:rgba(48,51,58,0.1);
$BGDark:#30333a;
$BGDark90:rgba(48,51,58,0.9);
$BGDark70:rgba(48,51,58,0.7);
$BGDark50:rgba(48,51,58,0.5);
$BGDark30:rgba(48,51,58,0.3);
$BGDark10:rgba(48,51,58,0.1);

// DefaultMedium Color
$FCMedium:#838589;
$FCMedium90:rgba(131,133,137,0.9);
$FCMedium70:rgba(131,133,137,0.7);
$FCMedium50:rgba(131,133,137,0.5);
$FCMedium30:rgba(131,133,137,0.3);
$FCMedium10:rgba(131,133,137,0.1);
$BCMedium:#838589;
$BCMedium50:rgba(131,133,137,0.5);
$BCMedium30:rgba(131,133,137,0.3);
$BGMedium:#838589;
$BGMedium90:rgba(131,133,137,0.9);
$BGMedium70:rgba(131,133,137,0.7);
$BGMedium50:rgba(131,133,137,0.5);
$BGMedium30:rgba(131,133,137,0.3);
$BGMedium10:rgba(131,133,137,0.1);

// DefaultLight Color
$FCLight:#cbccce;
$FCLight90:rgba(203,204,206,0.9);
$FCLight70:rgba(203,204,206,0.7);
$FCLight50:rgba(203,204,206,0.5);
$FCLight30:rgba(203,204,206,0.3);
$FCLight10:rgba(203,204,206,0.1);
$BCLight:#cbccce;
$BCLight50:rgba(203,204,206,0.5);
$BCLight30:rgba(203,204,206,0.3);

// DefaultExtraLight Color
$FCExtraL:#efeff0;
$FCExtraL90:rgba(239,239,240,0.9);
$FCExtraL70:rgba(239,239,240,0.7);
$FCExtraL50:rgba(239,239,240,0.5);
$FCExtraL30:rgba(239,239,240,0.3);
$FCExtraL10:rgba(239,239,240,0.1);
$BCExtraL:#efeff0;
$BCExtraL50:rgba(239,239,240,0.5);
$BCExtraL30:rgba(239,239,240,0.3);
$BGExtraL:#efeff0;
$BGExtraL90:rgba(239,239,240,0.9);
$BGExtraL70:rgba(239,239,240,0.7);
$BGExtraL50:rgba(239,239,240,0.5);
$BGExtraL30:rgba(239,239,240,0.3);
$BGExtraL10:rgba(239,239,240,0.1);

// DefaultWhite Color
$FCWhite:#ffffff;
$FCWhite90:rgba(255,255,255,0.9);
$FCWhite70:rgba(255,255,255,0.7);
$FCWhite50:rgba(255,255,255,0.5);
$FCWhite30:rgba(255,255,255,0.3);
$FCWhite10:rgba(255,255,255,0.1);
$BCWhite:#ffffff;
$BCWhite50:rgba(255,255,255,0.5);
$BCWhite30:rgba(255,255,255,0.3);
$BGWhite:#ffffff;
$BGWhite90:rgba(255,255,255,0.9);
$BGWhite70:rgba(255,255,255,0.7);
$BGWhite50:rgba(255,255,255,0.5);
$BGWhite30:rgba(255,255,255,0.3);
$BGWhite10:rgba(255,255,255,0.1);

// Black Color
$BCBlack90:rgba(0,0,0,0.9);
$BCBlack70:rgba(0,0,0,0.7);
$BCBlack50:rgba(0,0,0,0.5);
$BCBlack30:rgba(0,0,0,0.3);
$BCBlack10:rgba(0,0,0,0.1);
$BCBlack0:rgba(0,0,0,0);
$BGBlack90:rgba(0,0,0,0.9);
$BGBlack70:rgba(0,0,0,0.7);
$BGBlack50:rgba(0,0,0,0.5);
$BGBlack30:rgba(0,0,0,0.3);
$BGBlack10:rgba(0,0,0,0.1);
$BGBlack0:rgba(0,0,0,0);

// Point Color
$FCPoint:#fc6b05;
$FCPoint90:rgba(252,107,5,0.9);
$FCPoint70:rgba(252,107,5,0.7);
$FCPoint50:rgba(252,107,5,0.5);
$FCPoint30:rgba(252,107,5,0.3);
$FCPoint10:rgba(252,107,5,0.1);
$BCPoint:#fc6b05;
$BCPoint50:rgba(252,107,5,0.5);
$BCPoint30:rgba(252,107,5,0.3);
$BCPoint10:rgba(252,107,5,0.1);
$BGPoint:#fc6b05;
$BGPoint90:rgba(252,107,5,0.9);
$BGPoint70:rgba(252,107,5,0.7);
$BGPoint50:rgba(252,107,5,0.5);
$BGPoint30:rgba(252,107,5,0.3);
$BGPoint10:rgba(252,107,5,0.1);

// Secondary Color
$FCSecondary:#bfdc36;
$FCSecondary90:rgba(191,220,54,0.9);
$FCSecondary70:rgba(191,220,54,0.7);
$FCSecondary50:rgba(191,220,54,0.5);
$FCSecondary30:rgba(191,220,54,0.3);
$FCSecondary10:rgba(191,220,54,0.1);
$BCSecondary:#bfdc36;
$BCSecondary50:rgba(191,220,54,0.5);
$BCSecondary30:rgba(191,220,54,0.3);
$BCSecondary10:rgba(191,220,54,0.1);

// Error Color
$FCError:#e43b20;
$FCError90:rgba(228,59,32,0.9);
$FCError70:rgba(228,59,32,0.7);
$FCError50:rgba(228,59,32,0.5);
$FCError30:rgba(228,59,32,0.3);
$FCError10:rgba(228,59,32,0.1);
$BCError:#e43b20;
$BCError50:rgba(228,59,32,0.5);
$BCError30:rgba(228,59,32,0.3);

// Success Color
$FCSuccess:#206bb1;
$FCSuccess90:rgba(32,107,177,0.9);
$FCSuccess70:rgba(32,107,177,0.7);
$FCSuccess50:rgba(32,107,177,0.5);
$FCSuccess30:rgba(32,107,177,0.3);
$FCSuccess10:rgba(32,107,177,0.1);
$BCSuccess:#206bb1;
$BCSuccess50:rgba(32,107,177,0.5);
$BCSuccess30:rgba(32,107,177,0.3);

// Grey Color
$BCGrey:#F5F5F5;
$BGGrey:#F5F5F5;

// Headline Font Type
@mixin FSH32 { font-size:32px; line-height:42px; font-weight:bold; }
@mixin FSH24 { font-size:24px; line-height:30px; font-weight:bold; }

// Subtitle Font Type
@mixin FSST20 { font-size:20px; line-height:24px; font-weight:normal; }
@mixin FSST20B { font-size:20px; line-height:24px; font-weight:bold; }
@mixin FSST18 { font-size:18px; line-height:24px; font-weight:normal; }
@mixin FSST18B { font-size:18px; line-height:24px; font-weight:bold; }
@mixin FSST16 { font-size:16px; line-height:22px; font-weight:normal; }
@mixin FSST16B { font-size:16px; line-height:22px; font-weight:bold; }

// Body Font Type
@mixin FSB14 { font-size:14px; line-height:20px; font-weight:normal; }
@mixin FSB14B { font-size:14px; line-height:20px; font-weight:bold; }
@mixin FSB12 { font-size:12px; line-height:16px; font-weight:normal; }
@mixin FSB12B { font-size:12px; line-height:16px; font-weight:bold; }

// Caption Font Type
@mixin FSC10 { font-size:10px; line-height:14px; font-weight:normal; }
@mixin FSC10B { font-size:10px; line-height:14px; font-weight:bold; }

// ENG Font Type
@mixin FSENG32 { font-size:32px; line-height:34px; font-weight:normal; @include numFamily; }
@mixin FSENG32B { font-size:32px; line-height:34px; font-weight:bold; @include numFamily; }
@mixin FSENG26 { font-size:26px; line-height:28px; font-weight:normal; @include numFamily; }
@mixin FSENG26B { font-size:26px; line-height:28px; font-weight:bold; @include numFamily; }
@mixin FSENG22 { font-size:22px; line-height:24px; font-weight:normal; @include numFamily; }
@mixin FSENG22B { font-size:22px; line-height:24px; font-weight:bold; @include numFamily; }
@mixin FSENG18 { font-size:18px; line-height:20px; font-weight:normal; @include numFamily; }
@mixin FSENG18B { font-size:18px; line-height:20px; font-weight:bold; @include numFamily; }
@mixin FSENG15 { font-size:15px; line-height:16px; font-weight:normal; @include numFamily; }
@mixin FSENG15B { font-size:15px; line-height:16px; font-weight:bold; @include numFamily; }
@mixin FSENG10 { font-size:10px; line-height:12px; font-weight:normal; @include numFamily; }
@mixin FSENG10B { font-size:10px; line-height:12px; font-weight:bold; @include numFamily; }

// Text Ellipsis
@mixin textEllipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
@mixin textEll($display, $height) { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:$display; height:$height; }
@mixin textLineEll($line, $height) {
  max-height:$height; overflow:hidden; white-space:normal; text-overflow:ellipsis;
	word-wrap:break-word; display:-webkit-box; -webkit-line-clamp:$line; -webkit-box-orient:vertical;
}

// Font Transparent
@mixin fontSizeZero { font-size:0; color:transparent; line-height:0; text-indent:-999999px; font-style:normal; }

// Vendor Prefix
@mixin vendorPrefix($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}:$value;
  }
}

// Animation 
@mixin animation-rotate($name, $from, $to) {
  @-webkit-keyframes #{$name} {
    0% { -webkit-transform:rotate($from); transform:rotate($from); }
    100% { -webkit-transform:rotate($to); transform:rotate($to); }
  }
  @-moz-keyframes #{$name} {
    0% { -moz-transform:rotate($from); transform:rotate($from); }
    100% { -moz-transform:rotate($to); transform:rotate($to); }
  }
  @-ms-keyframes #{$name} {
    0% { -ms-transform:rotate($from); transform:rotate($from); }
    100% { -ms-transform:rotate($to); transform:rotate($to); }
  }
  @-o-keyframes #{$name} {
    0% { -o-transform:rotate($from); transform:rotate($from); }
    100% { -o-transform:rotate($to); transform:rotate($to); }
  }
  @keyframes buttonloadAni {
    0% { transform:rotate($from); }
    100% { transform:rotate($to); }
  }
}

// Shadow 1
@mixin Shadow1 { @include vendorPrefix(box-shadow, 0 6px 12px -2px rgba(0, 0, 0, 0.1)); }
@mixin Shadow1R { @include vendorPrefix(box-shadow, 0 -6px 12px -2px rgba(0, 0, 0, 0.1)); }
@mixin Shadow2 { @include vendorPrefix(box-shadow, 0 3px 6px -2px rgba(0, 0, 0, 0.1)); }
@mixin Shadow2R { @include vendorPrefix(box-shadow, 0 -3px 6px -2px rgba(0, 0, 0, 0.1)); }
@mixin Shadow3 { @include vendorPrefix(box-shadow, 0 2px 4px 0px rgba(0, 0, 0, 0.05)); }
@mixin Shadow4 { @include vendorPrefix(box-shadow, 0 4px 8px 0px rgba(0, 0, 0, 0.05)); }
@mixin ShadowNo { @include vendorPrefix(box-shadow, 0 0px 0px 0px rgba(0, 0, 0, 0)); }

// Box Sizing
@mixin boxSizing { @include vendorPrefix(box-sizing, border-box); }

// Media Query
@mixin for-min-only {
  @media (max-width:359px) { @content; }
}

@mixin for-360-only {
  @media (min-width:360px) and (max-width:767px) { @content; }
}
@mixin for-768-only {
  @media (min-width:768px) and (max-width:1079px) { @content; }
}

@mixin for-1080-only {
  @media (min-width:1080px) { @content; }
}

// PC Max Width
$MaxWidth:1080px;
$MinWidth:280px;
@mixin pcMaxWidth {
  width:100%; max-width:$MaxWidth; min-width:$MinWidth; margin:0 auto;
  @include vendorPrefix(box-sizing,border-box);
}

@mixin fontSizeZero { font-size:0; color:transparent; line-height:0; text-indent:-999999px; font-style:normal; }
@mixin iconPicUrl {
  background:url('/static/images/icon/icon_01.png') no-repeat 0 0;
  @include fontSizeZero;
  @include vendorPrefix(background-size,1000px 1000px);
}

/* Flexible Box */
@mixin flexBox { display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
@mixin flexWrap($value) {
  @if $value == nowrap {
    -webkit-box-lines:single;
    -moz-box-lines:single;
    -ms-flex-wrap:none;
  } @else if $value == wrap {
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -ms-flex-wrap:$value;
  } @else if $value == wrap-reverse {
    -ms-flex-wrap:$value;
  }
  -webkit-flex-wrap:$value;
  flex-wrap:$value;
}
@mixin flexWidth($value) {
  -webkit-box-flex:$value;
  -moz-box-flex:$value;
  -ms-flex:$value;
  -webkit-flex:$value;
  flex:$value;
}
@mixin flexJustifyContent($value) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else {
    -webkit-justify-content:$value;
    justify-content:$value;
  }

  @if $value == space-around {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else {
    -webkit-justify-content:$value;
    justify-content:$value;
  }

  @if $value == center  {
    -webkit-box-pack:$value;
    -moz-box-pack:$value;
    -ms-flex-pack:$value;
    -webkit-justify-content:$value;
    justify-content:$value;
  }
}
@mixin flexDirection($value) {
  -ms-flex-direction:$value;
  -webkit-flex-direction:$value;
  flex-direction:$value;
}
@mixin alignContents($value) {
  -ms-align-content:$value;
  -webkit-align-content:$value;
  align-content:$value;
}
@mixin alignItems($value) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align:$value;
    -moz-box-align:$value;
    -ms-flex-align:$value;
  }
  -webkit-align-items:$value;
  align-items:$value;
}
@mixin alignSelf($value) {
  -webkit-align-self:$value;
  align-self:$value;
}

@mixin inputPlaceholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &:-moz-placeholder { @content; }
}

@mixin inputCustomClear {
  &::-ms-clear,
  &::-ms-reveal{
    display:none;width:0;height:0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration{
    display:none;
  }
}


$primaryColor:#30333a;
$primaryBGColor:#ffffff;
$primarySize:14px;
$primaryBold:normal;

$primaryDimColor:#838589;