@charset "utf-8";

/*--------------------------------------------------------------------------------------------------------------
 *  common - background
 *--------------------------------------------------------------------------------------------------------------*/
.ssi-header .air-info .txt + .txt:before,
.s-rec-list-items .info-header .btn-close-detail,
.s-sel-items .list-items .area-title button:before,
.btn-filter-range .txt:before,
.box-airline-detail .box-airline-joint .tg-joint:before,
.header-secV2.hps-air .area-hai-info:before,
.header-secV2.hps-air .hai-capacity .icon-inf:before,
.header-secV2.hps-air .hai-capacity .icon-chd:before,
.header-secV2.hps-air .hai-capacity .icon-adt:before,
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before,
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before {background-image: url(/images/front/mtravel/contents/icon-common-secM.png);-webkit-background-size: 160px;background-size: 160px;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents - 공통
 *--------------------------------------------------------------------------------------------------------------*/
/* 항공 상세 헤더 */
.header-secV2.hps-air .in-header-secV2 {background-color: #288ecc;border-bottom: 0;position: relative;}
.header-secV2.hps-air .in-header-secV2:before {content: '';display: block;width: 100%;height: 1px;background-color: #fff;opacity: 0.1;position: absolute;bottom: 0;left: 0;}
.header-secV2.hps-air .in-header-secV2 .ly-left .b-back {background-position: -17px -141px;}
.header-secV2.hps-air .hps-air-info {text-align: center;color: #fff;}
.header-secV2.hps-air .hai-places {display: inline-block;width: 100%;}
.header-secV2.hps-air .hai-places .label {display: inline-block;font-size:14px;font-weight: 500;margin-right: 16px;}
.header-secV2.hps-air .hai-places .air-info {display: inline-block;}
.header-secV2.hps-air .hai-places .air-info .txt {display: inline-block;font-size:16px;font-weight: 400;position: relative;}
.header-secV2.hps-air .hai-places .air-info .txt + .txt {padding-left: 30px;}
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before {content: '';display: block;width: 15px;height: 14px;background-position: -134px -222px;position: absolute;top: 6px;left: 7px;}
.header-secV2.hps-air .hai-places.trip-type-shuttle .air-info .txt + .txt:before {background-position: -117px -223px;}
.header-secV2.hps-air .hai-info {display: inline-block;width: 100%;}
.header-secV2.hps-air .hai-date {display: inline-block;font-size:12px;color: #fff;margin-right: 8px;font-weight: 300;}
.header-secV2.hps-air .hai-capacity {display: inline-block;margin-left: 10px;font-weight: 300;}
.header-secV2.hps-air .hai-capacity li {display: inline-block;position: relative;}
.header-secV2.hps-air .hai-capacity .num {display: inline-block;width: 16px;text-align: center;font-size:12px;color: #fff;}
.header-secV2.hps-air .hai-capacity .icon-adt {padding-left: 11px;}
.header-secV2.hps-air .hai-capacity .icon-adt:before {content: '';display: block;width: 11px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -100px -26px;}
.header-secV2.hps-air .hai-capacity .icon-chd {padding-left: 14px;}
.header-secV2.hps-air .hai-capacity .icon-chd:before {content: '';display: block;width: 14px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -114px -26px;}
.header-secV2.hps-air .hai-capacity .icon-inf {padding-left: 11px;}
.header-secV2.hps-air .hai-capacity .icon-inf:before {content: '';display: block;width: 11px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -130px -26px;}
.header-secV2.hps-air .area-hai-info {position: relative;display: inline-block;padding-right: 15px;}
.header-secV2.hps-air .area-hai-info:before {content: '';display: block;width: 11px;height: 7px;position: absolute;top: 6px;right: 0;background-position: -28px -111px;}

/* 항공 상세 헤더 검색 영역 */
.hps-air .w-search-sec {display: none;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents - 검색결과 리스트
 *--------------------------------------------------------------------------------------------------------------*/

/* 추천항공편 */
.s-rec-list-items {background-color: #288ecc;padding: 10px 0;}
.s-rec-list-items .info-header {padding: 0 20px;margin-bottom: 10px;position: relative;}
.s-rec-list-items .info-header .txt {display: inline-block;font-size:12px;color: #fff;margin-right: 2px;}
.s-rec-list-items .info-header .btn-close-detail {width: 14px;height: 14px;position: absolute;top: 4px;right: 20px;background-position: -102px -141px;opacity: 0;visibility: hidden;transition: opacity 0.3s, visibility 0.3s;}
.s-rec-list-items .info-header .btn-close-detail.is-show {opacity: 1;visibility: visible;}
.s-rec-list-items .lri-sum-swiper {padding-right:10px;}
.s-rec-list-items .lri-sum-swiper .list {padding:0 10px;}
.s-rec-list-items .lri-sum-swiper .swiper-slide {width: 130px;margin-right: 12px;display: inline-block;}
.s-rec-list-items .lri-sum-swiper.is-clicked .swiper-slide {opacity: 0.3;pointer-events: none;}
.s-rec-list-items .lri-sum-swiper.is-clicked .swiper-slide.swiper-slide-active {opacity: 1;}
/*.s-rec-list-items .lri-sum-swiper .is-clicked {opacity: 0.5;}*/
.s-rec-list-items .lri-sum-swiper .o-box {display: block;background-color: #fff;padding: 12px 8px;border-radius: 5px;position: relative;overflow: hidden;}
.s-rec-list-items .lri-sum-swiper .o-box:before {content: '';display: block;width: 12px;height: 12px;background-color: #288ecc;border-radius: 100%;position: absolute;top: 50%;margin-top: -6px;left: -6px;}
.s-rec-list-items .lri-sum-swiper .o-box:after {content: '';display: block;width: 12px;height: 12px;background-color: #288ecc;border-radius: 100%;position: absolute;top: 50%;margin-top: -6px;right: -6px;}
.s-rec-list-items .lri-sum-swiper .o-box .logo {display: block;text-align: center;font-size: 12px;font-weight: 600;color: #000;margin-bottom: 3px;}
.s-rec-list-items .lri-sum-swiper .o-box .logo img {width: 23px;margin-right: 5px;margin-top: 2px;}
.s-rec-list-items .lri-sum-swiper .o-box .price {display: block;text-align: center;color: #000;margin-top: 3px;}
.s-rec-list-items .lri-sum-swiper .o-box .price.final-low {color: #2981e2;}
.s-rec-list-items .lri-sum-swiper .o-box .price strong {font-weight: 600;}
.s-rec-list-items .lri-detail-swiper {padding: 0 10px;/*height:0;overflow: hidden;transition: height 0.3s;*/}
.s-rec-list-items .lri-detail-swiper .swiper-wrapper {margin-top: 10px;border-radius: 5px;overflow: hidden;}
.s-rec-list-items .lri-detail-swiper .box-airline-detail .box-sec + .box-sec:before,
.s-rec-list-items .lri-detail-swiper .box-airline-detail .box-sec + .box-sec:after {background-color: #288ecc;}

/* 국제선 - 검색결과 리스트 */
.s-list-airline {background-color: #ebeef2;}
.s-list-airline .info-header {font-size: 14px;color: #000;padding: 15px 19px;}
.s-list-airline .info-header .ih-date {font-weight: 600;margin-right: 10px;}
.s-list-airline .info-header .ih-places em {font-weight: 600;}
.s-list-airline .list-airline {padding: 0 10px;}
.s-list-airline .list-airline .inset {padding-bottom: 10px;}

/* 국제선 항공편 상세 박스 */
.box-airline-detail {background-color: #fff;padding: 0 17px;border-radius: 5px;overflow: hidden;display: block;}
.box-airline-detail .box-sec {padding: 0 2px;}
.box-airline-detail .box-sec + .box-sec {position: relative;border-top: 1px dashed #ccc;}
.box-airline-detail .box-sec + .box-sec:before {content: '';display: block;width: 12px;height: 12px;background-color: #ebeef2;border-radius: 100%;position: absolute;top: -6px;left: -23px;}
.box-airline-detail .box-sec + .box-sec:after {content: '';display: block;width: 12px;height: 12px;background-color: #ebeef2;border-radius: 100%;position: absolute;top: -6px;right: -23px;}
.box-airline-detail .box-airline-info {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.box-airline-detail .box-airline-info > div {position: relative;height: 80px;}
.box-airline-detail .bad-airline {padding-top:20px;text-align: center;-webkit-box-flex: 10%;-moz-box-flex: 10%;width: 10%;-webkit-flex: 10%;-ms-flex: 10%;flex: 10%;}
.box-airline-detail .bad-route {padding-top:20px;-webkit-box-flex: 65%;-moz-box-flex: 65%;width: 65%;-webkit-flex: 65%;-ms-flex: 65%;flex: 65%;}
.box-airline-detail .bad-airline-info {padding-top:20px;-webkit-box-flex: 25%;-moz-box-flex: 25%;width: 25%;-webkit-flex: 25%;-ms-flex: 25%;flex: 25%;}
.box-airline-detail .ba-airline-logo img {width: 28px;}
.box-airline-detail .ba-route-time {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;}
.box-airline-detail .ba-route-time .dep-time {width: 55px;padding-left: 15px;}
.box-airline-detail .ba-route-time .arr-time {width: 55px;padding-right: 15px;}
.box-airline-detail .ba-route-time .info-time {width: 30%;text-align: center;position: relative;}
.box-airline-detail .ba-route-time .info-time:before {content: '';display: block;width: 100%;border-top:1px dashed #ccc;position: absolute;top: 11px;left: 0;}
.box-airline-detail .ba-route-time .info-time .txt {margin-top: 26px;}
.box-airline-detail .ba-route-time .info-time .mark-point {display: block;width: 100%;position: absolute;top: 0;left: 0;text-align: center;}
.box-airline-detail .ba-route-time .info-time .mark-point .mp {display: inline-block;width: 7px;height: 7px;border-radius: 100%;background-color: #f30774;margin: 0 12%;}
.box-airline-detail .ba-route-time .time {display: block;font-size: 14px;color: #000;font-weight: 600;position: relative;}
.box-airline-detail .ba-route-time .time .gap {display: block;position: absolute;top: 1px;right: -12px;font-size: 10px;color: #000;}
.box-airline-detail .ba-route-time .txt {display: block;font-size: 12px;color: rgba(0, 0, 0, 0.5);margin-top: 6px;}
.box-airline-detail .ba-ai {font-size: 12px;text-align: right;}
.box-airline-detail .ba-ai .ba-seat {display: block;color: #f30774;}
.box-airline-detail .ba-ai .ba-time {display: block;font-size: 12px;color: rgba(0, 0, 0, 0.5);margin-top: 8px;}
.box-airline-detail .ba-ai .ba-state {display: block;font-size: 12px;}
.box-airline-detail .ba-ai .ba-state .ok {color: #ea0000;}
.box-airline-detail .box-airline-joint {padding: 10px 0;position: relative;border-top: 1px solid #ccc;}
.box-airline-detail .box-airline-joint .list {height: 18px;overflow: hidden;}
.box-airline-detail .box-airline-joint .list li {font-size: 12px;color: #2981e2;margin-top: 2px;}
.box-airline-detail .box-airline-joint .list li:first-child {margin-top: 0;}
.box-airline-detail .box-airline-joint .list .code {margin-right: 5px;}
.box-airline-detail .box-airline-joint .tg-joint {position: absolute;top: 10px;right: 0;font-size: 12px;color: #2981e2;padding-right: 26px;outline: none;}
.box-airline-detail .box-airline-joint .tg-joint:before {content: '';display: block;width: 18px;height: 18px;position: absolute;right: 0;top: 0;background-position: -83px -141px;}
.box-airline-detail .box-airline-joint .o-expanded .tg-joint:before {height: 4px;top: 6px;background-position: -83px -160px;}
.box-airline-detail .box-airline-joint .o-expanded .tg-joint .txt {opacity: 0;}
.box-airline-detail .bad-pricelist {padding: 17px 8px;}
.box-airline-detail .bad-pricelist .bad-header {margin-bottom: 6px;}
.box-airline-detail .bad-pricelist .bad-header .tit {font-size: 12px;color: #000;font-weight: 600;}
.box-airline-detail .bp-pricelist-info li {margin-top: 6px;position: relative;}
.box-airline-detail .bp-pricelist-info li:first-child {margin-top: 0;}
.box-airline-detail .bp-pricelist-info .txt {font-size: 12px;color: #000;vertical-align: middle;letter-spacing: -1px;}
.box-airline-detail .bp-pricelist-info .txt em {color: #2981e2;}
.box-airline-detail .bp-pricelist-info .price {font-size:12px;color: #000;position: absolute;top: -2px;right: 0;}
.box-airline-detail .bp-pricelist-info .price em {font-size:16px;font-weight: 600;}
.box-airline-detail .bp-pricelist-info .normal .price em {font-size: 14px;font-weight: 400;}
.box-airline-detail .bp-pricelist-info .bb-help {margin-left: 3px;}
.box-airline-detail .box-airline-header .lbr-st2 {margin-right: 5px;vertical-align: baseline;}
.box-airline-detail .box-airline-header .date, .box-airline-detail .box-airline-header .seat {display: inline-block;vertical-align: middle;font-size:14px;color: #000;font-weight: 400;position: relative;}
.box-airline-detail .box-airline-header .seat {padding-left: 15px;}
.box-airline-detail .box-airline-header .seat:before {content: '';width: 1px;height: 10px;background-color: #e3e3e3;position: absolute;top: 6px;left: 6px;}
/* 국제선 항공편 상세 박스 - 예약하기 */
.box-airline-detail.bad-st2 {padding: 0;border-radius: 0;overflow: visible;}
.box-airline-detail.bad-st2 .box-sec {padding: 0;}
.box-airline-detail.bad-st2 .box-sec + .box-sec {padding-top: 16px;}
.box-airline-detail.bad-st2 .box-sec + .box-sec:before {display: none;}
.box-airline-detail.bad-st2 .box-sec + .box-sec:after {display: none;}
.box-airline-detail.bad-st2 .box-airline-joint {border-top: 2px solid #f2f2f2;}
.box-airline-detail.bad-st2 .bad-pricelist {padding: 0;}
.box-airline-detail.bad-st2 .bad-pricelist .bad-btnset {margin-top: 20px;text-align: right;}
.box-airline-detail.bad-st2 .bad-pricelist .bad-btnset .bb-st5 {margin-left: 6px;}

/* 실시간 검색결과 로딩바 */
.loading-all-list .lal-bar {background-color: #fff;display: block;width: 100%;height: 2px;position: relative;}
.loading-all-list .lal-bar .bar {display: block;width: 0;height: 100%;background-color: #f30774;position: absolute;top: 0;left: 0;}
.loading-all-list .txt {background-color: #ebeef2;font-size: 12px;color: rgba(0, 0, 0, 0.5);text-align: center;padding: 10px 0 10px 0;}
.loading-all-list .per {color: #f30774;}

/* air list skeleton */
.list-airline-skeleton {padding: 0 10px;background-color: #ebeef2;}
.list-airline-skeleton .inset {padding-bottom: 10px;}
.list-airline-skeleton .box-sec:first-child .w-skel {width: 70%;}
.list-airline-skeleton .w-skel {padding: 14px 0 20px 0;}
.list-airline-skeleton .skel-bg {margin-top: 6px;width: 100%;height: 18px;animation:shine-line 2s infinite ease-out;background-image:linear-gradient(90deg,#e5e5e5 0px,rgba(0, 0, 0, 0.1) 40px,#e5e5e5 80px);background-color:#e5e5e5;background-size: 300%;}
@keyframes shine-line{ 0% {background-position:50%;} 40%, 100% {background-position:-100%;} }

/* 필터, 정렬 버튼 */
.btn-filter-range .bfr {position: fixed;width: 138px;height: 40px;line-height: 40px;text-align: center;z-index:10;bottom: 20px;left: 50%;margin-left: -69px;border-radius: 20px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);background-color: rgba(62, 70, 85, 0.9);}
.btn-filter-range .txt {font-size: 14px;color: #fff;padding-left: 26px;position: relative;}
.btn-filter-range .txt:before {content: '';display: block;width: 15px;height: 13px;position: absolute;left: 0;top: 4px;background-position: -81px -26px;}

/* 선택한 항공편 */
.s-sel-items {background-color: #288ecc;padding: 18px 0 20px 0;}
.s-sel-items .info-header {margin-bottom: 10px;padding: 0 20px;}
.s-sel-items .info-header .txt {display: inline-block;font-size:14px;color: #fff;}
.s-sel-items .list-items .area-title {padding: 0 20px;}
.s-sel-items .list-items .area-title button {display: block;width: 100%;font-size:14px;color: #fff;text-align: left;padding: 10px 0;border-bottom: 1px solid rgba(255, 255, 255, 0.2);position: relative;outline: none;}
.s-sel-items .list-items .area-title button:before {content: '';display: block;width: 13px;height: 10px;position: absolute;top: 15px;right: 0;background-position: -28px -120px;transition:transform 0.3s;-wekbit-transition: transform 0.3s;}
.s-sel-items .list-items .o-expanded .area-title button:before {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.s-sel-items .list-items .area-title .tit {margin-right: 6px;}
.s-sel-items .list-items .area-title .txt {font-weight: 300;}
.s-sel-items .list-items .area-detail {height: 0;background-color: #fff;}
.s-sel-items .schedule-detail {padding: 15px 20px;}
.s-sel-items .schedule-detail .schdc-if {padding: 12px 0;}
.s-sel-items .schedule-detail .schdc-if .air-logo .airline {font-size: 12px;}
.s-sel-items .schedule-detail .schdc-if .airline-seat {font-size: 12px;}
.s-sel-items .schedule-detail .schdc-if .air-logo .logo-img {top: 22px;}
.s-sel-items .schedule-detail .schdc-det {padding: 15px 0 25px 0;}
.s-sel-items .schedule-detail .schdc-det .sdpr-row .time .txt {font-size: 14px;}
.s-sel-items .schedule-detail .schdc-det .sdpr-row .time .termi {font-size: 12px;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents - 항공 예약(국제선)
 *--------------------------------------------------------------------------------------------------------------*/
/* 스케줄정보 */
.s-schedule-info {background-color: #fff;}
.ssi-header {background-color: #288ecc;padding: 14px 20px 16px 20px;}
.ssi-header .air-info {display: block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color: #fff;}
.ssi-header .air-info.no-ell {text-overflow:inherit;white-space:normal;color: #fff;}
.ssi-header .air-info .txt {font-size:17px;color: #fff;font-weight: 300;}
.ssi-header .air-info .txt + .txt {padding-left: 26px;position: relative;} 
.ssi-header .air-info .txt + .txt:before {content: '';display: block;width: 15px;height: 14px;position: absolute;left: 5px;top: 7px;background-position: -134px -55px;} 
.ssi-header .msg-comp {display: block;font-size: 17px;color: #fff;font-weight: 300;}
.ssi-header .msg-comp strong {font-weight: 600;}
.ssi-header.trip-type-shuttle .air-info .txt + .txt:before {background-position: -117px -55px;}
.ssi-cont {padding: 0 20px;}
.ssi-cont .ssic-header {border-bottom: 2px solid #f2f2f2;position: relative;padding: 20px 0;}
.ssi-cont .ssic-header .tit {display: block;font-size:16px;color: #000;font-weight: 600;}
.ssi-cont .ssic-header .air-capacity {display: block;font-size: 14px;color: #000;font-weight: 400;}
.ssi-cont .ssic-header .bb-st5 {position: absolute;top: 28px;right: 0;}
.ssic-cont {padding: 20px 0;}

/* 이름 작성시 유의사항 */
.tip-enname {position: absolute;top: 15px;left: 106px;}
.tip-enname .txt {font-size: 12px;color: #000;vertical-align: middle;}
.tip-enname .bb-help {margin-left: 3px;}

/* 스케줄 정보 - 상세스케줄 */
.schedule-detail .schd-header {font-size:14px;color: #000;position: relative;}
.schedule-detail .schd-header .schdh-flight {display: block;font-weight: 500;}
.schedule-detail .schd-header .schdh-time {display: block;font-size:12px;color: rgba(0, 0, 0, 0.5);margin-top: 2px;}
.schedule-detail .schd-cont {margin-top: 15px;}
.schedule-detail .schdc-if {border-top: 2px solid #ebeef2;border-bottom: 2px solid #ebeef2;position: relative;padding: 15px 0;}
.schedule-detail .schdc-if .air-logo {padding-left: 40px;font-size: 14px;color: #000;}
.schedule-detail .schdc-if .air-logo .logo-img {width: 30px;position: absolute;top: 27px;left: 0;}
.schedule-detail .schdc-if .air-logo .airline {display: block;}
.schedule-detail .schdc-if .air-logo .airline-name {display: inline-block;vertical-align: middle;font-size: 12px;color: rgba(0, 0, 0, 0.5);padding-left: 20px;position: relative;}
.schedule-detail .schdc-if .air-logo .airline-name:before {content: '';display: block;width: 1px;height: 12px;background-color: #d8d8d8;position: absolute;top: 2px;left: 10px;}
.schedule-detail .schdc-if .airline-seat {margin-top: 2px;font-size: 14px;color: #000;}
.schedule-detail .schdc-if .airline-seat .shar {display: inline-block;padding-right: 20px;position: relative;}
.schedule-detail .schdc-if .airline-seat .shar:before {content: '';display: block;width: 1px;height: 12px;background-color: #d8d8d8;position: absolute;top: 5px;right: 10px;}
.schedule-detail .schdc-if .luggage {font-size: 12px;color: #000;text-align: right;margin-top: 3px;}
.schedule-detail .schdc-det {padding: 20px 0 30px 0;position: relative;}
.cb3-cont .schedule-detail .schdc-det {padding: 20px 0 10px 0;}
.schedule-detail .schdc-det .sd-path {min-height: 100px;}
.schedule-detail .schdc-det .sdp-route {padding-left: 10px;position: relative;}
.schedule-detail .schdc-det .sdp-route .est-time {font-size: 12px;color: rgba(0, 0, 0, 0.5);position: absolute;right: 0;top:50%;margin-top: -9px;}
.schedule-detail .schdc-det .sdpr-row {display: block;padding-left: 30px;position: relative;}
.schedule-detail .schdc-det .sdpr-row .date {display: block;font-size:12px;color: #000;}
.schedule-detail .schdc-det .sdpr-row .date em {color: #2a7cc8;}
.schedule-detail .schdc-det .sdpr-row .time {display: block;margin-top: 3px;}
.schedule-detail .schdc-det .sdpr-row .time .txt {display: inline-block;vertical-align: middle;font-size: 16px;color: #000;font-weight: 600;}
.schedule-detail .schdc-det .sdpr-row .time .termi {display: inline-block;vertical-align: middle;font-size:14px;color: #000;padding-left: 10px;}
.schedule-detail .schdc-det .sdpr-row .time .termi em {color: #f30774;}
.schedule-detail .schdc-det .sdpr-row.hvia-route .vr-txt {color: #000;font-size:14px;margin-left: 55px;}
.schedule-detail .schdc-det .sdp-route.via-route {padding-top: 25px;position: relative;}
.schedule-detail .schdc-det .sdp-route.via-route .vr-txt {color: #f30774;font-size:12px;margin-left: 55px;}
.schedule-detail .schdc-det .sdp-route.via-route .est-time {color: #f30774;top: 25px;margin-top: 0;}
.schedule-detail .schdc-det .sdpr-row + .sdpr-row {margin-top: 25px;}
.schedule-detail .schdc-det .sdpr-row + .hvia-route {margin: 25px 0;}
.schedule-detail .schdc-det .sdpr-row + .hvia-route + .sdpr-row {margin-top: 0;}
.schedule-detail .schdc-det .sdp-route:before {content: '';display: block;width: 2px;height: 70%;background-color: #e2e2e2;position: absolute;top: 22px;left: 14px;z-index: 0;}
.schedule-detail .schdc-det .sdp-route:after {content: '';display: block;width: 2px;height: 24px;background-color: #fff;position: absolute;left: 14px;bottom: -4px;z-index: 1;} 
.schedule-detail .schdc-det .sdp-route.via-route:before {background: url(/images/front/mtravel/contents/bg-dashed2-v.png) 0 0 repeat-y;z-index: 2;height: 200%;top: auto;bottom: -10px;} 
.schedule-detail .schdc-det .sdp-route.via-route:after {display: none;} 
.schedule-detail .schdc-det .sdpr-row:before {content:"";display:block;position:relative;z-index:2;width:10px;height:10px;background:#fff;border: 2px solid #e2e2e2;border-radius:10px;position: absolute;top: 17px;left: 0;z-index: 3;}
.schedule-detail .schdc-det .sdpr-row-last:before {top: 18px;}
.schedule-detail .schdc-det .sdpr-mark:before {background:#cfcfcf;border: 0;}
.schedule-detail .schdc-det .sdp-route.via-route .sdpr-row:before {display: none;}
.schedule-detail .schdc-det .sdpr-row.hvia-route:before {top: 5px;}

/* 상세요금 */
.det-price-label {margin-bottom: 17px;position: relative;}
.det-price-label .tit {font-size: 14px;color: #000;}
.det-price-label .price {font-size: 14px;color: #000;font-weight: 500;position: absolute;top: 0;right: 0;}
.det-price-list li {position: relative;margin-top: 13px;}
.det-price-list li:first-child {margin-top: 0;}
.det-price-list .tit {font-size: 12px;color: #000;position: relative;padding-left: 10px;}
.det-price-list .tit:before {content: '';display: block;width: 6px;height: 8px;border-left:1px solid #000;border-bottom: 1px solid #000;position: absolute;left: 0;top: 3px;}
.det-price-list .price {font-size: 12px;color: #000;position: absolute;top: 0;right: 0;}
.det-price-total {position: relative;}
.det-price-total .tit {font-size: 14px;color: #fff;font-weight: 500;}
.det-price-total .price {font-size: 16px;color: #fff;font-weight: 500;position: absolute;top: -3px;right: 0;}
.det-price-dc li {margin-top: 6px;position: relative;}
.det-price-dc li:first-child {margin-top: 0;}
.det-price-dc .txt {font-size: 14px;color: #000;vertical-align: middle;letter-spacing: -1px;}
.det-price-dc .txt em {color: #2981e2;}
.det-price-dc .price {font-size:14px;color: #000;font-weight: 600;position: absolute;top: -2px;right: 0;}

/* 예약완료 */
.air-book-end-list .lbel {font-size:14px;color: #000;font-weight: 400;}
.air-book-end-list .val {position: absolute;right: 0;right: 0;font-size:14px;color: #000;font-weight: 400;}
.air-book-end-list .val strong {font-weight: 600;}
.msg-my-move {text-align: center;}
.msg-my-move .txt {display: inline-block;padding-left: 60px;font-size: 14px;color: rgba(0, 0, 0, 0.5);margin-top: 10px;position: relative;}
.msg-my-move .txt:before {content: '';display: block;width: 50px;height: 14px;background: url(/images/front/mtravel/contents/list-move-loading.png) 0 0 no-repeat;-webkit-background-size: 25px;background-size: 50px;position: absolute;top: 3px;left: 0;}