@charset "utf-8";

/*--------------------------------------------------------------------------------------------------------------
 *  common - background
 *--------------------------------------------------------------------------------------------------------------*/
.w-inres-options .ioi-header .select-base:before,
.w-inres-options .area-tit:before,
.btn-filter-range .txt:before,
.box-airline-detail .bad-airline-joint .tg-joint:before,
.header-secV2.hps-air .area-hai-info:before,
.header-secV2.hps-air .hai-capacity .icon-inf:before,
.header-secV2.hps-air .hai-capacity .icon-chd:before,
.header-secV2.hps-air .hai-capacity .icon-adt:before,
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before,
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before {background-image: url(/images/front/mtravel/contents/icon-common-secM.png);-webkit-background-size: 160px;background-size: 160px;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents - 공통
 *--------------------------------------------------------------------------------------------------------------*/
/* 항공 상세 헤더 */
.header-secV2.hps-air .in-header-secV2 {background-color: #288ecc;border-bottom: 0;position: relative;}
.header-secV2.hps-air .in-header-secV2:before {content: '';display: block;width: 100%;height: 1px;background-color: #fff;opacity: 0.1;position: absolute;bottom: 0;left: 0;}
.header-secV2.hps-air .in-header-secV2 .ly-left .b-back {background-position: -17px -141px;}
.header-secV2.hps-air .hps-air-info {text-align: center;color: #fff;}
.header-secV2.hps-air .hai-places {display: inline-block;width: 100%;}
.header-secV2.hps-air .hai-places .label {display: inline-block;font-size:14px;font-weight: 500;margin-right: 16px;}
.header-secV2.hps-air .hai-places .air-info {display: inline-block;}
.header-secV2.hps-air .hai-places .air-info .txt {display: inline-block;font-size:16px;font-weight: 500;position: relative;}
.header-secV2.hps-air .hai-places .air-info .txt + .txt {padding-left: 30px;}
.header-secV2.hps-air .hai-places .air-info .txt + .txt:before {content: '';display: block;width: 14px;height: 6px;background-position: -29px -219px;position: absolute;top: 9px;left: 7px;}
.header-secV2.hps-air .hai-info {display: inline-block;width: 100%;}
.header-secV2.hps-air .hai-date {display: inline-block;font-size:12px;margin-right: 18px;color: #fff;}
.header-secV2.hps-air .hai-capacity {display: inline-block;}
.header-secV2.hps-air .hai-capacity li {display: inline-block;position: relative;}
.header-secV2.hps-air .hai-capacity .num {display: inline-block;width: 16px;text-align: center;font-size:12px;color: #fff;}
.header-secV2.hps-air .hai-capacity .icon-adt {padding-left: 11px;}
.header-secV2.hps-air .hai-capacity .icon-adt:before {content: '';display: block;width: 11px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -100px -26px;}
.header-secV2.hps-air .hai-capacity .icon-chd {padding-left: 14px;}
.header-secV2.hps-air .hai-capacity .icon-chd:before {content: '';display: block;width: 14px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -114px -26px;}
.header-secV2.hps-air .hai-capacity .icon-inf {padding-left: 11px;}
.header-secV2.hps-air .hai-capacity .icon-inf:before {content: '';display: block;width: 11px;height: 16px;overflow: hidden;position: absolute;top: 2px;left: 0;background-position: -130px -26px;}
.header-secV2.hps-air .area-hai-info {position: relative;display: inline-block;padding-right: 15px;}
.header-secV2.hps-air .area-hai-info:before {content: '';display: block;width: 11px;height: 7px;position: absolute;top: 6px;right: 0;background-position: -28px -111px;}

/* 항공 상세 헤더 검색 영역 */
.hps-air .w-search-sec {display: none;}

/*--------------------------------------------------------------------------------------------------------------
 *  contents - 검색결과 리스트
 *--------------------------------------------------------------------------------------------------------------*/

/* 추천항공편 */
.s-rec-list-airline {background-color: #288ecc;padding: 10px 0;}
.s-rec-list-airline .info-header {padding: 0 20px;margin-bottom: 10px;}
.s-rec-list-airline .info-header .txt {display: inline-block;font-size:12px;color: #fff;margin-right: 2px;}
.s-rec-list-airline .list-rec-airline {padding-right:10px;}
.s-rec-list-airline .list-rec-airline .list {padding:0 10px;}
.s-rec-list-airline .list-rec-airline .swiper-slide {width: 130px;margin-right: 12px;display: inline-block;}
/*.s-rec-list-airline .list-rec-airline .is-clicked {opacity: 0.5;}*/
.s-rec-list-airline .list-rec-airline .o-box {display: block;background-color: #fff;padding: 12px 8px;border-radius: 5px;position: relative;overflow: hidden;}
.s-rec-list-airline .list-rec-airline .o-box:before {content: '';display: block;width: 12px;height: 12px;background-color: #288ecc;border-radius: 100%;position: absolute;top: 50%;margin-top: -6px;left: -6px;}
.s-rec-list-airline .list-rec-airline .o-box:after {content: '';display: block;width: 12px;height: 12px;background-color: #288ecc;border-radius: 100%;position: absolute;top: 50%;margin-top: -6px;right: -6px;}
.s-rec-list-airline .list-rec-airline .o-box .logo {display: block;text-align: center;font-size: 12px;font-weight: 600;color: #000;margin-bottom: 3px;}
.s-rec-list-airline .list-rec-airline .o-box .logo img {width: 23px;margin-right: 5px;margin-top: 2px;}
.s-rec-list-airline .list-rec-airline .o-box .price {display: block;text-align: center;color: #000;margin-top: 3px;}
.s-rec-list-airline .list-rec-airline .o-box .price.final-low {color: #2981e2;}
.s-rec-list-airline .list-rec-airline .o-box .price strong {font-weight: 600;}
.s-rec-list-airline .area-rec-detail {margin-top: 10px;padding: 0 10px;display: none;}
.s-rec-list-airline .area-rec-detail .swiper-wrapper {border-radius: 5px;overflow: hidden;}
.s-rec-list-airline .area-rec-detail .box-airline-detail .box-sec + .box-sec:before,
.s-rec-list-airline .area-rec-detail .box-airline-detail .box-sec + .box-sec:after {background-color: #288ecc;}

/* 국제선 - 검색결과 리스트 */
.s-list-airline {background-color: #ebeef2;}
.s-list-airline .info-header {font-size: 14px;color: #000;padding: 15px 19px;}
.s-list-airline .info-header .ih-date {font-weight: 600;margin-right: 10px;}
.s-list-airline .info-header .ih-places em {font-weight: 600;}
.s-list-airline .list-airline {padding: 0 10px;}
.s-list-airline .list-airline .inset {padding-bottom: 10px;}

/* 국제선 항공편 상세 박스 */
.box-airline-detail {background-color: #fff;padding: 0 17px;border-radius: 5px;overflow: hidden;display: block;}
.box-airline-detail .box-sec {padding: 0 2px;}
.box-airline-detail .box-sec + .box-sec {position: relative;border-top: 1px dashed #ccc;}
.box-airline-detail .box-sec + .box-sec:before {content: '';display: block;width: 12px;height: 12px;background-color: #ebeef2;border-radius: 100%;position: absolute;top: -6px;left: -23px;}
.box-airline-detail .box-sec + .box-sec:after {content: '';display: block;width: 12px;height: 12px;background-color: #ebeef2;border-radius: 100%;position: absolute;top: -6px;right: -23px;}
.box-airline-detail .inset-row + .inset-row {border-top: 1px solid #ccc;}
.box-airline-detail .box-airline-info {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.box-airline-detail .box-airline-info > div {position: relative;height: 80px;}
.box-airline-detail .bad-airline {padding-top:20px;text-align: center;-webkit-box-flex: 10%;-moz-box-flex: 10%;width: 10%;-webkit-flex: 10%;-ms-flex: 10%;flex: 10%;}
.box-airline-detail .bad-route {padding-top:20px;-webkit-box-flex: 65%;-moz-box-flex: 65%;width: 65%;-webkit-flex: 65%;-ms-flex: 65%;flex: 65%;}
.box-airline-detail .bad-airline-info {padding-top:20px;-webkit-box-flex: 25%;-moz-box-flex: 25%;width: 25%;-webkit-flex: 25%;-ms-flex: 25%;flex: 25%;}
.box-airline-detail .ba-airline-logo img {width: 28px;}
.box-airline-detail .ba-route-time {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;justify-content: space-between;}
.box-airline-detail .ba-route-time .dep-time {width: 55px;padding-left: 15px;}
.box-airline-detail .ba-route-time .arr-time {width: 55px;padding-right: 15px;}
.box-airline-detail .ba-route-time .info-time {width: 30%;text-align: center;position: relative;}
.box-airline-detail .ba-route-time .info-time:before {content: '';display: block;width: 100%;border-top:1px dashed #ccc;position: absolute;top: 11px;left: 0;}
.box-airline-detail .ba-route-time .info-time .txt {margin-top: 26px;}
.box-airline-detail .ba-route-time .info-time .mark-point {display: block;width: 100%;position: absolute;top: 0;left: 0;text-align: center;}
.box-airline-detail .ba-route-time .info-time .mark-point .mp {display: inline-block;width: 7px;height: 7px;border-radius: 100%;background-color: #f30774;margin: 0 12%;}
.box-airline-detail .ba-route-time .time {display: block;font-size: 14px;color: #000;font-weight: 600;position: relative;}
.box-airline-detail .ba-route-time .time .gap {display: block;position: absolute;top: 1px;right: -12px;font-size: 10px;color: #000;}
.box-airline-detail .ba-route-time .txt {display: block;font-size: 12px;color: rgba(0, 0, 0, 0.5);margin-top: 6px;}
.box-airline-detail .ba-ai {font-size: 12px;text-align: right;}
.box-airline-detail .ba-ai .ba-seat {display: block;color: #f30774;}
.box-airline-detail .ba-ai .ba-time {display: block;font-size: 12px;color: rgba(0, 0, 0, 0.5);margin-top: 8px;}
.box-airline-detail .bad-airline-joint {padding: 14px 0;position: relative;}
.box-airline-detail .bad-airline-joint .list {height: 18px;overflow: hidden;}
.box-airline-detail .bad-airline-joint .list li {font-size: 12px;color: #2981e2;margin-top: 2px;}
.box-airline-detail .bad-airline-joint .list li:first-child {margin-top: 0;}
.box-airline-detail .bad-airline-joint .list .code {margin-right: 5px;}
.box-airline-detail .bad-airline-joint .tg-joint {position: absolute;top: 14px;right: 0;font-size: 12px;color: #2981e2;padding-right: 26px;}
.box-airline-detail .bad-airline-joint .tg-joint:before {content: '';display: block;width: 18px;height: 18px;position: absolute;right: 0;top: 0;background-position: -83px -141px;}
.box-airline-detail .bad-airline-joint.on .tg-joint:before {height: 4px;top: 6px;background-position: -83px -160px;}
.box-airline-detail .bad-pricelist {padding: 17px 8px;}
.box-airline-detail .bp-pricelist-info li {margin-top: 6px;position: relative;}
.box-airline-detail .bp-pricelist-info li:first-child {margin-top: 0;}
.box-airline-detail .bp-pricelist-info .txt {font-size: 12px;color: #000;vertical-align: middle;letter-spacing: -1px;}
.box-airline-detail .bp-pricelist-info .txt em {color: #2981e2;}
.box-airline-detail .bp-pricelist-info .price {font-size:12px;color: #000;position: absolute;top: -2px;right: 0;}
.box-airline-detail .bp-pricelist-info .price em {font-size:16px;font-weight: 600;}

/* 실시간 검색결과 로딩바 */
.loading-all-list .lal-bar {background-color: #fff;display: block;width: 100%;height: 2px;position: relative;}
.loading-all-list .lal-bar .bar {display: block;width: 0;height: 100%;background-color: #f30774;position: absolute;top: 0;left: 0;}
.loading-all-list .txt {background-color: #ebeef2;font-size: 12px;color: rgba(0, 0, 0, 0.5);text-align: center;padding: 10px 0 10px 0;}
.loading-all-list .per {color: #f30774;}

/* air list skeleton */
.list-airline-skeleton {padding: 0 10px;background-color: #ebeef2;}
.list-airline-skeleton .inset {padding-bottom: 10px;}
.list-airline-skeleton .box-sec:first-child .w-skel {width: 70%;}
.list-airline-skeleton .w-skel {padding: 14px 0 20px 0;}
.list-airline-skeleton .skel-bg {margin-top: 6px;width: 100%;height: 18px;animation:shine-line 2s infinite ease-out;background-image:linear-gradient(90deg,#e5e5e5 0px,rgba(0, 0, 0, 0.1) 40px,#e5e5e5 80px);background-color:#e5e5e5;background-size: 300%;}
@keyframes shine-line{ 0% {background-position:50%;} 40%, 100% {background-position:-100%;} }

/* 필터, 정렬 버튼 */
.btn-filter-range {position: relative;height: 40px;}
.btn-filter-range .bfr {position: fixed;width: 138px;height: 40px;line-height: 40px;text-align: center;z-index:10;bottom: 20px;left: 50%;margin-left: -69px;border-radius: 20px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);background-color: rgba(62, 70, 85, 0.9);}
.btn-filter-range .txt {font-size: 14px;color: #fff;padding-left: 26px;position: relative;}
.btn-filter-range .txt:before {content: '';display: block;width: 15px;height: 13px;position: absolute;left: 0;top: 4px;background-position: -81px -26px;}

/* 필터, 정렬 팝업(lpu) */
.w-inres-options {padding: 15px 0 30px 0;}
.w-inres-options .list-options {padding: 0 20px;}
.w-inres-options .btn-inres-options {position: relative;height: 59px;}
.w-inres-options .btn-inres-options .bb-st4 {position: fixed;z-index: 10;bottom: 0;left: 0;}
.w-inres-options .io-box {margin-top: 19px;}
.w-inres-options .io-box:first-child {margin-top: 0;}
.w-inres-options .ioi-header {position: relative;}
.w-inres-options .ioi-header .select-base {width: 100%;border-bottom: 1px solid #ccc;position: relative;}
.w-inres-options .ioi-header .select-base select {display: block;width: 100%;padding: 12px 0 13px 0;font-size: 16px;color: #000;font-weight: 600;border:0;;}
.w-inres-options .ioi-header .select-base:before {content: '';display: block;width: 15px;height: 8px;position: absolute;top: 21px;right: 0;background-position: -27px -101px;}
.w-inres-options .ioi-header .tit-ins {font-size: 12px;color: rgba(0, 0, 0, 0.5);margin-bottom: 1px;}
.w-inres-options .ioi-header .area-tit {display: block;position: relative;z-index: 0;padding: 12px 0 13px 0;border-bottom: 1px solid #ccc;position: relative;width: 100%;text-align: left;outline:none;}
.w-inres-options .ioi-header .area-tit:before {content: '';display: block;width: 15px;height: 8px;position: absolute;top: 21px;right: 0;background-position: -27px -101px;}
.w-inres-options .ioi-header .area-tit .tit {font-size: 16px;color: #000;font-weight: 600;display: inline-block;}
.w-inres-options .ioi-header .chk-st1 {position: absolute;z-index: 1;top: 15px;right: 33px;}
.w-inres-options .ioi-cont {padding: 17px 0;}
.w-inres-options .ioi-cont .list > li {margin-top: 20px;}
.w-inres-options .ioi-cont .ls-toggle {margin-top: 20px;display: none;}
.w-inres-options .ioi-cont .b-more-list {margin-top: 20px;border-bottom: 1px solid #808080;}
.w-inres-options .ioi-cont .b-more-list > span {font-size:14px;color: #000;font-weight: 600;}
.w-inres-options .ioi-cont .b-more-list .b-hide {display: none;}
.w-inres-options .ioi-cont .list li:first-child {margin-top: 0;}
.w-inres-options .ioi-cont .list .chk-st1 {width: 100%;}
.w-inres-options .ioi-cont .list .chk-st1 .area-right {position: absolute;top: 0;right: 0;}
.w-inres-options .cdBenefit .ioi-header .bb-help {position: absolute;top: 17px;left: 98px;}
