@charset "utf-8"; 

/*--------------------------------------------------------------------------------------------------------------
 *  fonts
 *--------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'YouandiModernTR'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_TextRegular.eot); 
    src: url(/fonts/Youandi_Modern_TextRegular.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_TextRegular.woff) format('woff')
}
@font-face {
    font-family: 'YouandiModernTB'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_TextBold.eot); 
    src: url(/fonts/Youandi_Modern_TextBold.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_TextBold.woff) format('woff')
}
@font-face {
    font-family:'YouandiModernHEB'; 
    font-style: normal; 
    font-weight: normal; 
    src: url(/fonts/Youandi_Modern_HeadExtraBold.eot); 
    src: url(/fonts/Youandi_Modern_HeadExtraBold.eot?#iefix) format('embedded-opentype'),
         url(/fonts/Youandi_Modern_HeadExtraBold.woff) format('woff')
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:100;
    src: url('/fonts/NotoSansKR-Thin.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Thin.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Thin.woff') format('woff'),
         url('/fonts/NotoSansKR-Thin.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:300;
	src: url('/fonts/NotoSansKR-Light.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Light.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Light.woff') format('woff'),
         url('/fonts/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:400;
	src: url('/fonts/NotoSansKR-Regular.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Regular.woff') format('woff'),
         url('/fonts/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:500;
	src: url('/fonts/NotoSansKR-Medium.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Medium.woff') format('woff'),
         url('/fonts/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:700;
	src: url('/fonts/NotoSansKR-Bold.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Bold.woff') format('woff'),
         url('/fonts/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
    font-family:'NotoSansKR';
    font-style:normal;
    font-weight:900;
	src: url('/fonts/NotoSansKR-Black.eot');
    src: local(☺),
         url('/fonts/NotoSansKR-Black.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Black.woff') format('woff'),
         url('/fonts/NotoSansKR-Black.otf') format('opentype');
}

@font-face{
font-family:'YMR';
src: url('/images/front/mtravel/common/YouandiModernHRA.eot');
src: url('/images/front/mtravel/common/YouandiModernHRA.eot?#iefix') format('embedded-opentype'),
	 local(※), url('/images/front/mtravel/common/YouandiModernHRA.woff') format('woff'),
	 url('/images/front/mtravel/common/YouandiModernHRA.otf') format('opentype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:'YMB';
src: url('/images/front/mtravel/common/YouandiModernHBA.eot');
src: url('/images/front/mtravel/common/YouandiModernHBA.eot?#iefix') format('embedded-opentype'),
	 local(※), url('/images/front/mtravel/common/YouandiModernHBA.woff') format('woff'),
	 url('/images/front/mtravel/common/YouandiModernHBA.otf') format('opentype');
font-weight: normal;
font-style: normal;
}

/*--------------------------------------------------------------------------------------------------------------
 *  common - reset, lyout
 *--------------------------------------------------------------------------------------------------------------*/
/* reset */
html{word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
body{font-size:13px;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,form,fieldset,p,blockquote,button{margin:0;padding:0;font-size:13px;font-family:'Malgun Gothic','맑은 고딕',돋움,sans-serif}
body,input,select,textarea{color:#424242;font-weight:normal;font-size:13px}
img,input,fieldset{border:0 none}
img,input,select,textarea{vertical-align:top}
ul,ol,li,dl,dt,dd{list-style:none;margin:0;padding:0;}
address,caption,cite,code,dfn,em,i,var{font-style:normal;font-weight:normal}
h1,h2,h3,h4,h5,th{margin:0;font-weight:normal}
hr{display:none}
a{color:#424242;text-decoration:none;text-overflow:ellipsis;-o-text-overflow:ellipsis}
a:link,a:hover,a:active{text-decoration:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
input[type="text"],input[type="password"],input[type="email"],input[type="search"],input[type="tel"],input[type="number"],textarea,select{-webkit-appearance:none;border-radius:0}
input:checked[type="checkbox"]{background-color:#fff;-webkit-appearance:checkbox}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]{-webkit-appearance:none;-webkit-border-radius:0;overflow:visible;margin:0;padding:0;border:0 none;background:0 none;cursor:pointer}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
input::-webkit-input-placeholder{color:#424242}
input:-moz-placeholder{color:#424242}
textarea::-webkit-input-placeholder{color:#424242}
textarea:-moz-placeholder{color:#424242}
input[type=number]::-webkit-outer-spin-button{margin:0}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
img{max-width:100%;width:100%;height:auto}
p{margin:0}

/* layout */
html,body{overflow-x:hidden;height:100% !important;background:#fff !important}
#skipnav{position:absolute;left:-100%}
body{min-width:320px}

/* new 메인 개편용 */
.headWrap * {transition: all 0.3s}
.headWrap{position:relative;width:100%;height:47px}
.headWrap > header{border-bottom:0 none;position:fixed;top:0;left:0;width:100%;height:47px;border-bottom:1px solid #555;z-index:10;
-moz-box-shadow:0 4px 5px rgba(0,0,0,.1);
-webkit-box-shadow:0 4px 5px rgba(0,0,0,.1);
box-shadow:0 4px 5px rgba(0,0,0,.1);
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.headWrap .header{position:relative;width:100%;height:47px;padding-top:15px;border-bottom:1px solid #555;background-color:#424242;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.headWrap .header > h1,
.headWrap .header > h2{margin:0;padding:0;text-align:center;font-family:'YMB';font-weight:normal;font-size:18px;line-height:18px;color:#fff}
.headWrap .header .bg-logo{overflow:hidden;text-indent:-9999px; background:url(/images/front/mtravel/main/deco_privia_logo.png) no-repeat 50%;background-size:133px auto}
.headWrap .header .rightArea,
.headWrap .header .leftArea{width:auto;height:auto;position:absolute;top:10px}
.headWrap .header .rightArea{right:10px}
.headWrap .header .leftArea{left:10px}
.headWrap .header a{display:inline-block !important;width:18px;height:18px;padding:4px !important}
.headWrap .header .logo a {display:inline !important;color:#fff;text-decoration:none;}
.headWrap .header .logo a:after {display: none;}
.headWrap .header a > img{display:none}
.headWrap .header a:after{content:'';display:inline-block;width:18px;height:18px;background-repeat:no-repeat;background-size:17px auto;background-position:50%}
.headWrap .header .leftArea a:after{background-image:url(/images/front/mtravel/common/head_close.png)}
.headWrap .header .leftArea .btnBack:after{background-image:url(/images/front/mtravel/common/head_back.png)}
.headWrap .header .rightArea .btnMypage:after{background-image:url(/images/front/mtravel/common/head_mypage.png)}
.headWrap .header .rightArea .btnMenu:after{background-image:url(/images/front/mtravel/common/head_menu.png)}
.headWrap .header .rightArea .btnMypage{margin-right:-2px}
.headWrap .header .rightArea .btnExport{margin-top:-2px}
.headWrap .header .rightArea .btnExport:after{height:20px;background-image:url(/images/front/mtravel/common/head_export.png);background-size:18px auto}

.headWrap .header .rightArea.fIcon a{overflow:hidden;width:32px;height: 100%;line-height: 20px;margin:0;padding:0;text-indent:-9999px;background:url(/images/front/mtravel/search/icon_filter.png) no-repeat;background-size:80px 160px} 
.headWrap .header .rightArea.fIcon .btnMap{background-position:0 -85px}

/* 헤더 스타일(하단 그림자 없음) */
.headWrap.no-border > header {border: 0 none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
}
.headWrap.no-border .header {border: 0 none;}
.headWrap.no-border .s-state-pkg {display: none;}

/* 헤더 스타일2(배경투명 #30336) */
.headWrap.hdw-st2 {margin-bottom: -47px;z-index: 4;}
.headWrap.hdw-st2 > header {border: 0 none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
position: absolute;
}
.headWrap.hdw-st2 .header {background-color: transparent;border: 0 none;}
.headWrap.hdw-st2 .logo, .headWrap.hdw-st2 .leftArea {opacity: 0;}
.headWrap.hdw-st2 .rightArea {top: 25px;}

/* 헤더 스타일3(제목 + 서브 - /html_mobile/pkg/B000_PU01.html) */
.headWrap.hdw-st3 {height: 78px;}
.headWrap.hdw-st3 > header {height: 78px;}
.headWrap.hdw-st3 .header {height: 78px;}
.headWrap.hdw-st3 .s-state-pkg {border-bottom: 0;padding-top: 0;}

/* 헤더 스타일4(스크롤 타이틀 변경 - /html_mobile/pkg/B000_PU03.html, /html_mobile/pkg/PTM_B201.html) */
.headWrap.hdw-st4.on {height: 54px;}
.headWrap.hdw-st4.on > header {height: 54px;}
.headWrap.hdw-st4.on .header {padding-top: 8px;height: 54px;}
.headWrap.hdw-st4.on .header .leftArea {top: 14px;}
.headWrap.hdw-st4.on .header .rightArea {top: 12px;}
.headWrap.hdw-st4.on .header .logo {display: none;}
.headWrap.hdw-st4.on .s-state-pkg {border-bottom: 0;padding-top: 0;display: block;}
.headWrap.hdw-st4.on .s-state-pkg .txt {font-size:13px;}
.headWrap.hdw-st4.on .s-state-pkg .txt-city {font-size:17px;padding-bottom: 0;}
.headWrap.hdw-st4 .rightArea {position: absolute;text-align: right;right: 10px;top: 7px;}
.headWrap.hdw-st4 .rightArea > a {padding: 0 !important;display: inline-block;font-size:0;line-height: 0;text-indent:-9999px;overflow:hidden;width:26px;height: 32px;background:url(/images/front/mtravel/main/sprite_icon_collection.png) no-repeat;background-size:60px;vertical-align: middle;}
.headWrap.hdw-st4 .rightArea .align {background-position: 4px -975px;}
.headWrap.hdw-st4 .rightArea .btnMap {background-position: 6px -1024px;}
.headWrap.hdw-st4 .rightArea .btnMenu {background: none;width: 18px;height: 18px;padding: 4px !important;margin-top: 3px;}
.headWrap.hdw-st4.on .rightArea .btnMenu {margin-top: 0;}

.footWrap{margin:0 10px;padding:23px 0 25px;border-top:1px solid #d5d5d5}
.footWrap *{font-size:10px !important;line-height:1.5 !important}
.footWrap .call-center{float:left;margin-top:-2px;line-height:1.1;vertical-align:top}
.footWrap .call-center .call{display:inline-block;width:9px;height:10px;padding-bottom:1px;vertical-align:top;background:url(/images/front/mtravel/common/icon_call.png) no-repeat 0 1px;background-size:9px auto}
.footWrap .call-center p{margin-top:-2px}
.footWrap .go-link{float:right}
.footWrap .go-link a{display:inline-block;min-width:60px;height:23px;margin-left:3px;line-height:24px !important;vertical-align:middle;padding:0 7px;text-align:center;background-color:#dddee0;
-moz-box-sizing:border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.footWrap .foot-menu{clear:both;margin:0 0 10px -6px;padding-top:12px;overflow:hidden}
.footWrap .foot-menu a{display:inline-block;padding:0 6px;font-weight:bold;color:#333}
.footWrap .foot-menu span{color:#d5d5d5}
.footWrap .copyright{margin-top:10px}

.ui-mobile [data-role=page] .contentWrap{position:relative;padding-bottom:25px;background-color:#fff !important}
.ui-mobile .ui-page-active{/*background-color:#fff*/}
.ui-mobile [data-role=dialog]{background:transparent !important}
.ui-mobile [data-role=page] .header .s-state-pkg + .leftArea > a {display: none !important;}
.ui-mobile [data-role=page] .header .s-state-pkg + .leftArea > a.btnBack {display: inline-block !important;}
.ui-mobile [data-role=dialog] .header .s-state-pkg + .leftArea .btnBack {display: none !important;}
.ui-dialog-contain{min-height:100%;opacity:1 !important;background:#fff !important}
.ui-mobile [data-role=dialog] .contentWrap{position:relative;min-height:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-bottom:50px;opacity:1 !important;background:#fff !important}

/* 팝업 */
.popWrap{background-color:#fff}
.popWrap .popHead{position:relative;padding:14px 15px 10px;border-bottom:1px solid #d5d5d5}
.popWrap .popHead .tit{color:#1e1e1e;font-size:15px;font-family:'YMB'}
.popWrap .btnClose{position:absolute;top:11px;right:11px}
.popWrap .btnClose *{display:block;width:19px;height:19px;overflow:hidden;text-indent:-9999px;background:url(/images/front/mtravel/common/btn_close.gif) no-repeat;background-size:19px 19px}
.popWrap .itemSelect li{width:100%;float:none;border-right:0 none}
.popWrap .itemSelect li:nth-child(2){border-top:1px solid #d5d5d5}
.popWrap .itemSelect label{padding:11px 15px 9px}
.popWrap .popCont .boxType3 + .btnArea{margin-top:0}
.popWrap .popCont .btnArea{padding-bottom:15px;margin-bottom:0}
.dialogue_pop {display:none; position:absolute; z-index:300; left:0; top:0; height:100%; width:100%; opacity:0; -webkit-opacity:0; padding:0 7px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background:rgba(0,0,0,0.5)}
.dialogue_pop .popWrap {display:block}
.layerPopWrapper {position:absolute; left:0; top:0; z-index:200; width:100%;  background:#fff; opacity:0; -webkit-opacity:0; -moz-opacity:0; -o-opacity:0; -ms-opacity:0} 
.bg_layerpop {position:absolute; left:0; top:0; z-index:90; background:rgba(0,0,0,0.5); width:100%; height:0; opacity:0; display:none}
/* 개편 ver1 - popWrap-sec */
.popWrap-sec {border-radius: 4px;overflow: hidden;margin: 0 auto;width: 80%;}
.popWrap-sec .pop-exp-st1 dt {font-size:14px;font-weight: 500 !important;margin-bottom: 2px;color: #333;}
.popWrap-sec .pop-exp-st1 dd {font-size:14px;color: #333;}
.popWrap-sec .pop-exp-st1 + .pop-exp-st1 {margin-top: 10px;}
/* 개편 ver1 - dialogue_pop + popWrap-fix */
.dialogue_pop.dialogue_pop_fix {position: fixed;padding-top: 0 !important;height: 100% !important;}
.dialogue_pop .popWrap-fix {position: relative;top: 50%;margin-top: -200px;}
.inner-popCont-scroll {max-height:400px;}
/* 개편 ver2 - popWrap-secV2 */
.popWrap-secV2 {border-radius: 4px;overflow: hidden;margin: 0 auto;width: 80%;}
.popWrap-secV2 .popHead {padding:14px 0;margin:0 20px;border-bottom: 2px solid #f2f2f2;}
.popWrap-secV2 .popHead .tit {font-size:16px;color: #000;font-weight: 500;font-family:"NotoSansKR";}
.popWrap-secV2 .btnClose {right:0;top:19px;}
.popWrap-secV2 .btnClose a {display: inline-block;width:16px;height:16px;overflow: hidden;background-position: -137px -141px;}
/* 개편 ver2 - popWrap-mfix */
.popWrap-mfix {overflow: hidden;margin: 0 auto;background: none;}
.popWrap-mfix .popHead {height: 50px;background-color: #fff;width: 100%;position: relative;padding: 0;}
.popWrap-mfix .popHead .tit {font-size:18px;color: #000;text-align: center;font-weight: 400;padding-top: 12px;font-family:"NotoSansKR";}
.popWrap-mfix .popHead .btnClose {right: auto;left: 20px;top: 14px;}
.popWrap-mfix .popHead .btnClose a {display: inline-block;width: 21px;height: 22px;overflow: hidden;background-position: -33px -141px;}
.popWrap-mfix .popCont {background-color: #fff;}
.popWrap-mfix .popCont-iscroll {max-height:100%;overflow-y: scroll;-webkit-overflow-scrolling: touch;position: relative;}
.popWrap-mfix .popCont-iscroll.pih100 {height: 100%;}
/* 개편 ver2 - dialogue_pop + popWrap-mfix */
.dialogue_pop.dialogue_pop_mfix {position: fixed;padding: 0 !important;width: 100%;height: 100% !important;padding-top: 50px !important;}
.dialogue_pop .popWrap-mfix {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction: column;justify-content:flex-end;width: 100%;height: 100%;margin-top:200%;transition: margin-top 0.3s;}
.dialogue_pop .popWrap-mfix.loaded {margin-top: 0;}
/*.popCont-iscroll {max-height:100%;overflow: hidden;position: relative;}
.popCont-iscroll .iScrollVerticalScrollbar {background: rgba(0,0,0,.1);right: 3px;}
.popCont-iscroll .iScrollIndicator {background: rgba(0,0,0,.5);}*/
    
/*--------------------------------------------------------------------------------------------------------------
 ******************************************  개편 css ***************************************************
 *--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------
 *  common - reset, lyout
 *--------------------------------------------------------------------------------------------------------------*/
/* reset */
.header-secV2, .header-secV2 *, .header-secV2 *:after, .header-secV2 *:before, 
.gnbArea-sec, .gnbArea-sec *, .gnbArea-sec *:after, .gnbArea-sec *:before, 
.popWrap-sec, .popWrap-sec *, .popWrap-sec *:after, .popWrap-sec *:before, 
.popWrap-secV2, .popWrap-secV2 *, .popWrap-secV2 *:after, .popWrap-secV2 *:before, 
.popWrap-mfix, .popWrap-mfix *, .popWrap-mfix *:after, .popWrap-mfix *:before, 
.search-sec, .search-sec *, .search-sec *:after, .search-sec *:before,
.content-sec, .content-sec *, .content-sec *:after, .content-sec *:before,
.footer-sec, .footer-sec *, .footer-sec *:after, .footer-sec *:before {font-family: "NotoSansKR", "Malgun Gothic", sans-serif;font-weight: 400;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.popWrap-secV2 table, .popWrap-mfix table, .popWrap-sec table, .search-sec table, .content-sec table {border-spacing:0;border-collapse:collapse;}

/* 개편 시작 */
/*--------------------------------------------------------------------------------------------------------------
 *  common - background
 *--------------------------------------------------------------------------------------------------------------*/
.popWrap-secV2 .btnClose a, 
.popWrap-mfix .popHead .btnClose a, 
.gnbArea-sec .btnClose button:before, 
.gnbArea-sec .gnb >li.suboff:after, 
.gnbArea-sec .gnb >li.subon:after, 
.w-header-sec .ly-right .b-gnb:before, 
.w-header-sec .ly-right .b-mymenu, 
.w-header-sec .ly-left .b-close, 
.header-secV2.header-pop-st .ly-right .b-refresh, 
.header-secV2.header-pop-st .ly-left .b-close, 
.header-secV2.header-page-st .ly-left .b-back, 
.in-header-secV2 .ly-right .b-mymenu, 
.in-header-secV2 .ly-left .b-gnb:before {background-image: url(/images/front/mtravel/contents/icon-common-secM.png);-webkit-background-size: 160px;background-size: 160px;}

/*--------------------------------------------------------------------------------------------------------------
 *  common - header
 *--------------------------------------------------------------------------------------------------------------*/
/* 개편 ver1 - 헤더 기본(fixed) */
.header-sec {position: relative;height: 50px;}
.w-header-sec {height: 50px;background-color: #eef1f6;border-bottom: 1px solid #e6e6e6;width: 100%;position: fixed;z-index: 10;}
.w-header-sec .logo {padding: 18px 0 0 20px;}
.w-header-sec .logo a {display: inline-block;width: 130px;}
.w-header-sec .whs-title {font-size:20px;color: #000;text-align: center;font-family: "YouandiModernTB";padding-top: 16px;}
.w-header-sec .ly-left {position: absolute;left: 20px;top: 17px;}
.w-header-sec .ly-right {position: absolute;right: 20px;top: 15px;}
.w-header-sec .ly-left .b-close {display: inline-block;width: 16px;height: 16px;overflow: hidden;background-position: 0 0;}
.w-header-sec .ly-right .b-mymenu {display: inline-block;width: 23px;height: 22px;overflow: hidden;background-position: -19px 0px;margin-right: 15px;}
.w-header-sec .ly-right .b-gnb {display: inline-block;position: relative;width: 28px;height: 22px;}
.w-header-sec .ly-right .b-gnb:before {content: '';display: inline-block;width: 28px;height: 10px;overflow: hidden;background-position: -45px 0px;position: absolute;left: 0;top: 6px;}

/* 개편 ver2 - 메인헤더 */
.header-secV2 {position: relative;height: 50px;}
.header-secV2.header-main-st {animation:headerMainShow 0.3s 1 ease-out;}
@keyframes headerMainShow{ 0% {opacity:0;} 100% {opacity:1;} }
.header-secV2.header-main-st {opacity: 1;visibility: visible;}
.in-header-secV2 {height: 50px;background-color: #fff;width: 100%;position: relative;}
.in-header-secV2 .logo {text-align: center;padding-top: 18px;}
.in-header-secV2 .logo a {display: inline-block;width: 130px;}
.in-header-secV2 .ly-left {position: absolute;left: 20px;top: 17px;}
.in-header-secV2 .ly-right {position: absolute;right: 20px;top: 15px;}
.in-header-secV2 .ly-left .b-gnb {display: inline-block;position: relative;width: 28px;height: 22px;}
.in-header-secV2 .ly-left .b-gnb:before {content: '';display: inline-block;width: 28px;height: 10px;overflow: hidden;background-position: -45px 0px;position: absolute;left: 0;top: 6px;}
.in-header-secV2 .ly-right .b-mymenu {display: inline-block;width: 23px;height: 22px;overflow: hidden;background-position: -19px 0px;}
.in-header-secV2 .ihg-title {font-size:18px;color: #000;text-align: center;font-weight: 400;padding-top: 12px;}
/* 개편 ver2 - 서브헤더 */
.header-secV2.header-page-st .in-header-secV2 {background-color: #fff;}
.header-secV2.header-page-st.is-fixed .in-header-secV2 {position: fixed;z-index: 10;top: 0;left: 0;width: 100%;}
.header-secV2.header-page-st .ly-left {top: 14px;}
.header-secV2.header-page-st .ly-left .b-back {display: inline-block;width: 13px;height: 23px;overflow: hidden;background-position: 0px -141px;}
/* 개편 ver2 - 팝업헤더 */
.header-secV2.header-pop-st .in-header-secV2 {background-color: #fff;border-bottom: 1px solid #ccc;position: fixed;z-index: 10;top: 0;left: 0;width: 100%;}
.header-secV2.header-pop-st .ly-left {top: 14px;}
.header-secV2.header-pop-st .ly-left .b-close {display: inline-block;width: 21px;height: 22px;overflow: hidden;background-position: -33px -141px;}
.header-secV2.header-pop-st .ly-right .b-refresh {display: inline-block;width: 24px;height: 24px;overflow: hidden;background-position: -57px -141px;}

/* gnb */
.gnbArea{width:200px;position:fixed;top:0;right:-200px;height:100%;background-color:#fff;z-index:100;
-webkit-transform:translate(0,0);
transform:translate(0,0);
-webkit-transition:all .3s ease-out;
transition:all .3s ease-out;
}
.gnbArea.open{
box-shadow:0 0 10px #212123;
-webkit-transform:translate(-200px,0);
transform:translate(-200px,0);
}
.gnbHolder{position:relative;min-height:100%;background-color:#fff}
.gnbArea .btnClose{position:absolute;top:9px;right:9px}
.gnbArea .btnClose *{overflow:hidden;width:25px;height:25px;text-indent:-9999px;background:url(/images/front/mtravel/common/btn_close.gif) no-repeat center center;background-size:18px 18px}
.gnbArea .mystatus{padding:15px 25px 12px;border-bottom:1px solid #585858;font-size:14px;color:#1e1e1e;font-family:'YMR'}
.gnbArea .mystatus button{font-family:'YMR'}
.gnbArea .mystatus .logout{display:inline-block;padding:0 5px}
.gnbArea .mystatus .login{display:inline-block;height:100%;margin-top:-15px;margin-bottom:-15px;margin-left:-25px;padding:15px 90px 15px 25px}
.gnbArea .gnb li{border-bottom:1px solid #d5d5d5}
.gnbArea .gnb li a{display:block;padding:13px 25px 10px;font-size:14px;color:#1e1e1e;font-family:'YMR'}
.gnbArea .gnb >li.subon{background:url(/images/front/mtravel/common/bg_gnb_arrow.gif) no-repeat 100% 18px;background-size:27px 63px}
.gnbArea .gnb >li.suboff{background:url(/images/front/mtravel/common/bg_gnb_arrow.gif) no-repeat 100% -39px;background-size:27px 63px}
.gnbArea .gnb li ul{display:none;border-top:1px solid #d5d5d5}
.gnbArea .gnb li ul li a{padding:11px 20px 9px 37px;background-color:#f0f0f0}
.gnbArea .gnb li ul li:last-child{border-bottom:0 none}
.gnbArea .footer{padding:30px 7px 20px 16px}
.gnbArea .footer .golink{margin-bottom:8px}
.gnbArea .footer .golink a{display:inline-block;margin-bottom:5px;color:#1e1e1e;font-size:11px;font-family:'YMR'}
.gnbArea .footer .copyright{font-size:11px;font-family:'YMR';color:#767676}

/* 개편 ver1 - gnb */
.gnbArea-sec {width: 235px;right: -235px;}
.gnbArea-sec.open {-webkit-transform:translate(-235px,0);transform:translate(-235px,0);}
.gnbArea-sec * {font-family: "NotoSansKR" !important;font-weight: 400;font-size: 15px !important;color: #303030 !important;}
.gnbArea-sec .btnClose {top: 13px;right: 15px;}
.gnbArea-sec .btnClose * {overflow:hidden;width:25px;height:25px;text-indent:-9999px;position: relative;background: none !important;}
.gnbArea-sec .btnClose button:before {content: '';width:17px;height:17px;background-position: 0 0;position: absolute;top: 5px;left: 5px;}
.gnbArea-sec .mystatus {border-bottom: 1px solid #000;}
.gnbArea-sec .mystatus:first-child {font-weight: 500;font-size:15px;color: #000 !important;padding: 15px 20px 13px;}
.gnbArea-sec .mystatus:first-child button {font-weight: 500;font-size:15px;color: #000 !important;}
.gnbArea-sec .mystatus .login {padding: 14px 90px 12px 20px;}
.gnbArea-sec .gnb li {border-bottom: 0;border-top: 1px solid #e7e7e7;position: relative;background: none !important;}
.gnbArea-sec .gnb li:first-child{border-top: 0;}
.gnbArea-sec .gnb li a {padding: 15px 20px 12px;}
.gnbArea-sec .gnb li ul li a {padding: 14px 20px 12px 37px;background-color: #f0f0f0;}
.gnbArea-sec .gnb >li.subon:after {content: '';display: block;width: 15px;height: 8px;background-position: 0px -91px;position: absolute;top: 22px;right: 30px;transform: rotate(0deg);transition: transform 0.3s;}
.gnbArea-sec .gnb >li.suboff:after {content: '';display: block;width: 15px;height: 8px;background-position: 0px -91px;position: absolute;top: 22px;right: 30px;transform: rotate(180deg);transition: transform 0.3s;}

/*--------------------------------------------------------------------------------------------------------------
 *  common - footer
 *--------------------------------------------------------------------------------------------------------------*/
.footer-sec .w-footer-sec {background-color: #000;padding: 30px 20px;}
.w-footer-sec .fts-ly1:after {content: '';display: block;clear:both;}
.w-footer-sec .fts-ly1 .fts-call {float: left;line-height: 1.3;}
.w-footer-sec .fts-ly1 .fts-call > span {display: block;}
.w-footer-sec .fts-ly1 .fts-call .txt1 {color: #fff;font-size:14px;font-weight: 500;}
.w-footer-sec .fts-ly1 .fts-call .txt1 em a {color: #f30774;font-size:14px;font-weight: 500;}
.w-footer-sec .fts-ly1 .fts-call .txt2 a {color: #fff;font-size:12px;}
.w-footer-sec .fts-ly1 .fts-go-link {float: right;}
.w-footer-sec .fts-ly1 .fts-go-link:after {content: '';display: block;clear:both;}
.w-footer-sec .fts-ly1 .fts-go-link li {float: left;margin-left: 10px;}
.w-footer-sec .fts-ly1 .fts-go-link li .bb-st1 a {min-width: 75px;}
.w-footer-sec .nav-fnb {margin-top: 15px;}
.w-footer-sec .nav-fnb:after {content: '';display: block;clear:both;}
.w-footer-sec .nav-fnb li {float: left;position: relative;}
.w-footer-sec .nav-fnb li a {font-size:12px;color: #999;padding: 1px 9px;}
.w-footer-sec .nav-fnb li:before {content: '';display: block;width: 1px;height: 10px;background-color: #353535;position: absolute;top: 6px;left: 0;}
.w-footer-sec .nav-fnb li:first-child a {padding-left: 0;}
.w-footer-sec .nav-fnb li:last-child a {padding-right: 0;}
.w-footer-sec .nav-fnb li:first-child:before {display: none;}
.w-footer-sec .w-address {margin-top: 15px;}
.w-footer-sec .w-address li {font-size: 12px;color: #999;display: inline;position: relative;}
.w-footer-sec .w-address li:after {content: '';display: inline-block;width: 1px;height: 8px;background-color: #999;margin:0 4px 0 8px;}
.w-footer-sec .w-address .address {display: block;margin: 0;}
.w-footer-sec .w-address .address:after, .w-footer-sec .w-address li:last-child:after {display: none;}
.w-footer-sec .copyright {margin-top: 15px;}
.w-footer-sec .copyright small {font-size:12px;color: #434343;}

@media all and (max-width:370px) { 
    .w-footer-sec .fts-ly1 .fts-call .txt1 {font-size:12px;}
    .w-footer-sec .fts-ly1 .fts-call .txt1 em a {font-size:12px;}
    .w-footer-sec .fts-ly1 .fts-call .txt2 a {font-size:11px;}
    .w-footer-sec .nav-fnb li a {font-size:10px;padding: 1px 8px;}
    .w-footer-sec .w-address li {font-size:11px;}
    .w-footer-sec .copyright small {font-size: 11px;}
}
