@charset "utf-8";

/* login */
.gray-box{display:block;background:#f5f6f8;border-radius:4px;padding:10px 0;}

.login-type a{display:inline-block;position:relative;color:#000;font-size:14px;padding-right:15px;}
.login-type a:after{display:block;content:'';width:8px;height:15px;position:absolute;top:4px;right:0;background:url(/images/front/mtravel/contents/icon-common-secM.png) -76px 0 no-repeat;background-size:157px;}
.cb1-header .area-tit.login-tit{padding:20px 0 10px;}
.cb1-header .area-tit.login-tit .tit{color:#f30774;font-size:24px;}
.login-txt{display:block;font-size:14px;line-height:1.5;color:#000;}
.login-point{font-size:18px;color:#f30774;font-weight:bold;}
.login-bold{font-weight:bold;}
.login-sns{width:100%;overflow:hidden;text-align:center;}
.login-sns li{display:inline-block;overflow:hidden;width:31.9%;height:40px;margin-left:1%;border-radius:4px;}
.login-sns li:first-child{margin-left:0;}
.login-sns li a{display:block;position:relative;height:100%;padding:11px 0 10px 43%;font-size:11px;color:#fff;border:0;overflow:hidden;background:url(/images/front/mtravel/common/bg-sns-icon-new2.png) 0 0 no-repeat;background-size:25px;}
.login-sns li a.naver{border:1px solid #1eb400;background-color:#1ec800;background-position:8px -15%;}
.login-sns li a.facebook{border:1px solid #22436b;background-color:#3c5a99;background-position:8px 46%;}
.login-sns li a.kakao{border:1px solid #e0be12;background-color:#ffde00;background-position:8px 110%;color:#381e1f;}
.login-sns li a.naver:after{display:block;content:'';position:absolute;top:0;left:40px;width:1px;height:100%;background:#1eb400;}
a.facebook:after{display:block;content:'';position:absolute;top:0;left:40px;width:1px;height:100%;background:#22436b;}
a.kakao:after{display:block;content:'';position:absolute;top:0;left:40px;width:1px;height:100%;background:#e0be12;}
.bg-slpm{background:url(/images/front/mtravel/common/bg-sleep-icon.png) no-repeat center 100px !important;background-size:40px !important;}


/* member */
.pd0{padding-top:0px !important;}

.member-step{text-align:center;background-color:#f5f6f8;margin-bottom:10px}
.member-step li{padding:14px 0 14px 5px;font-size:14px;position:relative;border-top:1px solid #ccc;border-bottom:1px solid #ccc;color:#ccc}
.member-step li:after{content:'';background:url(/images/front/mtravel/contents/member.png) no-repeat -5px -55px;-webkit-background-size:89px;background-size:89px;position:absolute;top:-1px;right:0px;width:17px;height:50px}
.member-step li:last-child:after{background:none}
.member-step li.current{color:#f30774;font-weight:600}

.member-step .step1{width:33.3%}
.member-step .step2{width:33.3%}
.member-step .step3{width:33.4%}
.member-step li:before{background:url(/images/front/mtravel/contents/member.png) no-repeat 0 0;-webkit-background-size:89px;background-size:89px}
.member-step .step1:before{content:'';position:absolute;top:18px;left:50%;margin-left:-45px;width:14px;height:13px;background-position: -39px -78px}
.member-step .step2:before{content:'';position:absolute;top:18px;left:50%;margin-left:-45px;width:13px;height:13px;background-position: -71px -51px}
.member-step .step3:before{content:'';position:absolute;top:18px;left:50%;margin-left:-45px;width:13px;height:13px;background-position: -71px -74px}
.member-step .step1.current:before{background-position: -39px -55px}
.member-step .step2.current:before{background-position: -71px -5px}
.member-step .step3.current:before{background-position: -71px -28px}

.cert-box li{width:48.5%;background-color:#f5f6f8;border-radius:4px;text-align:center;position:relative}
.cert-box li a{display:block;height:157px;padding:75px 0 20px;font-size:12px;color:#888}
.cert-box li.ipin a:after{content:'';background:url(/images/front/mtravel/contents/member.png) no-repeat -5px -5px;-webkit-background-size:89px;background-size:89px;position:absolute;top:25px;left:50%;margin-left:-12px;width:24px;height:40px}
.cert-box li.cell a:after{content:'';background:url(/images/front/mtravel/contents/member.png) no-repeat -39px -5px;-webkit-background-size:89px;background-size:89px;position:absolute;top:26px;left:50%;margin-left:-11px;width:22px;height:40px}
.cert-box li strong{display:block; padding-bottom:5px; font-size:14px; color:#000;font-weight:600}

.reception label + label{margin-left:20px !important}

.member-confirm{padding:155px 0 0 0;background:url(/images/front/mtravel/contents/deco_check.png) no-repeat center 100px;-webkit-background-size:47px;background-size:47px;text-align:center}


/* coupon */
.coupon-list li{position:relative;padding:15px 25px;border:1px solid #ccc;border-radius:4px;margin-bottom:10px;}
.coupon-list li:before{display:block;content:'';position:absolute;top:52px;right:13%;width:8px;height:14px;background:url(/images/front/mtravel/contents/icon-common-secM.png) no-repeat -35px -85px;background-size:160px;}
.coupon-list li .label{display:block;content:'';position:absolute;top:0;right:0;width:25px;height:100%;padding:20px 0 0 5px;writing-mode:vertical-lr;background:#f30774;color:#ffffffbf;font-size:10px;letter-spacing:8px;font-family:'YMR';}
.coupon-list li.unusable{border:none;}
.coupon-list li.unusable:after{display:block;content:'';position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background:#f5f5f5;opacity:.6;}
.coupon-list li.unusable .label{background:#eaeaea;}
.coupon-list li.unusable .lbr-st2{vertical-align:text-bottom;}
.coupon-list li.unusable .lbr-st2 span{color:#aaa;border-color:#aaa;}
.coupon-list li.unusable .fblur{text-decoration:line-through;}
.coupon-list li.unusable a span{color:#aaa;}
.coupon-list li a span{font-size:12px;color:#000;}
.coupon-list li a span.title{display:block;width:85%;font-size:14px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.coupon-list li a span.price{display:block;margin-bottom:8px;font-size:16px;font-weight:bold;}
.coupon-list li a span.price .num{font-size:30px;font-weight:bold;margin-right:3px;}

.coupon-list.coupondown .label{display:block;content:'';position:absolute;top:0;right:0;width:45px;height:100%;background:url(/images/front/mtravel/common/bg_download.png) no-repeat 0 0;background-size:22px;background-position:center;background-color:#f30774;}
.coupon-list.coupondown li:before{right:20%;}

.coupon-list.couponbenefit li{border:none;padding:0;}
.coupon-list.couponbenefit li:before{display:none;}
.coupon-list.couponbenefit li dt{position:relative;}
.coupon-list.couponbenefit li dt:before,
.coupon-list.couponbenefit li dt:after{position:absolute;display:block;content:'';top:50%;width:18px;height:18px;border-radius:50%;-webkit-border-radius:50%;background: #fff;}
.coupon-list.couponbenefit li dt:before{margin-left:-10px;}
.coupon-list.couponbenefit li dt:after{right:-10px;}
.coupon-list.couponbenefit li dt img{border-radius:6px;}
.coupon-list.couponbenefit li dd{height:80px;margin-top:-10px;border:1px solid #ccc;border-radius:6px;padding:23px 20px 20px;}
.coupon-list.couponbenefit li dd .title{font-size:14px;font-weight:bold;text-overflow:ellipsis; white-space:nowrap;overflow:hidden;}
.coupon-list.couponbenefit li dd .date{font-size:12px;color:#000;line-height:21px;}

.coupon-util{display:inline-block;position:absolute;top:0;right:0;overflow:hidden;}
.coupon-util li{float:left;margin-left:10px;}
.coupon-util li a{display:block;width:40px;height:40px;font-size:0;overflow:hidden;text-indent:-999px;background:url(/images/front/mtravel/common/btn-view-util.png) no-repeat 0 0;background-size:40px;}
.coupon-util li a.btn-link{background-position:0 -55px;}
.coupon-view img{border-radius:6px;}

/* myhyundai */
.myhyundai{position:relative;}
.myhyundai .bc-mgt{position:absolute;top:50%;margin-top:-30px;right:20px;}
.myhyundai .bc-mgt a{padding:6px 29px 7px 29px;}
.hcc-card-list{border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.hcc-card-list li{border-bottom:1px solid #ccc;padding:15px 0;}
.hcc-card-list li:last-child{border-bottom:none;}

