@charset "utf-8";
@import url("base.css?ver3.0");
@import url("common.css?ver3.0");

.toggle_swicth_idx {display:inline-block;position:relative;overflow:hidden;width:55px;height:20px}
.toggle_swicth_idx input,
.toggle_swicth_idx input:checked {-webkit-transform: scale(2.5,1);transform:scale(2.5,1);-webkit-transform:translate(0, 0);transform:translate(0, 0);appearance:button;-webkit-appearance:button;margin:0;padding:0}
.toggle_swicth_idx *{padding:0;margin:0;line-height:0;font-size:0}
.toggle_swicth_idx input {display:block;position:absolute;z-index:1;left:0;top:0;width:55px;height:20px;border:0;-webkit-opacity:0;-moz-opacity:0;-o-opacity:0;opacity:0}
.toggle_swicth_idx input + em {position:absolute;left:0;top:0;width:55px;height:20px;padding:3px;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:10px;background:#790631;-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;-ms-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
.toggle_swicth_idx input + em:before {content:"";display:block;width:55px;height:20px;padding:0 7px 0 0;text-align:right;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;left:0;top:0;color:#fff;font-size:10px;line-height:20px;font-family:'YMR'}
.toggle_swicth_idx input + em:after {content:"";display:block;position:absolute;left:3px;top:3px;width:14px;height:14px;opacity:1;background:#fff;border-radius:7px;-moz-transition: all 0.2s linear 0s;-webkit-transition: all 0.3s linear 2s;-o-transition: all 0.2s linear 0s;transition: all 0.2s linear 0s}
.toggle_swicth_idx input:checked + em {background:#bc154f;}
.toggle_swicth_idx input:checked + em:before {padding:0 0 0 7px;text-align:left}
.toggle_swicth_idx input:checked + em:after {left:38px;}
.toggle_swicth_idx1 input + em:before {content:"국내선"}
.toggle_swicth_idx1 input:checked + em:before {content:"국제선"}
.toggle_swicth_idx2 input + em:before {content:"편도"}
.toggle_swicth_idx2 input:checked + em:before {content:"왕복"}
.styleMain{max-height:100%;background:#fff;position:relative}
.styleMain *{color:#fff}
.styleMain .bx {background-color:#ee2b74;background-size:cover;background-position:center center;background-repeat:no-repeat}
.styleMain .bx > header {position:relative;height:46px;padding:12px 0 0 0}
.styleMain .bx > header .logo {width:168px;height:20px;margin:0 auto;background:url(/images/front/mtravel/main/h1.png) center top no-repeat;background-size:cover;text-align:left;text-indent:-9999px}
.styleMain .bx > header .logo + a {position:absolute;right:11px;top:6px;width:16px;height:16px;padding:8px;background:url(/images/front/mtravel/main/btn_menu.gif) 50% 8px no-repeat;background-size:16px 46px;text-indent:-9999px}
.styleMain .bx > section {position:relative;padding:24px 19px 29px 19px}
.styleMain .bx > section h2 {position:absolute;left:-100px;height:-100px;width:0;height:0;font-size:0;visibility:hidden;}
.styleMain .bx > section fieldset {position:relative;padding:26px 0 0 0}
.styleMain .bx > section fieldset legend,
.styleMain .bx > section fieldset .toggle {position:absolute;top:0}
.styleMain .bx > section fieldset legend {left:0;line-height:1em;padding:4px 0 0 0;width:auto;height:auto;font-size:13px;text-indent:0;font-family:'YMB'}
.styleMain .bx > section fieldset .toggle {right:0}
.styleMain .bx > section .submit button {display:table-cell;width:100%;height:35px;-webkit-appearance:none;-webkit-border-radius:0;overflow:visible;margin:0;padding:0;border:0 none;background:#bc154f;vertical-align:middle}
.styleMain .bx > section .submit button span {display:inline-block;line-height:1em;padding:0 0 0 15px;background:url(/images/front/mtravel/main/ico_search.png) left center no-repeat;background-size:contain;font-family:'YMB'}
.styleMain .bx > section .select {display:table;width:100%;margin-bottom:6px;background:#f15590}
.styleMain .bx > section .select > .inset{display:table-cell;width:100%;margin:0 auto;padding:13px 15px 12px;text-align:center;vertical-align:middle;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.styleMain .bx > section .select > .inset > section,
.styleMain .bx > section .select > .inset > em.ico{display:inline-block;vertical-align:middle}
.styleMain .bx > section .select > .inset > em.ico{width:30px;height:39px;margin:0 -4px 0 -3px;background:url(/images/front/mtravel/main/ico_airplane.png) center top no-repeat;background-size:29px auto}
.styleMain .bx > section .select > .inset > .ico.oneway{height:24px;background-position:left -45px;}
.styleMain .bx > section .select > .inset > section{width:110px;height:67px;min-height:60px;position:relative;overflow:hidden}
.styleMain .bx > section .select > .inset > section span{line-height:1em}
.styleMain .bx > section .select > .inset > section h3{width:0;height:0;font-size:0;visibility:hidden}
.styleMain .bx > section .select > .inset > section .city span{display:block}
.styleMain .bx > section .select > .inset > section .city,
.styleMain .bx > section .select > .inset > section .date > span{display:inline-block;padding:0 8px 0 6px;background:url(/images/front/mtravel/main/ico_arrow_gt.gif) 100% 50% no-repeat;background-size:4px 8px;font-family:"YMR"}
.styleMain .bx > section .select > .inset > section .city1{margin-bottom:-2px;font-size:30px}
.styleMain .bx > section .select > .inset > section .city2{font-size:12px}
.styleMain .bx > section .select > .inset > section .city1:Empty + .city2 {font-size:22px;letter-spacing:-1px}
.styleMain .bx > section .select > .inset > section .date{position:absolute;bottom:0;width:100%;font-size:0}
.styleMain .bx > section .select > .inset > section .date span{font-size:13px;background-position:100% 50%}
.styleMain .bx > section .select > .inset > section .date span:Empty{margin-top:0}
.styleMain .bx.theme > header .logo {background-position:center -25px}
.styleMain .bx.theme > header .logo + a {background-position:50% -22px}
.styleMain .bx.theme > section .select {background:rgba(0,0,0,0.2);}
.styleMain .bx.theme .toggle_swicth_idx input + em {background:rgba(0,0,0,0.8);}
.styleMain .bx.theme .toggle_swicth_idx input:checked + em {background:rgba(0,0,0,0.3);}
/* 국제선 */
.styleMain .bx > section .select > .inset.airInt > section .city.empty .city2{line-height:44px;vertical-align:middle}
.styleMain .bx > section .select > .inset.airInt > section.oneway .city{height:60px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-top:10px;padding-bottom:10px}
.styleMain .bx > section .select > .inset.airInt > section.oneway .city.empty .city2{line-height:65px;vertical-align:middle}
.styleMain .bx > section .select > .inset.airInt > section.oneway .city.empty{padding-top:0;padding-bottom:0}
/* 국내선 */
.styleMain .bx > section .select > .inset.airDom > section.oneway .city{height:60px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-top:10px;padding-bottom:10px}
.styleMain .link {padding:24px 19px 20px}
.styleMain .link h2 {position:absolute;left:-100px;height:-100px;width:0;height:0;font-size:0;visibility:hidden;}
.styleMain .link ul {text-align:center}
.styleMain .link ul:after {content:"";display:block;clear:both}
.styleMain .link ul li {float:left;width:50%}
.styleMain .link ul li a {display:block;position:relative;z-index:1;box-sizing:border-box;line-height:1em;margin-right:3px}
.styleMain .link ul li:last-child a {margin-right:0;margin-left:3px}
.styleMain .link ul li a:after {content:"";display:block;position:absolute;}
.styleMain .link ul.search {margin-bottom:6px}
.styleMain .link ul.search li.ico {/*width:138px;*/ height:138px}
.styleMain .link ul.search li.ico a {height:100%;padding:87px 0 0 0;font-size:18px;color:#424242;font-family:'YMB'/*background:#ccc*/}
.styleMain .link ul.search li.ico a:after {left:50%;top:25px;margin-left:-25px;width:51px;height:51px;background:url(/images/front/mtravel/main/ico_go_search.png) left top no-repeat;background-size:51px auto}
.styleMain .link ul.search li.air a:after{background-position:0 0}
.styleMain .link ul.search li.hotel a:after{background-position:0 -56px}
.styleMain .link ul.go li {/*width:138px*/}
.styleMain .link ul.go li a {height:50px;padding-left:15px;line-height:50px;color:#fff;background:#767676;text-align:left;font-family:'YMR'}
.styleMain .link ul.go li a:after {right:15px;top:50%;margin-top:-4px;width:5px;height:9px;background:url(/images/front/mtravel/main/ico_arrow_btn.png) right center no-repeat;background-size:contain}
.bannerMain {position:fixed;left:0;bottom:0;z-index:1;width:100%;height:50px}
.bannerMain .inset {position:relative;height:100%;background:#695dba}
.bannerMain .inset:after {content:"";display:block;position:absolute;right:0;top:0;z-index:1;width:0;height: 0;border-style:solid;border-width:0 37px 37px 0;border-color:transparent #000 transparent transparent;opacity:0.3}
.bannerMain .banner {display:block;width:320px;margin:0 auto}
.bannerMain .banner img {width:320px;max-width:320px;height:50px}
.bannerMain .close {position:absolute;right:3px;top:3px;z-index:2;width:16px;height:16px;text-indent:-9999px;background:url(/images/front/mtravel/main/btn_close_banner.png) center center no-repeat;background-size:11px 11px}