@import "~styles/base/util";

.ListNoResults {
  position:relative;
  @include pcMaxWidth;
  @include boxSizing;
  .ListNoResultsInner {
    padding:0 24px; 
    @include pcMaxWidth;
    @include boxSizing;
    max-width:800px;
  }
  .ListNoResultsBox { width:100%; height:400px; table-layout:fixed; display:table;}
  .ListNoResultsBoxInner { width:100%; height:100%; text-align:center; vertical-align:middle; display:table-cell; }

  .ListNoResultsThumb {
    width:200px; margin:0 auto;
    img { width:100%; vertical-align:top; }
  }
  .ListNoResultsTitle {
    padding:16px 0 0 0;
    @include FSST16; color:$FCDark;
  }
  .ListNoResultsSummary {
    padding:8px 0 0 0;
    @include FSB14; color:$FCMedium;
  }

  .ListNoResultsMoreBtn { padding:0 16px;}
}

@include for-768-only {
  .ListNoResults {
    .ListNoResultsInner { padding:0 40px; }
    .ListNoResultsBox { height:512px; }
    .ListNoResultsBoxInner {}

    .ListNoResultsMoreBtn { padding:0 40px;}
  }
}

@include for-1080-only {
  .ListNoResults {
    .ListNoResultsInner { padding:0 72px; }
    .ListNoResultsBox { height:512px; }
    .ListNoResultsBoxInner {}

    .ListNoResultsThumb { width:240px; }
    .ListNoResultsTitle { padding:24px 0 0 0; @include FSST20; }
    .ListNoResultsSummary { padding:8px 0 0 0; @include FSST16; }

    .ListNoResultsMoreBtn {
      padding:0 16px;
      .linkSt.btnLarge { padding-top:16px; padding-bottom:16px; }
    }
  }
}