@import "~styles/base/util";

.formCheckbox label:before
, .formCheckbox label:after {
  @include iconPicUrl;
}

.formCheckbox {
  position:relative; padding:8px 0 8px 18px;
  .formCheckboxInner {}
  input[type='checkbox'] {
    opacity:0; display:none;
    &:checked + label {
      color:$FCDark;
      &:before { display:none; }
      &:after { display:block; }
    }
    &:disabled + label { opacity:0.3; }
  }
  label {
    &:after
    , &:before { position:absolute; content:''; width:16px; height:16px; }
    &:before { background-position:-191px -500px; display:block; }
    &:after { background-position:-208px -500px; display:none; }
  }
  .formCheckboxLabel {
    position:relative;
    padding:0; color:$FCMedium; display:block;
    @include FSB12;
  }

  &.inlineBlock {
    margin-right:16px; display:inline-block;
    &:last-of-type { margin-right:0; }
  }

  &.basic
  , &.textType
  , &.checkAll {
    position:relative; width:100%; padding:0 16px 0 16px;
    @include pcMaxWidth;
    @include boxSizing;
    .formCheckboxInner { padding-top:12px; padding-bottom:12px; }
    label {
      &:after, &:before { left:0; top:50%; margin-top:-12px; width:24px; height:24px; }
      &:before { background-position:-435px -473px; display:block; }
      &:after { background-position:-460px -473px; display:none; }
    }
    .formCheckboxLabel {
      padding:6px 0 6px 32px;
      @include FSB14B; color:$FCDark;
      em {
        @include FSB12; color:$FCLight; display:block;
      }
    }
  }

  &.textType {
    .formCheckboxLabel { padding-left:0; }
  }

  &.checkAll {
    padding-top:16px; padding-bottom:16px;
    .formCheckboxInner { padding-top:6px; padding-bottom:6px; text-align:center; border:1px solid $BCMedium50; @include vendorPrefix(border-radius, 12px); @include Shadow2; }
    .formCheckboxLabel {
      display:inline-block;
      span { @include FSST16; }
    }
  }
}

@include for-768-only {
  .formCheckbox {
    &.basic
    , &.textType
    , &.checkAll {
      padding-left:40px; padding-right:40px;
    }
  }
}

@include for-1080-only {
  .formCheckbox {
    padding-top:6px; padding-bottom:6px; padding-left:20px;
    label {
      &:after
      , &:before { width:18px; height:18px; }
      &:before { background-position:-225px -500px; }
      &:after { background-position:-244px -500px; }
    }
    .formCheckboxLabel {
      @include FSB14;
    }

    &.basic
    , &.textType
    , &.checkAll {
      .formCheckboxInner { padding-top:16px; padding-bottom:16px; }
      .formCheckboxLabel {
        padding-top:5px; padding-bottom:5px; @include FSST16B;
        em { @include FSB14; }
      }
    }

    &.checkAll {
      padding-top:24px; padding-bottom:24px;
      .formCheckboxInner { padding-top:11px; padding-bottom:11px; }
      .formCheckboxLabel {
      }
    }
  }
}